Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @davidrohr, @mfasDa, @peressounko, @kharlov, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @tdietel, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

change precluster finder i/o format
  Detectors/MUON/MCH/Base/CMakeLists.txt
  Detectors/MUON/MCH/Base/include/MCHBase/PreCluster.h
  Detectors/MUON/MCH/Base/include/MCHBase/PreClusterBlock.h
  Detectors/MUON/MCH/Base/src/PreCluster.cxx
  Detectors/MUON/MCH/Base/src/PreClusterBlock.cxx
  Detectors/MUON/MCH/PreClustering/src/DigitSamplerSpec.cxx
  Detectors/MUON/MCH/PreClustering/src/PreClusterFinder.cxx
  Detectors/MUON/MCH/PreClustering/src/PreClusterFinder.h
  Detectors/MUON/MCH/PreClustering/src/PreClusterFinderSpec.cxx
  Detectors/MUON/MCH/PreClustering/src/PreClusterSinkSpec.cxx
Owners: @aphecetche

MCTrack : query if secondary
  DataFormats/simulation/include/SimulationDataFormat/MCTrack.h
Owners: @sawenzel

GPU: Bugfix - SinPhi was used before being set
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL: Implementation of ConfigParamRegistry::isSet() (#3297)
  Framework/Core/COOKBOOK.md
  Framework/Core/include/Framework/BoostOptionsRetriever.h
  Framework/Core/include/Framework/ConfigParamRegistry.h
  Framework/Core/include/Framework/FairOptionsRetriever.h
  Framework/Core/include/Framework/ParamRetriever.h
  Framework/Core/include/Framework/SimpleOptionsRetriever.h
  Framework/Core/src/BoostOptionsRetriever.cxx
  Framework/Core/src/CommonDataProcessors.cxx
  Framework/Core/src/ConfigParamsHelper.cxx
  Framework/Core/src/DataProcessingHeader.cxx
  Framework/Core/src/FairOptionsRetriever.cxx
  Framework/Core/src/SimpleOptionsRetriever.cxx
  Framework/Core/src/WorkflowHelpers.cxx
Owners: @AliceO2Group/framework-admins

suppress obsolete TPCITS macro and script
  macro/CMakeLists.txt
  macro/runSimRecMatchITSTPC.sh
  macro/run_match_TPCITS.C
Owners: @AliceO2Group/core

Leave the geometry filename empty
  Detectors/MUON/MID/Workflow/src/TrackerMCSpec.cxx
  Detectors/MUON/MID/Workflow/src/TrackerSpec.cxx
Owners: @aphecetche

GPU: Fix possible division by zero in TPC compression statistic output
  GPU/GPUTracking/DataCompression/GPUTPCClusterStatistics.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Adding flatten/restore functionality to TPC CompClusters container
  DataFormats/Detectors/TPC/CMakeLists.txt
  DataFormats/Detectors/TPC/include/DataFormatsTPC/CompressedClustersHelpers.h
  DataFormats/Detectors/TPC/test/testCompressedClusters.cxx
Owners: @davidrohr

NameConf: method to convert relative path to absolute
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/NameConf.h
  DataFormats/Detectors/Common/src/NameConf.cxx
Owners: @AliceO2Group/framework-admins

GPU: Move TPC-compression-sort buffer to shared memory, saves memory and faster
  GPU/GPUTracking/DataCompression/GPUTPCCompression.cxx
  GPU/GPUTracking/DataCompression/GPUTPCCompression.h
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.cxx
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Workaround when slice track refit fails
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add simplified Kalman filter from seeding phase as alternative for track model compression
  GPU/GPUTracking/DataCompression/GPUTPCCompressionTrackModel.cxx
  GPU/GPUTracking/DataCompression/GPUTPCCompressionTrackModel.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackParam.h
  GPU/GPUTracking/SliceTracker/GPUTPCTracker.h
Owners: @davidrohr, @AliceO2Group/framework-admins

Split RDHManip into RDH manip proper and RDH fields handling
  Detectors/MUON/MCH/Raw/Common/CMakeLists.txt
  Detectors/MUON/MCH/Raw/Common/include/MCHRawCommon/RDHFields.h
  Detectors/MUON/MCH/Raw/Common/include/MCHRawCommon/RDHManip.h
  Detectors/MUON/MCH/Raw/Common/src/RDHFieldsV4.cxx
  Detectors/MUON/MCH/Raw/Common/src/RDHManip.cxx
Owners: @aphecetche

Adding custom streamer for TPC CompressedClusters
  DataFormats/Detectors/TPC/CMakeLists.txt
  DataFormats/Detectors/TPC/include/DataFormatsTPC/CompressedClusters.h
  DataFormats/Detectors/TPC/src/CompressedClusters.cxx
  DataFormats/Detectors/TPC/src/DataFormatsTPCLinkDef.h
  DataFormats/Detectors/TPC/test/testCompressedClusters.cxx
Owners: @davidrohr

Reenable MID in sim performance
  prodtests/sim_performance_test.sh
Owners: @AliceO2Group/core

only LOAD test o2sim.C macro
  macro/CMakeLists.txt
Owners: @AliceO2Group/core

GPU: Add option to run async phase on decompressed clusters from sync phase in standalone benchmark
  GPU/GPUTracking/Base/GPUMemorySizeScalers.h
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Send toghether subspecs of the same FMQ route, fixes in Raw
  Detectors/Raw/CMakeLists.txt
  Detectors/Raw/README.md
  Detectors/Raw/include/DetectorsRaw/RawFileReader.h
  Detectors/Raw/include/DetectorsRaw/RawFileWriter.h
  Detectors/Raw/include/DetectorsRaw/SimpleRawReader.h
  Detectors/Raw/include/DetectorsRaw/SimpleSTF.h
  Detectors/Raw/src/DetectorsRawLinkDef.h
  Detectors/Raw/src/RawFileReaderWorkflow.cxx
  Detectors/Raw/src/RawFileReaderWorkflow.h
  Detectors/Raw/src/RawFileWriter.cxx
  Detectors/Raw/src/SimpleRawReader.cxx
  Detectors/Raw/src/SimpleSTF.cxx
  Detectors/Raw/src/rawfile-reader-workflow.cxx
  Detectors/Raw/test/testRawReaderWriter.cxx
Owners: @AliceO2Group/core

GPU: Bugfix - Use correct error estimation - was broken after variable renaming
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Compatibility with previous PR
  Detectors/ITSMFT/ITS/macros/test/CheckCOG.C
  Detectors/ITSMFT/ITS/macros/test/CheckLookUp.C
Owners: @iouribelikov, @bovulpes

geo overlap fix: TOF SM passive frame
  Detectors/Passive/src/FrameStructure.cxx
Owners: @sawenzel

GPU: Denser storage format for TPC tracklet hits
  GPU/Common/GPUDefGPUParameters.h
  GPU/GPUTracking/Base/GPUMemorySizeScalers.h
  GPU/GPUTracking/Global/GPUChainTrackingDebugAndProfiling.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTracker.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTracker.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackerDump.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTracklet.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletSelector.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

[EMCAL-501] store energy in Digits in ADC counts
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/Cell.h
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/Constants.h
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/Digit.h
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/MCLabel.h
  DataFormats/Detectors/EMCAL/src/Digit.cxx
  Detectors/EMCAL/simulation/include/EMCALSimulation/Digitizer.h
  Detectors/EMCAL/simulation/include/EMCALSimulation/LabeledDigit.h
  Detectors/EMCAL/simulation/src/Digitizer.cxx
  Detectors/EMCAL/simulation/src/LabeledDigit.cxx
Owners: @mfasDa

GPU: Bz only propagation is sufficient for track model compression
  GPU/GPUTracking/DataCompression/GPUTPCCompressionTrackModel.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Tune start hit memory scaler for async phase
  GPU/GPUTracking/Base/GPUMemorySizeScalers.h
Owners: @davidrohr, @AliceO2Group/framework-admins

Special treatment of close seeds in DCAFitterN
  Detectors/Vertexing/include/DetectorsVertexing/DCAFitterN.h
Owners: @AliceO2Group/core

Getting type of internal cache variable from the DPL I/O API
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

FT0 RecPoints Reader treats each tree entry as new TF
  Detectors/FIT/workflow/include/FITWorkflow/FT0RecPointReaderSpec.h
  Detectors/FIT/workflow/src/FT0RecPointReaderSpec.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck

Allow dropping DigitReader or Clusterizer from ITS reco-flow to feed from RAW data
  Detectors/ITSMFT/ITS/README.md
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/RecoWorkflow.h
  Detectors/ITSMFT/ITS/workflow/src/RecoWorkflow.cxx
  Detectors/ITSMFT/ITS/workflow/src/its-reco-workflow.cxx
Owners: @iouribelikov, @bovulpes

TPC Workflow: Add protection that digits time bin must not exceed time frame length
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
Owners: @davidrohr, @wiechula, @shahor02

Applying the DPL timeslice concept correctly for TPC digitizer workflow
  Steer/DigitizerWorkflow/src/SimReaderSpec.cxx
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
Owners: @sawenzel, @shahor02, @AliceO2Group/framework-admins

Fix typo setting memory size in RDHUtils
  Detectors/Raw/include/DetectorsRaw/RDHUtils.h
Owners: @AliceO2Group/core

Optionally disable root files i/o of TPC/ITS matching w-flow
  Detectors/GlobalTrackingWorkflow/include/GlobalTrackingWorkflow/MatchTPCITSWorkflow.h
  Detectors/GlobalTrackingWorkflow/src/MatchTPCITSWorkflow.cxx
  Detectors/GlobalTrackingWorkflow/src/tpcits-match-workflow.cxx
Owners: @shahor02

GPU: exiting standalone event display should not break TPC workflow
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Fix: properly reset printout stream after flushing
  Framework/Utils/src/raw-parser.cxx
Owners: @AliceO2Group/framework-admins

Multi-threading for ITS/MFT data decoding/clusterization
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ClusterTopology.h
  Detectors/ITSMFT/ITS/README.md
  Detectors/ITSMFT/ITS/reconstruction/src/ClustererTask.cxx
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/ClustererSpec.h
  Detectors/ITSMFT/ITS/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/MFT/reconstruction/src/ClustererTask.cxx
  Detectors/ITSMFT/MFT/workflow/include/MFTWorkflow/ClustererSpec.h
  Detectors/ITSMFT/MFT/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/common/reconstruction/CMakeLists.txt
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/Clusterer.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/DigitPixelReader.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/GBTLink.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/PixelReader.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/RawPixelDecoder.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/RawPixelReader.h
  Detectors/ITSMFT/common/reconstruction/src/Clusterer.cxx
  Detectors/ITSMFT/common/reconstruction/src/DigitPixelReader.cxx
  Detectors/ITSMFT/common/reconstruction/src/GBTLink.cxx
  Detectors/ITSMFT/common/reconstruction/src/RawPixelDecoder.cxx
  Detectors/ITSMFT/common/workflow/include/ITSMFTWorkflow/STFDecoderSpec.h
  Detectors/ITSMFT/common/workflow/src/STFDecoderSpec.cxx
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

fix typo
  doc/DetectorSimulation.md
Owners: @AliceO2Group/core

GPU: Make it a fatal error when GPU reconstruction fails
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

DPL Analysis: check for grouping errors (#3343)
  Framework/Core/include/Framework/AnalysisTask.h
Owners: @AliceO2Group/framework-admins

Allow many clusterizer workers per thread
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/Clusterer.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/RawPixelDecoder.h
  Detectors/ITSMFT/common/reconstruction/src/Clusterer.cxx
  Detectors/ITSMFT/common/reconstruction/src/RawPixelDecoder.cxx
  Detectors/ITSMFT/common/workflow/include/ITSMFTWorkflow/STFDecoderSpec.h
  Detectors/ITSMFT/common/workflow/src/STFDecoderSpec.cxx
Owners: @iouribelikov, @bovulpes

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
/DataFormats/Detectors/EMCAL   @mfasDa
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
