Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

Add example to show how to add custom information to event header
  Generators/src/GeneratorPythia8.cxx
  doc/DetectorSimulation.md
  run/SimExamples/Custom_EventInfo/generator.macro
  run/SimExamples/Custom_EventInfo/pythia8_inel.cfg
  run/SimExamples/Custom_EventInfo/read_event_info.macro
  run/SimExamples/Custom_EventInfo/run.sh
  run/SimExamples/Custom_EventInfo/sim.ini
  run/SimExamples/README.md
Owners: @sawenzel, @AliceO2Group/core

[EMCAL-677] Propagate trigger bits from RDH to TriggerRecord
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/TriggerRecord.h
  DataFormats/Detectors/EMCAL/src/TriggerRecord.cxx
  Detectors/EMCAL/simulation/src/RawWriter.cxx
  Detectors/EMCAL/workflow/src/RawToCellConverterSpec.cxx
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/EMCALDigitizerSpec.cxx
Owners: @mfasDa, @sawenzel, @shahor02, @AliceO2Group/framework-admins

Do not invoke FIT-reader with --use-fit in raw data input mode
  Detectors/GlobalTrackingWorkflow/tofworkflow/src/tof-reco-workflow.cxx
Owners: @shahor02

Use GPUTPCO2InterfaceRefit for TPC-ITS matches refit
  Detectors/Base/include/DetectorsBase/Propagator.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
Owners: @sawenzel, @shahor02

Add and use explicit setters for TrackPar and TrackParCov
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackParametrization.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackParametrizationWithError.h
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
Owners: @shahor02, @davidrohr, @wiechula

Method to fill standalone shared clusters map
  GPU/GPUTracking/Interface/GPUO2InterfaceRefit.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceRefit.h
Owners: @davidrohr

Do not invoke FIT-reader with --use-fit in raw data input mode
  Detectors/GlobalTrackingWorkflow/tofworkflow/src/tof-reco-workflow.cxx
Owners: @shahor02

trigger inputs
  DataFormats/Detectors/FIT/FT0/include/DataFormatsFT0/Digit.h
  DataFormats/Detectors/FIT/FT0/src/DataFormatsFT0LinkDef.h
  Detectors/FIT/FT0/simulation/include/FT0Simulation/Digitizer.h
  Detectors/FIT/FT0/simulation/src/Digitizer.cxx
  Steer/DigitizerWorkflow/src/FT0DigitWriterSpec.h
  Steer/DigitizerWorkflow/src/FT0DigitizerSpec.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck, @sawenzel, @shahor02, @AliceO2Group/framework-admins

default constructor, code checker
  Detectors/CPV/reconstruction/include/CPVReconstruction/RawDecoder.h
  Detectors/CPV/reconstruction/src/RawDecoder.cxx
  Detectors/PHOS/workflow/src/RawToCellConverterSpec.cxx
Owners: @peressounko, @kharlov

[EMCAL-677] Propagate trigger bits from RDH to TriggerRecord
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/TriggerRecord.h
  DataFormats/Detectors/EMCAL/src/TriggerRecord.cxx
  Detectors/EMCAL/simulation/src/RawWriter.cxx
  Detectors/EMCAL/workflow/src/RawToCellConverterSpec.cxx
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/EMCALDigitizerSpec.cxx
Owners: @mfasDa, @sawenzel, @shahor02, @AliceO2Group/framework-admins

GPU: Do not compile dEdx splines with OpenCL1
  GPU/GPUTracking/dEdx/GPUdEdx.h
Owners: @davidrohr

GPU: Fix finding fmt in standalone benchmark build
  GPU/GPUTracking/Standalone/CMakeLists.txt
Owners: @davidrohr

GPU: Fix alignment of GPUParamRTC
  GPU/GPUTracking/Base/GPUParam.cxx
  GPU/GPUTracking/Base/GPUSettingsList.h
Owners: @davidrohr

GPU: Should be hidden for all GPU device code not only OpenCL
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackParametrization.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackUtils.h
Owners: @shahor02

ctf_test added
  DataFormats/Detectors/CPV/include/DataFormatsCPV/Cluster.h
  Detectors/CPV/reconstruction/src/Clusterer.cxx
  Detectors/CTF/CMakeLists.txt
  Detectors/CTF/test/test_ctf_io_cpv.cxx
Owners: @peressounko, @kharlov, @AliceO2Group/core

clang
  Detectors/CPV/reconstruction/include/CPVReconstruction/RawDecoder.h
Owners: @peressounko, @kharlov

GPU: Disable CMake warnings already earlier
  dependencies/FindO2GPU.cmake
Owners: @AliceO2Group/core

Add and use explicit setters for TrackPar and TrackParCov
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackParametrization.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackParametrizationWithError.h
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
Owners: @shahor02, @davidrohr, @wiechula

Use GPUTPCO2InterfaceRefit for TPC-ITS matches refit
  Detectors/Base/include/DetectorsBase/Propagator.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
Owners: @sawenzel, @shahor02

Method to fill standalone shared clusters map
  GPU/GPUTracking/Interface/GPUO2InterfaceRefit.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceRefit.h
Owners: @davidrohr

GPU: Do not compile dEdx splines with OpenCL1
  GPU/GPUTracking/dEdx/GPUdEdx.h
Owners: @davidrohr

GPU: Fix finding fmt in standalone benchmark build
  GPU/GPUTracking/Standalone/CMakeLists.txt
Owners: @davidrohr

GPU: Disable CMake warnings already earlier
  dependencies/FindO2GPU.cmake
Owners: @AliceO2Group/core

GPU: Fix alignment of GPUParamRTC
  GPU/GPUTracking/Base/GPUParam.cxx
  GPU/GPUTracking/Base/GPUSettingsList.h
Owners: @davidrohr

GPU: Should be hidden for all GPU device code not only OpenCL
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackParametrization.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackUtils.h
Owners: @shahor02

fix type string name check for ROOT-serialized 2d array
  Framework/Core/src/RootConfigParamHelpers.cxx
Owners: @AliceO2Group/framework-admins

fixup! fix type string name check for ROOT-serialized 2d array
  Framework/Core/src/RootConfigParamHelpers.cxx
Owners: @AliceO2Group/framework-admins

bugfix in SpaceCharge distortion class
  Detectors/TPC/spacecharge/src/SpaceCharge.cxx
Owners: @davidrohr, @wiechula, @shahor02

ctf io test
  DataFormats/Detectors/CPV/include/DataFormatsCPV/Cluster.h
  DataFormats/Detectors/CPV/src/DataFormatsCPVLinkDef.h
  Detectors/CTF/test/test_ctf_io_cpv.cxx
  Detectors/CTF/workflow/CMakeLists.txt
  Detectors/CTF/workflow/src/CTFReaderSpec.cxx
  Detectors/CTF/workflow/src/CTFWriterSpec.cxx
  Detectors/CTF/workflow/src/ctf-reader-workflow.cxx
Owners: @peressounko, @kharlov, @AliceO2Group/core

Fix: increment EMCAL TriggerRecord class version
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/TriggerRecord.h
Owners: @mfasDa

Fix: increment EMCAL TriggerRecord class version
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/TriggerRecord.h
Owners: @mfasDa

Erange in test fixed
  Detectors/CTF/test/test_ctf_io_cpv.cxx
Owners: @AliceO2Group/core

GPU: Fix computation of number of OMP threads to use
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Do not crash processing MC labels when events are only dumped but not processed
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr, @wiechula, @shahor02

explicit abs argument
  Detectors/CTF/test/test_ctf_io_cpv.cxx
Owners: @AliceO2Group/core

Introduced 2d arrays in Variant (#5132)
  Analysis/Tutorials/include/Analysis/configurableCut.h
  Analysis/Tutorials/src/configurableCut.cxx
  Analysis/Tutorials/src/configurableObjects.cxx
  Framework/Core/include/Framework/Array2D.h
  Framework/Core/include/Framework/ConfigParamRegistry.h
  Framework/Core/include/Framework/ConfigParamsHelper.h
  Framework/Core/include/Framework/Variant.h
  Framework/Core/src/BoostOptionsRetriever.cxx
  Framework/Core/src/ConfigParamsHelper.cxx
  Framework/Core/src/DataProcessingDevice.cxx
  Framework/Core/src/PropertyTreeHelpers.cxx
  Framework/Core/src/RootConfigParamHelpers.cxx
  Framework/Core/src/Variant.cxx
  Framework/Core/test/test_Variants.cxx
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

Protection against corrupted channel header added
  Detectors/PHOS/reconstruction/src/AltroDecoder.cxx
Owners: @peressounko, @kharlov

GPU: Fix computation of number of OMP threads to use
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Do not crash processing MC labels when events are only dumped but not processed
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr, @wiechula, @shahor02

Add example to show how to add custom information to event header
  Generators/src/GeneratorPythia8.cxx
  doc/DetectorSimulation.md
  run/SimExamples/Custom_EventInfo/generator.macro
  run/SimExamples/Custom_EventInfo/pythia8_inel.cfg
  run/SimExamples/Custom_EventInfo/read_event_info.macro
  run/SimExamples/Custom_EventInfo/run.sh
  run/SimExamples/Custom_EventInfo/sim.ini
  run/SimExamples/README.md
Owners: @sawenzel, @AliceO2Group/core

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
