Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

digits class needs to be pulled in from other branch, to enable mcm and rob addressing
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RawData.h
  Detectors/TRD/raw/include/TRDRaw/DigitsParser.h
  Detectors/TRD/raw/src/DigitsParser.cxx
Owners: @jolopezl, @bazinski, @tdietel

clang
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RawData.h
  Detectors/TRD/raw/src/DigitsParser.cxx
Owners: @jolopezl, @bazinski, @tdietel

TPC-ITS matching will use sh.cl.map from TPC reco or standalone producer
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTrackingWorkflow/src/MatchTPCITSWorkflow.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
Owners: @shahor02

TPC shared cl. map producer device for TPC file-based input
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/include/TPCWorkflow/ClusterSharingMapSpec.h
  Detectors/TPC/workflow/src/ClusterSharingMapSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

[CMake][Generators] doBuildSimulation variable was intended to be local only
  Generators/CMakeLists.txt
  dependencies/O2SimulationDependencies.cmake
Owners: @sawenzel, @AliceO2Group/core

o2-sim: Use vmc->ProcessEvent for Geant4
  run/O2SimDevice.h
Owners: @AliceO2Group/core

small bug (re)fix, tpc momentum for dedx instead pvtx (#5210)
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

Change task names, move initializers (#5205)
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/cascadeanalysis.cxx
  Analysis/Tasks/PWGLF/cascadebuilder.cxx
  Analysis/Tasks/PWGLF/cascadefinder.cxx
  Analysis/Tasks/PWGLF/lambdakzeroanalysis.cxx
  Analysis/Tasks/PWGLF/lambdakzerobuilder.cxx
  Analysis/Tasks/PWGLF/lambdakzerofinder.cxx
Owners: @jgrosseo, @iarsene

small improvement in fake track rejection (#5198)
  Detectors/MUON/MCH/Tracking/README.md
  Detectors/MUON/MCH/Tracking/include/MCHTracking/Track.h
  Detectors/MUON/MCH/Tracking/src/Track.cxx
  Detectors/MUON/MCH/Tracking/src/TrackFinder.cxx
  Detectors/MUON/MCH/Tracking/src/TrackFinderOriginal.cxx
Owners: @aphecetche

Prima versione
  Detectors/HMPID/base/include/HMPIDBase/Digit.h
  Detectors/HMPID/base/include/HMPIDBase/Geo.h
  Detectors/HMPID/base/src/Digit.cxx
  Detectors/HMPID/base/src/Geo.cxx
  Detectors/HMPID/reconstruction/include/HMPIDReconstruction/HmpidDecodeRawFile.h
  Detectors/HMPID/reconstruction/include/HMPIDReconstruction/HmpidDecodeRawMem.h
  Detectors/HMPID/reconstruction/include/HMPIDReconstruction/HmpidDecoder.h
  Detectors/HMPID/reconstruction/include/HMPIDReconstruction/HmpidEquipment.h
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawFile.cxx
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
  Detectors/HMPID/reconstruction/src/HmpidEquipment.cxx
  Detectors/HMPID/simulation/src/HMPIDDigitizer.cxx
  Detectors/HMPID/workflow/include/HMPIDWorkflow/DataDecoderSpec.h
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

prefixing the digit class
  Detectors/TRD/raw/include/TRDRaw/DigitsParser.h
  Detectors/TRD/raw/src/DigitsParser.cxx
Owners: @jolopezl, @bazinski, @tdietel

GPU: Add some logic to automatically reduce the number of OMP threads on small events
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Base/GPUSettingsList.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr

GPU: Reorder settings in more reasonable way
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.h
  GPU/GPUTracking/Base/GPUSettingsList.h
Owners: @davidrohr

Only run reports.yml in AliceO2Group/AliceO2
  .github/workflows/reports.yml
Owners: @AliceO2Group/core

Only run reports.yml in AliceO2Group/AliceO2 (#5215)
  .github/workflows/reports.yml
Owners: @AliceO2Group/core

PWGHF: Use pre-selections for Dplus (#5204)
  Analysis/Tasks/PWGHF/taskDPlus.cxx
Owners: @ginnocen

First version of ALICE3toAO2D macro
  macro/ALICE3/ALICE3toAO2D.C
Owners: @AliceO2Group/core

GPU: Reorder settings in more reasonable way
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.h
  GPU/GPUTracking/Base/GPUSettingsList.h
Owners: @davidrohr

GPU: Add some logic to automatically reduce the number of OMP threads on small events
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Base/GPUSettingsList.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr

PWGHF: MC D0: Add gen. level pT of matched candidates.
  Analysis/Tasks/PWGHF/taskD0.cxx
Owners: @ginnocen

RecoDecay: getMother: Enforce matching type of the MC particle.
  Analysis/Core/include/AnalysisCore/RecoDecay.h
Owners: @jgrosseo, @iarsene

Fix tabs.
  Analysis/Core/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

Adhere to clang-format
  macro/ALICE3/ALICE3toAO2D.C
Owners: @AliceO2Group/core

TPC Workflow: Move cluster / digit reading from tpc tracking spec into a helper
  DataFormats/Detectors/TPC/include/DataFormatsTPC/ClusterNativeHelper.h
  DataFormats/Detectors/TPC/include/DataFormatsTPC/WorkflowHelper.h
  DataFormats/Detectors/TPC/src/WorkflowHelper.cxx
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

Add split tables per particle species in PID response
  Analysis/DataModel/include/AnalysisDataModel/PID/PIDResponse.h
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/spectraTOF_split.cxx
  Analysis/Tasks/PWGLF/spectraTPC_split.cxx
  Analysis/Tasks/pidTOF_split.cxx
  Analysis/Tasks/pidTPC_split.cxx
Owners: @jgrosseo, @iarsene

Reduce TPC Workflow verbosity
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

Use helper to read TPC digits / clusters instead of copy / pasting code
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
  Detectors/GlobalTrackingWorkflow/tpcinterpolationworkflow/src/TPCInterpolationSpec.cxx
  Detectors/TPC/workflow/src/ClusterSharingMapSpec.cxx
  Detectors/TPC/workflow/src/ZSSpec.cxx
Owners: @shahor02, @davidrohr, @wiechula

MORE WORKFLOWS
  Detectors/HMPID/base/CMakeLists.txt
  Detectors/HMPID/base/include/HMPIDBase/Digit.h
  Detectors/HMPID/base/src/HMPIDBaseLinkDef.h
  Detectors/HMPID/reconstruction/CMakeLists.txt
  Detectors/HMPID/reconstruction/include/HMPIDReconstruction/HmpidDecodeRawMem.h
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
  Detectors/HMPID/workflow/CMakeLists.txt
  Detectors/HMPID/workflow/include/HMPIDWorkflow/DumpDigitsSpec.h
  Detectors/HMPID/workflow/include/HMPIDWorkflow/RawFileReaderSpec.h
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
  Detectors/HMPID/workflow/src/RawFileReaderSpec.cxx
  Detectors/HMPID/workflow/src/dump-digits-workflow.cxx
  Detectors/HMPID/workflow/src/rawfile-to-digits-workflow.cxx
Owners: @gvolpe79

SpaceCharge: added function to set the density and potential directly
  Detectors/TPC/spacecharge/include/TPCSpaceCharge/SpaceCharge.h
Owners: @davidrohr, @wiechula, @shahor02

introduce MCH ROFRecord.h + modify tracking workflows to process several ROF per TF
  DataFormats/Detectors/MUON/MCH/CMakeLists.txt
  DataFormats/Detectors/MUON/MCH/include/DataFormatsMCH/ROFRecord.h
  DataFormats/Detectors/MUON/MCH/src/DataFormatsMCHLinkDef.h
  Detectors/MUON/MCH/Workflow/CMakeLists.txt
  Detectors/MUON/MCH/Workflow/README.md
  Detectors/MUON/MCH/Workflow/src/ClusterSamplerSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackAtVertexSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackFinderOriginalSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackFinderSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackFitterSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackSamplerSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackSinkSpec.cxx
  Detectors/MUON/MCH/Workflow/src/VertexSamplerSpec.cxx
Owners: @aphecetche

PWGHF: Add efficiency and fix impact parameter calculation (#5052)
  Analysis/Tasks/PWGHF/qaTask.cxx
Owners: @ginnocen

syncing decays with enums
  Analysis/Core/include/AnalysisCore/HFConfigurables.h
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Analysis/Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

removed predefined run lists from HistogramsLibrary
  Analysis/PWGDQ/include/PWGDQCore/HistogramsLibrary.h
  Analysis/Tasks/PWGDQ/tableMaker.cxx
Owners: @jgrosseo, @iarsene

PWGHF: Shift decay type values to allow usage in arrays and bitmaps.
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFCandidateCreator3Prong.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

syncing decays with enums (#5223)
  Analysis/Core/include/AnalysisCore/HFConfigurables.h
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Analysis/Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

Add split tables per particle species in PID response (#5182)
  Analysis/DataModel/include/AnalysisDataModel/PID/PIDResponse.h
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/spectraTOF_split.cxx
  Analysis/Tasks/PWGLF/spectraTPC_split.cxx
  Analysis/Tasks/pidTOF_split.cxx
  Analysis/Tasks/pidTPC_split.cxx
Owners: @jgrosseo, @iarsene

Reduce TPC Workflow verbosity
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

TPC Workflow: Move cluster / digit reading from tpc tracking spec into a helper
  DataFormats/Detectors/TPC/include/DataFormatsTPC/ClusterNativeHelper.h
  DataFormats/Detectors/TPC/include/DataFormatsTPC/WorkflowHelper.h
  DataFormats/Detectors/TPC/src/WorkflowHelper.cxx
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

Use helper to read TPC digits / clusters instead of copy / pasting code
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
  Detectors/GlobalTrackingWorkflow/tpcinterpolationworkflow/src/TPCInterpolationSpec.cxx
  Detectors/TPC/workflow/src/ClusterSharingMapSpec.cxx
  Detectors/TPC/workflow/src/ZSSpec.cxx
Owners: @shahor02, @davidrohr, @wiechula

refactor TRD digit class
  Detectors/TRD/base/CMakeLists.txt
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/base/include/TRDBase/FeeParam.h
  Detectors/TRD/base/src/Digit.cxx
  Detectors/TRD/base/src/FeeParam.cxx
  Detectors/TRD/base/src/TRDBaseLinkDef.h
  Detectors/TRD/simulation/src/Digitizer.cxx
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
