Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

1
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
Owners: @gvolpe79

jobutils improvements
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

2
  Detectors/HMPID/reconstruction/include/HMPIDReconstruction/HmpidDecoder.h
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
Owners: @gvolpe79

2
  Detectors/HMPID/reconstruction/include/HMPIDReconstruction/HmpidDecoder.h
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

3
  Detectors/HMPID/reconstruction/include/HMPIDReconstruction/HmpidDecoder.h
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

3
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

4
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

1
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

fix
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

try to recover TTree
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

1
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

4
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

4
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

Update selection on Dplus flag
  Analysis/Tasks/PWGHF/taskDPlus.cxx
Owners: @ginnocen

3
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

5
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

5
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

GPU: Don check pointer consistency for 0-size vectors
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Require correct buffer alignment (after fixed in FMQ)
  GPU/GPUTracking/Base/GPUReconstruction.cxx
Owners: @davidrohr

1
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

Fix daughter labels when running parallel merger
  DataFormats/simulation/include/SimulationDataFormat/MCTrack.h
  run/O2HitMerger.h
Owners: @sawenzel, @AliceO2Group/core

5
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

1
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

2
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

2
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

2
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

3
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

1
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

XX
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

Work
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

Out Digit per Page
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

try
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

This version works, but react to the first chumk !
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

GPU: Fix kernel call counters with OpenMP
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
Owners: @davidrohr

CPV geometry fix, run3 raw format. fix O2-1991
  Detectors/CPV/base/include/CPVBase/CPVSimParams.h
  Detectors/CPV/base/include/CPVBase/Geometry.h
  Detectors/CPV/base/src/Geometry.cxx
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVGainCalibDevice.cxx
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVPedestalCalibDevice.cxx
  Detectors/CPV/reconstruction/src/RawDecoder.cxx
  Detectors/CPV/simulation/include/CPVSimulation/Detector.h
  Detectors/CPV/simulation/include/CPVSimulation/RawWriter.h
  Detectors/CPV/simulation/src/Detector.cxx
  Detectors/CPV/simulation/src/Digitizer.cxx
  Detectors/CPV/simulation/src/GeometryParams.cxx
  Detectors/CPV/simulation/src/RawWriter.cxx
  Detectors/CPV/workflow/src/RawToDigitConverterSpec.cxx
Owners: @peressounko, @kharlov

DPL: refactor how we process control messages (#5282)
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

Use same detector argument for ctf-reader and ctf-writer in full system test
  prodtests/full-system-test/dpl-workflow.sh
Owners: @AliceO2Group/core

Use same detector argument for ctf-reader and ctf-writer in full system test
  prodtests/full-system-test/dpl-workflow.sh
Owners: @AliceO2Group/core

Hide stderr output of lsof in jobutils
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

Add FV0 and FDD raw generation to full system test
  prodtests/full_system_test.sh
Owners: @AliceO2Group/core
