Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

GPU: Use C++11 initializers for GPUSettings
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPUSettings.cxx
  GPU/GPUTracking/DataTypes/GPUSettings.h
Owners: @davidrohr

GPU: Use CMake generator expression for OpenCL 1 include folder instead of listing them manually
  GPU/GPUTracking/Base/opencl/CMakeLists.txt
Owners: @davidrohr

Fix in indexing for Vertex-Track matching
  DataFormats/Reconstruction/include/ReconstructionDataFormats/VtxTrackRef.h
  DataFormats/Reconstruction/src/VtxTrackRef.cxx
  Detectors/Vertexing/include/DetectorsVertexing/VertexTrackMatcher.h
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
Owners: @shahor02, @AliceO2Group/core

setting macro to compile only
  Detectors/TPC/spacecharge/CMakeLists.txt
Owners: @davidrohr, @wiechula, @shahor02

properly set name in Clone()
  Framework/Core/src/StepTHn.cxx
  Framework/Core/test/test_HistogramRegistry.cxx
Owners: @AliceO2Group/framework-admins

Revert "Add full table writing tasks for D0 and Lc (#4910)"
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFCandidateCreator3Prong.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorD0ToKPi.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorLcToPKPi.cxx
Owners: @ginnocen

GPU: Filter /usr/include from GPU include directories
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
  GPU/GPUTracking/Base/opencl2/CMakeLists.txt
Owners: @davidrohr

GPU: Move GPU Data Type headers in dedicated directory
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPUDataTypes.cxx
  GPU/GPUTracking/DataTypes/GPUDataTypes.h
  GPU/GPUTracking/DataTypes/GPUHostDataTypes.h
  GPU/GPUTracking/DataTypes/GPUMemorySizeScalers.h
  GPU/GPUTracking/DataTypes/GPUO2DataTypes.h
  GPU/GPUTracking/DataTypes/GPUO2FakeClasses.h
  GPU/GPUTracking/DataTypes/GPUOutputControl.h
  GPU/GPUTracking/DataTypes/GPURawData.h
  GPU/GPUTracking/DataTypes/GPUSettings.cxx
  GPU/GPUTracking/DataTypes/GPUSettings.h
  GPU/GPUTracking/DataTypes/GPUSettingsList.h
  GPU/GPUTracking/DataTypes/GPUTRDDef.h
  GPU/GPUTracking/DataTypes/GPUdEdxInfo.h
  GPU/GPUTracking/DataTypes/TPCdEdxCalibrationSplines.cxx
  GPU/GPUTracking/DataTypes/TPCdEdxCalibrationSplines.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/Standalone/DataTypes
Owners: @davidrohr

GPU: Split GPUChainTracking.cxx in multiple files
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTrackingClusterizer.cxx
  GPU/GPUTracking/Global/GPUChainTrackingCompression.cxx
  GPU/GPUTracking/Global/GPUChainTrackingDefs.h
  GPU/GPUTracking/Global/GPUChainTrackingMerger.cxx
  GPU/GPUTracking/Global/GPUChainTrackingRefit.cxx
  GPU/GPUTracking/Global/GPUChainTrackingSliceTracker.cxx
  GPU/GPUTracking/Global/GPUChainTrackingTRD.cxx
  GPU/GPUTracking/Global/GPUChainTrackingTransformation.cxx
Owners: @davidrohr

GPU: Workaround stripping unused include PATH since AMD OpenCL compiler hangs with too many include paths
  GPU/GPUTracking/Base/opencl/CMakeLists.txt
Owners: @davidrohr

GPU: Move non-Common header files from GPU/Common to GPUTracking/Definitions
  GPU/Common/CMakeLists.txt
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Definitions/GPUDef.h
  GPU/GPUTracking/Definitions/GPUDefConstantsAndSettings.h
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/Definitions/GPUDefMacros.h
  GPU/GPUTracking/Definitions/GPUDefOpenCL12Templates.h
  GPU/GPUTracking/Definitions/GPULogging.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/Standalone/Definitions
Owners: @davidrohr

GPU: Get rid of obsolete makefiles folder and move the opencl build headers that are still needed to utils
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
  GPU/GPUTracking/Base/opencl/CMakeLists.txt
  GPU/GPUTracking/Base/opencl/GPUReconstructionOCL1.cxx
  GPU/GPUTracking/Base/opencl2/CMakeLists.txt
  GPU/GPUTracking/Standalone/makefiles/.gitignore
  GPU/GPUTracking/utils/.gitattributes
  GPU/GPUTracking/utils/.gitignore
  GPU/GPUTracking/utils/include.S
  GPU/GPUTracking/utils/makefile_opencl_compiler.cxx
  GPU/GPUTracking/utils/opencl_compiler_structs.h
  GPU/GPUTracking/utils/opencl_obtain_program.h
Owners: @davidrohr

GPU: Move GPUO2Interface* classes into separate library
  Detectors/GlobalTracking/CMakeLists.txt
  Detectors/TPC/qc/CMakeLists.txt
  Detectors/TPC/reconstruction/CMakeLists.txt
  Detectors/TPC/simulation/CMakeLists.txt
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/GPUTrackingLinkDef_O2.h
  GPU/GPUTracking/Interface/CMakeLists.txt
  GPU/GPUTracking/Interface/GPUO2InterfaceConfigurableParam.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
  GPU/GPUTracking/Interface/GPUO2InterfaceLinkDef.h
Owners: @shahor02, @davidrohr, @wiechula

GPU: Rename GPUTPCO2Interface to GPUO2Interface
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/TPC/reconstruction/include/TPCReconstruction/GPUCATracking.h
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  Detectors/TPC/workflow/src/ClusterSharingMapSpec.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.h
  GPU/GPUTracking/Interface/GPUO2InterfaceLinkDef.h
  GPU/GPUTracking/Interface/GPUO2InterfaceRefit.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceRefit.h
  macro/runTPCRefit.C
Owners: @shahor02, @davidrohr, @wiechula, @AliceO2Group/core

GPU: Remove OpenMP from GPU O2 Interface
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr

GPU: Use C++11 initializers for GPUSettings
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPUSettings.cxx
  GPU/GPUTracking/DataTypes/GPUSettings.h
Owners: @davidrohr

GPU: Use CMake generator expression for OpenCL 1 include folder instead of listing them manually
  GPU/GPUTracking/Base/opencl/CMakeLists.txt
Owners: @davidrohr

Remove direct GPUTracking dependenecy where not needed
  Detectors/AOD/CMakeLists.txt
  Detectors/GlobalTracking/CMakeLists.txt
  Detectors/TPC/qc/CMakeLists.txt
Owners: @AliceO2Group/core, @shahor02, @davidrohr, @wiechula

Fix codechecker violations
  Detectors/ZDC/raw/src/DumpRaw.cxx
  Utilities/Tools/cpulimit/process_group.c
  Utilities/Tools/cpulimit/process_iterator_linux.c
Owners: @coppedis, @AliceO2Group/framework-admins

Fix: default TPC reco output names propagated to dependent code
  Detectors/AOD/src/StandaloneAODProducer.cxx
  Detectors/GlobalTracking/include/GlobalTracking/MatchTOF.h
  Detectors/TOF/prototyping/findLabels.C
  Detectors/TOF/prototyping/findTOFclusterFromLabel.C
  macro/checkTOFMatching.C
  prodtests/sim_challenge.sh
Owners: @AliceO2Group/core, @shahor02, @noferini

adding macro to create space charge density maps from simulations (#5262)
  Detectors/TPC/spacecharge/CMakeLists.txt
  Detectors/TPC/spacecharge/macro/createSCHistosFromHits.C
Owners: @davidrohr, @wiechula, @shahor02

DPL: protect against non-existing AnalysisPlugin (#5162)
  Framework/Core/src/WorkflowHelpers.cxx
Owners: @AliceO2Group/framework-admins

Fix codechecker violations
  Detectors/ZDC/raw/src/DumpRaw.cxx
  Utilities/Tools/cpulimit/process_group.c
  Utilities/Tools/cpulimit/process_iterator_linux.c
Owners: @coppedis, @AliceO2Group/framework-admins

Revert "Add full table writing tasks for D0 and Lc (#4910)" (#5270)
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFCandidateCreator3Prong.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorD0ToKPi.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorLcToPKPi.cxx
Owners: @ginnocen

GPU: Link Host and GPU processor two-way and provide HostProcessor() function
  GPU/GPUTracking/Base/GPUMemoryResource.h
  GPU/GPUTracking/Base/GPUProcessor.cxx
  GPU/GPUTracking/Base/GPUProcessor.h
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
Owners: @davidrohr

Fix codechecker warnings
  Detectors/ITSMFT/ITS/tracking/cuda/include/ITStrackingCUDA/PrimaryVertexContextNV.h
  Detectors/ITSMFT/ITS/tracking/cuda/include/ITStrackingCUDA/VertexerTraitsGPU.h
  Detectors/ITSMFT/ITS/tracking/cuda/src/VertexerTraitsGPU.cu
  Detectors/ITSMFT/ITS/tracking/hip/include/ITStrackingHIP/UniquePointerHIP.h
  Detectors/ITSMFT/ITS/tracking/hip/include/ITStrackingHIP/UtilsHIP.h
  Detectors/ITSMFT/ITS/tracking/hip/include/ITStrackingHIP/VectorHIP.h
  Detectors/ITSMFT/ITS/tracking/hip/include/ITStrackingHIP/VertexerTraitsHIP.h
  Detectors/ITSMFT/ITS/tracking/hip/src/ContextHIP.hip.cxx
  Detectors/ITSMFT/ITS/tracking/hip/src/DeviceStoreVertexerHIP.hip.cxx
  Detectors/ITSMFT/ITS/tracking/hip/src/UtilsHIP.hip.cxx
  Detectors/ITSMFT/ITS/tracking/hip/src/VertexerTraitsHIP.hip.cxx
Owners: @iouribelikov, @bovulpes

file reader for TPC Tracks and Clusters (+ MC info)
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/src/FileReaderWorkflow.cxx
  Detectors/TPC/workflow/src/TrackReaderSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Move output creation in o2 tpc track format to GPU
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  Detectors/TPC/reconstruction/test/testGPUCATracking.cxx
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUProcessor.h
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.h
  GPU/GPUTracking/Base/GPUReconstructionIncludesDevice.h
  GPU/GPUTracking/Base/GPUReconstructionKernels.h
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPUDataTypes.h
  GPU/GPUTracking/DataTypes/GPUO2FakeClasses.h
  GPU/GPUTracking/DataTypes/GPUOutputControl.h
  GPU/GPUTracking/DataTypes/GPUSettingsList.h
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/Global/GPUChainTrackingDebugAndProfiling.cxx
  GPU/GPUTracking/Global/GPUChainTrackingMerger.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.h
  GPU/GPUTracking/Merger/GPUTPCGMMergerGPU.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMergerTypes.h
  GPU/GPUTracking/Merger/GPUTPCGMO2Output.cxx
  GPU/GPUTracking/Merger/GPUTPCGMO2Output.h
  GPU/GPUTracking/Standalone/standalone.cxx
  GPU/GPUTracking/qa/GPUQAHelper.h
Owners: @davidrohr, @wiechula, @shahor02

GPU: Reduce memory footprint during TPC track merging
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
Owners: @davidrohr

file reader for TPC Tracks and Clusters (+ MC info)
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/src/FileReaderWorkflow.cxx
  Detectors/TPC/workflow/src/TrackReaderSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

Update NucleiSpectraTask.cxx
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

updating nuclei 3He task to filter and fulfill coding conventions
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

GPU: Reduce memory footprint during TPC track merging
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
Owners: @davidrohr

GPU: Move output creation in o2 tpc track format to GPU
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  Detectors/TPC/reconstruction/test/testGPUCATracking.cxx
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUProcessor.h
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.h
  GPU/GPUTracking/Base/GPUReconstructionIncludesDevice.h
  GPU/GPUTracking/Base/GPUReconstructionKernels.h
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPUDataTypes.h
  GPU/GPUTracking/DataTypes/GPUO2FakeClasses.h
  GPU/GPUTracking/DataTypes/GPUOutputControl.h
  GPU/GPUTracking/DataTypes/GPUSettingsList.h
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/Global/GPUChainTrackingDebugAndProfiling.cxx
  GPU/GPUTracking/Global/GPUChainTrackingMerger.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.h
  GPU/GPUTracking/Merger/GPUTPCGMMergerGPU.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMergerTypes.h
  GPU/GPUTracking/Merger/GPUTPCGMO2Output.cxx
  GPU/GPUTracking/Merger/GPUTPCGMO2Output.h
  GPU/GPUTracking/Standalone/standalone.cxx
  GPU/GPUTracking/qa/GPUQAHelper.h
Owners: @davidrohr, @wiechula, @shahor02

GPU: Link Host and GPU processor two-way and provide HostProcessor() function
  GPU/GPUTracking/Base/GPUMemoryResource.h
  GPU/GPUTracking/Base/GPUProcessor.cxx
  GPU/GPUTracking/Base/GPUProcessor.h
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
Owners: @davidrohr

Simplify code
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Correctly measure kernel time with nested OMP threads
  GPU/GPUTracking/Base/GPUReconstructionCPU.h
Owners: @davidrohr

updating nuclei task for skimming
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

Fix typo in include
  Detectors/ITSMFT/ITS/tracking/hip/src/UtilsHIP.hip.cxx
Owners: @iouribelikov, @bovulpes

PWGHF: Little fix of the J/ψ → e+ e- code. (#5265)
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
Owners: @ginnocen

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
