Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

adc counting errors in data going to trapsim. first adc and last adc are not always in the order one would think, first > last and last > first. need to do min max on it
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  Steer/DigitizerWorkflow/src/TRDDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

before clean up for single code base for trapsimulator, moving all back to Detecotrs/TRD
  Detectors/TRD/base/include/TRDBase/TrackletMCM.h
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/simulation/src/TrapSimulator.cxx
  Detectors/TRD/workflow/CMakeLists.txt
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

compiling again
  Detectors/TRD/simulation/src/TrapConfigHandler.cxx
  Detectors/TRD/workflow/src/TRDTrackletWriterSpec.h
  Steer/DigitizerWorkflow/src/TRDTrackletWriterSpec.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

commit before rebase
  Detectors/TRD/workflow/src/TRDRawReaderSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

changing to padrow
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

firstadc is sometimes -1 which makes no sense ... figure it out
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

looping over padrows now sorted, just need to polish off the rest from the other branch and voila ... testing can resume
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/simulation/src/TrapSimulator.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

fix trd simulation cmakelists.txt file
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

getting it back to a working state
  Detectors/TRD/workflow/src/TRDTrackletWriterSpec.h
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.h
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

changed Tracklet to its own class to get it into DPL messages
  Detectors/TRD/base/CMakeLists.txt
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/base/include/TRDBase/Tracklet.h
  Detectors/TRD/base/include/TRDBase/TrackletBase.h
  Detectors/TRD/base/src/Calibrations.cxx
  Detectors/TRD/base/src/FeeParam.cxx
  Detectors/TRD/base/src/TRDBaseLinkDef.h
  Detectors/TRD/base/src/Tracklet.cxx
  Detectors/TRD/base/src/TrackletBase.cxx
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/simulation/src/TrapSimulator.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

shared pads working including in the middle at pad 71-73
  Detectors/TRD/base/src/FeeParam.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

put them back things got a little ccomplicated
  Detectors/TRD/workflow/src/TRDRawReaderSpec.h
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.h
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

synced digitizerworkflow to trdworkflow for trapsim
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/simulation/src/TrapSimulator.cxx
  Detectors/TRD/workflow/src/TRDTrackletWriterSpec.h
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
  Steer/DigitizerWorkflow/src/TRDTrackletWriterSpec.h
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

problems in the input reader for trapsim workflow
  Detectors/TRD/workflow/CMakeLists.txt
  Detectors/TRD/workflow/src/TRDRawReaderSpec.cxx
  Detectors/TRD/workflow/src/TRDRawReaderSpec.h
  Detectors/TRD/workflow/src/TRDTrackletWriterSpec.h
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
  Detectors/TRD/workflow/src/TRDTrapSimulatorWorkFlow.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

fix chamberstatus O2-1002
  Detectors/TRD/base/include/TRDBase/ChamberStatus.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

digit reader not committed ...
  Detectors/TRD/workflow/src/TRDDigitReaderSpec.cxx
  Detectors/TRD/workflow/src/TRDDigitReaderSpec.h
  Steer/DigitizerWorkflow/src/TRDTrackletWriterSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

stuff for tokozani
  Detectors/TRD/workflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

trapsim, messages are wrong.
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

update of the TPCFastTransform interface
  Detectors/TPC/reconstruction/include/TPCReconstruction/TPCFastTransformHelperO2.h
  Detectors/TPC/reconstruction/src/TPCFastTransformHelperO2.cxx
  Detectors/TPC/reconstruction/test/testTPCFastTransform.cxx
  GPU/TPCFastTransformation/TPCFastTransformGeo.cxx
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/core, @sgorbuno

update design of the barrel services, change in the pipes, thicker fixation services
  Detectors/ITSMFT/MFT/base/include/MFTBase/Barrel.h
  Detectors/ITSMFT/MFT/base/src/Barrel.cxx
  Detectors/ITSMFT/MFT/base/src/GeometryBuilder.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

[O2-1037] Fix handling of SCMX volume cache for Geant4
  Detectors/EMCAL/simulation/src/Detector.cxx
Owners: @mfasDa, @AliceO2Group/core

[O2-1037] Also build SM type map at a later stage
  Detectors/EMCAL/simulation/include/EMCALSimulation/Detector.h
  Detectors/EMCAL/simulation/src/Detector.cxx
Owners: @mfasDa, @AliceO2Group/core

[EMCAL-610] Implementation of the raw encoder for EMCAL
  Detectors/EMCAL/simulation/CMakeLists.txt
  Detectors/EMCAL/simulation/include/EMCALSimulation/RawWriter.h
  Detectors/EMCAL/simulation/src/EMCALSimulationLinkDef.h
  Detectors/EMCAL/simulation/src/RawWriter.cxx
Owners: @mfasDa, @AliceO2Group/core

TRD: Make TimeStamp public in the Digit class
  Detectors/TRD/base/include/TRDBase/Digit.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

Cell test fix
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Cell.h
  DataFormats/Detectors/PHOS/src/Cell.cxx
  DataFormats/Detectors/PHOS/test/testCell.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

remove obsolete macros test
  Detectors/PHOS/testsimulation/CMakeLists.txt
Owners: @peressounko, @kharlov, @AliceO2Group/core

spans usage added
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Cluster.h
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Digit.h
  DataFormats/Detectors/PHOS/src/Cell.cxx
  Detectors/PHOS/reconstruction/include/PHOSReconstruction/Clusterer.h
  Detectors/PHOS/reconstruction/include/PHOSReconstruction/FullCluster.h
  Detectors/PHOS/reconstruction/src/Clusterer.cxx
  Detectors/PHOS/reconstruction/src/FullCluster.cxx
  Detectors/PHOS/workflow/src/ClusterizerSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @peressounko, @kharlov

macros fixes
  DataFormats/Detectors/PHOS/test/testCell.cxx
  Detectors/PHOS/calib/macros/PostBadMapCCDB.C
  Detectors/PHOS/calib/macros/PostCalibCCDB.C
  Detectors/PHOS/testsimulation/CMakeLists.txt
  Detectors/PHOS/testsimulation/plot_dig_phos.C
  Detectors/PHOS/testsimulation/plot_hit_phos.C
  Detectors/PHOS/testsimulation/run_digi_phos.C
  Detectors/PHOS/testsimulation/run_sim_phos.C
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @peressounko, @kharlov

Second trevis try
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/MCLabel.h
  DataFormats/Detectors/PHOS/test/testCell.cxx
  Detectors/PHOS/calib/macros/PostBadMapCCDB.C
  Detectors/PHOS/calib/macros/PostCalibCCDB.C
  Detectors/PHOS/reconstruction/src/FullCluster.cxx
  Detectors/PHOS/workflow/include/PHOSWorkflow/ClusterizerSpec.h
  Detectors/PHOS/workflow/include/PHOSWorkflow/DigitsPrinterSpec.h
  Detectors/PHOS/workflow/src/phos-reco-workflow.cxx
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @peressounko, @kharlov

Return to vectors
  Detectors/PHOS/workflow/src/ClusterizerSpec.cxx
Owners: @peressounko, @kharlov, @AliceO2Group/core

travis fixes
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Cell.h
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Cluster.h
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Digit.h
  DataFormats/Detectors/PHOS/src/Cell.cxx
  DataFormats/Detectors/PHOS/src/Digit.cxx
  Detectors/PHOS/calib/include/PHOSCalib/BadChannelMap.h
  Detectors/PHOS/calib/include/PHOSCalib/CalibParams.h
  Detectors/PHOS/calib/src/CalibParams.cxx
  Detectors/PHOS/reconstruction/include/PHOSReconstruction/FullCluster.h
  Detectors/PHOS/reconstruction/src/Clusterer.cxx
  Detectors/PHOS/reconstruction/src/FullCluster.cxx
  Detectors/PHOS/simulation/src/Digitizer.cxx
  Detectors/PHOS/workflow/src/CellConverterSpec.cxx
  Detectors/PHOS/workflow/src/ClusterizerSpec.cxx
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @peressounko, @kharlov

Ruben suggestions implemented
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Digit.h
  DataFormats/Detectors/PHOS/src/Digit.cxx
  Detectors/PHOS/base/include/PHOSBase/PHOSSimParams.h
  Detectors/PHOS/reconstruction/include/PHOSReconstruction/Clusterer.h
  Detectors/PHOS/reconstruction/include/PHOSReconstruction/FullCluster.h
  Detectors/PHOS/reconstruction/src/Clusterer.cxx
  Detectors/PHOS/reconstruction/src/FullCluster.cxx
  Detectors/PHOS/reconstruction/src/PHOSReconstructionLinkDef.h
  Detectors/PHOS/simulation/include/PHOSSimulation/Digitizer.h
  Detectors/PHOS/simulation/src/Digitizer.cxx
  Detectors/PHOS/workflow/include/PHOSWorkflow/ClusterizerSpec.h
  Detectors/PHOS/workflow/include/PHOSWorkflow/PublisherSpec.h
  Detectors/PHOS/workflow/src/ClusterizerSpec.cxx
  Detectors/PHOS/workflow/src/PublisherSpec.cxx
  Detectors/PHOS/workflow/src/RecoWorkflow.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @peressounko, @kharlov

Another fix traversity
  Detectors/PHOS/reconstruction/src/FullCluster.cxx
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.cxx
Owners: @peressounko, @kharlov, @AliceO2Group/core, @AliceO2Group/framework-admins

check cells fixed
  DataFormats/Detectors/PHOS/test/testCell.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Includes for macros fixed
  Detectors/PHOS/calib/CMakeLists.txt
Owners: @peressounko, @kharlov, @AliceO2Group/core

Response to Ruben's comment
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Cell.h
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Cluster.h
  DataFormats/Detectors/PHOS/include/DataFormatsPHOS/Digit.h
  DataFormats/Detectors/PHOS/src/Cell.cxx
  DataFormats/Detectors/PHOS/src/Cluster.cxx
  DataFormats/Detectors/PHOS/src/Digit.cxx
  Detectors/PHOS/base/include/PHOSBase/Geometry.h
  Detectors/PHOS/base/src/Geometry.cxx
  Detectors/PHOS/calib/include/PHOSCalib/BadChannelMap.h
  Detectors/PHOS/calib/include/PHOSCalib/CalibParams.h
  Detectors/PHOS/calib/src/BadChannelMap.cxx
  Detectors/PHOS/calib/src/CalibParams.cxx
  Detectors/PHOS/reconstruction/CMakeLists.txt
  Detectors/PHOS/reconstruction/include/PHOSReconstruction/Clusterer.h
  Detectors/PHOS/reconstruction/include/PHOSReconstruction/FullCluster.h
  Detectors/PHOS/reconstruction/src/Cluster.cxx
  Detectors/PHOS/reconstruction/src/Clusterer.cxx
  Detectors/PHOS/reconstruction/src/FullCluster.cxx
  Detectors/PHOS/simulation/CMakeLists.txt
  Detectors/PHOS/simulation/src/Digitizer.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @peressounko, @kharlov

FV0 digitization - optimization and bug fixes.
  DataFormats/Detectors/FIT/FV0/include/DataFormatsFV0/BCData.h
  DataFormats/Detectors/FIT/FV0/src/BCData.cxx
  Detectors/FIT/FV0/macro/readFV0Digits.C
  Detectors/FIT/FV0/simulation/include/FV0Simulation/DigitizationParameters.h
  Detectors/FIT/FV0/simulation/include/FV0Simulation/Digitizer.h
  Detectors/FIT/FV0/simulation/src/Digitizer.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @AllaMaevskaya, @jotwinow, @mslupeck

PHOSMCLabels fix
  macro/analyzeDigitLabels.C
Owners: @AliceO2Group/core

indent of comment fixed
  Detectors/PHOS/workflow/src/ClusterizerSpec.cxx
Owners: @peressounko, @kharlov, @AliceO2Group/core

GPU: Fix removal of -g/-ggdb debug option for AMD HIP
  GPU/GPUTracking/Base/hip/CMakeLists.txt
Owners: @davidrohr, @AliceO2Group/framework-admins

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
