Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

PWGHF : further restricitng HF preselection for hyperloop testing (#5232)
  Analysis/Core/include/AnalysisCore/HFConfigurables.h
Owners: @jgrosseo, @iarsene

TPC Workflow / Tracking: Remove dead codee
  Detectors/TPC/reconstruction/include/TPCReconstruction/GPUCATracking.h
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
  macro/CMakeLists.txt
  macro/runCATrackingClusterNative.C
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/core

SpaceCharge: added function to set the density and potential directly
  Detectors/TPC/spacecharge/include/TPCSpaceCharge/SpaceCharge.h
Owners: @davidrohr, @wiechula, @shahor02

Fixed memory leak
  Detectors/TPC/spacecharge/include/TPCSpaceCharge/DataContainer3D.h
Owners: @davidrohr, @wiechula, @shahor02

Aggregated track container + global index with more provenance enums
  DataFormats/Reconstruction/CMakeLists.txt
  DataFormats/Reconstruction/include/ReconstructionDataFormats/GlobalTrackAccessor.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/GlobalTrackID.h
  DataFormats/Reconstruction/src/GlobalTrackID.cxx
  DataFormats/Reconstruction/src/ReconstructionDataFormatsLinkDef.h
  Detectors/AOD/src/AODProducerWorkflowSpec.cxx
  Detectors/AOD/src/StandaloneAODProducer.cxx
Owners: @shahor02, @AliceO2Group/core

Use new aggregated container/global index in vertexing
  DataFormats/Reconstruction/include/ReconstructionDataFormats/VtxTrackIndex.h
  DataFormats/Reconstruction/src/VtxTrackIndex.cxx
  Detectors/GlobalTrackingWorkflow/src/SecondaryVertexingSpec.cxx
  Detectors/Vertexing/include/DetectorsVertexing/SVertexer.h
  Detectors/Vertexing/src/PVertexer.cxx
  Detectors/Vertexing/src/SVertexer.cxx
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
Owners: @shahor02, @AliceO2Group/core

Aggregated container + access with global index
  DataFormats/common/CMakeLists.txt
  DataFormats/common/include/CommonDataFormat/AbstractRefAccessor.h
  DataFormats/common/src/AbstractRefAccessor.cxx
  DataFormats/common/src/CommonDataFormatLinkDef.h
  DataFormats/common/test/testAbstractRefAccessor.cxx
Owners: @shahor02

adding prootection for float truncation
  Common/MathUtils/include/MathUtils/detail/TypeTruncation.h
Owners: @shahor02

Fix missing TPC split task in CMakeFile
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/PWGLF/spectraTOF_split.cxx
  Analysis/Tasks/PWGLF/spectraTOF_tiny.cxx
  Analysis/Tasks/PWGLF/spectraTPC_split.cxx
  Analysis/Tasks/PWGLF/spectraTPC_tiny.cxx
  Analysis/Tasks/pidTOF_split.cxx
  Analysis/Tasks/pidTOF_tiny.cxx
  Analysis/Tasks/pidTPC_split.cxx
  Analysis/Tasks/pidTPC_tiny.cxx
Owners: @jgrosseo, @iarsene

Add separate class to describe Alice 3 (A3) Beampipe
  Detectors/Upgrades/ALICE3/Passive/CMakeLists.txt
  Detectors/Upgrades/ALICE3/Passive/include/A3DetectorsPassive/A3PassiveBase.h
  Detectors/Upgrades/ALICE3/Passive/include/A3DetectorsPassive/A3Pipe.h
  Detectors/Upgrades/ALICE3/Passive/src/A3PassiveBase.cxx
  Detectors/Upgrades/ALICE3/Passive/src/A3PassiveLinkDef.h
  Detectors/Upgrades/ALICE3/Passive/src/A3Pipe.cxx
  Detectors/Upgrades/ALICE3/TRK/simulation/include/TRKSimulation/Detector.h
  Detectors/Upgrades/ALICE3/TRK/simulation/src/Detector.cxx
  macro/CMakeLists.txt
  macro/build_geometry.C
  run/CMakeLists.txt
Owners: @qgp, @marcovanleeuwen, @AliceO2Group/core

Add override to destructor
  Detectors/Upgrades/ALICE3/Passive/include/A3DetectorsPassive/A3Pipe.h
Owners: @qgp, @marcovanleeuwen

Fix default behaviour for -m PIPE
  macro/build_geometry.C
Owners: @AliceO2Group/core

Try to fix codechecker
  Detectors/Upgrades/ALICE3/Passive/include/A3DetectorsPassive/A3Pipe.h
  Detectors/Upgrades/ALICE3/Passive/src/A3Pipe.cxx
Owners: @qgp, @marcovanleeuwen

Fix ENABLE_UPGRADES logic
  macro/build_geometry.C
Owners: @AliceO2Group/core

Add getters for layers quotas
  Detectors/Upgrades/ALICE3/TRK/simulation/include/TRKSimulation/Detector.h
Owners: @qgp, @marcovanleeuwen

Clang format
  macro/build_geometry.C
Owners: @AliceO2Group/core

Fix Z position of ML/OL modules to be symmetric wrt half stave center
  Detectors/ITSMFT/ITS/simulation/src/V3Layer.cxx
Owners: @iouribelikov, @bovulpes

fix filtering and minor edits
  Analysis/Tasks/PWGLF/lambdakzeroanalysis.cxx
  Analysis/Tasks/PWGLF/lambdakzerobuilder.cxx
Owners: @jgrosseo, @iarsene

Improve naming + CMakeLists.txt for upgrades
  Detectors/Upgrades/ALICE3/Passive/CMakeLists.txt
  Detectors/Upgrades/ALICE3/Passive/include/Alice3DetectorsPassive/PassiveBase.h
  Detectors/Upgrades/ALICE3/Passive/include/Alice3DetectorsPassive/Pipe.h
  Detectors/Upgrades/ALICE3/Passive/src/PassiveBase.cxx
  Detectors/Upgrades/ALICE3/Passive/src/PassiveLinkDef.h
  Detectors/Upgrades/ALICE3/Passive/src/Pipe.cxx
  macro/CMakeLists.txt
  macro/build_geometry.C
  run/CMakeLists.txt
Owners: @qgp, @marcovanleeuwen, @AliceO2Group/core

Clang Format
  Detectors/Upgrades/ALICE3/Passive/include/Alice3DetectorsPassive/Pipe.h
  Detectors/Upgrades/ALICE3/Passive/src/Pipe.cxx
Owners: @qgp, @marcovanleeuwen

Cleanup
  macro/CMakeLists.txt
Owners: @AliceO2Group/core

adding prootection for float truncation
  Common/MathUtils/include/MathUtils/detail/TypeTruncation.h
Owners: @shahor02

Adding flag selection in the hadron tasks (#5218)
  Analysis/Tasks/PWGHF/HFD0CandidateSelector.cxx
  Analysis/Tasks/PWGHF/HFLcCandidateSelector.cxx
  Analysis/Tasks/PWGHF/taskD0.cxx
  Analysis/Tasks/PWGHF/taskLc.cxx
Owners: @ginnocen

PWGHF: Shift decay type values to allow usage in arrays and bitmaps. (#5224)
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFCandidateCreator3Prong.cxx
Owners: @ginnocen

PWGHF, RecoDecay: Add gen. level pT of matched D0 candidates. (#5201)
  Analysis/Core/CMakeLists.txt
  Analysis/Core/include/AnalysisCore/RecoDecay.h
  Analysis/Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
  Analysis/Tasks/PWGHF/taskD0.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

Fix Z position of ML/OL modules to be symmetric wrt half stave center
  Detectors/ITSMFT/ITS/simulation/src/V3Layer.cxx
Owners: @iouribelikov, @bovulpes

Fix missing TPC split task in CMakeFile (#5238)
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/PWGLF/spectraTOF_split.cxx
  Analysis/Tasks/PWGLF/spectraTOF_tiny.cxx
  Analysis/Tasks/PWGLF/spectraTPC_split.cxx
  Analysis/Tasks/PWGLF/spectraTPC_tiny.cxx
  Analysis/Tasks/pidTOF_split.cxx
  Analysis/Tasks/pidTOF_tiny.cxx
  Analysis/Tasks/pidTPC_split.cxx
  Analysis/Tasks/pidTPC_tiny.cxx
Owners: @jgrosseo, @iarsene

adapting nuclei spectra task to be ready for helium skimming
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

[O2-1977][CMake](fix) Filter out macros in build directory if any
  cmake/O2GetListOfMacros.cmake
Owners: @AliceO2Group/core

minor edits
  Analysis/Tasks/PWGLF/lambdakzerobuilder.cxx
Owners: @jgrosseo, @iarsene

rapidity cut configurable
  Analysis/Tasks/PWGLF/lambdakzeroanalysis.cxx
Owners: @jgrosseo, @iarsene

tpcrefit changed from bool to int
  Analysis/Tasks/PWGLF/lambdakzerobuilder.cxx
Owners: @jgrosseo, @iarsene

Add separate class to describe Alice 3 (A3) Beampipe
  Detectors/Upgrades/ALICE3/Passive/CMakeLists.txt
  Detectors/Upgrades/ALICE3/Passive/include/A3DetectorsPassive/A3PassiveBase.h
  Detectors/Upgrades/ALICE3/Passive/include/A3DetectorsPassive/A3Pipe.h
  Detectors/Upgrades/ALICE3/Passive/src/A3PassiveBase.cxx
  Detectors/Upgrades/ALICE3/Passive/src/A3PassiveLinkDef.h
  Detectors/Upgrades/ALICE3/Passive/src/A3Pipe.cxx
  Detectors/Upgrades/ALICE3/TRK/simulation/include/TRKSimulation/Detector.h
  Detectors/Upgrades/ALICE3/TRK/simulation/src/Detector.cxx
  macro/CMakeLists.txt
  macro/build_geometry.C
  run/CMakeLists.txt
Owners: @qgp, @marcovanleeuwen, @AliceO2Group/core

Fix default behaviour for -m PIPE
  macro/build_geometry.C
Owners: @AliceO2Group/core

Add getters for layers quotas
  Detectors/Upgrades/ALICE3/TRK/simulation/include/TRKSimulation/Detector.h
Owners: @qgp, @marcovanleeuwen

Add override to destructor
  Detectors/Upgrades/ALICE3/Passive/include/A3DetectorsPassive/A3Pipe.h
Owners: @qgp, @marcovanleeuwen

Clang Format
  Detectors/Upgrades/ALICE3/Passive/include/Alice3DetectorsPassive/Pipe.h
  Detectors/Upgrades/ALICE3/Passive/src/Pipe.cxx
Owners: @qgp, @marcovanleeuwen

Fix ENABLE_UPGRADES logic
  macro/build_geometry.C
Owners: @AliceO2Group/core

Try to fix codechecker
  Detectors/Upgrades/ALICE3/Passive/include/A3DetectorsPassive/A3Pipe.h
  Detectors/Upgrades/ALICE3/Passive/src/A3Pipe.cxx
Owners: @qgp, @marcovanleeuwen

Improve naming + CMakeLists.txt for upgrades
  Detectors/Upgrades/ALICE3/Passive/CMakeLists.txt
  Detectors/Upgrades/ALICE3/Passive/include/Alice3DetectorsPassive/PassiveBase.h
  Detectors/Upgrades/ALICE3/Passive/include/Alice3DetectorsPassive/Pipe.h
  Detectors/Upgrades/ALICE3/Passive/src/PassiveBase.cxx
  Detectors/Upgrades/ALICE3/Passive/src/PassiveLinkDef.h
  Detectors/Upgrades/ALICE3/Passive/src/Pipe.cxx
  macro/CMakeLists.txt
  macro/build_geometry.C
  run/CMakeLists.txt
Owners: @qgp, @marcovanleeuwen, @AliceO2Group/core
