Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @vkucera, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @rpezzi, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @martenole, @qgp, @marcovanleeuwen, @mconcas, @coppedis, @knopers8, @chiarazampolli, @jmyrcha, @sgorbuno, @ehellbar, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen @vkucera
/Analysis/Tasks/PWGHF  @ginnocen @vkucera

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/CTP                     @shahor02
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/QualityControl    @knopers8 @Barthelemy @chiarazampolli
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Calibration             @chiarazampolli @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

GPU: Add a cache for CUDA runtime compilation results
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.h
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAGenRTC.cu
  GPU/GPUTracking/Definitions/GPUSettingsList.h
Owners: @davidrohr

Full system test: Adapt to some renaming in DD
  prodtests/full-system-test/convert-raw-to-tf-file.sh
Owners: @AliceO2Group/core

DPL: improve signaling logic
  Framework/Core/include/Framework/DeviceInfo.h
  Framework/Core/src/ArrowSupport.cxx
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

channel offsets in reconstruction (#6115)
  Detectors/FIT/FT0/reconstruction/CMakeLists.txt
  Detectors/FIT/FT0/reconstruction/include/FT0Reconstruction/CollisionTimeRecoTask.h
  Detectors/FIT/FT0/reconstruction/src/CollisionTimeRecoTask.cxx
  Detectors/FIT/FT0/workflow/include/FT0Workflow/ReconstructionSpec.h
  Detectors/FIT/FT0/workflow/src/ReconstructionSpec.cxx
  Detectors/FIT/common/calibration/include/FITCalibration/FITCalibrationApi.h
  Detectors/FIT/common/calibration/include/FITCalibration/FITCalibrator.h
Owners: @AllaMaevskaya, @jotwinow, @mslupeck

Check/enforce that all links got AddData call in every IR it processed
  Detectors/Raw/README.md
  Detectors/Raw/include/DetectorsRaw/RawFileWriter.h
  Detectors/Raw/src/RawFileWriter.cxx
  Detectors/Raw/test/testRawReaderWriter.cxx
  Detectors/TPC/workflow/src/ZSSpec.cxx
  Detectors/TPC/workflow/src/convertDigitsToRawZS.cxx
Owners: @AliceO2Group/core, @davidrohr, @wiechula, @shahor02

throw exception with message instead of cout + exit
  Detectors/ITSMFT/ITS/tracking/src/TrackerTraitsCPU.cxx
Owners: @iouribelikov, @bovulpes, @rpezzi

Add cosmics to RecoContainer and InputHelper
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  Detectors/GlobalTrackingWorkflow/helpers/include/GlobalTrackingWorkflowHelpers/InputHelper.h
  Detectors/GlobalTrackingWorkflow/helpers/src/InputHelper.cxx
Owners: @shahor02

GPU: AMD HIP creates a cache variable, overriding our settings if not FORCEd
  dependencies/FindO2GPU.cmake
Owners: @AliceO2Group/core

PWGHF: update QA task for efficiency (#6023)
  Analysis/Tasks/PWGHF/qaTaskEfficiency.cxx
Owners: @ginnocen, @vkucera

Add MaxDXYIni cut on DCAFitterN seed XY DCA
  Detectors/Vertexing/README.md
  Detectors/Vertexing/include/DetectorsVertexing/DCAFitterN.h
  Detectors/Vertexing/include/DetectorsVertexing/HelixHelper.h
  Detectors/Vertexing/test/testDCAFitterN.cxx
Owners: @AliceO2Group/core

[EMCAL-699] Add RCU trailer also for links without payload
  Detectors/EMCAL/simulation/src/RawWriter.cxx
Owners: @mfasDa

Add MFT alignable volume functions (#5974)
  Detectors/ITSMFT/MFT/base/include/MFTBase/GeometryTGeo.h
  Detectors/ITSMFT/MFT/base/src/GeometryTGeo.cxx
  Detectors/ITSMFT/MFT/simulation/include/MFTSimulation/Detector.h
  Detectors/ITSMFT/MFT/simulation/src/Detector.cxx
Owners: @iouribelikov, @bovulpes, @rpezzi

DPL: implement ability for devices to watch driver messages
  Framework/Core/CMakeLists.txt
  Framework/Core/include/Framework/DriverClient.h
  Framework/Core/src/DriverClient.cxx
  Framework/Core/src/TextDriverClient.h
  Framework/Core/src/WSDriverClient.cxx
  Framework/Core/src/WSDriverClient.h
Owners: @AliceO2Group/framework-admins

Move SHA1 algorithm in 3rdparty header only library
  Framework/Core/CMakeLists.txt
  Framework/Core/src/HTTPParser.cxx
  Framework/Core/src/SHA1.cxx
  Framework/Core/src/SHA1.h
  Framework/Foundation/3rdparty/CMakeLists.txt
  Framework/Foundation/3rdparty/include/Framework/SHA1.h
  Framework/Foundation/CMakeLists.txt
Owners: @AliceO2Group/framework-admins

Compatibility to boost 1.76
  Detectors/MUON/MCH/Raw/Decoder/src/testUserLogicEndpointDecoder.cxx
Owners: @aphecetche

fix workflow option (#6142)
  Detectors/MUON/MCH/Workflow/src/tracks-to-tracks-at-vertex-workflow.cxx
Owners: @aphecetche

GPU: Use SHA1 hashes to check if RTC cache is outdated
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAGenRTC.cu
  GPU/GPUTracking/Standalone/CMakeLists.txt
Owners: @davidrohr

GPU: Check that define for HIP warp size is correct
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
Owners: @davidrohr

[MID] Executable to compare the User Logic raw data with the common logic one (#6144)
  Detectors/MUON/MID/QC/CMakeLists.txt
  Detectors/MUON/MID/QC/exe/CMakeLists.txt
  Detectors/MUON/MID/QC/exe/README.md
  Detectors/MUON/MID/QC/exe/raw-ul-checker.cxx
  Detectors/MUON/MID/QC/include/MIDQC/UserLogicChecker.h
  Detectors/MUON/MID/QC/src/UserLogicChecker.cxx
Owners: @aphecetche

GPU: Add define GPUCA_GPUCODE_HOSTONLY: disables inclusion of GPU device-code headers and duplacte compilation of default kernels in host-only source files where they are not used
  GPU/GPUTracking/Base/GPUConstantMem.h
  GPU/GPUTracking/Base/GPUGeneralKernels.h
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
  GPU/GPUTracking/Base/cuda/CUDAThrustHelpers.h
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAGenRTC.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAIncludes.h
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAInternals.h
  GPU/GPUTracking/Base/hip/CMakeLists.txt
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
  GPU/GPUTracking/Base/hip/GPUReconstructionHIPIncludes.h
  GPU/GPUTracking/Base/hip/GPUReconstructionHIPInternals.h
  GPU/GPUTracking/Base/hip/HIPThrustHelpers.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
Owners: @davidrohr

PVertexing: optional afterburner for track-vertex reattachment
  Detectors/GlobalTrackingWorkflow/src/PrimaryVertexingSpec.cxx
  Detectors/Vertexing/README.md
  Detectors/Vertexing/include/DetectorsVertexing/PVertexer.h
  Detectors/Vertexing/include/DetectorsVertexing/PVertexerHelpers.h
  Detectors/Vertexing/include/DetectorsVertexing/PVertexerParams.h
  Detectors/Vertexing/src/PVertexer.cxx
Owners: @shahor02, @AliceO2Group/core

GPU: Use dummy member shadowing constexpr-replaced members to maintain same memory layout
  GPU/GPUTracking/Base/GPUParam.cxx
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Definitions/GPUSettingsList.h
  GPU/GPUTracking/utils/qconfig.h
  GPU/GPUTracking/utils/qconfigrtc.h
Owners: @davidrohr

GPU: RTC works in combination with non-constant memory
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.h
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDArtc.cu
  GPU/GPUTracking/Standalone/cmake/makefile
Owners: @davidrohr

Changes for Root v6-24 (#6166)
  Detectors/CPV/testsimulation/CMakeLists.txt
  Detectors/TPC/qc/CMakeLists.txt
  Detectors/TPC/qc/macro/runClusters.C
  Detectors/TPC/reconstruction/CMakeLists.txt
  GPU/TPCFastTransformation/CMakeLists.txt
  cmake/O2AddTestWrapper.cmake
  macro/CMakeLists.txt
  macro/duplicateHits.C
  macro/run_match_tof.C
Owners: @peressounko, @kharlov, @davidrohr, @wiechula, @shahor02, @sgorbuno, @AliceO2Group/core

DPL Analysis: store created histograms in unique_ptrs (#6159)
  Analysis/Core/src/CorrelationContainer.cxx
  Framework/Core/include/Framework/HistogramRegistry.h
  Framework/Core/include/Framework/HistogramSpec.h
  Framework/Core/src/HistogramRegistry.cxx
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

Add tab detection to CI tests. (#6099)
  .github/workflows/tab-finder.yml
Owners: @AliceO2Group/core

Add default c-tors to PVertex debug dump objects
  Detectors/Vertexing/include/DetectorsVertexing/PVertexerHelpers.h
Owners: @AliceO2Group/core

Fix in VertexTrackMatcher ITS track time treatment
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
Owners: @AliceO2Group/core

Use correct type in sim duplication tool
  macro/duplicateHits.C
Owners: @AliceO2Group/core

Fix comment
  Framework/Core/include/Framework/AnalysisDataModel.h
Owners: @AliceO2Group/framework-admins

Cleaning and updates of tutorials (#6158)
  Analysis/Tutorials/CMakeLists.txt
  Analysis/Tutorials/src/ZDCVZeroIteration.cxx
  Analysis/Tutorials/src/associatedExample.cxx
  Analysis/Tutorials/src/compatibleBCs.cxx
  Analysis/Tutorials/src/configurableObjects.cxx
  Analysis/Tutorials/src/dynamicColumns.cxx
  Analysis/Tutorials/src/efficiencyGlobal.cxx
  Analysis/Tutorials/src/efficiencyPerRun.cxx
  Analysis/Tutorials/src/extendedColumns.cxx
  Analysis/Tutorials/src/extendedTables.cxx
  Analysis/Tutorials/src/filters.cxx
  Analysis/Tutorials/src/fullTrackIteration.cxx
  Analysis/Tutorials/src/histHelpersTest.cxx
  Analysis/Tutorials/src/histogramTrackSelection.cxx
  Analysis/Tutorials/src/histogramsFullTracks.cxx
  Analysis/Tutorials/src/jetAnalysis.cxx
  Analysis/Tutorials/src/multiProcess.cxx
  Analysis/Tutorials/src/multiplicityEventTrackSelection.cxx
  Analysis/Tutorials/src/muonIteration.cxx
  Analysis/Tutorials/src/outputs.cxx
  Analysis/Tutorials/src/schemaEvolution.cxx
  Analysis/Tutorials/src/trackCollectionIteration.cxx
  Analysis/Tutorials/src/tracksCombinations.cxx
  Analysis/Tutorials/src/weakDecayIteration.cxx
  Framework/Core/include/Framework/AnalysisDataModel.h
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

GPU: Add option to run parallel per-kernel RTC compilation
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAGenRTC.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAInternals.h
  GPU/GPUTracking/Benchmark/standalone.cxx
  GPU/GPUTracking/Definitions/GPUSettingsList.h
Owners: @davidrohr

GPU: Automatically disable device timers if not supported by OpenCL platform
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cxx
Owners: @davidrohr

GPU: If we have a specialization for a kernel, we can skip compiling the base one to save some compile time
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMO2Output.cxx
Owners: @davidrohr

GPU: Generate GPU kernel definitions dynamically, and don't precompile them in the RTC source
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAGenRTC.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDArtc.cu
Owners: @davidrohr

GPU: Split host and GPU code during CUDA compilation, mostly for faster compilation
  GPU/Common/GPUCommonAlgorithm.h
  GPU/Common/GPUCommonAlgorithmThrust.h
  GPU/Common/GPUCommonMath.h
  GPU/GPUTracking/Base/GPUConstantMem.h
  GPU/GPUTracking/Base/GPUGeneralKernels.h
  GPU/GPUTracking/Base/GPUReconstructionCPU.h
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.h
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAGenRTC.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAKernels.cu
  GPU/GPUTracking/Base/hip/GPUReconstructionHIPIncludes.h
Owners: @davidrohr

Fix filter (#6171)
  Analysis/Tutorials/src/histograms.cxx
Owners: @jgrosseo, @iarsene

GPU: Move some more functions from GPUReconstructionCUDAKernels.cu to other files
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.h
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAGenRTC.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAKernels.cu
Owners: @davidrohr

PWGHF: Implementation of Lc --> K0s+p (#5257)
  Analysis/Core/include/AnalysisCore/RecoDecay.h
  Analysis/DataModel/include/AnalysisDataModel/HFCandidateSelectionTables.h
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFCandidateCreatorCascade.cxx
  Analysis/Tasks/PWGHF/HFLcK0sPCandidateSelector.cxx
  Analysis/Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
  Analysis/Tasks/PWGHF/taskLcK0sP.cxx
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/lambdakzerobuilder.cxx
  Analysis/Tasks/Utils/CMakeLists.txt
  Analysis/Tasks/Utils/include/AnalysisTasksUtils/UtilsDebugLcK0Sp.h
Owners: @jgrosseo, @iarsene, @ginnocen, @vkucera

GPU: The CMake OpenMP module apparently doesn't know about CUDA, so it is not adding the openmp flat
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
Owners: @davidrohr
