Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

GPU: Fix removal of -g/-ggdb debug option for AMD HIP
  GPU/GPUTracking/Base/hip/CMakeLists.txt
Owners: @davidrohr, @AliceO2Group/framework-admins

included functionality to wrote dangling outputs of origin AOD to root trees
  Framework/AnalysisTutorial/CMakeLists.txt
  Framework/Core/include/Framework/CommonDataProcessors.h
  Framework/Core/src/CommonDataProcessors.cxx
  Framework/Core/src/WorkflowHelpers.cxx
  Framework/Core/src/WorkflowHelpers.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

GPU Display: If vsync not available, just disable it and do not fail
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU Display: Proper OpenGL context initialization
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlut.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU Display: Define minimum required GL version in a common place
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplay.h
  GPU/GPUTracking/Standalone/display/GPUDisplayBackend.h
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlfw.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU Display: Add some more error reporting
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlfw.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlut.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU Display: Add option to use either glew or gl3w as extension wrapper
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/Standalone/cmake/config.cmake
  GPU/GPUTracking/Standalone/display/GPUDisplay.h
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlfw.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlut.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayExt.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Remove verboseness of debug messages
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

[EMCAL-610] Implementation of the raw encoder for EMCAL
  Detectors/EMCAL/simulation/CMakeLists.txt
  Detectors/EMCAL/simulation/include/EMCALSimulation/RawWriter.h
  Detectors/EMCAL/simulation/src/EMCALSimulationLinkDef.h
  Detectors/EMCAL/simulation/src/RawWriter.cxx
Owners: @mfasDa, @AliceO2Group/core

an application to test the proper functioning of the aod sink
  Framework/AnalysisTutorial/src/aodwriter.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

cleaned up and renamed DataRef2Tree to table2tree added benchmark test for table2tree
  Framework/Core/CMakeLists.txt
  Framework/Core/include/Framework/CommonDataProcessors.h
  Framework/Core/src/CommonDataProcessors.cxx
  Framework/Core/test/benchmark_Table2Tree.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

corrected calculation of processed bytes in benchmark_Table2Tree.cxx
  Framework/Core/test/benchmark_Table2Tree.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

GPU Display: Proper OpenGL context initialization
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlut.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU Display: Add option to use either glew or gl3w as extension wrapper
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/Standalone/cmake/config.cmake
  GPU/GPUTracking/Standalone/display/GPUDisplay.h
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlfw.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlut.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayExt.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU Display: Add some more error reporting
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlfw.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlut.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Remove verboseness of debug messages
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU Display: Define minimum required GL version in a common place
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplay.h
  GPU/GPUTracking/Standalone/display/GPUDisplayBackend.h
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendGlfw.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU Display: If vsync not available, just disable it and do not fail
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplayBackendX11.h
Owners: @davidrohr, @AliceO2Group/framework-admins

[O2-1037] Fix handling of SCMX volume cache for Geant4 (#2839)
  Detectors/EMCAL/simulation/include/EMCALSimulation/Detector.h
  Detectors/EMCAL/simulation/src/Detector.cxx
Owners: @mfasDa, @AliceO2Group/core

TRD: Make TimeStamp public in the Digit class
  Detectors/TRD/base/include/TRDBase/Digit.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

FV0 digitization - optimization and bug fixes.
  DataFormats/Detectors/FIT/FV0/include/DataFormatsFV0/BCData.h
  DataFormats/Detectors/FIT/FV0/src/BCData.cxx
  Detectors/FIT/FV0/macro/readFV0Digits.C
  Detectors/FIT/FV0/simulation/include/FV0Simulation/DigitizationParameters.h
  Detectors/FIT/FV0/simulation/include/FV0Simulation/Digitizer.h
  Detectors/FIT/FV0/simulation/src/Digitizer.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @AllaMaevskaya, @jotwinow, @mslupeck

Extending staggering workflow test
  Framework/Core/test/test_StaggeringWorkflow.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL: Implementing trigger matcher in the DispatchPolicy
  Framework/Core/include/Framework/DispatchControl.h
  Framework/Core/include/Framework/DispatchPolicy.h
  Framework/Core/include/Framework/MessageContext.h
  Framework/Core/src/DataProcessingDevice.cxx
  Framework/Core/src/DataProcessor.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL: Adding constructor to init framework::Output struct from DataHeader
  Framework/Core/include/Framework/Output.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL: Grouping messages of one computation in multimessages
  Framework/Core/src/DataProcessor.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

[EMCAL-534] Error treatment of RCUtrailer stream operator
  Detectors/EMCAL/reconstruction/src/RCUTrailer.cxx
Owners: @mfasDa, @AliceO2Group/core

DPL: Regexp matching in CompletionPolicyHelpers::defineByName
  Framework/Core/include/Framework/DataSampling.h
  Framework/Core/src/CompletionPolicyHelpers.cxx
  Framework/TestWorkflows/src/o2DiamondWorkflow.cxx
  Framework/Utils/src/esd-2-arrow-converter.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL: Regexp matching in CompletionPolicyHelpers::defineByName (#2845)
  Framework/Core/include/Framework/DataSampling.h
  Framework/Core/src/CompletionPolicyHelpers.cxx
  Framework/TestWorkflows/src/o2DiamondWorkflow.cxx
  Framework/Utils/src/esd-2-arrow-converter.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

RawFileReader added. At the moment only parser and checker is operational
  Common/Utils/src/HBFUtils.cxx
  Detectors/CMakeLists.txt
  Detectors/Raw/CMakeLists.txt
  Detectors/Raw/include/DetectorsRaw/RawFileReader.h
  Detectors/Raw/src/DetectorsRawLinkDef.h
  Detectors/Raw/src/RawFileReader.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fix: avoid using <const T> in pc.inputs().get<gsl::span<T>>
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

DPL: Improving InputRecord iterator
  Framework/Core/include/Framework/DataRef.h
  Framework/Core/include/Framework/InputRecord.h
  Framework/Core/src/InputRecord.cxx
  Framework/Core/test/test_InputRecord.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Control of the grooves creation on heat exchangers
  Detectors/ITSMFT/MFT/base/include/MFTBase/Geometry.h
  Detectors/ITSMFT/MFT/base/src/Geometry.cxx
  Detectors/ITSMFT/MFT/base/src/HeatExchanger.cxx
  Detectors/ITSMFT/MFT/simulation/src/Detector.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

update design of the barrel services, change in the pipes, thicker fixation services
  Detectors/ITSMFT/MFT/base/include/MFTBase/Barrel.h
  Detectors/ITSMFT/MFT/base/src/Barrel.cxx
  Detectors/ITSMFT/MFT/base/src/GeometryBuilder.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

o2-raw-filecheck executable + documentation
  Detectors/Raw/README.md
  Detectors/Raw/src/rawfileCheck.cxx
Owners: @AliceO2Group/core

Moved HBFUtils from Common/Utils to Detectors/Raw
  Common/Utils/CMakeLists.txt
  Common/Utils/src/CommonUtilsLinkDef.h
  Detectors/ITSMFT/common/simulation/CMakeLists.txt
  Detectors/ITSMFT/common/simulation/include/ITSMFTSimulation/MC2RawEncoder.h
  Detectors/MUON/MID/Raw/CMakeLists.txt
  Detectors/MUON/MID/Raw/include/MIDRaw/Encoder.h
  Detectors/Raw/CMakeLists.txt
  Detectors/Raw/include/DetectorsRaw/HBFUtils.h
  Detectors/Raw/src/DetectorsRawLinkDef.h
  Detectors/Raw/src/HBFUtils.cxx
  Detectors/Raw/src/RawFileReader.cxx
  Detectors/Raw/test/testHBFUtils.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @iouribelikov, @bovulpes, @aphecetche

Moved HBFUtils from Common/Utils to Detectors/Raw
  Common/Utils/CMakeLists.txt
  Common/Utils/src/CommonUtilsLinkDef.h
  Detectors/ITSMFT/common/simulation/CMakeLists.txt
  Detectors/ITSMFT/common/simulation/include/ITSMFTSimulation/MC2RawEncoder.h
  Detectors/MUON/MID/Raw/CMakeLists.txt
  Detectors/MUON/MID/Raw/include/MIDRaw/Encoder.h
  Detectors/Raw/CMakeLists.txt
  Detectors/Raw/include/DetectorsRaw/HBFUtils.h
  Detectors/Raw/src/DetectorsRawLinkDef.h
  Detectors/Raw/src/HBFUtils.cxx
  Detectors/Raw/src/RawFileReader.cxx
  Detectors/Raw/test/testHBFUtils.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @iouribelikov, @bovulpes, @aphecetche

o2-raw-filecheck executable + documentation
  Detectors/Raw/README.md
  Detectors/Raw/src/rawfileCheck.cxx
Owners: @AliceO2Group/core

RawFileReader added. At the moment only parser and checker is operational
  Common/Utils/src/HBFUtils.cxx
  Detectors/CMakeLists.txt
  Detectors/Raw/CMakeLists.txt
  Detectors/Raw/include/DetectorsRaw/RawFileReader.h
  Detectors/Raw/src/DetectorsRawLinkDef.h
  Detectors/Raw/src/RawFileReader.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

GeneratorFactory: modular improvements
  Generators/src/GeneratorFactory.cxx
  prodtests/check_embedding_pileup.sh
Owners: @sawenzel, @AliceO2Group/core

DuplicateHits : Special treatment for MCEventHeader
  macro/duplicateHits.C
Owners: @AliceO2Group/core

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
