Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough

Definition/usage of 1D/2D-primitives: circle,bracket,interval
  Common/MathUtils/CMakeLists.txt
  Common/MathUtils/include/MathUtils/Bracket.h
  Common/MathUtils/include/MathUtils/Primitive2D.h
  Common/MathUtils/include/MathUtils/Utils.h
  Common/MathUtils/src/MathUtilsLinkDef.h
  Common/MathUtils/src/Primitive2D.cxx
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  DataFormats/Reconstruction/src/Track.cxx
  Detectors/GlobalTracking/include/GlobalTracking/MatchTOF.h
  Detectors/GlobalTracking/src/GlobalTrackingLinkDef.h
Owners: @shahor02

Cleanup, use configurable params for TPC/ITS matcher
  Common/MathUtils/CMakeLists.txt
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/Cluster.h
  Detectors/GlobalTracking/CMakeLists.txt
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITSParams.h
  Detectors/GlobalTracking/src/GlobalTrackingLinkDef.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTracking/src/MatchTPCITSParams.cxx
  Detectors/GlobalTrackingWorkflow/include/GlobalTrackingWorkflow/TPCITSMatchingSpec.h
  Detectors/GlobalTrackingWorkflow/src/MatchTPCITSWorkflow.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/tpcits-match-workflow.cxx
  Detectors/ITSMFT/ITS/reconstruction/CMakeLists.txt
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/RecoGeomHelper.h
  Detectors/ITSMFT/ITS/reconstruction/src/RecoGeomHelper.cxx
  macro/run_match_TPCITS.C
Owners: @shahor02, @AliceO2Group/core, @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

Get rid of intermediated matchCand containers + various improvements
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/Cluster.h
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/CompCluster.h
  DataFormats/common/include/CommonDataFormat/InteractionRecord.h
  Detectors/GlobalTracking/CMakeLists.txt
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
  Detectors/ITSMFT/ITS/reconstruction/CMakeLists.txt
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/RecoGeomHelper.h
  Detectors/ITSMFT/ITS/reconstruction/src/ITSReconstructionLinkDef.h
  Detectors/ITSMFT/ITS/reconstruction/src/RecoGeomHelper.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/ChipMappingITS.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02, @iouribelikov, @bovulpes

Extra printing methods for TrackPar
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  DataFormats/Reconstruction/src/Track.cxx
Owners: @shahor02

bookkeeping of seeds
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/RecoGeomHelper.h
  Detectors/ITSMFT/ITS/reconstruction/src/RecoGeomHelper.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/ChipMappingITS.h
Owners: @shahor02, @iouribelikov, @bovulpes, @AliceO2Group/core

Little fixes in the Alpide digitization
  Detectors/ITSMFT/common/base/include/ITSMFTBase/SegmentationAlpide.h
  Detectors/ITSMFT/common/simulation/src/Digitizer.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Cleaning up usage of DPL CompletionPolicy
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  Utilities/Mergers/include/Mergers/MergerBuilder.h
  Utilities/Mergers/src/Merger.cxx
  Utilities/Mergers/src/MergerBuilder.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

fix chamberstatus for O2-1022
  Detectors/TRD/base/include/TRDBase/Calibrations.h
  Detectors/TRD/base/include/TRDBase/ChamberStatus.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

bump CI to rebuild, last failure was due to PHOS test simulation script
  Detectors/TRD/base/include/TRDBase/Calibrations.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

fix for clang
  Detectors/TRD/base/include/TRDBase/Calibrations.h
  Detectors/TRD/base/include/TRDBase/ChamberStatus.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

container not needed yet
  Detectors/TRD/simulation/include/TRDSimulation/Digitizer.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

return ADC array with a constant reference
  Detectors/TRD/base/include/TRDBase/Digit.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

git-clang-format
  Detectors/TRD/simulation/include/TRDSimulation/Digitizer.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

fixed const referece for ArrayADC
  Detectors/TRD/base/include/TRDBase/Digit.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

DPL Analysis: fix issue with Join tables (#2796)
  Framework/Core/include/Framework/AnalysisTask.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Little fixes in the Alpide digitization
  Detectors/ITSMFT/common/base/include/ITSMFTBase/SegmentationAlpide.h
  Detectors/ITSMFT/common/simulation/src/Digitizer.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Add first version of the 2-track secondary vertex reconstruction
  Framework/AnalysisTutorial/CMakeLists.txt
  Framework/AnalysisTutorial/src/vertexinghf/vertexerhf.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

fix for adding collision loop
  Framework/AnalysisTutorial/src/vertexinghf/vertexerhf.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

TPCClusterFinder: Fix illegal read.
  GPU/GPUTracking/TPCClusterFinder/CfUtils.h
Owners: @davidrohr, @AliceO2Group/framework-admins

TPCClusterFinder: Sort cluster by flags as well to compare outputs easier.
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderDump.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL Analysis: add helper to verify AOD files
  Framework/Core/CMakeLists.txt
  Framework/Core/src/verifyAODFile.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fix of MClabels
  Steer/DigitizerWorkflow/src/FDDDigitizerSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fix of embedding
  Steer/DigitizerWorkflow/src/FDDDigitizerSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Add script for standard simulation benchmarks
  CMakeLists.txt
  Utilities/Tools/monitor-mem.sh
  prodtests/CMakeLists.txt
  prodtests/sim_performance_test.sh
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Add missing file
  Utilities/Tools/CMakeLists.txt
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: add helper to verify AOD files
  Framework/Core/CMakeLists.txt
  Framework/Core/src/verifyAODFile.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

TRD: Use of a signal array structure instead of extra time bin for keeping MC label index (#2791)
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/simulation/include/TRDSimulation/Digitizer.h
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

TRD macros updated (#2794)
  Detectors/TRD/macros/CheckDigits.C
  Detectors/TRD/macros/CheckHits.C
Owners: @jolopezl, @bazinski, @AliceO2Group/core

Add script for standard simulation benchmarks
  CMakeLists.txt
  Utilities/Tools/monitor-mem.sh
  prodtests/CMakeLists.txt
  prodtests/sim_performance_test.sh
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Add missing file
  Utilities/Tools/CMakeLists.txt
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Another script to monitor memory evolution
  Utilities/CMakeLists.txt
  Utilities/Tools/monitorMEM.sh
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

[MCH/Mapping] Add utility factory for segmentations
  Detectors/MUON/MCH/Mapping/Factory/CMakeLists.txt
  Detectors/MUON/MCH/Mapping/Factory/README.md
  Detectors/MUON/MCH/Mapping/Factory/include/MCHMappingFactory/CreateSegmentation.h
  Detectors/MUON/MCH/Mapping/Factory/src/CreateSegmentation.cxx
Owners: @aphecetche, @AliceO2Group/core

[MCH/Mapping] Add forEachDualSampa methods
  Detectors/MUON/MCH/Mapping/Interface/include/MCHMappingInterface/CathodeSegmentation.h
  Detectors/MUON/MCH/Mapping/Interface/include/MCHMappingInterface/Segmentation.h
  Detectors/MUON/MCH/Mapping/Interface/include/MCHMappingInterface/Segmentation.inl
Owners: @aphecetche, @AliceO2Group/core

[CMake] Add PRIVATE_LINK_LIBRARIES option to o2_add_library function
  cmake/O2AddLibrary.cmake
Owners: @AliceO2Group/core

DPL Analysis: add helper to verify AOD files (#2802)
  Framework/Core/CMakeLists.txt
  Framework/Core/src/verifyAODFile.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: use int16_t for calo::CellNumber
  Framework/Core/include/Framework/AnalysisDataModel.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: use int16_t for calo::CellNumber (#2805)
  Framework/Core/include/Framework/AnalysisDataModel.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: introduce an AnalysisDataModel specific test
  Framework/Core/CMakeLists.txt
  Framework/Core/test/test_AnalysisDataModel.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Increasing the default value of MostProbablePt, and making it settable
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/CookedTracker.h
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
Owners: @shahor02, @iouribelikov, @bovulpes, @AliceO2Group/core

For anything but gcc, the sqrt() is actually not constexpr...
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core
