Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

Make use of the serialisable key-value store to store/retrieve arbitrary information of the MC event
  DataFormats/simulation/include/SimulationDataFormat/MCEventHeader.h
  DataFormats/simulation/src/MCEventHeader.cxx
Owners: @sawenzel

Populate event header with information of the current Pythia8 event
  Generators/src/GeneratorPythia8.cxx
Owners: @sawenzel

Add strings and function to retrieve verbose error message
  Common/Utils/include/CommonUtils/RootSerializableKeyValueStore.h
Owners: @sawenzel

Generator protocol to updateHeader and notifyEmbedding needs to use o2::dataformat::MCEventHeader
  Generators/include/Generators/Generator.h
  Generators/include/Generators/GeneratorPythia8.h
  Generators/src/Generator.cxx
  Generators/src/GeneratorPythia8.cxx
  run/SimExamples/Adaptive_Pythia8/adaptive_pythia8.macro
  run/SimExamples/AliRoot_AMPT/aliroot_ampt.macro
  run/SimExamples/HF_Embedding_Pythia8/GeneratorHF.macro
  run/SimExamples/Signal_ImpactB/signal_impactb.macro
Owners: @sawenzel, @AliceO2Group/core

embedding_pileup_check: don't assume 'view' label format
  macro/analyzeDigitLabels.C
Owners: @AliceO2Group/core

braces added
  Detectors/PHOS/reconstruction/src/AltroDecoder.cxx
Owners: @peressounko, @kharlov

Change Tau0 max to 10 mm in Pythia8 configurations
  Generators/share/egconfig/pythia8_hf.cfg
  Generators/share/egconfig/pythia8_hi.cfg
  Generators/share/egconfig/pythia8_inel.cfg
  run/SimExamples/Adaptive_Pythia8/pythia8_inel.cfg
  run/SimExamples/Custom_EventInfo/pythia8_inel.cfg
  run/SimExamples/HF_Embedding_Pythia8/pythia8_ccbar.template
  run/SimExamples/Jet_Embedding_Pythia8/pythia8_hard.cfg
Owners: @sawenzel, @AliceO2Group/core

DPL: workaround Ubuntu libc bug
  Framework/Core/include/Framework/Lifetime.h
  Framework/Core/src/CommonMessageBackends.cxx
  Framework/Core/src/DataProcessingDevice.cxx
  Framework/Core/src/DeviceSpecHelpers.cxx
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

[FV0] Trigger inputs
  DataFormats/Detectors/FIT/FV0/include/DataFormatsFV0/BCData.h
  DataFormats/Detectors/FIT/FV0/src/DataFormatsFV0LinkDef.h
  Detectors/FIT/FV0/simulation/include/FV0Simulation/Digitizer.h
  Detectors/FIT/FV0/simulation/src/Digitizer.cxx
  Steer/DigitizerWorkflow/src/FV0DigitWriterSpec.h
  Steer/DigitizerWorkflow/src/FV0DigitizerSpec.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck, @sawenzel, @shahor02, @AliceO2Group/framework-admins

embedding_pileup_check: don't assume 'view' label format
  macro/analyzeDigitLabels.C
Owners: @AliceO2Group/core

Small fixes
  Utilities/Tools/jobutils.sh
  run/o2sim_parallel.cxx
Owners: @AliceO2Group/framework-admins, @AliceO2Group/core

Reorganization of the DQ utility classes
  Analysis/CMakeLists.txt
  Analysis/PWGDQ/CMakeLists.txt
  Analysis/PWGDQ/include/PWGDQCore/AnalysisCompositeCut.h
  Analysis/PWGDQ/include/PWGDQCore/AnalysisCut.h
  Analysis/PWGDQ/include/PWGDQCore/CutsLibrary.h
  Analysis/PWGDQ/include/PWGDQCore/HistogramManager.h
  Analysis/PWGDQ/include/PWGDQCore/HistogramsLibrary.h
  Analysis/PWGDQ/include/PWGDQCore/VarManager.h
  Analysis/PWGDQ/src/AnalysisCompositeCut.cxx
  Analysis/PWGDQ/src/AnalysisCut.cxx
  Analysis/PWGDQ/src/HistogramManager.cxx
  Analysis/PWGDQ/src/PWGDQCoreLinkDef.h
  Analysis/PWGDQ/src/VarManager.cxx
  Analysis/Tasks/PWGDQ/CMakeLists.txt
  Analysis/Tasks/PWGDQ/dileptonEE.cxx
  Analysis/Tasks/PWGDQ/dileptonMuMu.cxx
  Analysis/Tasks/PWGDQ/filterPP.cxx
  Analysis/Tasks/PWGDQ/tableMaker.cxx
  Analysis/Tasks/PWGDQ/tableMakerMuon_pp.cxx
  Analysis/Tasks/PWGDQ/tableMaker_pp.cxx
  Analysis/Tasks/PWGDQ/tableReader.cxx
Owners: @jgrosseo, @iarsene

Revert "Populate event header with information of the current Pythia8 event"
  Generators/src/GeneratorPythia8.cxx
Owners: @sawenzel

[FV0] Trigger inputs
  DataFormats/Detectors/FIT/FV0/include/DataFormatsFV0/BCData.h
  DataFormats/Detectors/FIT/FV0/src/DataFormatsFV0LinkDef.h
  Detectors/FIT/FV0/simulation/include/FV0Simulation/Digitizer.h
  Detectors/FIT/FV0/simulation/src/Digitizer.cxx
  Steer/DigitizerWorkflow/src/FV0DigitWriterSpec.h
  Steer/DigitizerWorkflow/src/FV0DigitizerSpec.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck, @sawenzel, @shahor02, @AliceO2Group/framework-admins

Avoid 2D params in SVertexer configurable params
  Detectors/Vertexing/include/DetectorsVertexing/SVertexerParams.h
  Detectors/Vertexing/src/SVertexer.cxx
Owners: @AliceO2Group/core

Small fixes
  Utilities/Tools/jobutils.sh
  run/o2sim_parallel.cxx
Owners: @AliceO2Group/framework-admins, @AliceO2Group/core

Revert "Populate event header with information of the current Pythia8 event"
  Generators/src/GeneratorPythia8.cxx
Owners: @sawenzel

DPL: publish aod-file-read-path metric
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

Add multiplicity distribution task
  Analysis/Tasks/PWGCF/correlations.cxx
  Analysis/Tasks/PWGCF/filterCF.cxx
  Analysis/Tutorials/CMakeLists.txt
  Analysis/Tutorials/src/multiplicityEventTrackSelection.cxx
Owners: @jgrosseo, @iarsene

o2-sim: Better signal propagation; small fix in jobutils
  Utilities/Tools/jobutils.sh
  run/o2sim_parallel.cxx
Owners: @AliceO2Group/framework-admins, @AliceO2Group/core

Fix typo in setting ulimits of full system test
  prodtests/full-system-test/setenv.sh
Owners: @AliceO2Group/core

Add CPV to full system test
  prodtests/full-system-test/dpl-workflow.sh
  prodtests/full_system_test.sh
Owners: @AliceO2Group/core

Reenable MFT reco in full system test (async part) since it is no longer crashing
  prodtests/full-system-test/dpl-workflow.sh
Owners: @AliceO2Group/core

use filters
  Analysis/Tasks/PWGUD/CMakeLists.txt
  Analysis/Tasks/PWGUD/upcAnalysis.cxx
Owners: @jgrosseo, @iarsene

PWGDQ utility classes moved from AnalysisCore to Analysis/Tasks/PWGDQ (#5138)
  Analysis/CMakeLists.txt
  Analysis/Core/CMakeLists.txt
  Analysis/Core/src/AnalysisCoreLinkDef.h
  Analysis/PWGDQ/CMakeLists.txt
  Analysis/PWGDQ/include/PWGDQCore/AnalysisCompositeCut.h
  Analysis/PWGDQ/include/PWGDQCore/AnalysisCut.h
  Analysis/PWGDQ/include/PWGDQCore/CutsLibrary.h
  Analysis/PWGDQ/include/PWGDQCore/HistogramManager.h
  Analysis/PWGDQ/include/PWGDQCore/HistogramsLibrary.h
  Analysis/PWGDQ/include/PWGDQCore/VarManager.h
  Analysis/PWGDQ/src/AnalysisCompositeCut.cxx
  Analysis/PWGDQ/src/AnalysisCut.cxx
  Analysis/PWGDQ/src/HistogramManager.cxx
  Analysis/PWGDQ/src/PWGDQCoreLinkDef.h
  Analysis/PWGDQ/src/VarManager.cxx
  Analysis/Tasks/PWGDQ/CMakeLists.txt
  Analysis/Tasks/PWGDQ/dileptonEE.cxx
  Analysis/Tasks/PWGDQ/dileptonMuMu.cxx
  Analysis/Tasks/PWGDQ/filterPP.cxx
  Analysis/Tasks/PWGDQ/tableMaker.cxx
  Analysis/Tasks/PWGDQ/tableMakerMuon_pp.cxx
  Analysis/Tasks/PWGDQ/tableMaker_pp.cxx
  Analysis/Tasks/PWGDQ/tableReader.cxx
  Analysis/Tasks/reducedEventAnalysis.cxx
Owners: @jgrosseo, @iarsene

add alien SE
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
Owners: @AliceO2Group/framework-admins

fix to allow iteratorAt on filtered tables
  Framework/Core/include/Framework/ASoA.h
Owners: @AliceO2Group/framework-admins

Avoid 2D params in SVertexer configurable params
  Detectors/Vertexing/include/DetectorsVertexing/SVertexerParams.h
  Detectors/Vertexing/src/SVertexer.cxx
Owners: @AliceO2Group/core

Add CPV to full system test
  prodtests/full-system-test/dpl-workflow.sh
  prodtests/full_system_test.sh
Owners: @AliceO2Group/core

Reenable MFT reco in full system test (async part) since it is no longer crashing
  prodtests/full-system-test/dpl-workflow.sh
Owners: @AliceO2Group/core

Fix typo in setting ulimits of full system test
  prodtests/full-system-test/setenv.sh
Owners: @AliceO2Group/core

DPL: protect against non-existing AnalysisPlugin
  Framework/Core/src/WorkflowHelpers.cxx
Owners: @AliceO2Group/framework-admins

DPL: do not mask errros when generating workflows
  cmake/O2AddWorkflow.cmake
Owners: @AliceO2Group/core

Revert "Revert "Populate event header with information of the current Pythia8 event""
  Generators/src/GeneratorPythia8.cxx
Owners: @sawenzel

O2HitMerger: Use non-owning MCEventHeader
  DataFormats/simulation/include/SimulationDataFormat/MCEventHeader.h
  run/O2HitMerger.h
Owners: @sawenzel, @AliceO2Group/core

o2-sim: Better signal propagation; small fix in jobutils
  Utilities/Tools/jobutils.sh
  run/o2sim_parallel.cxx
Owners: @AliceO2Group/framework-admins, @AliceO2Group/core

Allow multiple test w-flows with non-overlapping TF-ids
  Detectors/TOF/calibration/testWorkflow/DataGeneratorSpec.h
  Detectors/TOF/calibration/testWorkflow/README.md
  Detectors/TOF/calibration/testWorkflow/data-generator-workflow.cxx
Owners: @noferini

add alien SE (#5160)
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
Owners: @AliceO2Group/framework-admins

O2HitMerger: Use non-owning MCEventHeader
  DataFormats/simulation/include/SimulationDataFormat/MCEventHeader.h
  run/O2HitMerger.h
Owners: @sawenzel, @AliceO2Group/core

Revert "Revert "Populate event header with information of the current Pythia8 event""
  Generators/src/GeneratorPythia8.cxx
Owners: @sawenzel
