Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough

DPL: Implementing trigger matcher in the DispatchPolicy
  Framework/Core/include/Framework/DispatchControl.h
  Framework/Core/include/Framework/DispatchPolicy.h
  Framework/Core/include/Framework/MessageContext.h
  Framework/Core/src/DataProcessingDevice.cxx
  Framework/Core/src/DataProcessor.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Extending staggering workflow test
  Framework/Core/test/test_StaggeringWorkflow.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Reducing the number of divisions
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Increasing the default value of MostProbablePt, and making it settable
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/CookedTracker.h
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
Owners: @shahor02, @iouribelikov, @bovulpes, @AliceO2Group/core

Using the "the most probable Pt" when running with zero magnetic field
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
Owners: @shahor02, @iouribelikov, @bovulpes, @AliceO2Group/core

For anything but gcc, the sqrt() is actually not constexpr...
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Output for ITS vertices + standalone reader
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ROFRecord.h
  DataFormats/Detectors/ITSMFT/common/src/ITSMFTDataFormatsLinkDef.h
  Detectors/ITSMFT/ITS/workflow/CMakeLists.txt
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/TrackWriterSpec.h
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/VertexReaderSpec.h
  Detectors/ITSMFT/ITS/workflow/src/CookedTrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackReaderSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackWriterSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/VertexReaderSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

[O2-1049] test_ProcessorOptions flawed termination logic fails
  Framework/Core/test/test_ProcessorOptions.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

[O2-1049] test_ProcessorOptions flawed termination logic fails (#2812)
  Framework/Core/test/test_ProcessorOptions.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fix in InteractionSampler for mu>100
  Steer/include/Steer/InteractionSampler.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fix in InteractionSampler for mu>100
  Steer/include/Steer/InteractionSampler.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Update sim_challenge.sh
  prodtests/sim_challenge.sh
Owners: @AliceO2Group/core

First version of standard sim-reco workflow script (#2809)
  prodtests/CMakeLists.txt
  prodtests/sim_challenge.sh
Owners: @AliceO2Group/core

DPL: small optimization to DataAllocator
  Framework/Core/include/Framework/DataAllocator.h
  Framework/Core/src/DataAllocator.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Macro to analyse and check labels for digits
  macro/CMakeLists.txt
  macro/analyzeDigitLabels.C
  macro/analyzeHits.C
  prodtests/check_embedding_pileup.sh
Owners: @AliceO2Group/core

Macro to analyse and check labels for digits
  macro/CMakeLists.txt
  macro/analyzeDigitLabels.C
  macro/analyzeHits.C
  prodtests/check_embedding_pileup.sh
Owners: @AliceO2Group/core

[CMake] Add PRIVATE_LINK_LIBRARIES option to o2_add_library function
  cmake/O2AddLibrary.cmake
Owners: @AliceO2Group/core

Control of the grooves creation on heat exchangers
  Detectors/ITSMFT/MFT/base/include/MFTBase/Geometry.h
  Detectors/ITSMFT/MFT/base/src/Geometry.cxx
  Detectors/ITSMFT/MFT/base/src/HeatExchanger.cxx
  Detectors/ITSMFT/MFT/simulation/src/Detector.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

[DOC] Trying to get organisation of pages correct in doxygen
  Detectors/MUON/MCH/Contour/README.md
  Detectors/MUON/MCH/Mapping/Factory/README.md
  Detectors/MUON/MCH/Mapping/Impl3/README.md
  Detectors/MUON/MCH/Mapping/README.md
  Detectors/MUON/MCH/Mapping/SegContour/README.md
  Detectors/MUON/MCH/Mapping/test/src/README.md
  Detectors/MUON/MCH/README.md
  Detectors/MUON/MCH/Raw/Decoder/README.md
  Detectors/MUON/MCH/Raw/ElecMap/README.md
  Detectors/MUON/MCH/Raw/README.md
  Detectors/MUON/MCH/Raw/Tools/README.md
  Detectors/MUON/MID/README.md
  Detectors/MUON/README.md
Owners: @aphecetche, @AliceO2Group/core

Macro allowing to duplicate simulated hits
  macro/CMakeLists.txt
  macro/duplicateHits.C
Owners: @AliceO2Group/core

[DOC] Trying to get organisation of pages correct in doxygen
  Detectors/MUON/MCH/Contour/README.md
  Detectors/MUON/MCH/Mapping/Factory/README.md
  Detectors/MUON/MCH/Mapping/Impl3/README.md
  Detectors/MUON/MCH/Mapping/README.md
  Detectors/MUON/MCH/Mapping/SegContour/README.md
  Detectors/MUON/MCH/Mapping/test/src/README.md
  Detectors/MUON/MCH/README.md
  Detectors/MUON/MCH/Raw/Decoder/README.md
  Detectors/MUON/MCH/Raw/ElecMap/README.md
  Detectors/MUON/MCH/Raw/README.md
  Detectors/MUON/MCH/Raw/Tools/README.md
  Detectors/MUON/MID/README.md
  Detectors/MUON/README.md
Owners: @aphecetche, @AliceO2Group/core

Fix alignment in bit-packed struct GBTWord
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/GBTWord.h
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Macro allowing to duplicate simulated hits
  macro/CMakeLists.txt
  macro/duplicateHits.C
Owners: @AliceO2Group/core

Add vertices output also in the standalone its reco macros
  macro/run_trac_ca_its.C
  macro/run_trac_its.C
Owners: @AliceO2Group/core

Install missing GPU TPC Cluster Finder header files
  GPU/GPUTracking/CMakeLists.txt
Owners: @davidrohr, @AliceO2Group/framework-admins

Fix alignment in bit-packed struct GBTWord
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/GBTWord.h
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Add vertices output also in the standalone its reco macros
  macro/run_trac_ca_its.C
  macro/run_trac_its.C
Owners: @AliceO2Group/core

Output for ITS vertices + standalone reader
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ROFRecord.h
  DataFormats/Detectors/ITSMFT/common/src/ITSMFTDataFormatsLinkDef.h
  Detectors/ITSMFT/ITS/workflow/CMakeLists.txt
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/TrackWriterSpec.h
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/VertexReaderSpec.h
  Detectors/ITSMFT/ITS/workflow/src/CookedTrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackReaderSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackWriterSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/VertexReaderSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

DPL: small optimization to DataAllocator (#2817)
  Framework/Core/include/Framework/DataAllocator.h
  Framework/Core/src/DataAllocator.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

FV0 digitization (by Arvind Khuntia & ms)
  DataFormats/Detectors/FIT/FV0/include/DataFormatsFV0/BCData.h
  DataFormats/Detectors/FIT/FV0/include/DataFormatsFV0/ChannelData.h
  DataFormats/Detectors/FIT/FV0/src/BCData.cxx
  DataFormats/Detectors/FIT/FV0/src/ChannelData.cxx
  DataFormats/common/src/CommonDataFormatLinkDef.h
  Detectors/FIT/FV0/CMakeLists.txt
  Detectors/FIT/FV0/macro/CMakeLists.txt
  Detectors/FIT/FV0/macro/readFV0Digits.C
  Detectors/FIT/FV0/simulation/CMakeLists.txt
  Detectors/FIT/FV0/simulation/include/FV0Simulation/DigitizationParameters.h
  Detectors/FIT/FV0/simulation/include/FV0Simulation/Digitizer.h
  Detectors/FIT/FV0/simulation/include/FV0Simulation/MCLabel.h
  Detectors/FIT/FV0/simulation/src/Digitizer.cxx
  Detectors/FIT/FV0/simulation/src/FV0SimulationLinkDef.h
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/FV0DigitWriterSpec.h
  Steer/DigitizerWorkflow/src/FV0DigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/FV0DigitizerSpec.h
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02, @AllaMaevskaya, @jotwinow, @mslupeck

Install missing GPU TPC Cluster Finder header files
  GPU/GPUTracking/CMakeLists.txt
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL Foundation: add support for macOS o2_signpost API
  Framework/Core/src/runDataProcessing.cxx
  Framework/Foundation/CMakeLists.txt
  Framework/Foundation/include/Framework/Signpost.h
  Framework/Foundation/test/test_Signpost.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fix comments
  Common/Constants/include/CommonConstants/Triggers.h
Owners: @shahor02

Drop unwrapped use of gLOGDPL
  Framework/Foundation/test/test_Signpost.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: fix typos in AnalysisDataModel
  Framework/Core/include/Framework/AnalysisDataModel.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

GPU: Fix more possible segfaults in GPU clusterizer
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUTrackingInputProvider.cxx
  GPU/GPUTracking/Global/GPUTrackingInputProvider.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Fix comments (#2826)
  Common/Constants/include/CommonConstants/Triggers.h
Owners: @shahor02

Fix copyright notice
  Framework/Foundation/test/test_Signpost.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Update Signpost.h
  Framework/Foundation/include/Framework/Signpost.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

FV0 digitization (by Arvind Khuntia & ms)
  DataFormats/Detectors/FIT/FV0/include/DataFormatsFV0/BCData.h
  DataFormats/Detectors/FIT/FV0/include/DataFormatsFV0/ChannelData.h
  DataFormats/Detectors/FIT/FV0/src/BCData.cxx
  DataFormats/Detectors/FIT/FV0/src/ChannelData.cxx
  DataFormats/common/src/CommonDataFormatLinkDef.h
  Detectors/FIT/FV0/CMakeLists.txt
  Detectors/FIT/FV0/macro/CMakeLists.txt
  Detectors/FIT/FV0/macro/readFV0Digits.C
  Detectors/FIT/FV0/simulation/CMakeLists.txt
  Detectors/FIT/FV0/simulation/include/FV0Simulation/DigitizationParameters.h
  Detectors/FIT/FV0/simulation/include/FV0Simulation/Digitizer.h
  Detectors/FIT/FV0/simulation/include/FV0Simulation/MCLabel.h
  Detectors/FIT/FV0/simulation/src/Digitizer.cxx
  Detectors/FIT/FV0/simulation/src/FV0SimulationLinkDef.h
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/FV0DigitWriterSpec.h
  Steer/DigitizerWorkflow/src/FV0DigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/FV0DigitizerSpec.h
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02, @AllaMaevskaya, @jotwinow, @mslupeck
