Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

add use-ccdb(-tof) option in digitizer (tof) and TOF workflows
  DataFormats/Detectors/TOF/include/DataFormatsTOF/CalibTimeSlewingParamTOF.h
  DataFormats/Detectors/TOF/src/CalibTimeSlewingParamTOF.cxx
  Detectors/GlobalTracking/include/GlobalTracking/CalibTOF.h
  Detectors/GlobalTracking/src/CalibTOF.cxx
  Detectors/GlobalTrackingWorkflow/tofworkflow/src/tof-reco-workflow.cxx
  Detectors/TOF/base/include/TOFBase/Digit.h
  Detectors/TOF/base/include/TOFBase/Geo.h
  Detectors/TOF/calibration/include/TOFCalibration/CalibTOFapi.h
  Detectors/TOF/calibration/src/CalibTOFapi.cxx
  Detectors/TOF/prototyping/ConvertRun2CalibrationToO2.C
  Detectors/TOF/prototyping/checkTS.C
  Detectors/TOF/prototyping/testCCDB.C
  Detectors/TOF/reconstruction/include/TOFReconstruction/Clusterer.h
  Detectors/TOF/reconstruction/src/Clusterer.cxx
  Detectors/TOF/simulation/include/TOFSimulation/Digitizer.h
  Detectors/TOF/workflow/include/TOFWorkflow/TOFClusterizerSpec.h
  Detectors/TOF/workflow/src/DigitReaderSpec.cxx
  Detectors/TOF/workflow/src/TOFClusterizerSpec.cxx
  Framework/TestWorkflows/src/tof-dummy-ccdb.cxx
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  Steer/DigitizerWorkflow/src/TOFDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/TOFDigitizerSpec.h
  macro/run_calib_tof.C
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02, @noferini

fix macroes headers
  DataFormats/Detectors/TOF/src/CalibTimeSlewingParamTOF.cxx
  Detectors/GlobalTracking/include/GlobalTracking/CalibTOF.h
  Detectors/GlobalTracking/src/CalibTOF.cxx
  Detectors/TOF/calibration/include/TOFCalibration/CalibTOFapi.h
  Detectors/TOF/calibration/src/CalibTOFapi.cxx
  Detectors/TOF/prototyping/checkTS.C
  Detectors/TOF/prototyping/testCCDB.C
  macro/run_calib_tof.C
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02, @noferini

Macros to convert the AliRoot/OCDB calibration to the O2/CCDB format
  DataFormats/Detectors/TOF/include/DataFormatsTOF/CalibTimeSlewingParamTOF.h
  DataFormats/Detectors/TOF/src/CalibTimeSlewingParamTOF.cxx
  Detectors/TOF/calibration/include/TOFcalibration/CalibTOFapi.h
  Detectors/TOF/calibration/src/CalibTOFapi.cxx
  Detectors/TOF/prototyping/CMakeLists.txt
  Detectors/TOF/prototyping/ConvertRun2CalibrationToO2.C
  Detectors/TOF/prototyping/checkTS.C
  cmake/O2RootMacroExclusionList.cmake
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @noferini

Implementation of CalibTOFapi and first use of it in calibration.
  DataFormats/Detectors/TOF/include/DataFormatsTOF/CalibTimeSlewingParamTOF.h
  Detectors/GlobalTracking/CMakeLists.txt
  Detectors/GlobalTracking/include/GlobalTracking/CalibTOF.h
  Detectors/GlobalTracking/src/CalibTOF.cxx
  Detectors/TOF/calibration/CMakeLists.txt
  Detectors/TOF/calibration/include/TOFCalibration/CalibTOFapi.h
  Detectors/TOF/calibration/include/TOFcalibration/CalibTOFapi.h
  Detectors/TOF/calibration/src/CalibTOFapi.cxx
  Detectors/TOF/calibration/src/TOFCalibrationLinkDef.h
  Detectors/TOF/prototyping/ConvertRun2CalibrationToO2.C
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02, @noferini

Using CCDB to calibrate and decalibrate (bug free)
  DataFormats/Detectors/TOF/include/DataFormatsTOF/CalibTimeSlewingParamTOF.h
  DataFormats/Detectors/TOF/src/CalibLHCphaseTOF.cxx
  DataFormats/Detectors/TOF/src/CalibTimeSlewingParamTOF.cxx
  Detectors/GlobalTrackingWorkflow/tofworkflow/src/RecoWorkflowSpec.cxx
  Detectors/GlobalTrackingWorkflow/tofworkflow/src/tof-reco-workflow.cxx
  Detectors/TOF/base/include/TOFBase/Geo.h
  Detectors/TOF/calibration/include/TOFCalibration/CalibTOFapi.h
  Detectors/TOF/calibration/src/CalibTOFapi.cxx
  Detectors/TOF/reconstruction/src/Clusterer.cxx
  Detectors/TOF/simulation/include/TOFSimulation/Digitizer.h
  Detectors/TOF/simulation/src/Digitizer.cxx
  Detectors/TOF/workflow/include/TOFWorkflow/TOFClusterizerSpec.h
  Detectors/TOF/workflow/src/TOFClusterizerSpec.cxx
  Framework/TestWorkflows/src/tof-dummy-ccdb.cxx
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  Steer/DigitizerWorkflow/src/TOFDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/TOFDigitizerSpec.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02, @noferini

Writing TOF calibration to CCDB
  Detectors/GlobalTracking/include/GlobalTracking/CalibTOF.h
  Detectors/GlobalTracking/src/CalibTOF.cxx
  macro/run_calib_tof.C
Owners: @shahor02, @AliceO2Group/core

naming fix in TOF calib api class
  Detectors/TOF/calibration/include/TOFCalibration/CalibTOFapi.h
  Detectors/TOF/calibration/src/CalibTOFapi.cxx
Owners: @noferini, @AliceO2Group/core

Improve the TRD tracking computing speed
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
  GPU/GPUTracking/TRDTracking/GPUTRDTrackerDebug.h
  GPU/GPUTracking/TRDTracking/macros/checkDbgOutput.C
Owners: @davidrohr, @martenole

Register macros in CMake system
  macro/CMakeLists.txt
  macro/analyzeOriginHits.C
Owners: @AliceO2Group/core

Change rounded slats to match the mapping convention
  Detectors/MUON/MCH/Simulation/src/Station345Geometry.cxx
Owners: @aphecetche, @AliceO2Group/core

GPU: Rewrite redundant structs as template
  GPU/GPUTracking/Base/GPUDataTypes.h
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cl
  GPU/GPUTracking/Standalone/qa/genEvents.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Improve the TRD tracking computing speed
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
  GPU/GPUTracking/TRDTracking/GPUTRDTrackerDebug.h
  GPU/GPUTracking/TRDTracking/macros/checkDbgOutput.C
Owners: @davidrohr, @martenole

DPL: properly quit test_SimpleStatefulProcessing01 (#2757)
  Framework/Core/test/test_SimpleStatefulProcessing01.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

changed the signal type to float instead of int
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

GPU: Undefined behavior fixes
  GPU/Common/GPUCommonMath.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Undefined behavior fixes
  GPU/Common/GPUCommonMath.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Rewrite redundant structs as template
  GPU/GPUTracking/Base/GPUDataTypes.h
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cl
  GPU/GPUTracking/Standalone/qa/genEvents.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Using a new reference plane
  Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Using RO frame structures
  Detectors/ITSMFT/ITS/macros/test/CheckDigits.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Fix: suppress obsolete o2::mch::Digit dict.entry in MCHSimulation
  Detectors/MUON/MCH/Simulation/src/MCHSimulationLinkDef.h
Owners: @aphecetche, @AliceO2Group/core

Default assignment and copy constructors suffice
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
Owners: @davidrohr, @martenole

remove unnecessary return
  Detectors/MUON/MCH/Tracking/src/VertexSamplerSpec.cxx
Owners: @aphecetche, @AliceO2Group/core

Fix: suppress obsolete o2::mch::Digit dict.entry in MCHSimulation
  Detectors/MUON/MCH/Simulation/src/MCHSimulationLinkDef.h
Owners: @aphecetche, @AliceO2Group/core

add units
  Detectors/MUON/MCH/Tracking/src/TrackExtrap.h
Owners: @aphecetche, @AliceO2Group/core

New attempt to eliminate unwanted empty README pages in Doxygen documentation - Exclude processing md* files and directories - Changed INPUT back to @CMAKE_SOURCE_DIR@
  doc/doxyfile.in
Owners: @AliceO2Group/core

remove unnecessary try/catch
  Detectors/MUON/MCH/Tracking/src/TrackAtVertexSpec.cxx
Owners: @aphecetche, @AliceO2Group/core

removed map to vector conversion (buggy part) - output correct ADC spectrum
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/simulation/include/TRDSimulation/Digitizer.h
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

Signal endOfStream when ready to quit
  Detectors/TPC/workflow/src/PublisherSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/core

more improvements
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/macros/CheckDigits.C
  Detectors/TRD/simulation/include/TRDSimulation/Digitizer.h
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

Undo change in digit class
  Detectors/TRD/base/include/TRDBase/Digit.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

changed macro and removed debug msgs
  Detectors/TRD/macros/CheckDigits.C
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

New attempt to eliminate unwanted empty README pages in Doxygen documentation (#2768)
  doc/doxyfile.in
Owners: @AliceO2Group/core

changes in macro
  Detectors/TRD/macros/CheckDigits.C
Owners: @jolopezl, @bazinski, @AliceO2Group/core

add compact cubic splines
  GPU/Common/FlatObject.h
  GPU/TPCFastTransformation/CMakeLists.txt
  GPU/TPCFastTransformation/Spline1D.cxx
  GPU/TPCFastTransformation/Spline1D.h
  GPU/TPCFastTransformation/Spline2D.cxx
  GPU/TPCFastTransformation/Spline2D.h
  GPU/TPCFastTransformation/SplineHelper1D.cxx
  GPU/TPCFastTransformation/SplineHelper1D.h
  GPU/TPCFastTransformation/SplineHelper2D.cxx
  GPU/TPCFastTransformation/SplineHelper2D.h
  GPU/TPCFastTransformation/TPCFastTransformationLinkDef_O2.h
  GPU/TPCFastTransformation/macro/SplineDemo.C
  GPU/TPCFastTransformation/test/testSplines.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins, @sgorbuno

Drop evId in the ROFRecord for ITS,MFT
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ROFRecord.h
  DataFormats/Detectors/ITSMFT/common/src/ROFRecord.cxx
  DataFormats/common/include/CommonDataFormat/RangeReference.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02

mv ITSMFT Digit to DataFormatsITSMFT, remove SDigit
  DataFormats/Detectors/ITSMFT/common/CMakeLists.txt
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/Digit.h
  DataFormats/Detectors/ITSMFT/common/src/Digit.cxx
  DataFormats/Detectors/ITSMFT/common/src/ITSMFTDataFormatsLinkDef.h
  Detectors/ITSMFT/ITS/QC/TestDataReaderWorkflow/include/ITSQCDataReaderWorkflow/TestDataReader.h
  Detectors/ITSMFT/ITS/QC/TestDataReaderWorkflow/src/TestDataGetter.cxx
  Detectors/ITSMFT/ITS/macros/EVE/DisplayEvents.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusterShape.C
  Detectors/ITSMFT/ITS/macros/test/CheckDigits.C
  Detectors/ITSMFT/ITS/macros/test/run_digi2rawVarPage_its.C
  Detectors/ITSMFT/ITS/reconstruction/src/TrivialClusterer.cxx
  Detectors/ITSMFT/ITS/reconstruction/src/TrivialClustererTask.cxx
  Detectors/ITSMFT/ITS/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/DigitReaderSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/DigitReaderSpec.cxx
  Detectors/ITSMFT/common/base/CMakeLists.txt
  Detectors/ITSMFT/common/base/include/ITSMFTBase/SDigit.h
  Detectors/ITSMFT/common/base/src/ITSMFTBaseLinkDef.h
  Detectors/ITSMFT/common/base/src/SDigit.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/DigitPixelReader.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/PixelData.h
  Detectors/ITSMFT/common/simulation/include/ITSMFTSimulation/Digitizer.h
  Detectors/ITSMFT/common/simulation/src/Digitizer.cxx
  Steer/DigitizerWorkflow/src/ITSMFTDigitWriterSpec.cxx
  Steer/DigitizerWorkflow/src/ITSMFTDigitizerSpec.cxx
  macro/CheckDigits_mft.C
  macro/readITSDigits.C
  macro/run_CRUDataSkimming_its.C
  macro/run_digi2raw_its.C
  macro/run_digi2raw_mft.C
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

Provide a way to trigger on generated event
  Common/SimConfig/include/SimConfig/SimConfig.h
  Common/SimConfig/src/SimConfig.cxx
  Generators/CMakeLists.txt
  Generators/include/Generators/Generator.h
  Generators/include/Generators/GeneratorHepMC.h
  Generators/include/Generators/GeneratorTGenerator.h
  Generators/include/Generators/Trigger.h
  Generators/include/Generators/TriggerParticle.h
  Generators/include/Generators/TriggerParticleParam.h
  Generators/share/external/multiphi_trigger.C
  Generators/src/Generator.cxx
  Generators/src/GeneratorFactory.cxx
  Generators/src/GeneratorHepMC.cxx
  Generators/src/GeneratorTGenerator.cxx
  Generators/src/GeneratorsLinkDef.h
  Generators/src/Trigger.cxx
  Generators/src/TriggerParticle.cxx
  Generators/src/TriggerParticleParam.cxx
Owners: @sawenzel

Add templated span getter to itsmft::ROFRecord
  DataFormats/Detectors/ITSMFT/common/CMakeLists.txt
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ROFRecord.h
  DataFormats/Detectors/ITSMFT/common/src/ITSMFTDataFormatsLinkDef.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Modify the construction of rounded volumes
  Detectors/MUON/MCH/Simulation/src/Station345Geometry.cxx
Owners: @aphecetche, @AliceO2Group/core

Change rounded slats to match the mapping convention
  Detectors/MUON/MCH/Simulation/src/Station345Geometry.cxx
Owners: @aphecetche, @AliceO2Group/core

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
