Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

TPCClusterFinder: Fix illegal write in noise suppression. Sort cluster before dumping them to file.
  GPU/GPUTracking/TPCClusterFinder/ClusterAccumulator.cxx
  GPU/GPUTracking/TPCClusterFinder/Deconvolution.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderDump.cxx
  GPU/GPUTracking/TPCClusterFinder/NoiseSuppression.cxx
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr, @AliceO2Group/framework-admins

Using the end-of-stream condition in the RootTreeReader/Writer tests (#2785)
  Framework/Utils/test/test_RootTreeReader.cxx
  Framework/Utils/test/test_RootTreeWriterWorkflow.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Trying to pacify Codacy markdown linter
  Detectors/MUON/MCH/Raw/ElecMap/README.md
Owners: @aphecetche, @AliceO2Group/core

Trying to pacify Codacy python linter
  Detectors/MUON/MCH/Raw/ElecMap/src/elecmap.py
Owners: @aphecetche, @AliceO2Group/core

TPCClusterFinder: Dump split charges in debug mode and call second kernel of noise suppression.
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderDump.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

TPCClusterFinder: Fix illegal write in noise suppression. Sort cluster before dumping them to file.
  GPU/GPUTracking/TPCClusterFinder/ClusterAccumulator.cxx
  GPU/GPUTracking/TPCClusterFinder/Deconvolution.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderDump.cxx
  GPU/GPUTracking/TPCClusterFinder/NoiseSuppression.cxx
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr, @AliceO2Group/framework-admins

TPCClusterFinder: Disable shm in deconvolution on cpu builds and more cleanup.
  GPU/GPUTracking/TPCClusterFinder/Clusterizer.cxx
  GPU/GPUTracking/TPCClusterFinder/Deconvolution.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderKernels.h
  GPU/GPUTracking/TPCClusterFinder/PackedCharge.h
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr, @AliceO2Group/framework-admins

[MCH/Mapping] Add utility factory for segmentations
  Detectors/MUON/MCH/Mapping/Factory/CMakeLists.txt
  Detectors/MUON/MCH/Mapping/Factory/README.md
  Detectors/MUON/MCH/Mapping/Factory/include/MCHMappingFactory/CreateSegmentation.h
  Detectors/MUON/MCH/Mapping/Factory/src/CreateSegmentation.cxx
Owners: @aphecetche, @AliceO2Group/core

[MCH/Mapping] Add forEachDualSampa methods
  Detectors/MUON/MCH/Mapping/Interface/include/MCHMappingInterface/CathodeSegmentation.h
  Detectors/MUON/MCH/Mapping/Interface/include/MCHMappingInterface/Segmentation.h
  Detectors/MUON/MCH/Mapping/Interface/include/MCHMappingInterface/Segmentation.inl
Owners: @aphecetche, @AliceO2Group/core

FT0DigitReaderSpec will call EndOfStream to signal termination
  Detectors/FIT/workflow/src/FT0DigitReaderSpec.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck, @AliceO2Group/core

Cleaning up usage of DPL CompletionPolicy
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  Utilities/Mergers/include/Mergers/MergerBuilder.h
  Utilities/Mergers/src/Merger.cxx
  Utilities/Mergers/src/MergerBuilder.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fix: wrong ZEM could be assigned
  Detectors/ZDC/simulation/src/Detector.cxx
Owners: @coppedis, @AliceO2Group/core

TrackTPCITSReaderSpec will call EndOfStream to signal termination
  Detectors/GlobalTrackingWorkflow/src/TrackTPCITSReaderSpec.cxx
Owners: @shahor02

TPCClusterFinder: Fix illegal read.
  GPU/GPUTracking/TPCClusterFinder/CfUtils.h
Owners: @davidrohr, @AliceO2Group/framework-admins

TPCClusterFinder: Sort cluster by flags as well to compare outputs easier.
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderDump.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Fix: do not produce out of bound error when no dictionary loaded
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/TopologyDictionary.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

SignalArray struct created
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/simulation/include/TRDSimulation/Digitizer.h
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

fix chamberstatus for O2-1022
  Detectors/TRD/base/include/TRDBase/Calibrations.h
  Detectors/TRD/base/include/TRDBase/ChamberStatus.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

fix for clang
  Detectors/TRD/base/include/TRDBase/Calibrations.h
  Detectors/TRD/base/include/TRDBase/ChamberStatus.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

Try to lint
  Detectors/MUON/MCH/Raw/ElecMap/src/elecmap.py
Owners: @aphecetche, @AliceO2Group/core

Another script to monitor memory evolution
  Utilities/CMakeLists.txt
  Utilities/Tools/monitorMEM.sh
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Extra printing methods for TrackPar
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  DataFormats/Reconstruction/src/Track.cxx
Owners: @shahor02

Definition/usage of 1D/2D-primitives: circle,bracket,interval
  Common/MathUtils/CMakeLists.txt
  Common/MathUtils/include/MathUtils/Bracket.h
  Common/MathUtils/include/MathUtils/Primitive2D.h
  Common/MathUtils/include/MathUtils/Utils.h
  Common/MathUtils/src/MathUtilsLinkDef.h
  Common/MathUtils/src/Primitive2D.cxx
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  DataFormats/Reconstruction/src/Track.cxx
  Detectors/GlobalTracking/include/GlobalTracking/MatchTOF.h
  Detectors/GlobalTracking/src/GlobalTrackingLinkDef.h
Owners: @shahor02

Get rid of intermediated matchCand containers + various improvements
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/Cluster.h
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/CompCluster.h
  DataFormats/common/include/CommonDataFormat/InteractionRecord.h
  Detectors/GlobalTracking/CMakeLists.txt
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
  Detectors/ITSMFT/ITS/reconstruction/CMakeLists.txt
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/RecoGeomHelper.h
  Detectors/ITSMFT/ITS/reconstruction/src/ITSReconstructionLinkDef.h
  Detectors/ITSMFT/ITS/reconstruction/src/RecoGeomHelper.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/ChipMappingITS.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02, @iouribelikov, @bovulpes

bookkeeping of seeds
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/RecoGeomHelper.h
  Detectors/ITSMFT/ITS/reconstruction/src/RecoGeomHelper.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/ChipMappingITS.h
Owners: @shahor02, @iouribelikov, @bovulpes, @AliceO2Group/core

MatchTPCITS will use span<XXX> instead of vector<XXX> when receiving inputs from DPL
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/Cluster.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02

AfterBurner added (not final yet)
  DataFormats/common/include/CommonDataFormat/InteractionRecord.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/GlobalTrackingLinkDef.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
Owners: @shahor02

Cleanup, use configurable params for TPC/ITS matcher
  Common/MathUtils/CMakeLists.txt
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/Cluster.h
  Detectors/GlobalTracking/CMakeLists.txt
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITSParams.h
  Detectors/GlobalTracking/src/GlobalTrackingLinkDef.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTracking/src/MatchTPCITSParams.cxx
  Detectors/GlobalTrackingWorkflow/include/GlobalTrackingWorkflow/TPCITSMatchingSpec.h
  Detectors/GlobalTrackingWorkflow/src/MatchTPCITSWorkflow.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/tpcits-match-workflow.cxx
  Detectors/ITSMFT/ITS/reconstruction/CMakeLists.txt
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/RecoGeomHelper.h
  Detectors/ITSMFT/ITS/reconstruction/src/RecoGeomHelper.cxx
  macro/run_match_TPCITS.C
Owners: @shahor02, @AliceO2Group/core, @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

remove comment
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

FT0DigitReaderSpec will call EndOfStream to signal termination
  Detectors/FIT/workflow/src/FT0DigitReaderSpec.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck, @AliceO2Group/core

TrackTPCITSReaderSpec will call EndOfStream to signal termination
  Detectors/GlobalTrackingWorkflow/src/TrackTPCITSReaderSpec.cxx
Owners: @shahor02

TRD macros updated
  Detectors/TRD/macros/CheckDigits.C
  Detectors/TRD/macros/CheckHits.C
Owners: @jolopezl, @bazinski, @AliceO2Group/core

count limit restored
  Detectors/TRD/macros/CheckDigits.C
Owners: @jolopezl, @bazinski, @AliceO2Group/core

bump CI to rebuild, last failure was due to PHOS test simulation script
  Detectors/TRD/base/include/TRDBase/Calibrations.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

[MRRTF-89] First version of Electronic Mapping for MCH (#2784)
  Detectors/MUON/MCH/Raw/CMakeLists.txt
  Detectors/MUON/MCH/Raw/ElecMap/CMakeLists.txt
  Detectors/MUON/MCH/Raw/ElecMap/README.md
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/CruLinkId.h
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/DsDetId.h
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/DsElecId.h
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/Mapper.h
  Detectors/MUON/MCH/Raw/ElecMap/src/CH.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH5L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH5R.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH6L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH6R.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH7L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH7R.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CruLinkId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/DsDetId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/DsElecId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/ElectronicMapperDummy.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/ElectronicMapperGenerated.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/ElectronicMapperImplHelper.h
  Detectors/MUON/MCH/Raw/ElecMap/src/Mapper.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/dslist.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/dslist.h
  Detectors/MUON/MCH/Raw/ElecMap/src/elecmap.py
  Detectors/MUON/MCH/Raw/ElecMap/src/gen.sh
  Detectors/MUON/MCH/Raw/ElecMap/src/testCruLinkId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/testDsElecId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/testElectronicMapper.cxx
  Detectors/MUON/MCH/Raw/ImplHelpers/Assertions.h
  Detectors/MUON/MCH/Raw/ImplHelpers/CMakeLists.txt
  Detectors/MUON/MCH/Raw/README.md
  Detectors/MUON/README.md
Owners: @aphecetche, @AliceO2Group/core

Add cmake variable DEFAULT_TEST_OUTPUT_DIRECTORY.
  cmake/O2AddTestWrapper.cmake
Owners: @AliceO2Group/core

Fix: do not produce out of bound error when no dictionary loaded
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/TopologyDictionary.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: fix issue with Join tables
  Framework/Core/include/Framework/AnalysisTask.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

AfterBurner added (not final yet)
  DataFormats/common/include/CommonDataFormat/InteractionRecord.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/GlobalTrackingLinkDef.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
Owners: @shahor02

MatchTPCITS will use span<XXX> instead of vector<XXX> when receiving inputs from DPL
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/Cluster.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
