Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough

Hit - origin count macro (#2753)
  macro/CMakeLists.txt
  macro/analyzeOriginHits.C
Owners: @AliceO2Group/core

Empty shell VMCReplay structure
  CMakeLists.txt
  Detectors/gconfig/CMakeLists.txt
  Detectors/gconfig/VMCReplayConfig.C
  Detectors/gconfig/src/SimSetup.cxx
  Detectors/gconfig/src/VMCReplayConfig.cxx
  VMCReplay/CMakeLists.txt
  VMCReplay/include/VMCReplay/VMCReplay.h
  VMCReplay/src/VMCReplay.cxx
  VMCReplay/src/VMCReplayLinkDef.h
Owners: @AliceO2Group/core

Update travis platform for doxygen generation to bionic to get newer version of doxygen (#2771)
  .travis.yml
  doc/doxyfile.in
Owners: @AliceO2Group/core

Add doc about the retrieval of headers
  CCDB/README.md
Owners: @costing, @Barthelemy, @AliceO2Group/core, @AliceO2Group/framework-admins

Fixes in Doxygen documentation - Corrected instructions in DoxygenInstructions.md - Updated MUON/MID/Raw/exe/README.md to avoid polluting top pages menu
  Detectors/MUON/MID/Raw/exe/README.md
  Detectors/MUON/README.md
  doc/DoxygenInstructions.md
Owners: @aphecetche, @AliceO2Group/core

Add templated span getter to itsmft::ROFRecord
  DataFormats/Detectors/ITSMFT/common/CMakeLists.txt
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ROFRecord.h
  DataFormats/Detectors/ITSMFT/common/src/ITSMFTDataFormatsLinkDef.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Drop evId in the ROFRecord for ITS,MFT
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ROFRecord.h
  DataFormats/Detectors/ITSMFT/common/src/ROFRecord.cxx
  DataFormats/common/include/CommonDataFormat/RangeReference.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02

mv ITSMFT Digit to DataFormatsITSMFT, remove SDigit
  DataFormats/Detectors/ITSMFT/common/CMakeLists.txt
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/Digit.h
  DataFormats/Detectors/ITSMFT/common/src/Digit.cxx
  DataFormats/Detectors/ITSMFT/common/src/ITSMFTDataFormatsLinkDef.h
  Detectors/ITSMFT/ITS/QC/TestDataReaderWorkflow/include/ITSQCDataReaderWorkflow/TestDataReader.h
  Detectors/ITSMFT/ITS/QC/TestDataReaderWorkflow/src/TestDataGetter.cxx
  Detectors/ITSMFT/ITS/macros/EVE/DisplayEvents.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusterShape.C
  Detectors/ITSMFT/ITS/macros/test/CheckDigits.C
  Detectors/ITSMFT/ITS/macros/test/run_digi2rawVarPage_its.C
  Detectors/ITSMFT/ITS/reconstruction/src/TrivialClusterer.cxx
  Detectors/ITSMFT/ITS/reconstruction/src/TrivialClustererTask.cxx
  Detectors/ITSMFT/ITS/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/DigitReaderSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/DigitReaderSpec.cxx
  Detectors/ITSMFT/common/base/CMakeLists.txt
  Detectors/ITSMFT/common/base/include/ITSMFTBase/SDigit.h
  Detectors/ITSMFT/common/base/src/ITSMFTBaseLinkDef.h
  Detectors/ITSMFT/common/base/src/SDigit.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/DigitPixelReader.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/PixelData.h
  Detectors/ITSMFT/common/simulation/include/ITSMFTSimulation/Digitizer.h
  Detectors/ITSMFT/common/simulation/src/Digitizer.cxx
  Steer/DigitizerWorkflow/src/ITSMFTDigitWriterSpec.cxx
  Steer/DigitizerWorkflow/src/ITSMFTDigitizerSpec.cxx
  macro/CheckDigits_mft.C
  macro/readITSDigits.C
  macro/run_CRUDataSkimming_its.C
  macro/run_digi2raw_its.C
  macro/run_digi2raw_mft.C
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

Empty shell VMCReplay structure
  CMakeLists.txt
  Detectors/gconfig/CMakeLists.txt
  Detectors/gconfig/VMCReplayConfig.C
  Detectors/gconfig/src/SimSetup.cxx
  Detectors/gconfig/src/VMCReplayConfig.cxx
  VMCReplay/CMakeLists.txt
  VMCReplay/include/VMCReplay/VMCReplay.h
  VMCReplay/src/VMCReplay.cxx
  VMCReplay/src/VMCReplayLinkDef.h
Owners: @AliceO2Group/core

comment out ccdb failing method
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

use std::move instead of std::vector::insert to merge vectors
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

format fix
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

more format
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/macros/CheckDigits.C
Owners: @jolopezl, @bazinski, @AliceO2Group/core

fix macro compilation
  Detectors/TRD/macros/CheckDigits.C
Owners: @jolopezl, @bazinski, @AliceO2Group/core

remove compilation warning
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

code format once again
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

Signal endOfStream when ready to quit
  Detectors/TPC/workflow/src/PublisherSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/core

DPL Analysis: workaround issue when reading collisions and tracks
  Framework/Core/src/DataProcessingDevice.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fixes in Doxygen documentation - Corrected instructions in DoxygenInstructions.md - Updated MUON/MID/Raw/exe/README.md to avoid polluting top pages menu
  Detectors/MUON/MID/Raw/exe/README.md
  Detectors/MUON/README.md
  doc/DoxygenInstructions.md
Owners: @aphecetche, @AliceO2Group/core

TRD: Fixed ADC spectrum (#2776)
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/macros/CheckDigits.C
  Detectors/TRD/macros/CheckHits.C
  Detectors/TRD/simulation/include/TRDSimulation/Digitizer.h
  Detectors/TRD/simulation/src/Detector.cxx
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

DPL Analysis: do not append outputs twice
  Framework/Core/include/Framework/AnalysisTask.h
  Framework/Core/test/test_AnalysisTask.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Include MCStepLogger as requrirement
  VMCReplay/CMakeLists.txt
  VMCReplay/include/VMCReplay/VMCReplay.h
  VMCReplay/src/VMCReplay.cxx
  dependencies/FindMCStepLogger.cmake
  dependencies/O2SimulationDependencies.cmake
Owners: @AliceO2Group/core

Export geometry earlier
  Steer/include/Steer/O2MCApplicationBase.h
  Steer/src/O2MCApplication.cxx
  macro/build_geometry.C
  macro/o2sim.C
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: workaround issue when reading collisions and tracks (#2779)
  Framework/Core/src/DataProcessingDevice.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Export geometry earlier
  Steer/include/Steer/O2MCApplicationBase.h
  Steer/src/O2MCApplication.cxx
  macro/build_geometry.C
  macro/o2sim.C
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

CCDB: retrieve headers along with the body (O2-863) (#2756)
  CCDB/README.md
  CCDB/include/CCDB/CcdbApi.h
  CCDB/src/CcdbApi.cxx
  CCDB/test/testCcdbApi.cxx
Owners: @costing, @Barthelemy, @AliceO2Group/core, @AliceO2Group/framework-admins

Revert "Empty shell VMCReplay structure"
  CMakeLists.txt
  Detectors/gconfig/CMakeLists.txt
  Detectors/gconfig/VMCReplayConfig.C
  Detectors/gconfig/src/SimSetup.cxx
  Detectors/gconfig/src/VMCReplayConfig.cxx
  VMCReplay/CMakeLists.txt
  VMCReplay/include/VMCReplay/VMCReplay.h
  VMCReplay/src/VMCReplay.cxx
  VMCReplay/src/VMCReplayLinkDef.h
Owners: @AliceO2Group/core

use spans in ITS clusterization, reconstruction workflows instead of vectors
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/CookedTracker.h
  Detectors/ITSMFT/ITS/reconstruction/src/ClustererTask.cxx
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
  Detectors/ITSMFT/ITS/tracking/include/ITStracking/IOUtils.h
  Detectors/ITSMFT/ITS/tracking/src/IOUtils.cxx
  Detectors/ITSMFT/ITS/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/CookedTrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackWriterSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/MFT/reconstruction/src/ClustererTask.cxx
  Detectors/ITSMFT/MFT/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/TrackWriterSpec.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/DigitPixelReader.h
  Detectors/ITSMFT/common/reconstruction/src/DigitPixelReader.cxx
  macro/run_primary_vertexer_ITS.C
  macro/run_trac_ca_its.C
  macro/run_trac_its.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Actually fix the issue.
  Framework/Core/include/Framework/AnalysisTask.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

cleaning patchpanel.cxx
  Detectors/ITSMFT/MFT/base/src/PatchPanel.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Revert "Empty shell VMCReplay structure"
  CMakeLists.txt
  Detectors/gconfig/CMakeLists.txt
  Detectors/gconfig/VMCReplayConfig.C
  Detectors/gconfig/src/SimSetup.cxx
  Detectors/gconfig/src/VMCReplayConfig.cxx
  VMCReplay/CMakeLists.txt
  VMCReplay/include/VMCReplay/VMCReplay.h
  VMCReplay/src/VMCReplay.cxx
  VMCReplay/src/VMCReplayLinkDef.h
Owners: @AliceO2Group/core

First version of Electronic Mapping for MCH
  Detectors/MUON/MCH/Raw/CMakeLists.txt
  Detectors/MUON/MCH/Raw/ElecMap/CMakeLists.txt
  Detectors/MUON/MCH/Raw/ElecMap/README.md
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/CruLinkId.h
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/DsDetId.h
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/DsElecId.h
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/Mapper.h
  Detectors/MUON/MCH/Raw/ElecMap/src/CH.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH5L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH5R.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH6L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH6R.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH7L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH7R.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CruLinkId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/DsDetId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/DsElecId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/ElectronicMapperDummy.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/ElectronicMapperGenerated.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/ElectronicMapperImplHelper.h
  Detectors/MUON/MCH/Raw/ElecMap/src/Mapper.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/dslist.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/dslist.h
  Detectors/MUON/MCH/Raw/ElecMap/src/elecmap.py
  Detectors/MUON/MCH/Raw/ElecMap/src/gen.sh
  Detectors/MUON/MCH/Raw/ElecMap/src/testCruLinkId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/testDsElecId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/testElectronicMapper.cxx
  Detectors/MUON/MCH/Raw/ImplHelpers/Assertions.h
  Detectors/MUON/MCH/Raw/ImplHelpers/CMakeLists.txt
  Detectors/MUON/MCH/Raw/README.md
  Detectors/MUON/README.md
Owners: @aphecetche, @AliceO2Group/core

use spans in ITS clusterization, reconstruction workflows instead of vectors
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/CookedTracker.h
  Detectors/ITSMFT/ITS/reconstruction/src/ClustererTask.cxx
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
  Detectors/ITSMFT/ITS/tracking/include/ITStracking/IOUtils.h
  Detectors/ITSMFT/ITS/tracking/src/IOUtils.cxx
  Detectors/ITSMFT/ITS/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/CookedTrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackWriterSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/MFT/reconstruction/src/ClustererTask.cxx
  Detectors/ITSMFT/MFT/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/TrackWriterSpec.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/DigitPixelReader.h
  Detectors/ITSMFT/common/reconstruction/src/DigitPixelReader.cxx
  macro/run_primary_vertexer_ITS.C
  macro/run_trac_ca_its.C
  macro/run_trac_its.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

DPL Analysis: do not append outputs twice (#2774)
  Framework/Core/include/Framework/AnalysisTask.h
  Framework/Core/test/test_AnalysisTask.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fix Codacy issue
  Detectors/MUON/MCH/Raw/ElecMap/src/CH.cxx
Owners: @aphecetche, @AliceO2Group/core

Using the end-of-stream condition in the RootTreeReader/Writer tests
  Framework/Utils/test/test_RootTreeReader.cxx
  Framework/Utils/test/test_RootTreeWriterWorkflow.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

implement propagation to vtx with absorber corrections + example spec (#2764)
  Detectors/MUON/MCH/Tracking/CMakeLists.txt
  Detectors/MUON/MCH/Tracking/src/TrackAtVertexSpec.cxx
  Detectors/MUON/MCH/Tracking/src/TrackAtVertexSpec.h
  Detectors/MUON/MCH/Tracking/src/TrackExtrap.cxx
  Detectors/MUON/MCH/Tracking/src/TrackExtrap.h
  Detectors/MUON/MCH/Tracking/src/TrackFinderWorkflow.cxx
  Detectors/MUON/MCH/Tracking/src/VertexSamplerSpec.cxx
  Detectors/MUON/MCH/Tracking/src/VertexSamplerSpec.h
Owners: @aphecetche, @AliceO2Group/core

Fix: wrong ZEM could be assigned
  Detectors/ZDC/simulation/src/Detector.cxx
Owners: @coppedis, @AliceO2Group/core

TPCClusterFinder: Disable shm in deconvolution on cpu builds and more cleanup.
  GPU/GPUTracking/TPCClusterFinder/Clusterizer.cxx
  GPU/GPUTracking/TPCClusterFinder/Deconvolution.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderKernels.h
  GPU/GPUTracking/TPCClusterFinder/PackedCharge.h
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr, @AliceO2Group/framework-admins

TPCClusterFinder: Dump split charges in debug mode and call second kernel of noise suppression.
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderDump.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins
