Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

Fully automatic pileup and embedding feature check
  macro/CMakeLists.txt
  prodtests/CMakeLists.txt
  prodtests/check_embedding_pileup.sh
Owners: @AliceO2Group/core

fix typo
  macro/analyzeDigitLabels.C
Owners: @AliceO2Group/core

added default case in switch of table2tree
  Framework/Core/src/CommonDataProcessors.cxx
  Framework/Core/test/benchmark_Table2Tree.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

GPU: Add counts to cluster compression statistics
  GPU/GPUTracking/DataCompression/GPUTPCClusterStatistics.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL: Improving InputRecord iterator
  Framework/Core/include/Framework/DataRef.h
  Framework/Core/include/Framework/InputRecord.h
  Framework/Core/src/InputRecord.cxx
  Framework/Core/test/test_InputRecord.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

new check script
  prodtests/CMakeLists.txt
  prodtests/check_embedding_pileup_global.sh
Owners: @AliceO2Group/core

add FV0 to digit label check
  macro/CMakeLists.txt
  macro/analyzeDigitLabels.C
Owners: @AliceO2Group/core

DPL GUI: Adapt to new version
  Framework/Core/src/FrameworkGUIDebugger.cxx
  Framework/Core/src/FrameworkGUIDevicesGraph.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: introduce an AnalysisDataModel specific test
  Framework/Core/CMakeLists.txt
  Framework/Core/test/test_AnalysisDataModel.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
