Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

Using the "the most probable Pt" when running with zero magnetic field
  DataFormats/Reconstruction/include/ReconstructionDataFormats/Track.h
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
Owners: @shahor02, @iouribelikov, @bovulpes, @AliceO2Group/core

Reducing the number of divisions
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

clang-format
  Steer/DigitizerWorkflow/src/FDDDigitizerSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: use ROOT datatype when reading 64bit quantities
  Framework/Core/include/Framework/RootTableBuilderHelpers.h
  Framework/Core/include/Framework/TableBuilder.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL: add end of stream to ProcessorOptions test
  Framework/Core/test/test_ProcessorOptions.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

FDD: Fix of MClabels (#2801)
  Steer/DigitizerWorkflow/src/FDDDigitizerSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Default assignment and copy constructors suffice
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
Owners: @davidrohr, @martenole

GPU: Add GPUCommonMath wrapper for popcount builtin
  GPU/Common/GPUCommonMath.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Standalone TPC display should respect max time bin to compute initial camera position
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Enable compiler warnings also for standalone debug build
  GPU/GPUTracking/Standalone/CMakeLists.txt
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Fix gcc9 compiler warning
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
Owners: @davidrohr, @martenole

GPU: Add more debug output
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Improve TPC Zero Suppression Decoder + tests to support 12bit operation
  DataFormats/Detectors/TPC/include/DataFormatsTPC/ZeroSuppression.h
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
  GPU/GPUTracking/TPCClusterFinder/DecodeZS.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: First implementation of GPU TPC Zero-Suppression decoder
  DataFormats/Detectors/TPC/CMakeLists.txt
  DataFormats/Detectors/TPC/include/DataFormatsTPC/ZeroSuppression.h
  DataFormats/Headers/include/Headers/RAWDataHeader.h
  GPU/GPUTracking/Base/GPUDataTypes.h
  GPU/GPUTracking/Base/GPUReconstructionIncludesDevice.h
  GPU/GPUTracking/Base/GPUReconstructionKernels.h
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCGeometry.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/TPCClusterFinder/DecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/DecodeZS.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderKernels.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderKernels.h
Owners: @davidrohr, @AliceO2Group/core, @AliceO2Group/framework-admins

GPU: Add generic input provider for tracking workflow holding input data that is not owned by a single processor
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Global/GPUTrackingInputProvider.cxx
  GPU/GPUTracking/Global/GPUTrackingInputProvider.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add standalone TPC ZS encoder for testing the GPU decoder
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Do not copy memory to/from GPU when current reco step is not running on the GPU
  GPU/GPUTracking/Global/GPUChain.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add filter option to apply zero-suppression on the fly during standalone TPC tracking benchmark
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Disable denormal floats in standalone benchmark
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
  GPU/GPUTracking/Standalone/utils/qmaths_helpers.h
Owners: @davidrohr, @AliceO2Group/framework-admins

Provide a way to trigger on generated event
  Common/SimConfig/include/SimConfig/SimConfig.h
  Common/SimConfig/src/SimConfig.cxx
  Generators/CMakeLists.txt
  Generators/include/Generators/Generator.h
  Generators/include/Generators/GeneratorHepMC.h
  Generators/include/Generators/GeneratorTGenerator.h
  Generators/include/Generators/Trigger.h
  Generators/include/Generators/TriggerParticle.h
  Generators/include/Generators/TriggerParticleParam.h
  Generators/share/external/multiphi_trigger.C
  Generators/src/Generator.cxx
  Generators/src/GeneratorFactory.cxx
  Generators/src/GeneratorHepMC.cxx
  Generators/src/GeneratorTGenerator.cxx
  Generators/src/GeneratorsLinkDef.h
  Generators/src/Trigger.cxx
  Generators/src/TriggerParticle.cxx
  Generators/src/TriggerParticleParam.cxx
Owners: @sawenzel

GPU: Better filling of 8kb Pages in TPC ZS encoder test
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Fix timestamp in benchmark script
  prodtests/sim_performance_test.sh
Owners: @AliceO2Group/core

First version of sim-reco workflow
  prodtests/CMakeLists.txt
  prodtests/sim_challenge.sh
Owners: @AliceO2Group/core

GPU: Add generic input provider for tracking workflow holding input data that is not owned by a single processor
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Global/GPUTrackingInputProvider.cxx
  GPU/GPUTracking/Global/GPUTrackingInputProvider.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add GPUCommonMath wrapper for popcount builtin
  GPU/Common/GPUCommonMath.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: First implementation of GPU TPC Zero-Suppression decoder
  DataFormats/Detectors/TPC/CMakeLists.txt
  DataFormats/Detectors/TPC/include/DataFormatsTPC/ZeroSuppression.h
  DataFormats/Headers/include/Headers/RAWDataHeader.h
  GPU/GPUTracking/Base/GPUDataTypes.h
  GPU/GPUTracking/Base/GPUReconstructionIncludesDevice.h
  GPU/GPUTracking/Base/GPUReconstructionKernels.h
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCGeometry.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/TPCClusterFinder/DecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/DecodeZS.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderKernels.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinderKernels.h
Owners: @davidrohr, @AliceO2Group/core, @AliceO2Group/framework-admins

GPU: Add filter option to apply zero-suppression on the fly during standalone TPC tracking benchmark
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Improve TPC Zero Suppression Decoder + tests to support 12bit operation
  DataFormats/Detectors/TPC/include/DataFormatsTPC/ZeroSuppression.h
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
  GPU/GPUTracking/TPCClusterFinder/DecodeZS.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add more debug output
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Disable denormal floats in standalone benchmark
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
  GPU/GPUTracking/Standalone/utils/qmaths_helpers.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add standalone TPC ZS encoder for testing the GPU decoder
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Enable compiler warnings also for standalone debug build
  GPU/GPUTracking/Standalone/CMakeLists.txt
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Standalone TPC display should respect max time bin to compute initial camera position
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Do not copy memory to/from GPU when current reco step is not running on the GPU
  GPU/GPUTracking/Global/GPUChain.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Better filling of 8kb Pages in TPC ZS encoder test
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Fix gcc9 compiler warning
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
Owners: @davidrohr, @martenole

DPL: add end of stream to ProcessorOptions test (#2808)
  Framework/Core/test/test_ProcessorOptions.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: use ROOT datatype when reading 64bit quantities (#2807)
  Framework/Core/include/Framework/RootTableBuilderHelpers.h
  Framework/Core/include/Framework/TableBuilder.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL: Grouping messages of one computation in multimessages
  Framework/Core/src/DataProcessor.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL: Adding constructor to init framework::Output struct from DataHeader
  Framework/Core/include/Framework/Output.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
