Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @davidrohr, @mfasDa, @peressounko, @kharlov, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @tdietel, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

ITS/MFT ClusterReader treats each tree entry as new TF
  Detectors/ITSMFT/common/workflow/include/ITSMFTWorkflow/ClusterReaderSpec.h
  Detectors/ITSMFT/common/workflow/src/ClusterReaderSpec.cxx
Owners: @iouribelikov, @bovulpes

Make the matbud file an optional option for the tpc workflow temporarily
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

Notify generators of embedding into background
  Generators/include/Generators/Generator.h
  Generators/src/Generator.cxx
  Generators/src/GeneratorHepMC.cxx
  Generators/src/GeneratorPythia8.cxx
  Generators/src/GeneratorTGenerator.cxx
  Generators/src/PrimaryGenerator.cxx
  doc/DetectorSimulation.md
  run/SimExamples/Adaptive_Pythia8/README.md
  run/SimExamples/Adaptive_Pythia8/adaptive_pythia8.macro
  run/SimExamples/Adaptive_Pythia8/pythia8_inel.cfg
  run/SimExamples/Adaptive_Pythia8/run.sh
Owners: @sawenzel, @AliceO2Group/core

Improve timing for benchmarking
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/Clusterer.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/RawPixelDecoder.h
  Detectors/ITSMFT/common/reconstruction/src/Clusterer.cxx
  Detectors/ITSMFT/common/reconstruction/src/RawPixelDecoder.cxx
  Detectors/ITSMFT/common/workflow/include/ITSMFTWorkflow/STFDecoderSpec.h
  Detectors/ITSMFT/common/workflow/src/STFDecoderSpec.cxx
Owners: @iouribelikov, @bovulpes

GPU: TPC ZS on-the-fly encoder must insert empty page with bc/orbit of beginning of TF if needed
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: HLT components should propagate the error when GPU initialization fails
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Merger/GPUTPCGlobalMergerComponent.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackerComponent.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackerComponent.h
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL Analysis: enable of reading/writing of boolean columns (#3399)
  Analysis/Tutorials/src/aodreader.cxx
  Analysis/Tutorials/src/aodwriter.cxx
  Framework/Core/CMakeLists.txt
  Framework/Core/include/Framework/DataAllocator.h
  Framework/Core/include/Framework/TableTreeHelpers.h
  Framework/Core/src/AODReaderHelpers.cxx
  Framework/Core/src/CommonDataProcessors.cxx
  Framework/Core/src/DataAllocator.cxx
  Framework/Core/src/TableTreeHelpers.cxx
  Framework/Core/test/benchmark_TableToTree.cxx
  Framework/Core/test/benchmark_TreeToTable.cxx
  Framework/Core/test/test_TreeToTable.cxx
Owners: @jgrosseo, @AliceO2Group/framework-admins

DPL: reduce chances of cyclic dependencies (#3319)
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

Temporarily disable tests which are not working (and were not ran up to now)
  Detectors/MUON/MCH/Simulation/test/CMakeLists.txt
  Detectors/MUON/MCH/Simulation/test/testDigitMerging.cxx
  Detectors/MUON/MCH/Simulation/test/testDigitization.cxx
  Detectors/MUON/MCH/Simulation/test/testGeometry.cxx
  Detectors/MUON/MCH/Simulation/test/testResponse.cxx
Owners: @aphecetche

Fix: RawFileReader was making 1 extra loop
  Detectors/Raw/include/DetectorsRaw/HBFUtils.h
  Detectors/Raw/src/RawFileReaderWorkflow.cxx
  Detectors/Raw/src/RawFileReaderWorkflow.h
  Detectors/Raw/src/rawfile-reader-workflow.cxx
Owners: @AliceO2Group/core

Macro to collect raw data HBF statistics
  Detectors/Raw/CMakeLists.txt
  Detectors/Raw/README.md
  Detectors/Raw/macro/rawStat.C
Owners: @AliceO2Group/core

Fix for MID raw writer that creates empty raw files on linux
  Detectors/MUON/MID/Workflow/src/RawWriterSpec.cxx
Owners: @aphecetche

Pass configKeyValues to ITS digi2raw
  Detectors/ITSMFT/ITS/simulation/src/digi2raw.cxx
Owners: @iouribelikov, @bovulpes

GPU: template TPC ZSEncoder input to allow timestamps of higher range for multiple TF
  Detectors/TPC/simulation/run/convertDigitsToRawZS.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/framework-admins

GPU: Remove HIP workaround, fixed in compiler
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMergerGPU.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

fix in tof mc label (digitization)
  Detectors/TOF/simulation/src/Digitizer.cxx
Owners: @noferini

make Alpide ROF length multiple of BC
  Detectors/ITSMFT/common/base/include/ITSMFTBase/DPLAlpideParam.h
  Detectors/ITSMFT/common/simulation/include/ITSMFTSimulation/DigiParams.h
Owners: @iouribelikov, @bovulpes

speed up CheckTopologies
  Detectors/ITSMFT/ITS/macros/test/CheckTopologies.C
Owners: @iouribelikov, @bovulpes

GPU: Make Refit retry optional and optionally move it to 2nd pass
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.h
  GPU/GPUTracking/Merger/GPUTPCGMMergerGPU.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.h
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

ITS Vertices Reader treats each tree entry as new TF
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/VertexReaderSpec.h
  Detectors/ITSMFT/ITS/workflow/src/VertexReaderSpec.cxx
Owners: @iouribelikov, @bovulpes

GPU: Read first BC of TF from raw data
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUDataTypes.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/framework-admins

Add RDH mapping for feeId
  Detectors/TPC/base/CMakeLists.txt
  Detectors/TPC/base/include/TPCBase/RDHUtils.h
  Detectors/TPC/base/test/testRDHUtils.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Optionally store loop data for loop interpolation in second pass
  GPU/Common/GPUDefGPUParameters.h
  GPU/GPUTracking/Base/GPUReconstructionKernels.h
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.h
  GPU/GPUTracking/Merger/GPUTPCGMMergerGPU.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMergerGPU.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.h
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Optionally disable root files output of ITS w-flow
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/RecoWorkflow.h
  Detectors/ITSMFT/ITS/workflow/src/RecoWorkflow.cxx
  Detectors/ITSMFT/ITS/workflow/src/its-reco-workflow.cxx
Owners: @iouribelikov, @bovulpes

TPC: Add sector-by-sector option for TPC ZS encoder and do not read MC labels
  Detectors/TPC/simulation/run/convertDigitsToRawZS.cxx
Owners: @davidrohr, @wiechula, @shahor02

Add RDHv6 (default still v4) (#3348)
  DataFormats/Headers/include/Headers/RAWDataHeader.h
  DataFormats/Headers/test/test_RAWDataHeader.cxx
  Detectors/ITSMFT/common/reconstruction/src/GBTLink.cxx
  Detectors/ITSMFT/common/reconstruction/src/RawPixelDecoder.cxx
  Detectors/Raw/include/DetectorsRaw/RDHUtils.h
  Detectors/Raw/src/RDHUtils.cxx
  Detectors/Raw/src/RawFileReader.cxx
  Detectors/Raw/src/RawFileReaderWorkflow.cxx
  Detectors/Raw/test/testRawReaderWriter.cxx
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes, @AliceO2Group/core

GPU: Reorganize GPU launch_bounds and thread count constants per kernel
  GPU/Common/GPUDefGPUParameters.h
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.h
  GPU/GPUTracking/Base/GPUReconstructionDeviceBase.cxx
  GPU/GPUTracking/Base/GPUReconstructionDeviceBase.h
  GPU/GPUTracking/Base/GPUReconstructionKernelMacros.h
  GPU/GPUTracking/Base/GPUReconstructionKernels.h
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.h
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.h
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cxx
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.h
  GPU/GPUTracking/Base/opencl/GPUReconstructionOCL1.cxx
  GPU/GPUTracking/Base/opencl2/GPUReconstructionOCL2.cxx
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.cxx
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.h
  GPU/GPUTracking/Global/GPUChain.cxx
  GPU/GPUTracking/Global/GPUChain.h
  GPU/GPUTracking/Global/GPUChainITS.cxx
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCNeighboursFinder.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletSelector.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDeconvolution.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFPeakFinder.h
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr, @AliceO2Group/framework-admins

Use TPC FEEID mapping for ZS en/decoding
  Detectors/TPC/simulation/run/convertDigitsToRawZS.cxx
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/framework-admins

Fix: output path was ignored in per-layer digi2raw (ok for per-cru)
  Detectors/ITSMFT/ITS/simulation/src/digi2raw.cxx
Owners: @iouribelikov, @bovulpes

Make RDHUtils compile for GPU
  Detectors/Raw/include/DetectorsRaw/RDHUtils.h
  Detectors/Raw/src/RDHUtils.cxx
  Detectors/TPC/base/include/TPCBase/Digit.h
  GPU/GPUTracking/Base/GPURawData.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
Owners: @AliceO2Group/core, @davidrohr, @wiechula, @shahor02, @AliceO2Group/framework-admins

GPU: Add some margin to buffer size estimates for GPU reconstruciton on CPU
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL: keep track of exit status of child processes (O2-1078) (#3350)
  Framework/Core/include/Framework/DeviceInfo.h
  Framework/Core/src/FrameworkGUIDeviceInspector.cxx
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

ITS/MFT Raw data decoding/digitization/clusterization workflow
  Detectors/ITSMFT/common/reconstruction/src/RawPixelDecoder.cxx
  Detectors/ITSMFT/common/workflow/CMakeLists.txt
  Detectors/ITSMFT/common/workflow/include/ITSMFTWorkflow/STFDecoderSpec.h
  Detectors/ITSMFT/common/workflow/src/STFDecoderSpec.cxx
  Detectors/ITSMFT/common/workflow/src/stf-decoder-workflow.cxx
  macro/run_digi2raw_its.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Fix the placements of slat stations
  Detectors/MUON/MCH/Simulation/src/Station345Geometry.cxx
Owners: @aphecetche

Add simple trigger selection based on trigger bit in the vertexerhf task (#3338)
  Analysis/Tasks/vertexerhf.cxx
Owners: @jgrosseo

Skip the creation of the DiskSupport by default
  Detectors/ITSMFT/MFT/base/include/MFTBase/MFTBaseParam.h
Owners: @iouribelikov, @bovulpes

Revert "TPC: Cache TPC ZS data in workflow until full TF is received", not needed anymore
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

Replace ad-hoc constant with correct time frame length during continuous TPC tracking
  Detectors/TPC/reconstruction/include/TPCReconstruction/GPUCATracking.h
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  macro/runCATrackingClusterNative.C
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/core

DPL Analysis: enable customization of internal-dpl-aod-reader with json file (#3375)
  Analysis/Tutorials/src/aodreader.cxx
  Analysis/Tutorials/src/aodwriter.cxx
  Framework/Core/ANALYSIS.md
  Framework/Core/CMakeLists.txt
  Framework/Core/include/Framework/DataInputDirector.h
  Framework/Core/include/Framework/DataOutputDirector.h
  Framework/Core/include/Framework/TableTreeHelpers.h
  Framework/Core/src/AODReaderHelpers.cxx
  Framework/Core/src/CommonDataProcessors.cxx
  Framework/Core/src/DataInputDirector.cxx
  Framework/Core/src/DataOutputDirector.cxx
  Framework/Core/src/WorkflowHelpers.cxx
  Framework/Core/test/test_DataInputDirector.cxx
  Framework/Core/test/test_DataOutputDirector.cxx
Owners: @jgrosseo, @AliceO2Group/framework-admins

GPU: Tune buffer size estimation heuristics
  GPU/GPUTracking/Base/GPUMemorySizeScalers.h
  GPU/GPUTracking/SliceTracker/GPUTPCTracker.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
/DataFormats/Detectors/EMCAL   @mfasDa
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
