Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @vkucera, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @rpezzi, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @martenole, @qgp, @marcovanleeuwen, @mconcas, @coppedis, @knopers8, @chiarazampolli, @jmyrcha, @sgorbuno, @ehellbar, @MichaelLettrich

First working prototype of ITS3 digitiser (#6022)
  DataFormats/simulation/include/SimulationDataFormat/DigitizationContext.h
  Detectors/ITSMFT/common/simulation/include/ITSMFTSimulation/AlpideSimResponse.h
  Detectors/ITSMFT/common/simulation/include/ITSMFTSimulation/ChipDigitsContainer.h
  Detectors/ITSMFT/common/simulation/src/AlpideSimResponse.cxx
  Detectors/ITSMFT/common/simulation/src/ChipDigitsContainer.cxx
  Detectors/Upgrades/IT3/CMakeLists.txt
  Detectors/Upgrades/IT3/base/CMakeLists.txt
  Detectors/Upgrades/IT3/base/include/ITS3Base/SegmentationSuperAlpide.h
  Detectors/Upgrades/IT3/base/src/GeometryTGeo.cxx
  Detectors/Upgrades/IT3/base/src/SegmentationSuperAlpide.cxx
  Detectors/Upgrades/IT3/macros/test/CMakeLists.txt
  Detectors/Upgrades/IT3/macros/test/CheckDigitsITS3.C
  Detectors/Upgrades/IT3/simulation/CMakeLists.txt
  Detectors/Upgrades/IT3/simulation/include/ITS3Simulation/Digitizer.h
  Detectors/Upgrades/IT3/simulation/src/Digitizer.cxx
  Detectors/Upgrades/IT3/simulation/src/ITS3SimulationLinkDef.h
  Detectors/Upgrades/IT3/workflow/CMakeLists.txt
  Detectors/Upgrades/IT3/workflow/include/ITS3Workflow/DigitReaderSpec.h
  Detectors/Upgrades/IT3/workflow/include/ITS3Workflow/DigitWriterSpec.h
  Detectors/Upgrades/IT3/workflow/src/DigitReaderSpec.cxx
  Detectors/Upgrades/IT3/workflow/src/DigitWriterSpec.cxx
  Detectors/Upgrades/IT3/workflow/src/digit-reader-workflow.cxx
  Detectors/Upgrades/IT3/workflow/src/digit-writer-workflow.cxx
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/ITS3DigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/ITS3DigitizerSpec.h
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
Owners: @sawenzel, @iouribelikov, @bovulpes, @rpezzi, @qgp, @marcovanleeuwen, @mconcas, @shahor02

Add SVertexReader to InputHelper
  Detectors/GlobalTrackingWorkflow/helpers/include/GlobalTrackingWorkflowHelpers/InputHelper.h
  Detectors/GlobalTrackingWorkflow/helpers/src/InputHelper.cxx
Owners: @shahor02

Modify internal layout of RecoContainer, add fwd-declared getters and support for S-vertices
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainerCreateTracksVariadic.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RecoInputContainer.h
  Detectors/GlobalTracking/src/MatchCosmics.cxx
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTrackingWorkflow/readers/include/GlobalTrackingWorkflowReaders/SecondaryVertexReaderSpec.h
  Detectors/GlobalTrackingWorkflow/readers/src/SecondaryVertexReaderSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/PrimaryVertexingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/VertexTrackMatcherSpec.cxx
  Detectors/Vertexing/src/SVertexer.cxx
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @shahor02, @jolopezl, @bazinski, @tdietel, @martenole, @AliceO2Group/core, @davidrohr

Update AODProducerWorkflowSpec.h
  Detectors/AOD/include/AODProducerWorkflow/AODProducerWorkflowSpec.h
Owners: @AliceO2Group/core

Also AliMCEvent is not needed anymore
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
Owners: @davidrohr, @martenole

RecoContainer has some special logic to fetch TOF clusters, must be duplicated in InputHelper
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  Detectors/GlobalTrackingWorkflow/helpers/src/InputHelper.cxx
Owners: @shahor02

Fix crash occurring when MID decoder spec is stopped without having collected data (#6094)
  Detectors/MUON/MID/Workflow/src/RawDecoderSpec.cxx
Owners: @aphecetche

Fix type of aod-timeframe-id to uint64
  Detectors/AOD/include/AODProducerWorkflow/AODProducerWorkflowSpec.h
  Detectors/AOD/src/AODProducerWorkflowSpec.cxx
Owners: @AliceO2Group/core

[MID] Explicitly add direct dependencies (#6093)
  Detectors/MUON/MID/Workflow/CMakeLists.txt
  Detectors/MUON/MID/Workflow/src/DigitReaderSpec.cxx
  Detectors/MUON/MID/Workflow/src/EntropyDecoderSpec.cxx
  Detectors/MUON/MID/Workflow/src/EntropyEncoderSpec.cxx
Owners: @aphecetche

GPUTRDTrack knows the GlobalID of its reference track
  DataFormats/Detectors/TRD/include/DataFormatsTRD/TrackTRD.h
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
  GPU/GPUTracking/DataTypes/GPUTRDTrack.cxx
  GPU/GPUTracking/DataTypes/GPUTRDTrack.h
  GPU/GPUTracking/DataTypes/GPUTRDTrackO2.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
  GPU/GPUTracking/TRDTracking/macros/run_trd_tracker.C
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

GPU Display: Add option to draw only tracks with ITS / TPC / TOF / TRD contribution
  GPU/GPUTracking/Definitions/GPUSettingsList.h
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/GPUTracking/display/GPUDisplay.h
  GPU/GPUTracking/display/GPUDisplayKeys.cxx
Owners: @davidrohr

GPU Display: Fix handling of non alpha-numeric key presses in glfw backend
  GPU/GPUTracking/display/GPUDisplayBackendGlfw.cxx
  GPU/GPUTracking/display/GPUDisplayBackendGlfw.h
  GPU/GPUTracking/display/GPUDisplayBackendX11.cxx
Owners: @davidrohr

GPU Display: act on key press not key release
  GPU/GPUTracking/display/GPUDisplay.h
  GPU/GPUTracking/display/GPUDisplayBackend.cxx
  GPU/GPUTracking/display/GPUDisplayBackend.h
  GPU/GPUTracking/display/GPUDisplayBackendGlfw.cxx
  GPU/GPUTracking/display/GPUDisplayBackendGlut.cxx
  GPU/GPUTracking/display/GPUDisplayBackendWindows.cxx
  GPU/GPUTracking/display/GPUDisplayBackendX11.cxx
  GPU/GPUTracking/display/GPUDisplayKeys.cxx
Owners: @davidrohr

TrackPar::setPID will not alter the charge
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackParametrization.h
Owners: @shahor02

PID: rename default PID tables and tasks (#6118)
  Analysis/ALICE3/src/alice3-pidTOF.cxx
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Analysis/DataModel/include/AnalysisDataModel/PID/PIDResponse.h
  Analysis/DataModel/include/AnalysisDataModel/PID/PIDTOF.h
  Analysis/DataModel/src/aodDataModelGraph.cxx
  Analysis/Tasks/PID/CMakeLists.txt
  Analysis/Tasks/PID/pidTOF.cxx
  Analysis/Tasks/PID/pidTOFFull.cxx
  Analysis/Tasks/PID/pidTOFbeta.cxx
  Analysis/Tasks/PID/pidTPC.cxx
  Analysis/Tasks/PID/pidTPCFull.cxx
  Analysis/Tasks/PID/qaTOFMC.cxx
  Analysis/Tasks/PWGDQ/filterPP.cxx
  Analysis/Tasks/PWGDQ/tableMaker.cxx
  Analysis/Tasks/PWGDQ/v0selector.cxx
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
  Analysis/Tasks/PWGLF/spectraTOF.cxx
  Analysis/Tasks/PWGLF/spectraTOFtiny.cxx
  Analysis/Tasks/PWGLF/spectraTPC.cxx
  Analysis/Tasks/PWGLF/spectraTPCPiKaPr.cxx
  Analysis/Tasks/PWGLF/spectraTPCtiny.cxx
  Analysis/Tasks/PWGLF/spectraTPCtinyPiKaPr.cxx
  Analysis/Tasks/SkimmingTutorials/spectraNucleiProvider.cxx
  Analysis/Tasks/SkimmingTutorials/spectraNucleiReference.cxx
  Analysis/Tasks/SkimmingTutorials/spectraTPCProvider.cxx
  Analysis/Tasks/SkimmingTutorials/spectraTPCReference.cxx
Owners: @jgrosseo, @iarsene

Fix check on enabled tables
  Analysis/Tasks/PID/pidTOF.cxx
  Analysis/Tasks/PID/pidTOFFull.cxx
  Analysis/Tasks/PID/pidTPC.cxx
  Analysis/Tasks/PID/pidTPCFull.cxx
Owners: @jgrosseo, @iarsene

DPL: improve documentation for DPL metrics
  Framework/Core/COOKBOOK.md
Owners: @AliceO2Group/framework-admins

Changes to enable the use of fwdtrack model in the DQ analysis framework; Added computation of 2-track secondary vertices using the DCAFitterN (#6132)
  Analysis/DataModel/include/AnalysisDataModel/ReducedInfoTables.h
  Analysis/PWGDQ/CMakeLists.txt
  Analysis/PWGDQ/include/PWGDQCore/CutsLibrary.h
  Analysis/PWGDQ/include/PWGDQCore/HistogramsLibrary.h
  Analysis/PWGDQ/include/PWGDQCore/VarManager.h
  Analysis/PWGDQ/src/VarManager.cxx
  Analysis/Tasks/PWGDQ/tableMaker.cxx
  Analysis/Tasks/PWGDQ/tableMakerMuon_pp.cxx
  Analysis/Tasks/PWGDQ/tableReader.cxx
  Framework/Core/src/AODReaderHelpers.cxx
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

DPL: introduce accumulated metric for total bytes processed
  Framework/Core/COOKBOOK.md
  Framework/Core/include/Framework/DataProcessingStats.h
  Framework/Core/src/CommonServices.cxx
  Framework/Core/src/DataProcessingDevice.cxx
Owners: @AliceO2Group/framework-admins

GPU Display: reorganize some keys, remove dupicate bindings, free some keys
  GPU/GPUTracking/display/GPUDisplayBackend.h
  GPU/GPUTracking/display/GPUDisplayKeys.cxx
Owners: @davidrohr

GPUWorkflowHelper: fix some nullptr derefencing / missing data when only part of the input traks are selected
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @davidrohr

Fix event time calculation for first orbit of TF != 0
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RecoInputContainer.h
Owners: @jolopezl, @bazinski, @tdietel, @martenole

Use track filtering provided by GPUWorkflowHelper
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole

Track filtering done by TRDGlobalTrackingSpec
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
Owners: @davidrohr, @martenole

TRD tracker uses GPUWorkflowHelper to load the input
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RecoInputContainer.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/GlobalTrackID.h
  Detectors/TRD/workflow/CMakeLists.txt
  Detectors/TRD/workflow/include/TRDWorkflow/TRDGlobalTrackingSpec.h
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @shahor02, @davidrohr

DPL: Propagate labels to DeviceSpec
  Framework/Core/include/Framework/DeviceSpec.h
  Framework/Core/src/DeviceSpecHelpers.cxx
  Framework/Core/src/WorkflowSerializationHelpers.cxx
  Framework/Core/test/test_WorkflowSerialization.cxx
Owners: @AliceO2Group/framework-admins

MID raw data checker workflow (#6127)
  Detectors/MUON/MID/Workflow/CMakeLists.txt
  Detectors/MUON/MID/Workflow/include/MIDWorkflow/RawCheckerSpec.h
  Detectors/MUON/MID/Workflow/src/RawCheckerSpec.cxx
  Detectors/MUON/MID/Workflow/src/raw-checker-workflow.cxx
Owners: @aphecetche

Move TRD track reader/writer to TRDWorkflowIO
  Detectors/GlobalTrackingWorkflow/helpers/CMakeLists.txt
  Detectors/GlobalTrackingWorkflow/helpers/src/InputHelper.cxx
  Detectors/TRD/workflow/CMakeLists.txt
  Detectors/TRD/workflow/io/CMakeLists.txt
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDTrackReaderSpec.h
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDTrackWriterSpec.h
  Detectors/TRD/workflow/io/src/TRDTrackReaderSpec.cxx
  Detectors/TRD/workflow/io/src/TRDTrackWriterSpec.cxx
  Detectors/TRD/workflow/io/src/trd-track-reader-workflow.cxx
  Detectors/TRD/workflow/src/TRDTrackingWorkflow.cxx
Owners: @shahor02, @jolopezl, @bazinski, @tdietel, @martenole

DPL: fix off by one error in metrics
  Framework/Core/src/ArrowSupport.cxx
Owners: @AliceO2Group/framework-admins

Add TRD track trigger record
  DataFormats/Detectors/TRD/CMakeLists.txt
  DataFormats/Detectors/TRD/include/DataFormatsTRD/TrackTriggerRecord.h
  DataFormats/Detectors/TRD/src/DataFormatsTRDLinkDef.h
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDTrackReaderSpec.h
  Detectors/TRD/workflow/io/src/TRDTrackReaderSpec.cxx
  Detectors/TRD/workflow/io/src/TRDTrackWriterSpec.cxx
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
  GPU/GPUTracking/DataTypes/GPUTRDTrack.cxx
  GPU/GPUTracking/DataTypes/GPUTRDTrack.h
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

DPL GUI: use id rather than device name to identify metrics
  Framework/GUISupport/src/FrameworkGUIDebugger.cxx
Owners: @AliceO2Group/framework-admins

Possibility to retry to calibrate with a lower frequency than the update interval
  Detectors/Calibration/include/DetectorsCalibration/TimeSlotCalibration.h
  Detectors/TOF/calibration/include/TOFCalibration/TOFChannelCalibrator.h
  Detectors/TOF/calibration/src/TOFChannelCalibrator.cxx
  Detectors/TOF/calibration/testWorkflow/TOFCalibCollectorSpec.h
  Detectors/TOF/calibration/testWorkflow/TOFChannelCalibratorSpec.h
  Detectors/TOF/calibration/testWorkflow/tof-calib-workflow.cxx
Owners: @chiarazampolli, @shahor02, @noferini

path for collisioncontext can be set via NameConf.mDirCollContext
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/NameConf.h
  DataFormats/Detectors/Common/src/NameConf.cxx
  DataFormats/simulation/include/SimulationDataFormat/DigitizationContext.h
  Detectors/GlobalTrackingWorkflow/src/PrimaryVertexingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
Owners: @AliceO2Group/framework-admins, @sawenzel, @shahor02

TOF channel calibration using cosmics
  DataFormats/Detectors/TOF/include/DataFormatsTOF/CosmicInfo.h
  DataFormats/Detectors/TOF/src/DataFormatsTOFLinkDef.h
  Detectors/TOF/calibration/include/TOFCalibration/TOFCalibCollector.h
  Detectors/TOF/calibration/include/TOFCalibration/TOFChannelCalibrator.h
  Detectors/TOF/calibration/src/TOFCalibCollector.cxx
  Detectors/TOF/calibration/src/TOFCalibrationLinkDef.h
  Detectors/TOF/calibration/src/TOFChannelCalibrator.cxx
  Detectors/TOF/calibration/testWorkflow/TOFChannelCalibratorSpec.h
  Detectors/TOF/calibration/testWorkflow/tof-calib-workflow.cxx
  Detectors/TOF/calibration/testWorkflow/tof-channel-calib-workflow.cxx
  Detectors/TOF/reconstruction/include/TOFReconstruction/CosmicProcessor.h
  Detectors/TOF/reconstruction/src/CosmicProcessor.cxx
  Detectors/TOF/workflow/src/TOFCalClusInfoWriterSpec.cxx
  Detectors/TOF/workflow/src/TOFClusterizerSpec.cxx
Owners: @noferini

Possibility to calibrate with 1 slot valid till infinity and update when ready
  Detectors/Calibration/README.md
  Detectors/Calibration/include/DetectorsCalibration/TimeSlotCalibration.h
  Detectors/TOF/calibration/include/TOFCalibration/TOFChannelCalibrator.h
  Detectors/TOF/calibration/src/TOFChannelCalibrator.cxx
  Detectors/TOF/calibration/testWorkflow/README.md
  Detectors/TOF/calibration/testWorkflow/TOFCalibCollectorSpec.h
  Detectors/TOF/calibration/testWorkflow/TOFChannelCalibratorSpec.h
  Detectors/TOF/workflow/src/CalibClusReaderSpec.cxx
Owners: @chiarazampolli, @shahor02, @noferini

GPU: Fix headers for CUDA RTC compilation
  GPU/Common/GPUCommonTypeTraits.h
  GPU/GPUTracking/Base/GPUParam.cxx
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDAIncludes.h
Owners: @davidrohr

make sure MFT digi2raw creates 1 file per link if requested
  Detectors/ITSMFT/MFT/simulation/src/digi2raw.cxx
Owners: @iouribelikov, @bovulpes, @rpezzi

Do not start CTFwriter if detectors mask is empty
  Detectors/CTF/workflow/src/ctf-writer-workflow.cxx
Owners: @AliceO2Group/core

Fix in TPC-ITS matching: cleaunup of prev TF reco buffers was incomplete (#6141)
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
Owners: @shahor02

Both TRD output track types get own trigger record
  Detectors/TRD/workflow/include/TRDWorkflow/TRDGlobalTrackingSpec.h
  Detectors/TRD/workflow/io/src/TRDTrackReaderSpec.cxx
  Detectors/TRD/workflow/io/src/TRDTrackWriterSpec.cxx
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen @vkucera
/Analysis/Tasks/PWGHF  @ginnocen @vkucera

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/CTP                     @shahor02
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/QualityControl    @knopers8 @Barthelemy @chiarazampolli
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Calibration             @chiarazampolli @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
