Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

add cosmics option to macro/run_trac_ca_its.C
  macro/run_trac_ca_its.C
Owners: @AliceO2Group/core

--tracking-mode selects ITS CA tracking mode (sync, async, cosmics)
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/RecoWorkflow.h
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/TrackerSpec.h
  Detectors/ITSMFT/ITS/workflow/src/RecoWorkflow.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/its-reco-workflow.cxx
  prodtests/full-system-test/dpl-workflow.sh
  prodtests/sim_challenge.sh
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

change spec
  Detectors/HMPID/base/include/HMPIDBase/Geo.h
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

Use global track indices for cross-detector matches
  DataFormats/Reconstruction/include/ReconstructionDataFormats/GlobalTrackID.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/MatchInfoTOF.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackTPCITS.h
  DataFormats/Reconstruction/src/ReconstructionDataFormatsLinkDef.h
  DataFormats/Reconstruction/src/TrackTPCITS.cxx
  DataFormats/common/include/CommonDataFormat/AbstractRef.h
  DataFormats/common/test/testAbstractRefAccessor.cxx
  Detectors/GlobalTracking/include/GlobalTracking/MatchTOF.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTOF.cxx
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/TPC/calibration/SpacePoints/src/TrackInterpolation.cxx
  Detectors/Vertexing/include/DetectorsVertexing/PVertexer.h
  Detectors/Vertexing/include/DetectorsVertexing/PVertexerHelpers.h
  Detectors/Vertexing/src/PVertexer.cxx
  macro/checkTOFMatching.C
Owners: @shahor02, @davidrohr, @wiechula, @AliceO2Group/core

Fix: increment MCEventHeader class version
  DataFormats/simulation/include/SimulationDataFormat/MCEventHeader.h
Owners: @sawenzel

Fix: increment MCEventHeader class version
  DataFormats/simulation/include/SimulationDataFormat/MCEventHeader.h
Owners: @sawenzel

Fix codechecker warnings (#5272)
  Detectors/ITSMFT/ITS/tracking/cuda/include/ITStrackingCUDA/PrimaryVertexContextNV.h
  Detectors/ITSMFT/ITS/tracking/cuda/include/ITStrackingCUDA/VertexerTraitsGPU.h
  Detectors/ITSMFT/ITS/tracking/cuda/src/VertexerTraitsGPU.cu
  Detectors/ITSMFT/ITS/tracking/hip/include/ITStrackingHIP/UniquePointerHIP.h
  Detectors/ITSMFT/ITS/tracking/hip/include/ITStrackingHIP/UtilsHIP.h
  Detectors/ITSMFT/ITS/tracking/hip/include/ITStrackingHIP/VectorHIP.h
  Detectors/ITSMFT/ITS/tracking/hip/include/ITStrackingHIP/VertexerTraitsHIP.h
  Detectors/ITSMFT/ITS/tracking/hip/src/ContextHIP.hip.cxx
  Detectors/ITSMFT/ITS/tracking/hip/src/DeviceStoreVertexerHIP.hip.cxx
  Detectors/ITSMFT/ITS/tracking/hip/src/UtilsHIP.hip.cxx
  Detectors/ITSMFT/ITS/tracking/hip/src/VertexerTraitsHIP.hip.cxx
Owners: @iouribelikov, @bovulpes

DPL: consolidated Variant conversions (#5236)
  Framework/Core/include/Framework/ConfigParamRegistry.h
  Framework/Core/include/Framework/VariantJSONHelpers.h
  Framework/Core/include/Framework/VariantPropertyTreeHelpers.h
  Framework/Core/include/Framework/VariantStringHelpers.h
  Framework/Core/src/PropertyTreeHelpers.cxx
  Framework/Core/src/RootConfigParamHelpers.cxx
Owners: @AliceO2Group/framework-admins

StfBuilder ... II attempt
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

1
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

clang fixes
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

2
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

3
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

4
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

5
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

Simplify code
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Correctly measure kernel time with nested OMP threads
  GPU/GPUTracking/Base/GPUReconstructionCPU.h
Owners: @davidrohr

add cosmics option to macro/run_trac_ca_its.C
  macro/run_trac_ca_its.C
Owners: @AliceO2Group/core

--tracking-mode selects ITS CA tracking mode (sync, async, cosmics)
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/RecoWorkflow.h
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/TrackerSpec.h
  Detectors/ITSMFT/ITS/workflow/src/RecoWorkflow.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/its-reco-workflow.cxx
  prodtests/full-system-test/dpl-workflow.sh
  prodtests/sim_challenge.sh
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Use global track indices for cross-detector matches
  DataFormats/Reconstruction/include/ReconstructionDataFormats/GlobalTrackID.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/MatchInfoTOF.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/TrackTPCITS.h
  DataFormats/Reconstruction/src/ReconstructionDataFormatsLinkDef.h
  DataFormats/Reconstruction/src/TrackTPCITS.cxx
  DataFormats/common/include/CommonDataFormat/AbstractRef.h
  DataFormats/common/test/testAbstractRefAccessor.cxx
  Detectors/GlobalTracking/include/GlobalTracking/MatchTOF.h
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTOF.cxx
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/TPC/calibration/SpacePoints/src/TrackInterpolation.cxx
  Detectors/Vertexing/include/DetectorsVertexing/PVertexer.h
  Detectors/Vertexing/include/DetectorsVertexing/PVertexerHelpers.h
  Detectors/Vertexing/src/PVertexer.cxx
  macro/checkTOFMatching.C
Owners: @shahor02, @davidrohr, @wiechula, @AliceO2Group/core

6
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

Fix the Equipment decodinf from FEE-ID field
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

1
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

DPL: refactor how we process control messages
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

2
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

4
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

6
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
Owners: @gvolpe79

7
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
Owners: @gvolpe79

Add simple task dedicated to efficiency and one for QA
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/qaTaskEfficiency.cxx
  Analysis/Tasks/PWGHF/qaTaskSimple.cxx
Owners: @ginnocen

updating nuclei task for skimming (#5275)
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

GPU: Require correct buffer alignment (after fixed in FMQ)
  GPU/GPUTracking/Base/GPUReconstruction.cxx
Owners: @davidrohr

GPU: Don check pointer consistency for 0-size vectors
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

7
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
Owners: @gvolpe79

Fix daughter labels when running parallel merger
  DataFormats/simulation/include/SimulationDataFormat/MCTrack.h
  run/O2HitMerger.h
Owners: @sawenzel, @AliceO2Group/core

8
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

8
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

9
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
Owners: @gvolpe79

12
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
Owners: @gvolpe79

fix
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
  Detectors/HMPID/reconstruction/src/HmpidDecoder.cxx
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

jobutils improvements
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins
