Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @davidrohr, @mfasDa, @peressounko, @kharlov, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @tdietel, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
/DataFormats/Detectors/EMCAL   @mfasDa
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough

Update MCH Raw Data Decoders (in particular UserLogic one)
  Detectors/MUON/MCH/Raw/Common/include/MCHRawCommon/RDHFields.h
  Detectors/MUON/MCH/Raw/Common/include/MCHRawCommon/RDHManip.h
  Detectors/MUON/MCH/Raw/Common/include/MCHRawCommon/SampaCluster.h
  Detectors/MUON/MCH/Raw/Common/include/MCHRawCommon/SampaHeader.h
  Detectors/MUON/MCH/Raw/Common/src/RDHFieldsV4.cxx
  Detectors/MUON/MCH/Raw/Common/src/RDHManip.cxx
  Detectors/MUON/MCH/Raw/Common/src/SampaCluster.cxx
  Detectors/MUON/MCH/Raw/Common/src/SampaHeader.cxx
  Detectors/MUON/MCH/Raw/Common/test/CMakeLists.txt
  Detectors/MUON/MCH/Raw/Decoder/CMakeLists.txt
  Detectors/MUON/MCH/Raw/Decoder/README.md
  Detectors/MUON/MCH/Raw/Decoder/include/MCHRawDecoder/Decoder.h
  Detectors/MUON/MCH/Raw/Decoder/include/MCHRawDecoder/PageDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/BareElinkDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/BareGBTDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/Debug.h
  Detectors/MUON/MCH/Raw/Decoder/src/Decoder.cxx
  Detectors/MUON/MCH/Raw/Decoder/src/DecoderLogic.cxx
  Detectors/MUON/MCH/Raw/Decoder/src/DecoderLogic.h
  Detectors/MUON/MCH/Raw/Decoder/src/PageDecoder.cxx
  Detectors/MUON/MCH/Raw/Decoder/src/PageParser.h
  Detectors/MUON/MCH/Raw/Decoder/src/PayloadDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/UserLogicElinkDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/UserLogicEndpointDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/UserLogicGBTDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/testPageDecoder.cxx
  Detectors/MUON/MCH/Raw/Decoder/src/testUserLogicEndpointDecoder.cxx
  Detectors/MUON/MCH/Raw/ImplHelpers/CMakeLists.txt
  Detectors/MUON/MCH/Raw/ImplHelpers/DumpBuffer.h
  Detectors/MUON/MCH/Raw/Tools/CMakeLists.txt
  Detectors/MUON/MCH/Raw/Tools/README.md
  Detectors/MUON/MCH/Raw/Tools/rawdump.cxx
  Detectors/MUON/MCH/Raw/testdata/RefBufferCRU.cxx
  Testing/Temporary/CTestCostData.txt
Owners: @aphecetche

Replace CruLinkId by FeeLinkId
  Detectors/MUON/MCH/Raw/ElecMap/CMakeLists.txt
  Detectors/MUON/MCH/Raw/ElecMap/README.md
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/DsElecId.h
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/FeeLinkId.h
  Detectors/MUON/MCH/Raw/ElecMap/include/MCHRawElecMap/Mapper.h
  Detectors/MUON/MCH/Raw/ElecMap/src/CH.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH5L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH5R.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH6L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH6R.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH7L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH7R.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CH8L.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/CruLinkId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/DsElecId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/ElectronicMapperDummy.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/ElectronicMapperGenerated.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/ElectronicMapperImplHelper.h
  Detectors/MUON/MCH/Raw/ElecMap/src/FeeLinkId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/elecmap.py
  Detectors/MUON/MCH/Raw/ElecMap/src/gen.sh
  Detectors/MUON/MCH/Raw/ElecMap/src/testDsElecId.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/testElectronicMapper.cxx
  Detectors/MUON/MCH/Raw/ElecMap/src/testFeeLinkId.cxx
  Detectors/MUON/MCH/Raw/Tools/rawdump.cxx
Owners: @aphecetche

Fix for AOD reader (#3296)
  Framework/Core/include/Framework/AnalysisDataModel.h
Owners: @AliceO2Group/framework-admins

macro to check geometry overlaps
  macro/CMakeLists.txt
  macro/checkGeomOverlaps.C
Owners: @AliceO2Group/core

Re-enable check of run_trac_ca_its.C as json.h is fixed (#3305)
  cmake/O2RootMacroExclusionList.cmake
  macro/CMakeLists.txt
Owners: @AliceO2Group/core

GPU: Add option to use only Bz during propagation in certain passes
  GPU/GPUTracking/Base/GPUParam.cxx
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Merger/GPUTPCGMPropagator.cxx
  GPU/GPUTracking/Merger/GPUTPCGMPropagator.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

No particular reason for BaseCluster d-tor to be protected
  DataFormats/Reconstruction/include/ReconstructionDataFormats/BaseCluster.h
Owners: @shahor02

GPU: Make fit in projection settable via rec param
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Improve memory usage debug output
  GPU/GPUTracking/Global/GPUChainTrackingDebugAndProfiling.cxx
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Adapt TPC/ITS matching and workflow to compact ITS cluters
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTrackingWorkflow/CMakeLists.txt
  Detectors/GlobalTrackingWorkflow/include/GlobalTrackingWorkflow/TPCITSMatchingSpec.h
  Detectors/GlobalTrackingWorkflow/src/MatchTPCITSWorkflow.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
  Detectors/ITSMFT/ITS/tracking/include/ITStracking/IOUtils.h
  Detectors/ITSMFT/common/workflow/include/ITSMFTWorkflow/ClusterReaderSpec.h
  Detectors/ITSMFT/common/workflow/src/ClusterReaderSpec.cxx
  macro/run_match_TPCITS.C
Owners: @shahor02, @iouribelikov, @bovulpes, @AliceO2Group/core

GPU: Bugfix, need to update constant parameters on GPU as well
  GPU/GPUTracking/Base/GPUReconstruction.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

promote NameConf::pathExists to class method + extra names
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/NameConf.h
  DataFormats/Detectors/Common/src/NameConf.cxx
Owners: @AliceO2Group/framework-admins

[MCH] Fix an inversion in implementation choice for BareFormat
  Detectors/MUON/MCH/Raw/Decoder/src/PageDecoder.cxx
  Detectors/MUON/MCH/Raw/testdata/RefBufferCRU.cxx
Owners: @aphecetche

GPU: Fix merging of clusters not incrementing cluster index
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add support for warpscan
  GPU/Common/GPUCommonAlgorithm.h
  GPU/GPUTracking/Base/GPUGeneralKernels.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Improve memory usage debug output
  GPU/GPUTracking/Base/GPUReconstruction.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add standalone benchmark option to print out extrapolated time frame performance
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Break track model compression when crossing CE since Zoffset is not known at decoding
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Fixes for Root v6-20-02. Temorary switch off the test of run_trac_its.C. (#3299)
  Detectors/FIT/macros/FT0digits2raw.C
  Detectors/TPC/calibration/macro/preparePedestalFiles.C
  macro/CMakeLists.txt
Owners: @AllaMaevskaya, @jotwinow, @mslupeck, @davidrohr, @wiechula, @shahor02, @AliceO2Group/core

Adding support for objects marked as ROOT serialized in DPL ROOTTreeWriter
  Framework/Utils/include/DPLUtils/RootTreeWriter.h
Owners: @AliceO2Group/framework-admins

[MCH] Fix a bug in findPadPairByPosition.
  Detectors/MUON/MCH/Mapping/Interface/include/MCHMappingInterface/Segmentation.inl
  Detectors/MUON/MCH/Mapping/test/CMakeLists.txt
  Detectors/MUON/MCH/Mapping/test/src/Segmentation.cxx
Owners: @aphecetche

Fix path to volume
  Detectors/MUON/MID/Base/src/GeometryTransformer.cxx
Owners: @aphecetche

Update DetectorSimulation.md
  doc/DetectorSimulation.md
Owners: @AliceO2Group/core

Extend simulation example: Show access to MCKinematics
  run/SimExamples/Jet_Embedding_Pythia8/exampleMCTrackAnalysis.macro
  run/SimExamples/Jet_Embedding_Pythia8/run.sh
Owners: @AliceO2Group/core

Add MC protection to CheckTopologies.C
  Detectors/ITSMFT/ITS/macros/test/CheckTopologies.C
Owners: @iouribelikov, @bovulpes

Send endOfStream on readers job completion
  Detectors/TOF/workflow/src/ClusterReaderSpec.cxx
  Detectors/TPC/workflow/src/TrackReaderSpec.cxx
Owners: @noferini, @davidrohr, @wiechula, @shahor02

DigitizerContext: Check vertex matching
  DataFormats/simulation/include/SimulationDataFormat/DigitizationContext.h
  DataFormats/simulation/include/SimulationDataFormat/MCEventHeader.h
  DataFormats/simulation/src/DigitizationContext.cxx
Owners: @sawenzel

GPU: Fix: Cluster attachment must respect vertex time
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Use AtomicAdd to parallelize offset computation in DecodeZS
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Perform cluster sorting during TPC compression in chunks
  GPU/Common/GPUDefConstantsAndSettings.h
  GPU/Common/GPUDefGPUParameters.h
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.cxx
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.h
  GPU/GPUTracking/DataCompression/TPCClusterDecompressor.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL Analysis: example for Configurable<std::string>
  Analysis/Tasks/vertexerhf.cxx
  Framework/Core/include/Framework/Variant.h
Owners: @jgrosseo, @AliceO2Group/framework-admins

Update DetectorSimulation.md (#3317)
  doc/DetectorSimulation.md
Owners: @AliceO2Group/core

GPU: Fix integer overflow in compression when track model is not in the sector volume
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.cxx
  GPU/GPUTracking/DataCompression/GPUTPCCompressionTrackModel.h
  GPU/GPUTracking/DataCompression/TPCClusterDecompressor.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Rework of the TPC reco workflow to support compressed clusters
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/include/TPCWorkflow/CATrackerSpec.h
  Detectors/TPC/workflow/include/TPCWorkflow/EntropyEncoderSpec.h
  Detectors/TPC/workflow/include/TPCWorkflow/RecoWorkflow.h
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  Detectors/TPC/workflow/src/EntropyEncoderSpec.cxx
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

Split evsel, multiplicity and centrality tasks (#3306)
  Analysis/DataModel/include/Analysis/Centrality.h
  Analysis/DataModel/include/Analysis/EventSelection.h
  Analysis/DataModel/include/Analysis/Multiplicity.h
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/centralityQa.cxx
  Analysis/Tasks/centralityTable.cxx
  Analysis/Tasks/eventSelection.cxx
  Analysis/Tasks/multiplicityQa.cxx
  Analysis/Tasks/multiplicityTable.cxx
Owners: @jgrosseo

loadGeometry should fully rely on NameConf::getGeomFileName(..)
  Detectors/Base/include/DetectorsBase/GeometryManager.h
  Detectors/Base/src/GeometryManager.cxx
  Detectors/Base/test/buildMatBudLUT.C
Owners: @AliceO2Group/framework-admins

GPU: Fix error code
  GPU/Common/GPUDefGPUParameters.h
  GPU/GPUTracking/SliceTracker/GPUTPCStartHitsFinder.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

clang-format
  Detectors/MUON/MCH/Raw/testdata/RefBufferCRU.cxx
Owners: @aphecetche

GPU: Use scratch memory instead of global memory for TPC tracklets during track following
  GPU/Common/GPUDefGPUParameters.h
  GPU/GPUTracking/Base/GPUMemorySizeScalers.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTrackingDebugAndProfiling.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCDef.h
  GPU/GPUTracking/SliceTracker/GPUTPCStartHitsFinder.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTracker.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTracker.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackerDump.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTracklet.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletSelector.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Some fixes for AliRoot, OpenCL, HIP that broke with recent commits
  GPU/Common/GPUDefGPUParameters.h
  GPU/Common/GPULogging.h
  GPU/GPUTracking/Base/GPUConstantMem.h
  GPU/GPUTracking/Base/hip/CMakeLists.txt
  GPU/GPUTracking/Base/opencl/CMakeLists.txt
  GPU/GPUTracking/DataCompression/AliHLTTPCClusterStatComponent.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDDef.h
Owners: @davidrohr, @AliceO2Group/framework-admins, @martenole
