Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

Use OpenMP_CXX instead of OpenMP for modern CMake
  Detectors/TRD/simulation/CMakeLists.txt
  GPU/Common/GPUCommonMath.h
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMergerGPU.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
  GPU/GPUTracking/Standalone/standalone.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTrackerGPU.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @davidrohr, @AliceO2Group/framework-admins, @martenole

Use MacOS FindOpenMP workaround only on MacOS, and only when normal CMake FindOpenMP doesn't work
  dependencies/FindOpenMPMacOS.cmake
  dependencies/O2Dependencies.cmake
Owners: @AliceO2Group/core

Move GRID dimension macros to CommonDefAPI
  GPU/Common/GPUCommonDefAPI.h
  GPU/Common/GPUDef.h
Owners: @davidrohr, @AliceO2Group/framework-admins

fix formating
  GPU/Common/GPUCommonDefAPI.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Fix FPE in continuous tracking with bz=0
  GPU/GPUTracking/Merger/GPUTPCGMPropagator.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackLinearisation.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackParam.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add option to specify nominal Pt for bz=0 (default = 200 MeV)
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Fix OpenCL compiler warnings and remove dead code
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  GPU/Common/GPUCommonDef.h
  GPU/GPUTracking/Base/GPUGeneralKernels.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCNeighboursCleaner.h
  GPU/GPUTracking/SliceTracker/GPUTPCNeighboursFinder.h
  GPU/GPUTracking/SliceTracker/GPUTPCStartHitsFinder.h
  GPU/GPUTracking/SliceTracker/GPUTPCStartHitsSorter.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackLinearisation.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackParam.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletSelector.h
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/core, @AliceO2Group/framework-admins

GPU: Fix OpenCL compiler warnings and remove dead code
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  GPU/Common/GPUCommonDef.h
  GPU/GPUTracking/Base/GPUGeneralKernels.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCNeighboursCleaner.h
  GPU/GPUTracking/SliceTracker/GPUTPCNeighboursFinder.h
  GPU/GPUTracking/SliceTracker/GPUTPCStartHitsFinder.h
  GPU/GPUTracking/SliceTracker/GPUTPCStartHitsSorter.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackLinearisation.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackParam.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletSelector.h
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/core, @AliceO2Group/framework-admins

GPU: Fix FPE in continuous tracking with bz=0
  GPU/GPUTracking/Merger/GPUTPCGMPropagator.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackLinearisation.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackParam.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add option to specify nominal Pt for bz=0 (default = 200 MeV)
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Executable to test the files produced by the CRU w/o user logic
  Detectors/MUON/MID/Raw/CMakeLists.txt
  Detectors/MUON/MID/Raw/exe/CMakeLists.txt
  Detectors/MUON/MID/Raw/exe/CRUBareDataChecker.cxx
  Detectors/MUON/MID/Raw/exe/CRUBareDataChecker.h
  Detectors/MUON/MID/Raw/exe/README.md
  Detectors/MUON/MID/Raw/exe/mid-raw-checker.cxx
  Detectors/MUON/MID/Raw/exe/mid-rawdump.cxx
Owners: @aphecetche, @AliceO2Group/core

MID decoder for raw data obtained without the CRU user logic
  Detectors/MUON/MID/Raw/CMakeLists.txt
  Detectors/MUON/MID/Raw/include/MIDRaw/CRUBareDecoder.h
  Detectors/MUON/MID/Raw/include/MIDRaw/ELinkDecoder.h
  Detectors/MUON/MID/Raw/src/CRUBareDecoder.cxx
  Detectors/MUON/MID/Raw/src/ELinkDecoder.cxx
Owners: @aphecetche, @AliceO2Group/core

Actually quit test when no more data to read
  Framework/Utils/test/test_RootTreeReader.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Actually quit test when no more data to read (#2751)
  Framework/Utils/test/test_RootTreeReader.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

modifications clang
  Detectors/MUON/MCH/Base/include/MCHBase/Digit.h
  Detectors/MUON/MCH/Base/src/Digit.cxx
  Detectors/MUON/MCH/Simulation/src/Response.cxx
Owners: @aphecetche, @AliceO2Group/core

Executable to test the files produced by the CRU w/o user logic
  Detectors/MUON/MID/Raw/CMakeLists.txt
  Detectors/MUON/MID/Raw/exe/CMakeLists.txt
  Detectors/MUON/MID/Raw/exe/CRUBareDataChecker.cxx
  Detectors/MUON/MID/Raw/exe/CRUBareDataChecker.h
  Detectors/MUON/MID/Raw/exe/README.md
  Detectors/MUON/MID/Raw/exe/mid-raw-checker.cxx
  Detectors/MUON/MID/Raw/exe/mid-rawdump.cxx
Owners: @aphecetche, @AliceO2Group/core

MID decoder for raw data obtained without the CRU user logic
  Detectors/MUON/MID/Raw/CMakeLists.txt
  Detectors/MUON/MID/Raw/include/MIDRaw/CRUBareDecoder.h
  Detectors/MUON/MID/Raw/include/MIDRaw/ELinkDecoder.h
  Detectors/MUON/MID/Raw/src/CRUBareDecoder.cxx
  Detectors/MUON/MID/Raw/src/ELinkDecoder.cxx
Owners: @aphecetche, @AliceO2Group/core

shorter accessors for MCTrack
  DataFormats/simulation/include/SimulationDataFormat/MCTrack.h
Owners: @sawenzel

ZDC: Easier hit accounting
  Detectors/ZDC/simulation/include/ZDCSimulation/Detector.h
  Detectors/ZDC/simulation/src/Detector.cxx
Owners: @coppedis, @AliceO2Group/core

ZDC SpatialResponse
  Detectors/ZDC/simulation/CMakeLists.txt
  Detectors/ZDC/simulation/include/ZDCSimulation/Detector.h
  Detectors/ZDC/simulation/include/ZDCSimulation/SpatialPhotonResponse.h
  Detectors/ZDC/simulation/include/ZDCSimulation/ZDCSimParam.h
  Detectors/ZDC/simulation/src/Detector.cxx
  Detectors/ZDC/simulation/src/SpatialPhotonResponse.cxx
  Detectors/ZDC/simulation/src/ZDCSimulationLinkDef.h
Owners: @coppedis, @AliceO2Group/core

Digit moved + integer for adc(#2634)
  Detectors/MUON/MCH/Base/CMakeLists.txt
  Detectors/MUON/MCH/Base/include/MCHBase/Digit.h
  Detectors/MUON/MCH/Base/src/Digit.cxx
  Detectors/MUON/MCH/Base/src/MCHBaseLinkDef.h
  Detectors/MUON/MCH/Simulation/CMakeLists.txt
  Detectors/MUON/MCH/Simulation/include/MCHSimulation/Digitizer.h
  Detectors/MUON/MCH/Simulation/include/MCHSimulation/Response.h
  Detectors/MUON/MCH/Simulation/src/Response.cxx
  Detectors/MUON/MCH/Simulation/test/CMakeLists.txt
  Detectors/MUON/MCH/Simulation/test/DigitMerging.h
  Detectors/MUON/MCH/Simulation/test/benchDigitMerging.cxx
  Detectors/MUON/MCH/Simulation/test/testDigitMerging.cxx
  Detectors/MUON/MCH/Simulation/test/testDigitization.cxx
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/MCHDigitWriterSpec.h
  Steer/DigitizerWorkflow/src/MCHDigitizerSpec.cxx
  run/CMakeLists.txt
Owners: @aphecetche, @AliceO2Group/core, @AliceO2Group/framework-admins

Hit - origin count macro
  macro/analyzeOriginHits.C
Owners: @AliceO2Group/core

Change cmake options for AMD HIP targets
  GPU/GPUTracking/Base/hip/CMakeLists.txt
Owners: @davidrohr, @AliceO2Group/framework-admins

comment formatting
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

improving trd digitizer
  Detectors/TRD/macros/CheckDigits.C
  Detectors/TRD/macros/CheckHits.C
  Detectors/TRD/simulation/src/Detector.cxx
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

Using RO frame structures
  Detectors/ITSMFT/ITS/macros/test/CheckDigits.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Using a new reference plane
  Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

implement propagation to vtx with absorber corrections + example spec
  Detectors/MUON/MCH/Tracking/CMakeLists.txt
  Detectors/MUON/MCH/Tracking/src/TrackAtVertexSpec.cxx
  Detectors/MUON/MCH/Tracking/src/TrackAtVertexSpec.h
  Detectors/MUON/MCH/Tracking/src/TrackExtrap.cxx
  Detectors/MUON/MCH/Tracking/src/TrackExtrap.h
  Detectors/MUON/MCH/Tracking/src/TrackFinderWorkflow.cxx
  Detectors/MUON/MCH/Tracking/src/VertexSamplerSpec.cxx
  Detectors/MUON/MCH/Tracking/src/VertexSamplerSpec.h
Owners: @aphecetche, @AliceO2Group/core

remove the bogus injected hits
  Detectors/ITSMFT/ITS/QC/TestDataReaderWorkflow/src/TestDataReader.cxx
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

Change cmake options for AMD HIP targets
  GPU/GPUTracking/Base/hip/CMakeLists.txt
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL: properly quit test_SimpleStatefulProcessing01
  Framework/Core/test/test_SimpleStatefulProcessing01.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

simulation/reconstruction TCM module
  DataFormats/Detectors/FIT/FT0/include/DataFormatsFT0/RawEventData.h
  Detectors/FIT/FT0/reconstruction/include/FT0Reconstruction/ReadRaw.h
  Detectors/FIT/FT0/reconstruction/src/ReadRaw.cxx
  Detectors/FIT/FT0/simulation/include/FT0Simulation/Digits2Raw.h
  Detectors/FIT/FT0/simulation/src/Digits2Raw.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @AllaMaevskaya, @jotwinow, @mslupeck

fix macroes headers
  DataFormats/Detectors/TOF/src/CalibTimeSlewingParamTOF.cxx
  Detectors/GlobalTracking/include/GlobalTracking/CalibTOF.h
  Detectors/GlobalTracking/src/CalibTOF.cxx
  Detectors/TOF/calibration/include/TOFCalibration/CalibTOFapi.h
  Detectors/TOF/calibration/src/CalibTOFapi.cxx
  Detectors/TOF/prototyping/checkTS.C
  Detectors/TOF/prototyping/testCCDB.C
  macro/run_calib_tof.C
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @shahor02, @noferini

Retrieve headers along with the body (O2-863)
  CCDB/include/CCDB/CcdbApi.h
  CCDB/src/CcdbApi.cxx
  CCDB/test/testCcdbApi.cxx
Owners: @costing, @Barthelemy, @AliceO2Group/core, @AliceO2Group/framework-admins

add back missing tests and remove comment
  CCDB/src/CcdbApi.cxx
  CCDB/test/testCcdbApi.cxx
Owners: @costing, @Barthelemy, @AliceO2Group/core, @AliceO2Group/framework-admins

format
  CCDB/include/CCDB/CcdbApi.h
  CCDB/src/CcdbApi.cxx
Owners: @costing, @Barthelemy, @AliceO2Group/core, @AliceO2Group/framework-admins

Modify the construction of rounded volumes
  Detectors/MUON/MCH/Simulation/src/Station345Geometry.cxx
Owners: @aphecetche, @AliceO2Group/core

usage TFUtils
  DataFormats/Detectors/FIT/FT0/include/DataFormatsFT0/RawEventData.h
  Detectors/FIT/FT0/simulation/include/FT0Simulation/Digits2Raw.h
  Detectors/FIT/FT0/simulation/src/Digits2Raw.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @AllaMaevskaya, @jotwinow, @mslupeck

use correct path for objects
  CCDB/test/testCcdbApi.cxx
Owners: @costing, @Barthelemy, @AliceO2Group/core, @AliceO2Group/framework-admins

Macro to populate CCDB (with comments added to an existing one)
  DataFormats/Detectors/TOF/include/DataFormatsTOF/CalibTimeSlewingParamTOF.h
  Detectors/TOF/CMakeLists.txt
  Detectors/TOF/base/include/TOFBase/Digit.h
  Detectors/TOF/base/include/TOFBase/Geo.h
  Detectors/TOF/calibration/include/TOFCalibration/CalibTOFapi.h
  Detectors/TOF/calibration/src/CalibTOFapi.cxx
  Detectors/TOF/prototyping/CMakeLists.txt
  Detectors/TOF/prototyping/ConvertRun2CalibrationToO2.C
  Detectors/TOF/prototyping/testCCDB.C
  Detectors/TOF/reconstruction/CMakeLists.txt
  Detectors/TOF/reconstruction/include/TOFReconstruction/Clusterer.h
  Detectors/TOF/reconstruction/src/Clusterer.cxx
  Detectors/TOF/simulation/CMakeLists.txt
  Detectors/TOF/simulation/src/Digitizer.cxx
  Detectors/TOF/workflow/src/DigitReaderSpec.cxx
  Detectors/TOF/workflow/src/TOFClusterizerSpec.cxx
  Framework/TestWorkflows/src/tof-dummy-ccdb.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @noferini

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
