Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @davidrohr, @mfasDa, @peressounko, @kharlov, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @tdietel, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
/DataFormats/Detectors/EMCAL   @mfasDa
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough

Fixing test-suite macros
  Detectors/ITSMFT/ITS/macros/EVE/DisplayEvents.C
  Detectors/ITSMFT/ITS/macros/EVE/simple_geom_ITS.C
  Detectors/ITSMFT/ITS/macros/test/CMakeLists.txt
  Detectors/ITSMFT/ITS/macros/test/CheckCOG.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusterShape.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
  Detectors/ITSMFT/ITS/macros/test/CheckDigits.C
  Detectors/ITSMFT/ITS/macros/test/CheckLUtime.C
  Detectors/ITSMFT/ITS/macros/test/CheckLookUp.C
  Detectors/ITSMFT/ITS/macros/test/CheckTopologies.C
  Detectors/ITSMFT/ITS/macros/test/CheckTracks.C
  Detectors/ITSMFT/ITS/macros/test/DisplayTrack.C
  Detectors/ITSMFT/ITS/macros/test/run_buildTopoDict_its.C
  Detectors/ITSMFT/ITS/macros/test/run_test.sh
  macro/run_trac_its.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

GPU TPC: Add another required transformation to utility class (#3274)
  GPU/TPCFastTransformation/TPCFastTransform.h
Owners: @davidrohr, @sgorbuno

GPU: Operate with time offset instead of Z offset when early transform is not set
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  GPU/GPUTracking/ITS/GPUITSFitterKernels.cxx
  GPU/GPUTracking/Merger/GPUTPCGMBorderTrack.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMSliceTrack.cxx
  GPU/GPUTracking/Merger/GPUTPCGMSliceTrack.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.h
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/framework-admins

Fix codechecker errors
  Generators/include/Generators/Generator.h
  Generators/include/Generators/GeneratorPythia6.h
  Generators/src/Generator.cxx
Owners: @sawenzel

Add generic fit on histogrammed array
  Common/MathUtils/include/MathUtils/MathBase.h
  Common/MathUtils/src/MathUtilsLinkDef.h
Owners: @shahor02

Fix bug on MC Labels propagation
  Detectors/ITSMFT/MFT/workflow/src/TrackFitterSpec.cxx
Owners: @iouribelikov, @bovulpes

Update simulation documentation (#3273)
  doc/DetectorSimulation.md
Owners: @AliceO2Group/core

add missing pragma
  Detectors/TPC/calibration/src/TPCCalibrationLinkDef.h
Owners: @davidrohr, @wiechula, @shahor02

DPL: declare DDS collection (#3290)
  Framework/Core/src/DDSConfigHelpers.cxx
  Framework/Core/test/test_FrameworkDataFlowToDDS.cxx
Owners: @AliceO2Group/framework-admins

Adapt TPC-ITS matching to new TPC time0 definition
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
Owners: @shahor02

DPL Analysis: fix aod-writer to use unique list of InputSpec (#3269)
  Framework/Core/src/WorkflowHelpers.cxx
Owners: @AliceO2Group/framework-admins

GPU: TODO entry that ZOffset is missing, bug but not critical for now
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Format extension and improvement
  DataFormats/Detectors/TPC/include/DataFormatsTPC/ZeroSuppressionLinkBased.h
Owners: @davidrohr

some fixes for pile-up simulation and dead time
  DataFormats/Detectors/FIT/FT0/include/DataFormatsFT0/Digit.h
  DataFormats/Detectors/FIT/FT0/include/DataFormatsFT0/RecPoints.h
  Detectors/FIT/FT0/reconstruction/src/ReadRaw.cxx
  Detectors/FIT/FT0/simulation/include/FT0Simulation/DigitizationParameters.h
  Detectors/FIT/FT0/simulation/include/FT0Simulation/Digitizer.h
  Detectors/FIT/FT0/simulation/src/Digitizer.cxx
  Steer/DigitizerWorkflow/src/FT0DigitizerSpec.cxx
Owners: @AliceO2Group/framework-admins, @AllaMaevskaya, @jotwinow, @mslupeck, @sawenzel, @shahor02

Implement raw to digits in DPL
  Detectors/TPC/calibration/include/TPCCalibration/DigitDump.h
  Detectors/TPC/calibration/src/DigitDump.cxx
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/include/TPCWorkflow/RawToDigitsSpec.h
  Detectors/TPC/workflow/src/RawToDigitsSpec.cxx
  Detectors/TPC/workflow/src/tpc-raw-to-digits-workflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Some parameter tuning for NVIDIA Turing
  GPU/Common/GPUDefGPUParameters.h
  GPU/GPUTracking/Base/GPUReconstructionKernels.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Access GPUConstantMem via global __constant__ symbol if available
  GPU/Common/GPUCommonDef.h
  GPU/Common/GPUCommonDefAPI.h
  GPU/GPUTracking/Base/GPUConstantMem.h
  GPU/GPUTracking/Base/GPUProcessor.h
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cl
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: minor fix
  GPU/GPUTracking/Standalone/display/GPUDisplayKeys.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

clang
  Detectors/Passive/src/FrameStructure.cxx
Owners: @sawenzel

Fix the HF task to reject cases where a DCA candidate is not found (#3333)
  Analysis/Tasks/vertexerhf.cxx
Owners: @jgrosseo

GPU TPC: Add interpolation for cluster rejection
  GPU/Common/GPUDefConstantsAndSettings.h
  GPU/Common/GPUDefGPUParameters.h
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.cxx
  GPU/GPUTracking/DataCompression/GPUTPCCompressionTrackModel.cxx
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.h
  GPU/GPUTracking/Merger/GPUTPCGMMergerDump.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMergerTypes.h
  GPU/GPUTracking/Merger/GPUTPCGMPropagator.cxx
  GPU/GPUTracking/Merger/GPUTPCGMPropagator.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.h
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL: add support for string_view / string options
  Framework/Core/include/Framework/ConfigParamRegistry.h
  Framework/Core/include/Framework/Variant.h
  Framework/Core/test/test_Variants.cxx
Owners: @AliceO2Group/framework-admins

use diffused electron coordinate
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @tdietel

Disable MID from simulation performance
  prodtests/sim_performance_test.sh
Owners: @AliceO2Group/core

Adding utilities for flatten/restore for objects with multiple arrays
  Algorithm/CMakeLists.txt
  Algorithm/include/Algorithm/FlattenRestore.h
  Algorithm/test/test_FlattenRestore.cxx
Owners: @matthiasrichter

GPU: Remove obsolete redirection to fake tracklet during global tracking
  GPU/GPUTracking/SliceTracker/GPUTPCTracker.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

From uint8_t to std::byte where relevant
  Detectors/MUON/MCH/Raw/Common/include/MCHRawCommon/RDHManip.h
  Detectors/MUON/MCH/Raw/Common/src/RDHManip.cxx
  Detectors/MUON/MCH/Raw/Common/test/testRDHManip.cxx
  Detectors/MUON/MCH/Raw/Decoder/include/MCHRawDecoder/Decoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/BareGBTDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/Decoder.cxx
  Detectors/MUON/MCH/Raw/Decoder/src/PageParser.h
  Detectors/MUON/MCH/Raw/Decoder/src/PayloadDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/UserLogicGBTDecoder.h
  Detectors/MUON/MCH/Raw/Decoder/src/testDecoder.cxx
  Detectors/MUON/MCH/Raw/Decoder/src/testUserLogicElinkDecoder.cxx
  Detectors/MUON/MCH/Raw/ImplHelpers/DumpBuffer.h
  Detectors/MUON/MCH/Raw/ImplHelpers/MoveBuffer.h
  Detectors/MUON/MCH/Raw/ImplHelpers/testMoveBuffer.cxx
  Detectors/MUON/MCH/Raw/Tools/rawdump.cxx
  Detectors/MUON/MCH/Raw/testdata/RefBufferCRU.cxx
  Detectors/MUON/MCH/Raw/testdata/RefBufferGBT.cxx
  Detectors/MUON/MCH/Raw/testdata/RefBuffers.h
Owners: @aphecetche

ITS/MFT dict. name queried from NameConf
  Detectors/ITSMFT/ITS/macros/EVE/DisplayEventsComp.C
  Detectors/ITSMFT/ITS/macros/test/CheckCOG.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
  Detectors/ITSMFT/ITS/macros/test/CheckLUtime.C
  Detectors/ITSMFT/ITS/macros/test/CheckLookUp.C
  Detectors/ITSMFT/ITS/macros/test/CheckTopologies.C
  Detectors/ITSMFT/ITS/macros/test/dictionary_integrity_test.C
  Detectors/ITSMFT/ITS/macros/test/run_buildTopoDict_its.C
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
  Detectors/ITSMFT/ITS/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/CookedTrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/ClustererSpec.cxx
  macro/compareTopologyDistributions.C
  macro/run_clus_itsSA.C
  macro/run_trac_its.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

GPU: Fix cluster index when track model compression update fails at decoding
  GPU/GPUTracking/DataCompression/TPCClusterDecompressor.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Store tracklet row hits relative to first relevant pad row
  GPU/GPUTracking/SliceTracker/GPUTPCTrackerDump.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletSelector.cxx
  GPU/GPUTracking/Standalone/display/GPUDisplay.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

precalculate err^2 in the dictionary
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/TopologyDictionary.h
  DataFormats/Detectors/ITSMFT/common/src/TopologyDictionary.cxx
  Detectors/ITSMFT/ITS/tracking/src/IOUtils.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/BuildTopologyDictionary.h
  Detectors/ITSMFT/common/reconstruction/src/BuildTopologyDictionary.cxx
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

Sort topology dictionary
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ClusterTopology.h
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/TopologyDictionary.h
  DataFormats/Detectors/ITSMFT/common/src/ClusterTopology.cxx
  DataFormats/Detectors/ITSMFT/common/src/TopologyDictionary.cxx
  Detectors/ITSMFT/ITS/macros/EVE/DisplayEventsComp.C
  Detectors/ITSMFT/ITS/macros/test/CheckCOG.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
  Detectors/ITSMFT/ITS/macros/test/CheckLookUp.C
  Detectors/ITSMFT/ITS/macros/test/CheckTopologies.C
  Detectors/ITSMFT/ITS/macros/test/dictionary_integrity_test.C
  Detectors/ITSMFT/ITS/macros/test/run_buildTopoDict_its.C
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
  Detectors/ITSMFT/ITS/tracking/src/IOUtils.cxx
  Detectors/ITSMFT/ITS/workflow/src/CookedTrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/BuildTopologyDictionary.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/TopologyFastSimulation.h
  Detectors/ITSMFT/common/reconstruction/src/BuildTopologyDictionary.cxx
  Detectors/ITSMFT/common/reconstruction/src/LookUp.cxx
  Detectors/ITSMFT/common/reconstruction/src/TopologyFastSimulation.cxx
  macro/compareTopologyDistributions.C
  macro/run_clus_itsSA.C
  macro/run_trac_its.C
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes, @AliceO2Group/core

GPU: Fix GPUCommonLogger for OpenCL
  GPU/Common/GPUCommonLogger.h
Owners: @davidrohr, @AliceO2Group/framework-admins

getGeomFileName treats prefix as filename if such file exists
  DataFormats/Detectors/Common/src/NameConf.cxx
Owners: @AliceO2Group/framework-admins

Removed fake overlaps. Added guard rings for IFC and OFC
  Detectors/TPC/simulation/src/Detector.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Add more debug output for merger track parameters
  GPU/GPUTracking/Merger/GPUTPCGMMergerDump.cxx
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Alternatively use WarpScan instead of AtomicAdd in DecodeZS
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.h
Owners: @davidrohr, @AliceO2Group/framework-admins

Add possibility to run first sync and then async reconstruction in the benchmark without allocating GPU resources twice
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
  GPU/GPUTracking/Base/GPUReconstructionCPU.h
  GPU/GPUTracking/Base/GPUReconstructionDeviceBase.cxx
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cxx
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Remove json.h from IOUtils.h
  Detectors/ITSMFT/ITS/tracking/include/ITStracking/IOUtils.h
  Detectors/ITSMFT/ITS/tracking/src/IOUtils.cxx
Owners: @iouribelikov, @bovulpes

Temporarily add macro/run_trac_its.C to untested macros list
  cmake/O2RootMacroExclusionList.cmake
Owners: @AliceO2Group/core
