Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

added a workflow that runs the TrackReader
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/include/TPCWorkflow/TrackReaderSpec.h
  Detectors/TPC/workflow/src/TrackReaderWorkflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU QA: No need to fill zeroes into histograms
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
Owners: @davidrohr

GPU QA: Fix reverse MC label table for external track input
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
Owners: @davidrohr

Use o2_add_executable for other datasampling executables
  Utilities/DataSampling/CMakeLists.txt
Owners: @Barthelemy, @knopers8

Fix missing LD_LIBRARY_PATH for add_custom_command
  cmake/O2AddWorkflow.cmake
Owners: @AliceO2Group/core

DPL: do not mask errros when generating workflows
  cmake/O2AddWorkflow.cmake
Owners: @AliceO2Group/core

Use o2_add_executable for DataSampling standalone workflow
  Utilities/DataSampling/CMakeLists.txt
Owners: @Barthelemy, @knopers8

fix in tof decoder first orbit TF
  Detectors/TOF/workflow/src/CompressedDecodingTask.cxx
Owners: @noferini

Do not encode TDC errors to compressed output stream
  Detectors/TOF/compression/src/Compressor.cxx
Owners: @noferini

Adding opening and run time metrics
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.h
  Framework/Core/include/Framework/DeviceMetricsInfo.h
Owners: @AliceO2Group/framework-admins

fix to allow iteratorAt on filtered tables (#5159)
  Framework/Core/include/Framework/ASoA.h
Owners: @AliceO2Group/framework-admins

Update CommonUtilsLinkDef.h
  Common/Utils/src/CommonUtilsLinkDef.h
Owners: @sawenzel

Add histrogram register and track selection (#5174)
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

Update CommonUtilsLinkDef.h
  Common/Utils/src/CommonUtilsLinkDef.h
Owners: @sawenzel

GPU QA: Do not read O2 MC information if MC QA is not requested
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
Owners: @davidrohr

GPU QA: Add histograms with cluster rejection counts, add more support for QA without MC information
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUSettingsList.h
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
  GPU/GPUTracking/Standalone/qa/GPUQA.h
Owners: @davidrohr, @wiechula, @shahor02

GPU QA: Fix segfault when efficiency task is disabled
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
Owners: @davidrohr

Adding opening and run time metrics (#5183)
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.h
  Framework/Core/include/Framework/DeviceMetricsInfo.h
Owners: @AliceO2Group/framework-admins

GPU QA: Fix segfault when efficiency task is disabled
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
Owners: @davidrohr

GPU QA: Add histograms with cluster rejection counts, add more support for QA without MC information
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUSettingsList.h
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
  GPU/GPUTracking/Standalone/qa/GPUQA.h
Owners: @davidrohr, @wiechula, @shahor02

GPU QA: Do not read O2 MC information if MC QA is not requested
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
Owners: @davidrohr

Create a PR with new CHANGELOG entries (#5170)
  .github/workflows/reports.yml
Owners: @AliceO2Group/core

Updated README
  CHANGELOG.md
  doc/data/2021-01-o2_prs.json
  doc/data/2021-01-o2_releases.json
Owners: @AliceO2Group/core

DPL: add `--forwarding-policy none` to help message
  Framework/Core/src/WorkflowCustomizationHelpers.cxx
Owners: @AliceO2Group/framework-admins

correct publication time stamp to ms
  Detectors/TPC/workflow/include/TPCWorkflow/TPCCalibPedestalSpec.h
Owners: @davidrohr, @wiechula, @shahor02

FT0 LUT prepared as Singleton for DigitBlockFT0 usage
  DataFormats/Detectors/FIT/FT0/include/DataFormatsFT0/LookUpTable.h
  Detectors/FIT/FT0/raw/include/FT0Raw/DigitBlockFT0.h
  Detectors/FIT/FT0/raw/src/DigitBlockFT0.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck

GPU: Add option to tpc-reco-workflow to ship shared cluster map created during tracking
  Detectors/TPC/workflow/include/TPCWorkflow/CATrackerSpec.h
  Detectors/TPC/workflow/include/TPCWorkflow/RecoWorkflow.h
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
  Detectors/TPC/workflow/src/tpc-reco-workflow.cxx
  GPU/GPUTracking/Base/GPUSettingsList.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.h
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.h
Owners: @davidrohr, @wiechula, @shahor02

FT0 LUT prepared as Singleton for DigitBlockFT0 usage
  DataFormats/Detectors/FIT/FT0/include/DataFormatsFT0/LookUpTable.h
Owners: @AllaMaevskaya, @jotwinow, @mslupeck

add drawing of pad calibration data from CCDB
  Detectors/TPC/calibration/macro/drawNoiseAndPedestal.C
Owners: @davidrohr, @wiechula, @shahor02

GPU: Put reasonable max time bin for triggered TPC data
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr

DPL: add `--forwarding-policy none` to help message (#5189)
  Framework/Core/src/WorkflowCustomizationHelpers.cxx
Owners: @AliceO2Group/framework-admins

fix for 2 readers and 1 input file
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
Owners: @AliceO2Group/framework-admins

Fix: remap RootTreeWriter branches only once
  Detectors/ITSMFT/common/workflow/src/DigitWriterSpec.cxx
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
  Detectors/TRD/workflow/src/TRDDigitWriterSpec.cxx
  Framework/Utils/include/DPLUtils/RootTreeWriter.h
  Steer/DigitizerWorkflow/src/FDDDigitWriterSpec.h
  Steer/DigitizerWorkflow/src/TPCDigitRootWriterSpec.cxx
Owners: @iouribelikov, @bovulpes, @davidrohr, @wiechula, @shahor02, @jolopezl, @bazinski, @tdietel, @AliceO2Group/framework-admins, @sawenzel

small fix in jobutils
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

small fix in jobutils
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

DPL: do not mask errros when generating workflows (#5161)
  cmake/O2AddWorkflow.cmake
Owners: @AliceO2Group/core

GPU: Put reasonable max time bin for triggered TPC data
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr

Fixed memory leak
  Detectors/TPC/spacecharge/include/TPCSpaceCharge/DataContainer3D.h
Owners: @davidrohr, @wiechula, @shahor02

PWHF: fix of the histogram registry in the Lc task
  Analysis/Tasks/PWGHF/taskD0.cxx
  Analysis/Tasks/PWGHF/taskDPlus.cxx
  Analysis/Tasks/PWGHF/taskLc.cxx
Owners: @ginnocen

FT0 LUT prepared as Singleton for DigitBlockFT0 usage
  DataFormats/Detectors/FIT/FT0/include/DataFormatsFT0/LookUpTable.h
Owners: @AllaMaevskaya, @jotwinow, @mslupeck
