Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

Add multiplicity distribution task (#5155)
  Analysis/Tasks/PWGCF/correlations.cxx
  Analysis/Tasks/PWGCF/filterCF.cxx
  Analysis/Tutorials/CMakeLists.txt
  Analysis/Tutorials/src/multiplicityEventTrackSelection.cxx
Owners: @jgrosseo, @iarsene

DPL utils: allow customising output-proxy
  Framework/Utils/src/dpl-output-proxy.cxx
Owners: @AliceO2Group/framework-admins

Allow multiple test w-flows with non-overlapping TF-ids (#5164)
  Detectors/TOF/calibration/testWorkflow/DataGeneratorSpec.h
  Detectors/TOF/calibration/testWorkflow/README.md
  Detectors/TOF/calibration/testWorkflow/data-generator-workflow.cxx
Owners: @noferini

DPL examples: add monitoring usage to diamond example
  Framework/TestWorkflows/src/o2DiamondWorkflow.cxx
Owners: @AliceO2Group/framework-admins

Sync to head
  co
  cortes
  cortese
  cortesep
  nightly-20201222
  nightly-20201223
  nightly-20201224
  nightly-20201225
  nightly-20201226
  nightly-20201227
  nightly-20201228
  nightly-20201229
  nightly-20201230
  nightly-20201231
  nightly-20210101
  nightly-20210102
  nightly-20210103
  nightly-20210104
  nightly-20210105
  nightly-20210106
  nightly-20210107
  nightly-20210108
  nightly-20210109
  nightly-20210110
  nightly-20210111
  nightly-20210112
  nightly-20210113
  v21.01
Owners: @AliceO2Group/core

Use o2_add_executable for DataSampling standalone workflow
  Utilities/DataSampling/CMakeLists.txt
Owners: @Barthelemy, @knopers8

DPL: increase max size of string metrics to 256 bytes
  Framework/Core/include/Framework/DeviceMetricsInfo.h
  Framework/Core/test/test_DeviceMetricsInfo.cxx
Owners: @AliceO2Group/framework-admins

jobutils: exit workflows on first task error
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

[DCS][TOF] Make the data point random generator more reusable.
  Detectors/DCS/CMakeLists.txt
  Detectors/DCS/testWorkflow/CMakeLists.txt
  Detectors/DCS/testWorkflow/DCSRandomDataGeneratorSpec.h
  Detectors/DCS/testWorkflow/dcs-sim-workflow.cxx
  Detectors/DCS/testWorkflow/include/DCStestWorkflow/DCSRandomDataGeneratorSpec.h
  Detectors/DCS/testWorkflow/src/DCSConsumerSpec.h
  Detectors/DCS/testWorkflow/src/DCSDataGeneratorSpec.h
  Detectors/DCS/testWorkflow/src/DCSDataProcessorSpec.h
  Detectors/DCS/testWorkflow/src/DCSRandomDataGeneratorSpec.cxx
  Detectors/DCS/testWorkflow/src/DCStoDPLconverter.h
  Detectors/DCS/testWorkflow/src/dcs-data-client-workflow.cxx
  Detectors/DCS/testWorkflow/src/dcs-data-workflow.cxx
  Detectors/DCS/testWorkflow/src/dcs-proxy.cxx
  Detectors/DCS/testWorkflow/src/dcs-random-data-workflow.cxx
  Detectors/TOF/calibration/CMakeLists.txt
  Detectors/TOF/calibration/testWorkflow/README.md
  Detectors/TOF/calibration/testWorkflow/tof-dcs-sim-workflow.cxx
Owners: @AliceO2Group/core, @noferini

DPL utils: allow customising output-proxy (#5165)
  Framework/Utils/src/dpl-output-proxy.cxx
Owners: @AliceO2Group/framework-admins

Create a PR with new CHANGELOG entries
  .github/workflows/reports.yml
Owners: @AliceO2Group/core

Revert "Populate event header with information of the current Pythia8 event"
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
  Generators/src/GeneratorPythia8.cxx
Owners: @jgrosseo, @iarsene, @sawenzel

Add histrogram register and track selection
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

DPL: increase max size of string metrics to 256 bytes (#5168)
  Framework/Core/include/Framework/DeviceMetricsInfo.h
  Framework/Core/test/test_DeviceMetricsInfo.cxx
Owners: @AliceO2Group/framework-admins

GPU: remove leftover debug messages
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: remove leftover debug messages
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Fix memory buffer scaling factor when memory allocation strategy is auto
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr

GPU: Fix memory buffer scaling factor when memory allocation strategy is auto
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr

AliEn metrics
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.h
  Framework/Core/include/Framework/DataInputDirector.h
  Framework/Core/src/DataInputDirector.cxx
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

[DCS] Add some doc about data point simulation
  Detectors/DCS/testWorkflow/README.md
Owners: @AliceO2Group/core

use fmt::format
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
Owners: @AliceO2Group/framework-admins

jobutils: exit workflows on first task error
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

use filters (#5158)
  Analysis/Tasks/PWGUD/CMakeLists.txt
  Analysis/Tasks/PWGUD/upcAnalysis.cxx
Owners: @jgrosseo, @iarsene

TPC QC: Fix use after free, config object should outlive QA object
  Detectors/TPC/qc/include/TPCQC/Tracking.h
  Detectors/TPC/qc/src/Tracking.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU QA: In order to run resolution QA with external input, we must provide some means to configure the propagator with bz etc.
  Detectors/TPC/qc/src/Tracking.cxx
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceQA.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceQA.h
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
  GPU/GPUTracking/Standalone/qa/GPUQA.h
Owners: @davidrohr, @wiechula, @shahor02

Do not encode TDC errors to compressed output stream
  Detectors/TOF/compression/src/Compressor.cxx
Owners: @noferini

fix in tof decoder first orbit TF
  Detectors/TOF/workflow/src/CompressedDecodingTask.cxx
Owners: @noferini

Use o2_add_executable for other datasampling executables
  Utilities/DataSampling/CMakeLists.txt
Owners: @Barthelemy, @knopers8

Use o2_add_executable for DataSampling standalone workflow
  Utilities/DataSampling/CMakeLists.txt
Owners: @Barthelemy, @knopers8

Fix missing LD_LIBRARY_PATH for add_custom_command
  cmake/O2AddWorkflow.cmake
Owners: @AliceO2Group/core

DPL: do not mask errros when generating workflows
  cmake/O2AddWorkflow.cmake
Owners: @AliceO2Group/core

Modifiy initial buffer allocation, will be autoexpanded if needed
  Detectors/CPV/reconstruction/include/CPVReconstruction/CTFCoder.h
  Detectors/EMCAL/reconstruction/include/EMCALReconstruction/CTFCoder.h
  Detectors/ITSMFT/common/reconstruction/src/CTFCoder.cxx
  Detectors/MUON/MID/CTF/include/MIDCTF/CTFCoder.h
  Detectors/PHOS/reconstruction/include/PHOSReconstruction/CTFCoder.h
  Detectors/TOF/reconstruction/src/CTFCoder.cxx
  Detectors/TPC/reconstruction/src/CTFCoder.cxx
Owners: @peressounko, @kharlov, @mfasDa, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @shahor02

Provide to ANS decoder full free size, add relative margin
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/EncodedBlocks.h
Owners: @AliceO2Group/framework-admins

TPC QC: Fix use after free, config object should outlive QA object
  Detectors/TPC/qc/include/TPCQC/Tracking.h
  Detectors/TPC/qc/src/Tracking.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU QA: In order to run resolution QA with external input, we must provide some means to configure the propagator with bz etc.
  Detectors/TPC/qc/src/Tracking.cxx
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceQA.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceQA.h
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
  GPU/GPUTracking/Standalone/qa/GPUQA.h
Owners: @davidrohr, @wiechula, @shahor02

AliEn metrics (#5177)
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.h
  Framework/Core/include/Framework/DataInputDirector.h
  Framework/Core/src/DataInputDirector.cxx
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

added a workflow that runs the TrackReader
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/include/TPCWorkflow/TrackReaderSpec.h
  Detectors/TPC/workflow/src/TrackReaderWorkflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU QA: Fix reverse MC label table for external track input
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
Owners: @davidrohr

GPU QA: No need to fill zeroes into histograms
  GPU/GPUTracking/Standalone/qa/GPUQA.cxx
Owners: @davidrohr

Add histrogram register and track selection
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
