Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

Adreess comments
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
  Analysis/Tasks/PWGHF/taskJpsi.cxx
Owners: @ginnocen

Add full table writing tasks for D0 and Lc
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFCandidateCreator3Prong.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorD0ToKPi.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorLcToPKPi.cxx
Owners: @ginnocen

Raw2Digits and Trigger
  DataFormats/Detectors/FIT/FDD/include/DataFormatsFDD/Digit.h
  DataFormats/Detectors/FIT/FDD/include/DataFormatsFDD/LookUpTable.h
  DataFormats/Detectors/FIT/FDD/include/DataFormatsFDD/RawEventData.h
  DataFormats/Detectors/FIT/FDD/src/DataFormatsFDDLinkDef.h
  Detectors/FIT/FDD/CMakeLists.txt
  Detectors/FIT/FDD/raw/CMakeLists.txt
  Detectors/FIT/FDD/raw/include/FDDRaw/DataBlockFDD.h
  Detectors/FIT/FDD/raw/include/FDDRaw/DigitBlockFDD.h
  Detectors/FIT/FDD/raw/include/FDDRaw/RawReaderFDDBase.h
  Detectors/FIT/FDD/raw/src/DataBlockFDD.cxx
  Detectors/FIT/FDD/raw/src/DigitBlockFDD.cxx
  Detectors/FIT/FDD/raw/src/FDDRawLinkDef.h
  Detectors/FIT/FDD/raw/src/RawReaderFDDBase.cxx
  Detectors/FIT/FDD/simulation/include/FDDSimulation/Digitizer.h
  Detectors/FIT/FDD/simulation/src/Digitizer.cxx
  Detectors/FIT/FDD/workflow/CMakeLists.txt
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/DigitWriterSpec.h
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/RawDataProcessSpec.h
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/RawDataReaderSpec.h
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/RawReaderFDD.h
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/RawWorkflow.h
  Detectors/FIT/FDD/workflow/src/DigitWriterSpec.cxx
  Detectors/FIT/FDD/workflow/src/RawDataProcessSpec.cxx
  Detectors/FIT/FDD/workflow/src/RawDataReaderSpec.cxx
  Detectors/FIT/FDD/workflow/src/RawReaderFDD.cxx
  Detectors/FIT/FDD/workflow/src/RawWorkflow.cxx
  Detectors/FIT/FDD/workflow/src/fdd-flp-workflow.cxx
  Steer/DigitizerWorkflow/src/FDDDigitWriterSpec.h
  Steer/DigitizerWorkflow/src/FDDDigitizerSpec.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck, @sawenzel, @shahor02, @AliceO2Group/framework-admins

Workflow: use existing PR if creation fails
  .github/workflows/reports.yml
Owners: @AliceO2Group/core

Add single task for all tiny TPC PID information
  Analysis/Tasks/pidTPC_tiny.cxx
Owners: @jgrosseo, @iarsene

[MCH] introduce MCH ROFRecord.h + modify tracking workflows to process several ROF per TF (#5222)
  DataFormats/Detectors/MUON/MCH/CMakeLists.txt
  DataFormats/Detectors/MUON/MCH/include/DataFormatsMCH/ROFRecord.h
  DataFormats/Detectors/MUON/MCH/src/DataFormatsMCHLinkDef.h
  Detectors/MUON/MCH/Workflow/CMakeLists.txt
  Detectors/MUON/MCH/Workflow/README.md
  Detectors/MUON/MCH/Workflow/src/ClusterSamplerSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackAtVertexSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackFinderOriginalSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackFinderSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackFitterSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackSamplerSpec.cxx
  Detectors/MUON/MCH/Workflow/src/TrackSinkSpec.cxx
  Detectors/MUON/MCH/Workflow/src/VertexSamplerSpec.cxx
Owners: @aphecetche

DPL: speed up single channel output proxy
  Framework/Core/include/Framework/ExternalFairMQDeviceProxy.h
  Framework/Core/src/ExternalFairMQDeviceProxy.cxx
Owners: @AliceO2Group/framework-admins

adding collision selections
  Analysis/Tasks/SkimmingTutorials/spectraTPCProvider.cxx
  Analysis/Tasks/SkimmingTutorials/spectraTPCReference.cxx
Owners: @jgrosseo, @iarsene

Pileup simulation/reconstruction fixed
  Detectors/CPV/calib/CPVCalibWorkflow/include/CPVCalibWorkflow/CPVBadMapCalibDevice.h
  Detectors/CPV/calib/CPVCalibWorkflow/include/CPVCalibWorkflow/CPVGainCalibDevice.h
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVPedestalCalibDevice.cxx
  Detectors/CPV/simulation/include/CPVSimulation/Digitizer.h
  Detectors/CPV/simulation/src/Digitizer.cxx
  Detectors/CPV/workflow/src/cpv-reco-workflow.cxx
  Detectors/PHOS/calib/PHOSCalibWorkflow/include/PHOSCalibWorkflow/PHOSCalibCollector.h
  Detectors/PHOS/calib/PHOSCalibWorkflow/include/PHOSCalibWorkflow/PHOSHGLGRatioCalibDevice.h
  Detectors/PHOS/calib/PHOSCalibWorkflow/include/PHOSCalibWorkflow/PHOSPedestalCalibDevice.h
  Detectors/PHOS/simulation/include/PHOSSimulation/Digitizer.h
  Detectors/PHOS/simulation/src/Digitizer.cxx
  Steer/DigitizerWorkflow/src/CPVDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/CPVDigitizerSpec.h
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.h
Owners: @peressounko, @kharlov, @sawenzel, @shahor02, @AliceO2Group/framework-admins

Add single task for all tiny TPC PID information (#5253)
  Analysis/Tasks/pidTPC_tiny.cxx
Owners: @jgrosseo, @iarsene

Pileup simulation/reconstruction fixed
  Detectors/CPV/calib/CPVCalibWorkflow/include/CPVCalibWorkflow/CPVBadMapCalibDevice.h
  Detectors/CPV/calib/CPVCalibWorkflow/include/CPVCalibWorkflow/CPVGainCalibDevice.h
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVPedestalCalibDevice.cxx
  Detectors/CPV/simulation/include/CPVSimulation/Digitizer.h
  Detectors/CPV/simulation/src/Digitizer.cxx
  Detectors/CPV/workflow/src/cpv-reco-workflow.cxx
  Detectors/PHOS/calib/PHOSCalibWorkflow/include/PHOSCalibWorkflow/PHOSCalibCollector.h
  Detectors/PHOS/calib/PHOSCalibWorkflow/include/PHOSCalibWorkflow/PHOSHGLGRatioCalibDevice.h
  Detectors/PHOS/calib/PHOSCalibWorkflow/include/PHOSCalibWorkflow/PHOSPedestalCalibDevice.h
  Detectors/PHOS/simulation/include/PHOSSimulation/Digitizer.h
  Detectors/PHOS/simulation/src/Digitizer.cxx
  Steer/DigitizerWorkflow/src/CPVDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/CPVDigitizerSpec.h
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.h
Owners: @peressounko, @kharlov, @sawenzel, @shahor02, @AliceO2Group/framework-admins

Analysis/Task/PWGDQ: remove unnecessary macro
  Analysis/Tasks/PWGDQ/CMakeLists.txt
  Analysis/Tasks/PWGDQ/tableMaker_pp.cxx
Owners: @jgrosseo, @iarsene

adding collision selections (#5255)
  Analysis/Tasks/SkimmingTutorials/spectraTPCProvider.cxx
  Analysis/Tasks/SkimmingTutorials/spectraTPCReference.cxx
Owners: @jgrosseo, @iarsene

Workflow: use existing PR if creation fails (#5252)
  .github/workflows/reports.yml
Owners: @AliceO2Group/core

Forgotten fv0
  Steer/DigitizerWorkflow/src/FDDDigitWriterSpec.h
Owners: @sawenzel, @shahor02, @AliceO2Group/framework-admins

Add full table writing tasks for D0 and Lc (#4910)
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFCandidateCreator3Prong.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorD0ToKPi.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorLcToPKPi.cxx
Owners: @ginnocen

DPL: speed up single channel output proxy (#5254)
  Framework/Core/include/Framework/ExternalFairMQDeviceProxy.h
  Framework/Core/src/ExternalFairMQDeviceProxy.cxx
Owners: @AliceO2Group/framework-admins

DPL Analysis: add sanity check for histogram names before inserting in registry
  Framework/Core/include/Framework/HistogramRegistry.h
  Framework/Core/src/HistogramRegistry.cxx
Owners: @AliceO2Group/framework-admins

Analysis/Task/PWGDQ: remove unnecessary macro (#5258)
  Analysis/Tasks/PWGDQ/CMakeLists.txt
  Analysis/Tasks/PWGDQ/tableMaker_pp.cxx
Owners: @jgrosseo, @iarsene

PID: Remove exp times from tiny PID tables
  Analysis/DataModel/include/AnalysisDataModel/PID/PIDResponse.h
  Analysis/Tasks/pidTOF_tiny.cxx
  Analysis/Tasks/pidTPC_tiny.cxx
Owners: @jgrosseo, @iarsene

PWGHF: Jpsi to e+e- task and candidate selection for HF (#5085)
  Analysis/DataModel/include/AnalysisDataModel/HFCandidateSelectionTables.h
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
  Analysis/Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
  Analysis/Tasks/PWGHF/taskJpsi.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

FDD: Raw2Digits and Trigger (#5250)
  DataFormats/Detectors/FIT/FDD/include/DataFormatsFDD/Digit.h
  DataFormats/Detectors/FIT/FDD/include/DataFormatsFDD/LookUpTable.h
  DataFormats/Detectors/FIT/FDD/include/DataFormatsFDD/RawEventData.h
  DataFormats/Detectors/FIT/FDD/src/DataFormatsFDDLinkDef.h
  Detectors/FIT/FDD/CMakeLists.txt
  Detectors/FIT/FDD/raw/CMakeLists.txt
  Detectors/FIT/FDD/raw/include/FDDRaw/DataBlockFDD.h
  Detectors/FIT/FDD/raw/include/FDDRaw/DigitBlockFDD.h
  Detectors/FIT/FDD/raw/include/FDDRaw/RawReaderFDDBase.h
  Detectors/FIT/FDD/raw/src/DataBlockFDD.cxx
  Detectors/FIT/FDD/raw/src/DigitBlockFDD.cxx
  Detectors/FIT/FDD/raw/src/FDDRawLinkDef.h
  Detectors/FIT/FDD/raw/src/RawReaderFDDBase.cxx
  Detectors/FIT/FDD/simulation/include/FDDSimulation/Digitizer.h
  Detectors/FIT/FDD/simulation/src/Digitizer.cxx
  Detectors/FIT/FDD/workflow/CMakeLists.txt
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/DigitWriterSpec.h
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/RawDataProcessSpec.h
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/RawDataReaderSpec.h
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/RawReaderFDD.h
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/RawWorkflow.h
  Detectors/FIT/FDD/workflow/src/DigitWriterSpec.cxx
  Detectors/FIT/FDD/workflow/src/RawDataProcessSpec.cxx
  Detectors/FIT/FDD/workflow/src/RawDataReaderSpec.cxx
  Detectors/FIT/FDD/workflow/src/RawReaderFDD.cxx
  Detectors/FIT/FDD/workflow/src/RawWorkflow.cxx
  Detectors/FIT/FDD/workflow/src/fdd-flp-workflow.cxx
  Steer/DigitizerWorkflow/src/FDDDigitWriterSpec.h
  Steer/DigitizerWorkflow/src/FDDDigitizerSpec.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck, @sawenzel, @shahor02, @AliceO2Group/framework-admins

pileup check: fix type comparison
  macro/analyzeDigitLabels.C
Owners: @AliceO2Group/core

Fix tree creator
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFCandidateCreator3Prong.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorD0ToKPi.cxx
  Analysis/Tasks/PWGHF/HFTreeCreatorLcToPKPi.cxx
Owners: @ginnocen

PWGHF: Little fix of the J/ψ → e+ e- code.
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
Owners: @ginnocen

DPL Analysis: make HistogramRegistry support StepTHn
  Analysis/Tutorials/src/histogramRegistry.cxx
  Framework/Core/include/Framework/HistogramRegistry.h
  Framework/Core/include/Framework/StepTHn.h
  Framework/Core/src/HistogramRegistry.cxx
  Framework/Core/src/StepTHn.cxx
  Framework/Core/test/test_HistogramRegistry.cxx
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

Fix in indexing for Vertex-Track matching
  DataFormats/Reconstruction/include/ReconstructionDataFormats/VtxTrackRef.h
  DataFormats/Reconstruction/src/VtxTrackRef.cxx
  Detectors/Vertexing/include/DetectorsVertexing/VertexTrackMatcher.h
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
Owners: @shahor02, @AliceO2Group/core

Fix: default TPC reco output names propagated to dependent code
  Detectors/AOD/src/StandaloneAODProducer.cxx
  Detectors/GlobalTracking/include/GlobalTracking/MatchTOF.h
  Detectors/TOF/prototyping/findLabels.C
  Detectors/TOF/prototyping/findTOFclusterFromLabel.C
  macro/checkTOFMatching.C
  prodtests/sim_challenge.sh
Owners: @AliceO2Group/core, @shahor02, @noferini

adding macro to create space charge density maps from simulations
  Detectors/TPC/spacecharge/CMakeLists.txt
  Detectors/TPC/spacecharge/macro/createSCHistosFromHits.C
Owners: @davidrohr, @wiechula, @shahor02

PID: Remove exp times from tiny PID tables (#5260)
  Analysis/DataModel/include/AnalysisDataModel/PID/PIDResponse.h
  Analysis/Tasks/pidTOF_tiny.cxx
  Analysis/Tasks/pidTPC_tiny.cxx
Owners: @jgrosseo, @iarsene

GPU: Filter /usr/include from GPU include directories
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
  GPU/GPUTracking/Base/opencl2/CMakeLists.txt
Owners: @davidrohr

GPU: Remove OpenMP from GPU O2 Interface
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr

GPU: Get rid of obsolete makefiles folder and move the opencl build headers that are still needed to utils
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
  GPU/GPUTracking/Base/opencl/CMakeLists.txt
  GPU/GPUTracking/Base/opencl/GPUReconstructionOCL1.cxx
  GPU/GPUTracking/Base/opencl2/CMakeLists.txt
  GPU/GPUTracking/Standalone/makefiles/.gitignore
  GPU/GPUTracking/utils/.gitattributes
  GPU/GPUTracking/utils/.gitignore
  GPU/GPUTracking/utils/include.S
  GPU/GPUTracking/utils/makefile_opencl_compiler.cxx
  GPU/GPUTracking/utils/opencl_compiler_structs.h
  GPU/GPUTracking/utils/opencl_obtain_program.h
Owners: @davidrohr

GPU: Workaround stripping unused include PATH since AMD OpenCL compiler hangs with too many include paths
  GPU/GPUTracking/Base/opencl/CMakeLists.txt
Owners: @davidrohr

GPU: Split GPUChainTracking.cxx in multiple files
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTrackingClusterizer.cxx
  GPU/GPUTracking/Global/GPUChainTrackingCompression.cxx
  GPU/GPUTracking/Global/GPUChainTrackingDefs.h
  GPU/GPUTracking/Global/GPUChainTrackingMerger.cxx
  GPU/GPUTracking/Global/GPUChainTrackingRefit.cxx
  GPU/GPUTracking/Global/GPUChainTrackingSliceTracker.cxx
  GPU/GPUTracking/Global/GPUChainTrackingTRD.cxx
  GPU/GPUTracking/Global/GPUChainTrackingTransformation.cxx
Owners: @davidrohr

GPU: Move GPU Data Type headers in dedicated directory
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPUDataTypes.cxx
  GPU/GPUTracking/DataTypes/GPUDataTypes.h
  GPU/GPUTracking/DataTypes/GPUHostDataTypes.h
  GPU/GPUTracking/DataTypes/GPUMemorySizeScalers.h
  GPU/GPUTracking/DataTypes/GPUO2DataTypes.h
  GPU/GPUTracking/DataTypes/GPUO2FakeClasses.h
  GPU/GPUTracking/DataTypes/GPUOutputControl.h
  GPU/GPUTracking/DataTypes/GPURawData.h
  GPU/GPUTracking/DataTypes/GPUSettings.cxx
  GPU/GPUTracking/DataTypes/GPUSettings.h
  GPU/GPUTracking/DataTypes/GPUSettingsList.h
  GPU/GPUTracking/DataTypes/GPUTRDDef.h
  GPU/GPUTracking/DataTypes/GPUdEdxInfo.h
  GPU/GPUTracking/DataTypes/TPCdEdxCalibrationSplines.cxx
  GPU/GPUTracking/DataTypes/TPCdEdxCalibrationSplines.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/Standalone/DataTypes
Owners: @davidrohr

GPU: Move GPUO2Interface* classes into separate library
  Detectors/GlobalTracking/CMakeLists.txt
  Detectors/TPC/qc/CMakeLists.txt
  Detectors/TPC/reconstruction/CMakeLists.txt
  Detectors/TPC/simulation/CMakeLists.txt
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/GPUTrackingLinkDef_O2.h
  GPU/GPUTracking/Interface/CMakeLists.txt
  GPU/GPUTracking/Interface/GPUO2InterfaceConfigurableParam.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
  GPU/GPUTracking/Interface/GPUO2InterfaceLinkDef.h
Owners: @shahor02, @davidrohr, @wiechula

GPU: Rename GPUTPCO2Interface to GPUO2Interface
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/TPC/reconstruction/include/TPCReconstruction/GPUCATracking.h
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  Detectors/TPC/workflow/src/ClusterSharingMapSpec.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.h
  GPU/GPUTracking/Interface/GPUO2InterfaceLinkDef.h
  GPU/GPUTracking/Interface/GPUO2InterfaceRefit.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceRefit.h
  macro/runTPCRefit.C
Owners: @shahor02, @davidrohr, @wiechula, @AliceO2Group/core

Remove direct GPUTracking dependenecy where not needed
  Detectors/AOD/CMakeLists.txt
  Detectors/GlobalTracking/CMakeLists.txt
  Detectors/TPC/qc/CMakeLists.txt
Owners: @AliceO2Group/core, @shahor02, @davidrohr, @wiechula

GPU: Move non-Common header files from GPU/Common to GPUTracking/Definitions
  GPU/Common/CMakeLists.txt
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Definitions/GPUDef.h
  GPU/GPUTracking/Definitions/GPUDefConstantsAndSettings.h
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/Definitions/GPUDefMacros.h
  GPU/GPUTracking/Definitions/GPUDefOpenCL12Templates.h
  GPU/GPUTracking/Definitions/GPULogging.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/Standalone/Definitions
Owners: @davidrohr

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
