Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @davidrohr, @mfasDa, @peressounko, @kharlov, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @tdietel, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
/DataFormats/Detectors/EMCAL   @mfasDa
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough

GPU: Fix overriding max time bin when input consists only of TPC ZS
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Manualy inlining stuff to work around HIP compiler problem
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCSliceData.h
Owners: @davidrohr, @AliceO2Group/framework-admins

Account for the output path and generate config
  Detectors/TPC/simulation/run/convertDigitsToRawZS.cxx
Owners: @davidrohr, @wiechula, @shahor02

Avoid creating empty span with non-default span c-tor
  DataFormats/Detectors/FIT/FDD/include/DataFormatsFDD/Digit.h
  DataFormats/Detectors/FIT/FT0/src/Digit.cxx
  DataFormats/Detectors/FIT/FT0/src/RecPoints.cxx
  DataFormats/Detectors/FIT/FV0/src/BCData.cxx
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ROFRecord.h
  DataFormats/Detectors/ZDC/src/BCData.cxx
  Detectors/ITSMFT/ITS/macros/test/run_digi2rawVarPage_its.C
  Detectors/TOF/base/include/TOFBase/Digit.h
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes, @noferini

Add Configurable Param for DigitDump class
  Detectors/TPC/calibration/CMakeLists.txt
  Detectors/TPC/calibration/include/TPCCalibration/DigitDump.h
  Detectors/TPC/calibration/include/TPCCalibration/DigitDumpParam.h
  Detectors/TPC/calibration/src/DigitDump.cxx
  Detectors/TPC/calibration/src/DigitDumpParam.cxx
  Detectors/TPC/calibration/src/TPCCalibrationLinkDef.h
Owners: @davidrohr, @wiechula, @shahor02

GroupSlicer test (#3260)
  Framework/Core/CMakeLists.txt
  Framework/Core/test/test_GroupSlicer.cxx
Owners: @AliceO2Group/framework-admins

Cleanup macro for CRU configuration
  Detectors/TPC/calibration/macro/preparePedestalFiles.C
  Detectors/TPC/calibration/macro/preparePedestalFiles.sh
Owners: @davidrohr, @wiechula, @shahor02

use batch mode for DPL
  Detectors/TPC/reconstruction/macro/runRecoFromDigits.sh
Owners: @davidrohr, @wiechula, @shahor02

Update DetectorSimulation.md
  doc/DetectorSimulation.md
Owners: @AliceO2Group/core

Event and centrality selection prototype (#3282)
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/eventSelection.cxx
Owners: @jgrosseo

Add option to use Link base ZS in raw reco workflow
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/include/TPCWorkflow/LinkZSToDigitsSpec.h
  Detectors/TPC/workflow/src/LinkZSToDigitsSpec.cxx
  Detectors/TPC/workflow/src/tpc-raw-to-digits-workflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

DPL Digitizers: Base class and improved service initialization
  Detectors/Base/CMakeLists.txt
  Detectors/Base/include/DetectorsBase/BaseDPLDigitizer.h
  Detectors/Base/src/BaseDPLDigitizer.cxx
  Detectors/TRD/workflow/src/TRDDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/CPVDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/CPVDigitizerSpec.h
  Steer/DigitizerWorkflow/src/EMCALDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/EMCALDigitizerSpec.h
  Steer/DigitizerWorkflow/src/FDDDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/FT0DigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/FV0DigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/HMPIDDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/ITSMFTDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/MCHDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/MIDDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/PHOSDigitizerSpec.h
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  Steer/DigitizerWorkflow/src/TOFDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/TPCDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/ZDCDigitizerSpec.cxx
Owners: @AliceO2Group/framework-admins, @jolopezl, @bazinski, @tdietel, @sawenzel, @shahor02

Place the MID geometry in "YOUT2" if present
  Detectors/MUON/MID/Simulation/src/Detector.cxx
Owners: @aphecetche

Link based zero suppression format
  DataFormats/Detectors/TPC/CMakeLists.txt
  DataFormats/Detectors/TPC/include/DataFormatsTPC/ZeroSuppressionLinkBased.h
Owners: @davidrohr

Fix: includes were not installed due to wrong dir.name
  Detectors/Vertexing/CMakeLists.txt
  Detectors/Vertexing/src/DetectorsVertexingLinkDef.h
Owners: @AliceO2Group/core

TPC Transform: Fix Z to Time conversion in time frame
  GPU/TPCFastTransformation/TPCFastTransform.h
Owners: @davidrohr, @sgorbuno

More using namespace cleanups
  Analysis/DataModel/include/Analysis/SecondaryVertex.h
  Analysis/Tasks/vertexerhf.cxx
  Framework/Core/include/Framework/AnalysisHelpers.h
Owners: @jgrosseo, @AliceO2Group/framework-admins

Drop using namespace std from global namespace (#3278)
  Detectors/TRD/base/include/TRDBase/PadParameters.h
  Detectors/TRD/simulation/include/TRDSimulation/TrapConfig.h
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/workflow/include/TRDWorkflow/TRDDigitReaderSpec.h
  Detectors/TRD/workflow/include/TRDWorkflow/TRDTrapSimulatorSpec.h
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel

Disable warning for ctest repetition
  cmake/O2AddTestWrapper.cmake
Owners: @AliceO2Group/core

GPU: Fix debug output
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Adjust ZS encoder/decoder to respect heart beat frames
  DataFormats/Detectors/TPC/include/DataFormatsTPC/Constants.h
  Detectors/Raw/CMakeLists.txt
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUDataTypes.h
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.h
  GPU/GPUTracking/Base/GPUReconstructionKernels.h
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.h
Owners: @davidrohr, @AliceO2Group/core, @wiechula, @shahor02, @AliceO2Group/framework-admins

Adapt TopologyDictionary methods to coding conventions
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/TopologyDictionary.h
  DataFormats/Detectors/ITSMFT/common/src/TopologyDictionary.cxx
  Detectors/ITSMFT/ITS/macros/test/CheckCOG.C
  Detectors/ITSMFT/ITS/macros/test/CheckLookUp.C
  Detectors/ITSMFT/ITS/macros/test/dictionary_integrity_test.C
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/LookUp.h
  Detectors/ITSMFT/common/reconstruction/src/BuildTopologyDictionary.cxx
  Detectors/ITSMFT/common/reconstruction/src/Clusterer.cxx
  Detectors/ITSMFT/common/reconstruction/src/LookUp.cxx
  Detectors/ITSMFT/common/reconstruction/src/TopologyFastSimulation.cxx
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

First running version of pedestal calibration in DPL
  Detectors/TPC/calibration/run/calib-pedestal.cxx
Owners: @davidrohr, @wiechula, @shahor02

add missing pragma
  DataFormats/Detectors/TPC/src/DataFormatsTPCLinkDef.h
Owners: @davidrohr

Do not produce full clusters by default
  Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
  Detectors/ITSMFT/ITS/macros/test/CheckTracks.C
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/ClustererSpec.h
  Detectors/ITSMFT/ITS/workflow/src/ClustererSpec.cxx
Owners: @iouribelikov, @bovulpes

Arranging data with respect to sector number instead of subspec
  Detectors/TPC/workflow/include/TPCWorkflow/RecoWorkflow.h
  Detectors/TPC/workflow/src/ClusterDecoderRawSpec.cxx
  Detectors/TPC/workflow/src/ClustererSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: add CUSTOM kernel atrbibute to propagate custom string to __global__s
  GPU/GPUTracking/Base/GPUReconstructionKernelMacros.h
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL Analysis: Added combinations on categorized data (#3236)
  Framework/Core/include/Framework/ASoA.h
  Framework/Core/include/Framework/ASoAHelpers.h
  Framework/Core/test/test_ASoA.cxx
  Framework/Core/test/test_ASoAHelpers.cxx
Owners: @AliceO2Group/framework-admins

GPU TPC: Add utility method to fast transform needed for tracking continuous data
  GPU/TPCFastTransformation/TPCFastTransform.h
Owners: @davidrohr, @sgorbuno

Use LINK_WHAT_YOU_USE for FIT reco. workflow
  Detectors/FIT/workflow/CMakeLists.txt
Owners: @AllaMaevskaya, @jotwinow, @mslupeck

Using SMatrix on TrackMFT instead of TMatrix
  DataFormats/Detectors/ITSMFT/MFT/include/DataFormatsMFT/TrackMFT.h
  DataFormats/Detectors/ITSMFT/MFT/src/TrackMFT.cxx
  Detectors/ITSMFT/MFT/workflow/include/MFTWorkflow/TrackFitterSpec.h
  Detectors/ITSMFT/MFT/workflow/src/TrackFitterSpec.cxx
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

Making the cooked tracker work with compact clusters
  Detectors/ITSMFT/ITS/reconstruction/include/ITSReconstruction/CookedTracker.h
  Detectors/ITSMFT/ITS/reconstruction/src/CookedTracker.cxx
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/CookedTrackerSpec.h
  Detectors/ITSMFT/ITS/workflow/src/CookedTrackerSpec.cxx
  macro/run_clus_itsSA.C
  macro/run_trac_its.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

converter for MC to RAW
  Detectors/TPC/simulation/CMakeLists.txt
  Detectors/TPC/simulation/run/convertDigitsToRawZS.cxx
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/framework-admins

Update simulation documentation
  doc/DetectorSimulation.md
Owners: @AliceO2Group/core

TRD: Implement embedding and improve MC labels (O2-1024 and O2-847) (#3084)
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/macros/CheckDigits.C
  Detectors/TRD/simulation/include/TRDSimulation/Digitizer.h
  Detectors/TRD/simulation/src/Digitizer.cxx
  Detectors/TRD/workflow/src/TRDDigitizerSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel

GPU: Add refit of slice tracks
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.h
  GPU/GPUTracking/Merger/GPUTPCGMSliceTrack.cxx
  GPU/GPUTracking/Merger/GPUTPCGMSliceTrack.h
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

macro for pedestal and threshold files for CRU configuration
  Detectors/TPC/calibration/CMakeLists.txt
  Detectors/TPC/calibration/macro/preparePedestalFiles.C
  Detectors/TPC/calibration/macro/preparePedestalFiles.sh
Owners: @davidrohr, @wiechula, @shahor02

fix math base
  Common/MathUtils/include/MathUtils/MathBase.h
Owners: @shahor02

TPC: Cache TPC ZS data in workflow until full TF is received - to re reverted and replaced by proper completion policy
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

Add common utilities for drawing, saving, tokenizing, ...
  Detectors/TPC/base/CMakeLists.txt
  Detectors/TPC/base/include/TPCBase/Utils.h
  Detectors/TPC/base/src/TPCBaseLinkDef.h
  Detectors/TPC/base/src/Utils.cxx
Owners: @davidrohr, @wiechula, @shahor02
