Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @davidrohr, @mfasDa, @peressounko, @kharlov, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @tdietel, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
/DataFormats/Detectors/EMCAL   @mfasDa
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough

GPU: Compute timebin in TPC ZS Decoding only from the shift stored in timeOffset and first orbit of TF
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/GPUReconstructionKernels.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.h
Owners: @davidrohr, @AliceO2Group/framework-admins

[O2-1334] [MCH] Fix digitizer crash due to volpath change
  Detectors/MUON/MCH/Simulation/CMakeLists.txt
  Detectors/MUON/MCH/Simulation/include/MCHSimulation/GeometryTest.h
  Detectors/MUON/MCH/Simulation/src/Geometry.cxx
  Detectors/MUON/MCH/Simulation/src/GeometryTest.cxx
  Detectors/MUON/MCH/Simulation/src/MCHSimulationLinkDef.h
  Detectors/MUON/MCH/Simulation/test/CMakeLists.txt
  Detectors/MUON/MCH/Simulation/test/testGeometry.cxx
Owners: @aphecetche

TPC reco workflow: runtime exception instead of (FATAL)ERROR message
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

DPL: perform topological sort before concretizing graph
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

require CMake version 3.17
  CMakeLists.txt
Owners: @AliceO2Group/core

ITS reco-flow can process/store (one tree entry per TF) multiple TFs
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/ClusterWriterSpec.h
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/TrackWriterSpec.h
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/TrackerSpec.h
  Detectors/ITSMFT/ITS/workflow/src/ClusterWriterSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/CookedTrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackWriterSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
Owners: @iouribelikov, @bovulpes

Example to run AliRoot Hijing simulation
  doc/DetectorSimulation.md
  run/SimExamples/AliRoot_Hijing/README.md
  run/SimExamples/AliRoot_Hijing/aliroot_hijing.macro
  run/SimExamples/AliRoot_Hijing/run.sh
Owners: @AliceO2Group/core

FDD RecPoints Reader treats each tree entry as new TF
  Detectors/FIT/FDD/workflow/include/FDDWorkflow/RecPointReaderSpec.h
  Detectors/FIT/FDD/workflow/src/RecPointReaderSpec.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck

ITS TracksReader treats each tree entry as new TF
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/TrackReaderSpec.h
  Detectors/ITSMFT/ITS/workflow/src/TrackReaderSpec.cxx
Owners: @iouribelikov, @bovulpes

Set zs threshold of 2 and 12 bits by default
  Detectors/TPC/simulation/run/convertDigitsToRawZS.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/framework-admins

Removed VGM related code as Geant4 has no depndence on VGM.
  dependencies/FindGeant4.cmake
Owners: @AliceO2Group/core

GPU: Break with with failure about broken compiler only for standalone tests
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

reorganization of splines
  Common/MathUtils/include/MathUtils/Utils.h
  Detectors/TPC/reconstruction/src/TPCFastTransformHelperO2.cxx
  GPU/Common/FlatObject.h
  GPU/Common/GPUCommonMath.h
  GPU/TPCFastTransformation/CMakeLists.txt
  GPU/TPCFastTransformation/Spline1D.cxx
  GPU/TPCFastTransformation/Spline1D.h
  GPU/TPCFastTransformation/Spline2D.cxx
  GPU/TPCFastTransformation/Spline2D.h
  GPU/TPCFastTransformation/SplineHelper1D.cxx
  GPU/TPCFastTransformation/SplineHelper1D.h
  GPU/TPCFastTransformation/SplineHelper2D.cxx
  GPU/TPCFastTransformation/SplineHelper2D.h
  GPU/TPCFastTransformation/TPCFastSpaceChargeCorrection.cxx
  GPU/TPCFastTransformation/TPCFastSpaceChargeCorrection.h
  GPU/TPCFastTransformation/TPCFastTransformManager.cxx
  GPU/TPCFastTransformation/TPCFastTransformationLinkDef_O2.h
  GPU/TPCFastTransformation/macro/SplineDemo.C
  GPU/TPCFastTransformation/test/testSplines.cxx
Owners: @shahor02, @davidrohr, @wiechula, @AliceO2Group/framework-admins, @sgorbuno

GPU: Add optional splitting in 2 fit passes for short and long tracks
  GPU/GPUTracking/Base/GPUSettings.cxx
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

[CMake] Improvements of O2AddTestRootMacro and allow tests w/o env
  Detectors/CMakeLists.txt
  Detectors/EMCAL/base/CMakeLists.txt
  Detectors/EMCAL/calib/CMakeLists.txt
  Detectors/EMCAL/testsimulation/CMakeLists.txt
  Detectors/TPC/calibration/CMakeLists.txt
  Detectors/TPC/qc/CMakeLists.txt
  Detectors/TPC/simulation/test/CMakeLists.txt
  Detectors/TPC/workflow/CMakeLists.txt
  Generators/CMakeLists.txt
  cmake/O2AddTestRootMacro.cmake
  cmake/O2RootMacroExclusionList.cmake
  dependencies/FindFairRoot.cmake
  dependencies/FindGeant3.cmake
  dependencies/FindGeant4.cmake
  dependencies/FindGeant4VMC.cmake
  dependencies/Findpythia.cmake
  macro/CMakeLists.txt
  run/CMakeLists.txt
  run/checkStack.cxx
  tests/test-root-macro.sh.in
Owners: @AliceO2Group/core, @mfasDa, @davidrohr, @wiechula, @shahor02, @sawenzel

take out MCH from production tests
  prodtests/sim_challenge.sh
  prodtests/sim_performance_test.sh
Owners: @AliceO2Group/core

replace if condition with assert to add execption
  Detectors/GlobalTracking/src/MatchTOF.cxx
  Detectors/TOF/reconstruction/src/Clusterer.cxx
  Detectors/TOF/simulation/src/Digitizer.cxx
Owners: @shahor02, @noferini

Cleaning-up TPC ClusterNativeHelper
  DataFormats/Detectors/TPC/include/DataFormatsTPC/ClusterNativeHelper.h
  DataFormats/Detectors/TPC/src/ClusterNativeHelper.cxx
Owners: @davidrohr

TPC-ITS MatchesReader treats each tree entry as new TF
  Detectors/GlobalTrackingWorkflow/include/GlobalTrackingWorkflow/TrackTPCITSReaderSpec.h
  Detectors/GlobalTrackingWorkflow/src/TrackTPCITSReaderSpec.cxx
Owners: @shahor02

DPL: detect conflicting options (#3323)
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

Implement realistic ITS readout partitioning
  Detectors/ITSMFT/ITS/simulation/src/digi2raw.cxx
  Detectors/Raw/macro/rawStat.C
Owners: @iouribelikov, @bovulpes, @AliceO2Group/core

TPC TracksReader treats each tree entry as new TF
  Detectors/TPC/workflow/include/TPCWorkflow/TrackReaderSpec.h
  Detectors/TPC/workflow/src/TrackReaderSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Option to run TPC ZS Decoder on subslices, needed for >4k time bin processing
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.h
Owners: @davidrohr, @AliceO2Group/framework-admins

[MCH] initial implementation of workflows (#3329)
  Detectors/MUON/MCH/CMakeLists.txt
  Detectors/MUON/MCH/PreClustering/CMakeLists.txt
  Detectors/MUON/MCH/PreClustering/include/MCHPreClustering/PreClusterFinder.h
  Detectors/MUON/MCH/PreClustering/src/PreClusterFinder.cxx
  Detectors/MUON/MCH/Workflow/CMakeLists.txt
  Detectors/MUON/MCH/Workflow/README.md
  Detectors/MUON/MCH/Workflow/include/MCHWorkflow/DataDecoderSpec.h
  Detectors/MUON/MCH/Workflow/include/MCHWorkflow/PreClusterFinderSpec.h
  Detectors/MUON/MCH/Workflow/src/DataDecoderSpec.cxx
  Detectors/MUON/MCH/Workflow/src/DigitSamplerSpec.cxx
  Detectors/MUON/MCH/Workflow/src/DigitSamplerSpec.h
  Detectors/MUON/MCH/Workflow/src/PreClusterFinderSpec.cxx
  Detectors/MUON/MCH/Workflow/src/PreClusterSinkSpec.cxx
  Detectors/MUON/MCH/Workflow/src/PreClusterSinkSpec.h
  Detectors/MUON/MCH/Workflow/src/digits-reader-workflow.cxx
  Detectors/MUON/MCH/Workflow/src/digits-sink-workflow.cxx
  Detectors/MUON/MCH/Workflow/src/digits-to-preclusters-workflow.cxx
  Detectors/MUON/MCH/Workflow/src/file-to-digits-workflow.cxx
  Detectors/MUON/MCH/Workflow/src/preclusters-sink-workflow.cxx
  Detectors/MUON/MCH/Workflow/src/raw-to-digits-workflow.cxx
Owners: @aphecetche

DPL: add default move constructors for DataDescriptorMatcher (#3366)
  Framework/Core/CMakeLists.txt
  Framework/Core/include/Framework/DataDescriptorMatcher.h
  Framework/Core/test/test_InputSpec.cxx
Owners: @AliceO2Group/framework-admins

GPU: Fix TPC ZS remaining 8kb buffer size estimation
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Fix macros assuming global namespace std
  Detectors/CPV/calib/macros/PostCalibCCDB.C
  Detectors/CPV/testsimulation/plot_dig_cpv.C
  Detectors/CPV/testsimulation/plot_hit_cpv.C
  Detectors/EMCAL/reconstruction/macros/RawFitterTESTs.C
  Detectors/ITSMFT/ITS/macros/EVE/simple_geom_ITS.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusterShape.C
  Detectors/ITSMFT/ITS/macros/test/CheckLUtime.C
  Detectors/ITSMFT/ITS/macros/test/CheckTracks.C
  Detectors/ITSMFT/ITS/macros/test/DisplayTrack.C
  Detectors/PHOS/testsimulation/plot_dig_phos.C
  Detectors/PHOS/testsimulation/plot_hit_phos.C
  Detectors/TPC/calibration/macro/dumpDigits.C
  Detectors/TPC/calibration/macro/runPedestal.C
  Detectors/TPC/calibration/macro/runPulser.C
  Detectors/TPC/reconstruction/macro/testRawRead.C
  Detectors/ZDC/macro/CreateModuleConfig.C
  Detectors/ZDC/macro/CreateSimCondition.C
  Detectors/gconfig/UserDecay.C
  Detectors/gconfig/g3Config.C
  Detectors/gconfig/g3libs.C
  Detectors/gconfig/g4Config.C
  GPU/TPCFastTransformation/devtools/IrregularSpline1DTest.C
  GPU/TPCFastTransformation/devtools/IrregularSpline2D3DCalibratorTest.C
  GPU/TPCFastTransformation/devtools/IrregularSpline2D3DTest.C
  GPU/TPCFastTransformation/devtools/RegularSpline1DTest.C
  GPU/TPCFastTransformation/devtools/SemiregularSpline2D3DTest.C
  GPU/TPCFastTransformation/macro/SplineDemo.C
  GPU/TPCFastTransformation/macro/fastTransformQA.C
  GPU/TPCFastTransformation/macro/generateTPCCorrectionNTuple.C
  macro/CreateBCPattern.C
  macro/compareTopologyDistributions.C
  macro/run_calib_tof.C
  macro/run_trac_ca_its.C
  macro/run_trac_mft.C
Owners: @peressounko, @kharlov, @mfasDa, @iouribelikov, @bovulpes, @davidrohr, @wiechula, @shahor02, @coppedis, @AliceO2Group/core, @sgorbuno

GPU: Fix some buffer bounds checks
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCStartHitsFinder.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTracker.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletSelector.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

TOF ClustersReader treats each tree entry as new TF
  Detectors/TOF/workflow/include/TOFWorkflow/ClusterReaderSpec.h
  Detectors/TOF/workflow/src/ClusterReaderSpec.cxx
Owners: @noferini

Place stations 1 & 2 in 'YOUT1' if present
  Detectors/MUON/MCH/Simulation/src/Geometry.cxx
Owners: @aphecetche

DPL: preparatory work to bump to 0.16.0 (#3391)
  Framework/Core/include/Framework/ASoA.h
  Framework/Core/include/Framework/TableTreeHelpers.h
  Framework/Core/src/ASoA.cxx
  Framework/Core/src/ArrowDebugHelpers.h
  Framework/Core/src/TableBuilder.cxx
  Framework/Core/src/TableConsumer.cxx
  Framework/Core/test/test_ASoA.cxx
Owners: @AliceO2Group/framework-admins

DPL: make sure outputs associated to enumerations are stable (#3354)
  Framework/Core/src/WorkflowHelpers.cxx
  Framework/Core/test/test_WorkflowHelpers.cxx
Owners: @AliceO2Group/framework-admins

GPU: Propagate clustersNative found by ca-clusterer back to tpc workflow
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
Owners: @davidrohr, @wiechula, @shahor02

Example to run STARlight via HepMC file
  doc/DetectorSimulation.md
  run/SimExamples/HepMC_STARlight/README.md
  run/SimExamples/HepMC_STARlight/run-starlight.sh
  run/SimExamples/HepMC_STARlight/run.sh
Owners: @AliceO2Group/core

GPU: Fix TPC ZS Decoding with sparse data and empty first HBF
  Detectors/Raw/include/DetectorsRaw/RDHUtils.h
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPURawData.h
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.cxx
Owners: @AliceO2Group/core, @davidrohr, @wiechula, @shahor02, @AliceO2Group/framework-admins

fix in tof ERROR/WARNING logs
  Detectors/GlobalTracking/src/MatchTOF.cxx
  Detectors/TOF/reconstruction/src/Clusterer.cxx
Owners: @shahor02, @noferini

solves issue with aod-writer option ntfmerge (#3340)
  Framework/Core/src/PropertyTreeHelpers.cxx
Owners: @AliceO2Group/framework-admins

GPU: Fix decoding of 12 bit TPC ZS data
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.h
Owners: @davidrohr, @AliceO2Group/framework-admins
