Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

Cleanup
  macro/CMakeLists.txt
Owners: @AliceO2Group/core

Clang format
  macro/build_geometry.C
Owners: @AliceO2Group/core

[O2-1977][CMake](fix) Filter out macros in build directory if any (#5241)
  cmake/O2GetListOfMacros.cmake
Owners: @AliceO2Group/core

GPU: Simplify setting calib objects
  GPU/GPUTracking/Base/GPUDataTypes.h
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr

GPU: Simplification: Keep an array of outputControl Structs instead of maintaining them individuaally
  GPU/GPUTracking/Base/GPUOutputControl.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.h
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
Owners: @davidrohr

GPU: Unify the classes GPUInterfaceOutputRegion and GPUOutputControl in one (having the same purpose anyway)
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUOutputControl.h
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCSliceOutput.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackerComponent.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Fix compilation without O2 headers
  GPU/GPUTracking/Base/GPUO2FakeClasses.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr

TPC Workflow: use helper lambdas to create allocators to avoid code duplication
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Use GPUOutputControl arraay also in GPUChainTracking
  GPU/GPUTracking/Base/GPUOutputControl.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.h
Owners: @davidrohr

fix filtering and minor edits
  Analysis/Tasks/PWGLF/lambdakzeroanalysis.cxx
  Analysis/Tasks/PWGLF/lambdakzerobuilder.cxx
Owners: @jgrosseo, @iarsene

fix filtering and minor edits
  Analysis/Tasks/PWGLF/lambdakzeroanalysis.cxx
  Analysis/Tasks/PWGLF/lambdakzerobuilder.cxx
Owners: @jgrosseo, @iarsene

rename task
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
  Analysis/Tasks/PWGHF/taskJpsiToEE.cxx
Owners: @ginnocen

disable the TPC PID
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
Owners: @ginnocen

Jpsi task and candidate selection for HF
  Analysis/DataModel/include/AnalysisDataModel/HFCandidateSelectionTables.h
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFJpsiCandidateSelector.cxx
  Analysis/Tasks/PWGHF/taskJpsi.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

restore code
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
Owners: @jgrosseo, @iarsene

Adding flag selection
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
Owners: @ginnocen

Adding flag selection
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
  Analysis/Tasks/PWGHF/taskJpsiToEE.cxx
Owners: @ginnocen

restore code
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
Owners: @jgrosseo, @iarsene

rename task and address the comments
  Analysis/DataModel/include/AnalysisDataModel/HFCandidateSelectionTables.h
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Analysis/Tasks/PWGHF/CMakeLists.txt
  Analysis/Tasks/PWGHF/HFCandidateCreator2Prong.cxx
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
  Analysis/Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
  Analysis/Tasks/PWGHF/taskJpsi.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

Set message level to debug1 to avoid flood
  CCDB/src/CcdbApi.cxx
Owners: @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins

even lower
  CCDB/src/CcdbApi.cxx
Owners: @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins

GPU: Simplify setting calib objects
  GPU/GPUTracking/Base/GPUDataTypes.h
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr

GPU: Unify the classes GPUInterfaceOutputRegion and GPUOutputControl in one (having the same purpose anyway)
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Base/GPUOutputControl.h
  GPU/GPUTracking/Base/GPUReconstruction.cxx
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCSliceOutput.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackerComponent.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Fix compilation without O2 headers
  GPU/GPUTracking/Base/GPUO2FakeClasses.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr

GPU: Simplification: Keep an array of outputControl Structs instead of maintaining them individuaally
  GPU/GPUTracking/Base/GPUOutputControl.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.h
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
Owners: @davidrohr

TPC Workflow: use helper lambdas to create allocators to avoid code duplication
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Use GPUOutputControl arraay also in GPUChainTracking
  GPU/GPUTracking/Base/GPUOutputControl.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.h
Owners: @davidrohr

fix filtering and minor edits (#5245)
  Analysis/Tasks/PWGLF/lambdakzeroanalysis.cxx
  Analysis/Tasks/PWGLF/lambdakzerobuilder.cxx
Owners: @jgrosseo, @iarsene

V.0
  Detectors/HMPID/base/include/HMPIDBase/Digit.h
  Detectors/HMPID/base/include/HMPIDBase/Geo.h
  Detectors/HMPID/base/include/HMPIDBase/Param.h
  Detectors/HMPID/base/src/Digit.cxx
  Detectors/HMPID/base/src/Geo.cxx
  Detectors/HMPID/reconstruction/src/HmpidDecodeRawMem.cxx
Owners: @gvolpe79

fix negative uint
  Detectors/MUON/MCH/Workflow/src/ClusterSamplerSpec.cxx
Owners: @aphecetche

Fix compiler warning about signed / unsigned int
  Common/MathUtils/include/MathUtils/detail/TypeTruncation.h
Owners: @shahor02

GPU: Use CMake generator expression for OpenCL 1 include folder instead of listing them manually
  GPU/GPUTracking/Base/opencl/CMakeLists.txt
Owners: @davidrohr

GPU: Filter /usr/include from GPU include directories
  GPU/GPUTracking/Base/cuda/CMakeLists.txt
  GPU/GPUTracking/Base/opencl2/CMakeLists.txt
Owners: @davidrohr

GPU: Move non-Common header files from GPU/Common to GPUTracking/Definitions
  GPU/Common/CMakeLists.txt
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Definitions/GPUDef.h
  GPU/GPUTracking/Definitions/GPUDefConstantsAndSettings.h
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/Definitions/GPUDefMacros.h
  GPU/GPUTracking/Definitions/GPUDefOpenCL12Templates.h
  GPU/GPUTracking/Definitions/GPULogging.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/Standalone/Definitions
Owners: @davidrohr

fix negative uint
  Detectors/MUON/MCH/Workflow/src/TrackSamplerSpec.cxx
Owners: @aphecetche

Add out_stream operator to DIgit
  Detectors/HMPID/base/include/HMPIDBase/Digit.h
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

Fix compiler warning about signed / unsigned int
  Common/MathUtils/include/MathUtils/detail/TypeTruncation.h
Owners: @shahor02

[QC-526] Set message level to debug3 to avoid flood (#5246)
  CCDB/src/CcdbApi.cxx
Owners: @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins

Updated README
  CHANGELOG.md
  doc/data/2021-01-o2_prs.json
Owners: @AliceO2Group/core

[MCH] specify raw decoding input spec from command-line
  Detectors/MUON/MCH/Workflow/src/raw-to-digits-workflow.cxx
Owners: @aphecetche
