Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

FT0 LUT prepared as Singleton for DigitBlockFT0 usage
  DataFormats/Detectors/FIT/FT0/include/DataFormatsFT0/LookUpTable.h
  Detectors/FIT/FT0/raw/include/FT0Raw/DigitBlockFT0.h
  Detectors/FIT/FT0/raw/src/DigitBlockFT0.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck

PWGHF changing default preselection values for hyperloop
  Analysis/Core/include/AnalysisCore/HFConfigurables.h
  Analysis/Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

[rANS] Refactor CombinedInputIterator
  Utilities/rANS/include/rANS/DedupEncoder.h
  Utilities/rANS/include/rANS/Encoder.h
  Utilities/rANS/include/rANS/LiteralEncoder.h
  Utilities/rANS/include/rANS/utils/CombinedIterator.h
  Utilities/rANS/test/test_ransCombinedIterator.cxx
Owners: @shahor02, @MichaelLettrich

[CTF] CombinedInputIterator in TPC
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/EncodedBlocks.h
  DataFormats/Detectors/TPC/include/DataFormatsTPC/CTF.h
  Detectors/Base/include/DetectorsBase/CTFCoderBase.h
  Detectors/CTF/test/test_ctf_io_tpc.cxx
  Detectors/TPC/reconstruction/include/TPCReconstruction/CTFCoder.h
  Detectors/TPC/reconstruction/src/CTFCoder.cxx
Owners: @AliceO2Group/framework-admins, @davidrohr, @wiechula, @shahor02, @sawenzel, @AliceO2Group/core

[rANS] Refactor CombinedOutputIterator
  Detectors/TPC/reconstruction/include/TPCReconstruction/CTFCoder.h
  Utilities/rANS/benchmarks/bench_ransCombinedIterator.cxx
  Utilities/rANS/include/rANS/utils/CombinedIterator.h
  Utilities/rANS/test/test_ransCombinedIterator.cxx
Owners: @davidrohr, @wiechula, @shahor02, @MichaelLettrich

[CTF] CombinedOutputIterator in TPC CTF encoding
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/EncodedBlocks.h
  Detectors/TPC/reconstruction/include/TPCReconstruction/CTFCoder.h
Owners: @AliceO2Group/framework-admins, @davidrohr, @wiechula, @shahor02

[rANS] Cleanup Encoder/Decoder
  Utilities/rANS/include/rANS/Decoder.h
  Utilities/rANS/include/rANS/DedupDecoder.h
  Utilities/rANS/include/rANS/DedupEncoder.h
  Utilities/rANS/include/rANS/Encoder.h
  Utilities/rANS/include/rANS/LiteralDecoder.h
  Utilities/rANS/include/rANS/LiteralEncoder.h
  Utilities/rANS/include/rANS/internal/Decoder.h
  Utilities/rANS/include/rANS/internal/Encoder.h
  Utilities/rANS/include/rANS/internal/helper.h
Owners: @shahor02, @MichaelLettrich

Fix: remap RootTreeWriter branches only once
  Detectors/ITSMFT/common/workflow/src/DigitWriterSpec.cxx
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
  Detectors/TRD/workflow/src/TRDDigitWriterSpec.cxx
  Framework/Utils/include/DPLUtils/RootTreeWriter.h
  Steer/DigitizerWorkflow/src/FDDDigitWriterSpec.h
  Steer/DigitizerWorkflow/src/TPCDigitRootWriterSpec.cxx
Owners: @iouribelikov, @bovulpes, @davidrohr, @wiechula, @shahor02, @jolopezl, @bazinski, @tdietel, @AliceO2Group/framework-admins, @sawenzel

Update WorkflowHelpers.cxx
  Framework/Core/src/WorkflowHelpers.cxx
Owners: @AliceO2Group/framework-admins

Update WorkflowHelpers.cxx
  Framework/Core/src/WorkflowHelpers.cxx
Owners: @AliceO2Group/framework-admins

[rANS] Refactor CombinedInputIterator
  Utilities/rANS/include/rANS/DedupEncoder.h
  Utilities/rANS/include/rANS/Encoder.h
  Utilities/rANS/include/rANS/LiteralEncoder.h
  Utilities/rANS/include/rANS/utils/CombinedIterator.h
  Utilities/rANS/test/test_ransCombinedIterator.cxx
Owners: @shahor02, @MichaelLettrich

[CTF] CombinedOutputIterator in TPC CTF encoding
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/EncodedBlocks.h
  Detectors/TPC/reconstruction/include/TPCReconstruction/CTFCoder.h
Owners: @AliceO2Group/framework-admins, @davidrohr, @wiechula, @shahor02

[rANS] Cleanup Encoder/Decoder
  Utilities/rANS/include/rANS/Decoder.h
  Utilities/rANS/include/rANS/DedupDecoder.h
  Utilities/rANS/include/rANS/DedupEncoder.h
  Utilities/rANS/include/rANS/Encoder.h
  Utilities/rANS/include/rANS/LiteralDecoder.h
  Utilities/rANS/include/rANS/LiteralEncoder.h
  Utilities/rANS/include/rANS/internal/Decoder.h
  Utilities/rANS/include/rANS/internal/Encoder.h
  Utilities/rANS/include/rANS/internal/helper.h
Owners: @shahor02, @MichaelLettrich

[rANS] Refactor CombinedOutputIterator
  Detectors/TPC/reconstruction/include/TPCReconstruction/CTFCoder.h
  Utilities/rANS/benchmarks/bench_ransCombinedIterator.cxx
  Utilities/rANS/include/rANS/utils/CombinedIterator.h
  Utilities/rANS/test/test_ransCombinedIterator.cxx
Owners: @davidrohr, @wiechula, @shahor02, @MichaelLettrich

[CTF] CombinedInputIterator in TPC
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/EncodedBlocks.h
  DataFormats/Detectors/TPC/include/DataFormatsTPC/CTF.h
  Detectors/Base/include/DetectorsBase/CTFCoderBase.h
  Detectors/CTF/test/test_ctf_io_tpc.cxx
  Detectors/TPC/reconstruction/include/TPCReconstruction/CTFCoder.h
  Detectors/TPC/reconstruction/src/CTFCoder.cxx
Owners: @AliceO2Group/framework-admins, @davidrohr, @wiechula, @shahor02, @sawenzel, @AliceO2Group/core

fix for 2 readers and 1 input file (#5195)
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
Owners: @AliceO2Group/framework-admins

PWGHF changing default preselection values for hyperloop (#5200)
  Analysis/Core/include/AnalysisCore/HFConfigurables.h
  Analysis/Tasks/PWGHF/HFTrackIndexSkimsCreator.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

[EMCAL-630] Store result of the raw fit as energy
  Detectors/EMCAL/workflow/src/RawToCellConverterSpec.cxx
Owners: @mfasDa

[EMCAL-630] Store result of the raw fit as energy
  Detectors/EMCAL/workflow/src/RawToCellConverterSpec.cxx
Owners: @mfasDa

PWHF: fix of the histogram registry in the Lc task (#5150)
  Analysis/Tasks/PWGHF/taskD0.cxx
  Analysis/Tasks/PWGHF/taskDPlus.cxx
  Analysis/Tasks/PWGHF/taskLc.cxx
Owners: @ginnocen

clang
  Detectors/TRD/raw/include/TRDRaw/DigitsParser.h
  Detectors/TRD/raw/include/TRDRaw/TrackletsParser.h
  Detectors/TRD/raw/src/CruRawReader.cxx
  Detectors/TRD/raw/src/DigitsParser.cxx
  Detectors/TRD/raw/src/TrackletsParser.cxx
Owners: @jolopezl, @bazinski, @tdietel

cru data to tracklets and digits and compress and more
  DataFormats/Detectors/TRD/include/DataFormatsTRD/Constants.h
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RawData.h
  DataFormats/Detectors/TRD/src/LinkRecord.cxx
  DataFormats/Detectors/TRD/src/RawData.cxx
  Detectors/TRD/CMakeLists.txt
  Detectors/TRD/raw/CMakeLists.txt
  Detectors/TRD/raw/include/TRDRaw/CompressedRawReader.h
  Detectors/TRD/raw/include/TRDRaw/ConfigEvenParser.h
  Detectors/TRD/raw/include/TRDRaw/CruCompressorTask.h
  Detectors/TRD/raw/include/TRDRaw/CruRawReader.h
  Detectors/TRD/raw/include/TRDRaw/DigitsParser.h
  Detectors/TRD/raw/include/TRDRaw/EpnDataReaderTask.h
  Detectors/TRD/raw/include/TRDRaw/TrackletsParser.h
  Detectors/TRD/raw/src/CompressedRawReader.cxx
  Detectors/TRD/raw/src/CruCompressor.cxx
  Detectors/TRD/raw/src/CruCompressorTask.cxx
  Detectors/TRD/raw/src/CruRawReader.cxx
  Detectors/TRD/raw/src/DigitsParser.cxx
  Detectors/TRD/raw/src/EpnDataReader.cxx
  Detectors/TRD/raw/src/EpnDataReaderTask.cxx
  Detectors/TRD/raw/src/TrackletsParser.cxx
  Detectors/TRD/simulation/src/Trap2CRU.cxx
  Detectors/TRD/simulation/src/TrapSimulator.cxx
  Detectors/TRD/simulation/src/trap2raw.cxx
  Detectors/TRD/workflow/CMakeLists.txt
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel

DPL: move driver communication to a separate Service
  Framework/Core/CMakeLists.txt
  Framework/Core/include/Framework/CommonServices.h
  Framework/Core/include/Framework/ControlService.h
  Framework/Core/include/Framework/DriverClient.h
  Framework/Core/include/Framework/TextControlService.h
  Framework/Core/src/CommonServices.cxx
  Framework/Core/src/ControlService.cxx
  Framework/Core/src/TextDriverClient.cxx
  Framework/Core/src/TextDriverClient.h
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

Use pre-selections for Dplus
  Analysis/Tasks/PWGHF/taskDPlus.cxx
Owners: @ginnocen

Fix format
  Analysis/Tasks/PWGHF/taskDPlus.cxx
Owners: @ginnocen

Changes in names, initializers
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/cascadeconsumer.cxx
  Analysis/Tasks/PWGLF/cascadefinder.cxx
  Analysis/Tasks/PWGLF/cascadeproducer.cxx
  Analysis/Tasks/PWGLF/lambdakzeroconsumer.cxx
  Analysis/Tasks/PWGLF/lambdakzerofinder.cxx
  Analysis/Tasks/PWGLF/lambdakzeroproducer.cxx
Owners: @jgrosseo, @iarsene

Change consumer -> analysis, producer -> builder
  Analysis/Tasks/PWGLF/cascadeanalysis.cxx
  Analysis/Tasks/PWGLF/cascadebuilder.cxx
  Analysis/Tasks/PWGLF/lambdakzeroanalysis.cxx
  Analysis/Tasks/PWGLF/lambdakzerobuilder.cxx
Owners: @jgrosseo, @iarsene

add BUILD_ANALYSIS cmake option (default ON)
  CMakeLists.txt
  Detectors/CMakeLists.txt
  cmake/O2DefineOptions.cmake
Owners: @AliceO2Group/core

TableMaker task updated to use configurables for event and track cuts. The task can also run now on both pp and PbPb data, by specifying the isPbPb bool parameter
  Analysis/PWGDQ/include/PWGDQCore/HistogramsLibrary.h
  Analysis/PWGDQ/include/PWGDQCore/VarManager.h
  Analysis/PWGDQ/src/VarManager.cxx
  Analysis/Tasks/PWGDQ/tableMaker.cxx
Owners: @jgrosseo, @iarsene

TPC shared cl. map producer device for TPC file-based input
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/include/TPCWorkflow/ClusterSharingMapSpec.h
  Detectors/TPC/workflow/src/ClusterSharingMapSpec.cxx
Owners: @davidrohr, @wiechula, @shahor02

GPU: Add option to tpc-reco-workflow to ship shared cluster map created during tracking
  Detectors/TPC/workflow/include/TPCWorkflow/CATrackerSpec.h
  Detectors/TPC/workflow/include/TPCWorkflow/RecoWorkflow.h
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
  Detectors/TPC/workflow/src/tpc-reco-workflow.cxx
  GPU/GPUTracking/Base/GPUSettingsList.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.h
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
  GPU/GPUTracking/Merger/GPUTPCGMMerger.h
Owners: @davidrohr, @wiechula, @shahor02

DPL: move driver communication to a separate Service (#5203)
  Framework/Core/CMakeLists.txt
  Framework/Core/include/Framework/CommonServices.h
  Framework/Core/include/Framework/ControlService.h
  Framework/Core/include/Framework/DriverClient.h
  Framework/Core/include/Framework/TextControlService.h
  Framework/Core/src/CommonServices.cxx
  Framework/Core/src/ControlService.cxx
  Framework/Core/src/TextDriverClient.cxx
  Framework/Core/src/TextDriverClient.h
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

small bugfix in tpc momentum
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

TPC-ITS matching will use sh.cl.map from TPC reco or standalone producer
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTrackingWorkflow/src/MatchTPCITSWorkflow.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
Owners: @shahor02

small bug (re)fix, tpc momentum for dedx instead pvtx
  Analysis/Tasks/PWGLF/NucleiSpectraTask.cxx
Owners: @jgrosseo, @iarsene

o2-sim: Use vmc->ProcessEvent for Geant4
  run/O2SimDevice.h
Owners: @AliceO2Group/core

fixed missing braces for the fullCI test
  Analysis/Tasks/PWGDQ/tableMaker.cxx
Owners: @jgrosseo, @iarsene

clang fix
  Analysis/Tasks/PWGDQ/tableMaker.cxx
Owners: @jgrosseo, @iarsene

removed state machine from digits parsing, its faster
  DataFormats/Detectors/TRD/include/DataFormatsTRD/Constants.h
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RawData.h
  DataFormats/Detectors/TRD/src/RawData.cxx
  Detectors/TRD/raw/include/TRDRaw/CruRawReader.h
  Detectors/TRD/raw/include/TRDRaw/DigitsParser.h
  Detectors/TRD/raw/src/CruRawReader.cxx
  Detectors/TRD/raw/src/DigitsParser.cxx
Owners: @jolopezl, @bazinski, @tdietel

clang
  DataFormats/Detectors/TRD/src/RawData.cxx
  Detectors/TRD/raw/include/TRDRaw/CruRawReader.h
  Detectors/TRD/raw/include/TRDRaw/DigitsParser.h
  Detectors/TRD/raw/src/CruRawReader.cxx
  Detectors/TRD/raw/src/DigitsParser.cxx
Owners: @jolopezl, @bazinski, @tdietel

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
