Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @costing, @Barthelemy, @AliceO2Group/framework-admins, @shahor02, @sawenzel, @davidrohr, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

Update Signpost.h
  Framework/Foundation/include/Framework/Signpost.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Analysis: fix typos in AnalysisDataModel (#2828)
  Framework/Core/include/Framework/AnalysisDataModel.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

build: Fix build with o2-dataflow defaults without HepMC (O2-1051)
  Generators/src/GeneratorsLinkDef.h
Owners: @sawenzel

GPU: Fix more possible segfaults in GPU clusterizer
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUTrackingInputProvider.cxx
  GPU/GPUTracking/Global/GPUTrackingInputProvider.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Fix CUDA compiler warning after recent change of TRD tracking interface
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
Owners: @davidrohr, @martenole

Fix data transfer for GPU clusterizer with digits input without ZS
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Update Signpost.h
  Framework/Foundation/include/Framework/Signpost.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

[WIP] [EMCAL-501] modified timing in Digitizer
  DataFormats/Detectors/EMCAL/CMakeLists.txt
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/MCLabel.h
  DataFormats/Detectors/EMCAL/src/DataFormatsEMCALLinkDef.h
  Detectors/EMCAL/simulation/CMakeLists.txt
  Detectors/EMCAL/simulation/include/EMCALSimulation/Digitizer.h
  Detectors/EMCAL/simulation/include/EMCALSimulation/LabeledDigit.h
  Detectors/EMCAL/simulation/include/EMCALSimulation/SimParam.h
  Detectors/EMCAL/simulation/src/Digitizer.cxx
  Detectors/EMCAL/simulation/src/DigitizerTask.cxx
  Detectors/EMCAL/simulation/src/EMCALSimulationLinkDef.h
  Detectors/EMCAL/simulation/src/SimParam.cxx
  Steer/DigitizerWorkflow/src/EMCALDigitWriterSpec.cxx
  Steer/DigitizerWorkflow/src/EMCALDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/EMCALDigitizerSpec.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @mfasDa

DPL Analysis: initial support for parallel reader
  Framework/Core/include/Framework/DeviceSpec.h
  Framework/Core/include/Framework/runDataProcessing.h
  Framework/Core/src/AODReaderHelpers.cxx
  Framework/Core/src/DeviceSpecHelpers.cxx
  Framework/Core/src/FrameworkGUIDeviceInspector.cxx
  Framework/Core/src/WorkflowHelpers.cxx
  Framework/Core/src/WorkflowHelpers.h
  Framework/Core/src/runDataProcessing.cxx
  Framework/Core/test/benchmark_WorkflowHelpers.cxx
  Framework/Core/test/test_WorkflowHelpers.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

DPL Foundation: add support for macOS o2_signpost API [O2-1054] (#2824)
  Framework/Core/src/runDataProcessing.cxx
  Framework/Foundation/CMakeLists.txt
  Framework/Foundation/include/Framework/Signpost.h
  Framework/Foundation/test/test_Signpost.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Update benchmark_WorkflowHelpers.cxx
  Framework/Core/test/benchmark_WorkflowHelpers.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

Fix CUDA compiler warning after recent change of TRD tracking interface
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
Owners: @davidrohr, @martenole

Fix data transfer for GPU clusterizer with digits input without ZS
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: add missing header (can miss depending on how o2 is build)
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

update of the TPCFastTransform interface
  Detectors/TPC/reconstruction/include/TPCReconstruction/TPCFastTransformHelperO2.h
  Detectors/TPC/reconstruction/src/TPCFastTransformHelperO2.cxx
  Detectors/TPC/reconstruction/test/testTPCFastTransform.cxx
  GPU/TPCFastTransformation/TPCFastTransformGeo.cxx
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/core, @sgorbuno

GPU: Fix inconsistent forward declarations (class v.s. struct)
  GPU/GPUTracking/Base/GPUO2FakeClasses.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add option to disable sorting in differential compression and keep input-cluster order
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
Owners: @davidrohr, @AliceO2Group/framework-admins

Update benchmark_WorkflowHelpers.cxx
  Framework/Core/test/benchmark_WorkflowHelpers.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

GPU: add missing header (can miss depending on how o2 is build)
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Fix inconsistent forward declarations (class v.s. struct)
  GPU/GPUTracking/Base/GPUO2FakeClasses.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCClusterFinder.h
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add option to disable sorting in differential compression and keep input-cluster order
  GPU/GPUTracking/Base/GPUSettings.h
  GPU/GPUTracking/DataCompression/GPUTPCCompressionKernels.cxx
  GPU/GPUTracking/Standalone/qconfigoptions.h
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL Analysis: initial support for parallel reader [O2-1057] (#2832)
  Framework/Core/include/Framework/DeviceSpec.h
  Framework/Core/include/Framework/runDataProcessing.h
  Framework/Core/src/AODReaderHelpers.cxx
  Framework/Core/src/DeviceSpecHelpers.cxx
  Framework/Core/src/FrameworkGUIDeviceInspector.cxx
  Framework/Core/src/WorkflowHelpers.cxx
  Framework/Core/src/WorkflowHelpers.h
  Framework/Core/src/runDataProcessing.cxx
  Framework/Core/test/benchmark_WorkflowHelpers.cxx
  Framework/Core/test/test_WorkflowHelpers.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

build: Fix build with o2-dataflow defaults without HepMC (O2-1051)
  Generators/src/GeneratorsLinkDef.h
Owners: @sawenzel

[WIP] [EMCAL-501] modified timing in Digitizer
  DataFormats/Detectors/EMCAL/CMakeLists.txt
  DataFormats/Detectors/EMCAL/include/DataFormatsEMCAL/MCLabel.h
  DataFormats/Detectors/EMCAL/src/DataFormatsEMCALLinkDef.h
  Detectors/EMCAL/simulation/CMakeLists.txt
  Detectors/EMCAL/simulation/include/EMCALSimulation/Digitizer.h
  Detectors/EMCAL/simulation/include/EMCALSimulation/LabeledDigit.h
  Detectors/EMCAL/simulation/include/EMCALSimulation/SimParam.h
  Detectors/EMCAL/simulation/src/Digitizer.cxx
  Detectors/EMCAL/simulation/src/DigitizerTask.cxx
  Detectors/EMCAL/simulation/src/EMCALSimulationLinkDef.h
  Detectors/EMCAL/simulation/src/SimParam.cxx
  Steer/DigitizerWorkflow/src/EMCALDigitWriterSpec.cxx
  Steer/DigitizerWorkflow/src/EMCALDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/EMCALDigitizerSpec.h
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins, @mfasDa

wont compile due to a histograms.hpp missing in ITS
  Detectors/TRD/base/include/TRDBase/TrapConfigHandler.h
  Detectors/TRD/base/src/TrapConfigHandler.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

spelling errors in TrapConfigHandler.h
  Detectors/TRD/base/include/TRDBase/TrapConfig.h
  Detectors/TRD/base/include/TRDBase/TrapConfigHandler.h
  Detectors/TRD/base/src/TrapConfig.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

collapse commits
  Detectors/TRD/base/CMakeLists.txt
  Detectors/TRD/base/include/TRDBase/CalOnlineGainTables.h
  Detectors/TRD/base/include/TRDBase/FeeParam.h
  Detectors/TRD/base/src/CalOnlineGainTables.cxx
  Detectors/TRD/base/src/FeeParam.cxx
  Detectors/TRD/base/src/TRDBaseLinkDef.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core

fixing trapconfighandler
  Detectors/TRD/base/include/TRDBase/TrapConfigHandler.h
  Detectors/TRD/base/src/TrapConfigHandler.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

trying to get o2 rebuilt after moving trapsimulator, now to rebase
  Detectors/TRD/base/CMakeLists.txt
  Detectors/TRD/simulation/CMakeLists.txt
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/simulation/src/TrapSimulator.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

before moving trapsimulator out of base and into simulations
  Detectors/TRD/CMakeLists.txt
  Detectors/TRD/base/CMakeLists.txt
  Detectors/TRD/base/include/TRDBase/TrapConfigHandler.h
  Detectors/TRD/base/include/TRDBase/TrapSimulator.h
  Detectors/TRD/base/src/TrapSimulator.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

readded some files back, rather important ones
  Detectors/TRD/base/include/TRDBase/CalPad.h
  Detectors/TRD/base/include/TRDBase/TrackletBase.h
  Detectors/TRD/base/include/TRDBase/TrackletMCM.h
  Detectors/TRD/base/include/TRDBase/TrapConfig.h
  Detectors/TRD/base/include/TRDBase/TrapConfigHandler.h
  Detectors/TRD/base/include/TRDBase/TrapSimulator.h
  Detectors/TRD/base/src/CalPad.cxx
  Detectors/TRD/base/src/TrackletBase.cxx
  Detectors/TRD/base/src/TrackletMCM.cxx
  Detectors/TRD/base/src/TrapConfig.cxx
  Detectors/TRD/base/src/TrapConfigHandler.cxx
  Detectors/TRD/base/src/TrapSimulator.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

command line options are being parsed correctly, now to put things back together
  Detectors/TRD/base/CMakeLists.txt
  Detectors/TRD/base/include/TRDBase/TrackletMCM.h
  Detectors/TRD/base/src/TRDBaseLinkDef.h
  Detectors/TRD/simulation/CMakeLists.txt
  Detectors/TRD/simulation/include/TRDSimulation/TrapConfig.h
  Detectors/TRD/simulation/include/TRDSimulation/TrapConfigHandler.h
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/simulation/src/TRDSimulationLinkDef.h
  Detectors/TRD/simulation/src/TrapConfig.cxx
  Detectors/TRD/simulation/src/TrapConfigHandler.cxx
  Detectors/TRD/simulation/src/TrapSimulator.cxx
  Detectors/TRD/workflow/CMakeLists.txt
  Detectors/TRD/workflow/src/TRDTrackletWriterSpec.h
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.h
  Detectors/TRD/workflow/src/TRDTrapSimulatorWorkFlow.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core

fixed FeeParam which was causing trapsimulator to crash
  Detectors/TRD/base/src/FeeParam.cxx
  Detectors/TRD/workflow/CMakeLists.txt
  Detectors/TRD/workflow/src/TRDTrapSimulatorWorkFlow.cxx
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  Steer/DigitizerWorkflow/src/TRDTrackletWriterSpec.h
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.h
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

digits correctly sorted after a monster lambda function, the parsing of digits is wrong in loop
  Detectors/TRD/base/src/FeeParam.cxx
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/simulation/src/TrapSimulator.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

dpl process for trap seems to be functioning up to pulling the trapconfig and crashes inside trapsimulator at the trapconfig retrieval stage
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/simulation/src/TrapSimulator.cxx
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
  Detectors/TRD/workflow/src/TRDTrapSimulatorWorkFlow.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

added time to digits, cleaning lady so getting out of here
  Detectors/TRD/base/include/TRDBase/Digit.h
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

before a big rebase
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

before change to padrow trap simulation
  Detectors/TRD/base/src/FeeParam.cxx
  Detectors/TRD/simulation/include/TRDSimulation/TrapSimulator.h
  Detectors/TRD/simulation/src/TrapSimulator.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @AliceO2Group/core, @AliceO2Group/framework-admins

saving stuff before rebooting desktop
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

correction to enable compilation
  Steer/DigitizerWorkflow/src/TRDTrapSimulatorSpec.cxx
Owners: @AliceO2Group/core, @AliceO2Group/framework-admins

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/CCDB  @costing @Barthelemy @AliceO2Group/core @AliceO2Group/framework-admins

/Common              @AliceO2Group/core @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/core @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/core @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov @AliceO2Group/core
/Detectors/EMCAL                   @mfasDa @AliceO2Group/core
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck @AliceO2Group/core
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79 @AliceO2Group/core
/Detectors/ITSMFT                  @iouribelikov @bovulpes @AliceO2Group/core
/Detectors/MUON                    @aphecetche @AliceO2Group/core
/Detectors/PHOS                    @peressounko @kharlov @AliceO2Group/core
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini @AliceO2Group/core
/Detectors/TPC                     @davidrohr @wiechula @shahor02 @AliceO2Group/core
/Detectors/TRD                     @jolopezl @bazinski @AliceO2Group/core
/Detectors/ZDC                     @coppedis @AliceO2Group/core

/EventVisualisation  @jmyrcha @AliceO2Group/core @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/core @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer  @AliceO2Group/core @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/core @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
