Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @vkucera, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @rpezzi, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @martenole, @qgp, @marcovanleeuwen, @mconcas, @coppedis, @knopers8, @chiarazampolli, @jmyrcha, @sgorbuno, @ehellbar, @MichaelLettrich

updates of the O2 Analysis Framework shall from now on be documented at https://github.com/AliceO2Group/analysis-framework
  Framework/Core/ANALYSIS.md
Owners: @AliceO2Group/framework-admins

GPU: Bugfix for OpenCL1 processing / GPU processing with track merging on host
  GPU/GPUTracking/Global/GPUChain.h
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTrackingClusterizer.cxx
  GPU/GPUTracking/Global/GPUChainTrackingMerger.cxx
Owners: @davidrohr

New MFT Power cables and services update
  Detectors/ITSMFT/MFT/base/include/MFTBase/HalfCone.h
  Detectors/ITSMFT/MFT/base/include/MFTBase/MFTBaseParam.h
  Detectors/ITSMFT/MFT/base/src/HalfCone.cxx
  Detectors/ITSMFT/MFT/base/src/HeatExchanger.cxx
Owners: @iouribelikov, @bovulpes, @rpezzi

Log statistics on track to vertex assignment
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
Owners: @AliceO2Group/core

Software event filtering for Run 3 pp (#5967)
  Analysis/CMakeLists.txt
  Analysis/EventFiltering/CMakeLists.txt
  Analysis/EventFiltering/cefp.cxx
  Analysis/EventFiltering/centralEventFilterProcessor.cxx
  Analysis/EventFiltering/centralEventFilterProcessor.h
  Analysis/EventFiltering/filterTables.h
  Analysis/EventFiltering/nucleiFilter.cxx
  Analysis/Tasks/CMakeLists.txt
Owners: @jgrosseo, @iarsene

Add detection of trailing whitespaces.
  .github/workflows/space-checker.yml
Owners: @AliceO2Group/core

Analysis: remove deprecated HistHelpers (#6176)
  Analysis/Core/include/AnalysisCore/HistHelpers.h
  Analysis/Tasks/PWGLF/trackchecks.cxx
  Analysis/Tutorials/CMakeLists.txt
  Analysis/Tutorials/src/histHelpersTest.cxx
Owners: @jgrosseo, @iarsene

[MFT] Marking reconstructed tracks on the MC AOD table
  Detectors/AOD/src/AODProducerWorkflowSpec.cxx
Owners: @AliceO2Group/core

Adjusting the muon iterator tutorial analysis task (#6143)
  Analysis/Tutorials/src/muonIteration.cxx
Owners: @jgrosseo, @iarsene

Fix in composition of ITS/MFT dictionary name
  Detectors/GlobalTrackingWorkflow/src/CosmicsMatchingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
  Detectors/ITSMFT/ITS/macros/EVE/DisplayEventsComp.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
  Detectors/ITSMFT/ITS/macros/test/CheckLUtime.C
  Detectors/ITSMFT/ITS/macros/test/CreateDictionaries.C
  Detectors/ITSMFT/ITS/macros/test/DisplayTrack.C
  Detectors/ITSMFT/ITS/macros/test/dictionary_integrity_test.C
  Detectors/ITSMFT/ITS/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/CookedTrackerSpec.cxx
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/MFT/macros/test/CheckTopologies.C
  Detectors/ITSMFT/MFT/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/TrackerSpec.cxx
  Detectors/ITSMFT/common/workflow/src/STFDecoderSpec.cxx
  macro/compareTopologyDistributions.C
  macro/run_clus_itsSA.C
  macro/run_primary_vertexer_ITS.C
  macro/run_trac_ca_its.C
  macro/run_trac_its.C
Owners: @shahor02, @iouribelikov, @bovulpes, @rpezzi, @AliceO2Group/core

Add FT0 Channels to RecPointReader and RecContainer
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  Detectors/FIT/FT0/workflow/include/FT0Workflow/RecPointReaderSpec.h
  Detectors/FIT/FT0/workflow/src/RecPointReaderSpec.cxx
Owners: @shahor02, @AllaMaevskaya, @jotwinow, @mslupeck

[MFT] Standalone vertex matching (time-bracket) & AOD table production (#6120)
  DataFormats/Detectors/GlobalTracking/CMakeLists.txt
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainerCreateTracksVariadic.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  Detectors/AOD/CMakeLists.txt
  Detectors/AOD/include/AODProducerWorkflow/AODProducerWorkflowSpec.h
  Detectors/AOD/src/AODProducerWorkflow.cxx
  Detectors/AOD/src/AODProducerWorkflowSpec.cxx
  Detectors/GlobalTracking/src/MatchCosmics.cxx
  Detectors/GlobalTrackingWorkflow/CMakeLists.txt
  Detectors/GlobalTrackingWorkflow/helpers/CMakeLists.txt
  Detectors/GlobalTrackingWorkflow/helpers/src/InputHelper.cxx
  Detectors/GlobalTrackingWorkflow/src/PrimaryVertexingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/primary-vertexing-workflow.cxx
  Detectors/ITSMFT/MFT/tracking/include/MFTTracking/Tracker.h
  Detectors/ITSMFT/MFT/workflow/CMakeLists.txt
  Detectors/ITSMFT/MFT/workflow/include/MFTWorkflow/TrackReaderSpec.h
  Detectors/ITSMFT/MFT/workflow/src/TrackReaderSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/TrackWriterSpec.cxx
  Detectors/ITSMFT/MFT/workflow/src/TrackerSpec.cxx
  Detectors/Vertexing/include/DetectorsVertexing/VertexTrackMatcher.h
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @shahor02, @AliceO2Group/core, @iouribelikov, @bovulpes, @rpezzi, @davidrohr

Add missing ROOT dictionary (not really needed, but fixes warning)
  GPU/GPUTracking/Definitions/GPUSettingsList.h
  GPU/GPUTracking/GPUTrackingLinkDef_O2.h
Owners: @davidrohr

Cluster finder for ITS3 (#6129)
  DataFormats/Detectors/ITSMFT/IT3/CMakeLists.txt
  DataFormats/Detectors/ITSMFT/IT3/include/DataFormatsITS3/CompCluster.h
  DataFormats/Detectors/ITSMFT/IT3/src/CompCluster.cxx
  DataFormats/Detectors/ITSMFT/IT3/src/ITS3DataFormatsLinkDef.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/ChipMappingITS.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/PixelData.h
  Detectors/Upgrades/IT3/CMakeLists.txt
  Detectors/Upgrades/IT3/macros/test/CMakeLists.txt
  Detectors/Upgrades/IT3/macros/test/CheckClustersITS3.C
  Detectors/Upgrades/IT3/macros/test/CheckDigitsITS3.C
  Detectors/Upgrades/IT3/reconstruction/CMakeLists.txt
  Detectors/Upgrades/IT3/reconstruction/include/ITS3Reconstruction/Clusterer.h
  Detectors/Upgrades/IT3/reconstruction/include/ITS3Reconstruction/TopologyDictionary.h
  Detectors/Upgrades/IT3/reconstruction/src/Clusterer.cxx
  Detectors/Upgrades/IT3/reconstruction/src/ITS3ReconstructionLinkDef.h
  Detectors/Upgrades/IT3/reconstruction/src/TopologyDictionary.cxx
  Detectors/Upgrades/IT3/workflow/CMakeLists.txt
  Detectors/Upgrades/IT3/workflow/include/ITS3Workflow/ClusterReaderSpec.h
  Detectors/Upgrades/IT3/workflow/include/ITS3Workflow/ClusterWriterSpec.h
  Detectors/Upgrades/IT3/workflow/include/ITS3Workflow/ClusterWriterWorkflow.h
  Detectors/Upgrades/IT3/workflow/include/ITS3Workflow/ClustererSpec.h
  Detectors/Upgrades/IT3/workflow/include/ITS3Workflow/DigitReaderSpec.h
  Detectors/Upgrades/IT3/workflow/include/ITS3Workflow/RecoWorkflow.h
  Detectors/Upgrades/IT3/workflow/src/ClusterReaderSpec.cxx
  Detectors/Upgrades/IT3/workflow/src/ClusterWriterSpec.cxx
  Detectors/Upgrades/IT3/workflow/src/ClusterWriterWorkflow.cxx
  Detectors/Upgrades/IT3/workflow/src/ClustererSpec.cxx
  Detectors/Upgrades/IT3/workflow/src/DigitReaderSpec.cxx
  Detectors/Upgrades/IT3/workflow/src/RecoWorkflow.cxx
  Detectors/Upgrades/IT3/workflow/src/its3-reco-workflow.cxx
Owners: @iouribelikov, @bovulpes, @rpezzi, @qgp, @marcovanleeuwen, @mconcas

Fix HMPID stream decoder workflow writing output at end of run not at endOfStream
  Detectors/HMPID/workflow/src/DataDecoderSpec2.cxx
Owners: @gvolpe79

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen @vkucera
/Analysis/Tasks/PWGHF  @ginnocen @vkucera

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/CTP                     @shahor02
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/QualityControl    @knopers8 @Barthelemy @chiarazampolli
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Calibration             @chiarazampolli @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
