Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @vkucera, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @rpezzi, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @martenole, @qgp, @marcovanleeuwen, @mconcas, @coppedis, @knopers8, @chiarazampolli, @jmyrcha, @sgorbuno, @ehellbar, @MichaelLettrich

Some work to make TOF cluster and BaseCluster compatible to GPU
  Common/MathUtils/include/MathUtils/Cartesian.h
  DataFormats/Detectors/TOF/CMakeLists.txt
  DataFormats/Detectors/TOF/include/DataFormatsTOF/Cluster.h
  DataFormats/Detectors/TOF/src/Cluster.cxx
  DataFormats/Reconstruction/include/ReconstructionDataFormats/BaseCluster.h
  Detectors/TOF/reconstruction/src/Clusterer.cxx
  GPU/Common/GPUCommonRtypes.h
  GPU/Common/GPUROOTCartesianFwd.h
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/GPUTracking/qa/GPUQA.cxx
Owners: @shahor02, @noferini, @davidrohr

GPU DPL Display: Use fillIOPtr in O2GPUDPLDisplay
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RecoInputContainer.h
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
  GPU/GPUTracking/Interface/GPUO2InterfaceDisplay.cxx
  GPU/Workflow/CMakeLists.txt
  GPU/Workflow/helper/include/GPUWorkflowHelper/GPUWorkflowHelper.h
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
  GPU/Workflow/src/O2GPUDPLDisplay.cxx
Owners: @shahor02, @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

GPU: TRDTracker should use GPUInfo(...) instead of ROOT Info(...)
  GPU/GPUTracking/DataTypes/GPUTRDDef.h
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
Owners: @davidrohr, @martenole

Add direct getters for tpc clusters / trd tracklets
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
Owners: @shahor02

DataFormats should ideally not depend on Framework, and if so than please only as PRIVATE
  DataFormats/Detectors/GlobalTracking/CMakeLists.txt
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  GPU/Workflow/src/GPUWorkflowSpec.cxx
Owners: @shahor02, @davidrohr

Use new clang version, enable more OpenCL extensions, revert workarounds (#6086)
  Detectors/Raw/include/DetectorsRaw/RDHUtils.h
  Detectors/TPC/workflow/src/ZSSpec.cxx
  Detectors/TPC/workflow/src/convertDigitsToRawZS.cxx
  GPU/Common/GPUCommonTypeTraits.h
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/Base/opencl-common/GPUReconstructionOCL.cl
  GPU/GPUTracking/Base/opencl2/CMakeLists.txt
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPURawData.h
  GPU/GPUTracking/Global/GPUChainTrackingClusterizer.cxx
  GPU/GPUTracking/Standalone/tools/testCL.sh
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
Owners: @AliceO2Group/core, @davidrohr, @wiechula, @shahor02

digitization: Add option to disable config writing
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
Owners: @sawenzel, @shahor02

Use a per workflow startTime... (#5873)
  Framework/Core/src/ExternalFairMQDeviceProxy.cxx
Owners: @AliceO2Group/framework-admins

improving configuration harvesting (#6080)
  Analysis/Tasks/PWGCF/correlations.cxx
Owners: @jgrosseo, @iarsene

GPU: Move GPUTRDTrack from TRDTracking into DataTypes
  DataFormats/Detectors/TRD/include/DataFormatsTRD/TrackTRD.h
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPUTRDInterfaceO2Track.h
  GPU/GPUTracking/DataTypes/GPUTRDO2BaseTrack.h
  GPU/GPUTracking/DataTypes/GPUTRDTrack.cxx
  GPU/GPUTracking/DataTypes/GPUTRDTrack.h
  GPU/GPUTracking/DataTypes/GPUTRDTrackO2.cxx
  GPU/GPUTracking/Definitions/GPUDefConstantsAndSettings.h
  GPU/GPUTracking/Merger/GPUTPCGMMergedTrack.h
  GPU/GPUTracking/Merger/GPUTPCGMMergerTypes.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.h
  GPU/GPUTracking/Merger/GPUTPCGMTracksToTPCSeeds.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

New CPV data format
  DataFormats/Detectors/CPV/include/DataFormatsCPV/RawFormats.h
  Detectors/CPV/base/CMakeLists.txt
  Detectors/CPV/base/include/CPVBase/RCUTrailer.h
  Detectors/CPV/base/src/RCUTrailer.cxx
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVGainCalibDevice.cxx
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVPedestalCalibDevice.cxx
  Detectors/CPV/reconstruction/include/CPVReconstruction/RawDecoder.h
  Detectors/CPV/reconstruction/include/CPVReconstruction/RawReaderMemory.h
  Detectors/CPV/reconstruction/src/RawDecoder.cxx
  Detectors/CPV/reconstruction/src/RawReaderMemory.cxx
  Detectors/CPV/simulation/include/CPVSimulation/RawWriter.h
  Detectors/CPV/simulation/src/RawWriter.cxx
  Detectors/CPV/workflow/src/RawToDigitConverterSpec.cxx
Owners: @peressounko, @kharlov

Add TRD Tracks, Tracklet MC labels to generic reader / RecoContainer
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RecoInputContainer.h
  Detectors/GlobalTrackingWorkflow/helpers/CMakeLists.txt
  Detectors/GlobalTrackingWorkflow/helpers/src/InputHelper.cxx
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDTrackletReaderSpec.h
  GPU/GPUTracking/DataTypes/GPUDataTypes.h
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @shahor02, @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

DPL: allow for custom channel selection in multi output proxy (#6072)
  Framework/Core/include/Framework/ExternalFairMQDeviceProxy.h
  Framework/Core/src/ExternalFairMQDeviceProxy.cxx
Owners: @AliceO2Group/framework-admins

fluka input data filename corrected
  Detectors/gconfig/src/FlukaConfig.cxx
Owners: @AliceO2Group/core

Code cleanup
  DataFormats/Detectors/ZDC/include/DataFormatsZDC/RecEvent.h
  DataFormats/Detectors/ZDC/src/DataFormatsZDCLinkDef.h
  Detectors/ZDC/base/include/ZDCBase/Constants.h
  Detectors/ZDC/macro/CMakeLists.txt
  Detectors/ZDC/macro/CreateIntegrationParam.C
  Detectors/ZDC/reconstruction/CMakeLists.txt
  Detectors/ZDC/reconstruction/include/ZDCReconstruction/DigiReco.h
  Detectors/ZDC/reconstruction/include/ZDCReconstruction/RecoParamZDC.h
  Detectors/ZDC/reconstruction/include/ZDCReconstruction/ZDCIntegrationParam.h
  Detectors/ZDC/reconstruction/src/DigiReco.cxx
  Detectors/ZDC/reconstruction/src/ZDCIntegrationParam.cxx
Owners: @coppedis

GRPWriter: Use semaphore only when asked
  Steer/DigitizerWorkflow/src/GRPUpdaterSpec.cxx
Owners: @sawenzel, @shahor02

Renamed classes in DataFormatsCPV/RawFormats.h
  DataFormats/Detectors/CPV/include/DataFormatsCPV/RawFormats.h
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVGainCalibDevice.cxx
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVPedestalCalibDevice.cxx
  Detectors/CPV/reconstruction/include/CPVReconstruction/RawDecoder.h
  Detectors/CPV/reconstruction/src/RawDecoder.cxx
  Detectors/CPV/simulation/src/RawWriter.cxx
  Detectors/CPV/workflow/src/RawToDigitConverterSpec.cxx
Owners: @peressounko, @kharlov

Add o2::trd::TrackTRD class as alias to GPUTRDTrack
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  DataFormats/Detectors/TRD/include/DataFormatsTRD/TrackTRD.h
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @shahor02, @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

TRD Tracking: Use TrackTRD as datatype in the workflows instead of GPUTRDTrack
  Detectors/TRD/workflow/include/TRDWorkflow/TRDTrackReaderSpec.h
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
  Detectors/TRD/workflow/src/TRDTrackWriterSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole

Log only 1st instance of new GBT link decoding error
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/DecodingStat.h
  Detectors/ITSMFT/common/reconstruction/src/GBTLink.cxx
Owners: @iouribelikov, @bovulpes, @rpezzi

LOG only 1st instance of new Alpide decoding error, show full report in the end
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/AlpideCoder.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/DecodingStat.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/PixelData.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/RawPixelDecoder.h
  Detectors/ITSMFT/common/reconstruction/include/ITSMFTReconstruction/RawPixelReader.h
  Detectors/ITSMFT/common/reconstruction/src/AlpideCoder.cxx
  Detectors/ITSMFT/common/reconstruction/src/DecodingStat.cxx
  Detectors/ITSMFT/common/reconstruction/src/GBTLink.cxx
  Detectors/ITSMFT/common/reconstruction/src/RUDecodeData.cxx
  Detectors/ITSMFT/common/reconstruction/src/RawPixelDecoder.cxx
Owners: @iouribelikov, @bovulpes, @rpezzi

Fix file name building
  DataFormats/Detectors/Common/src/NameConf.cxx
Owners: @AliceO2Group/framework-admins

DPL GUI: vastly improved metric display (#5976)
  Framework/GUISupport/src/FrameworkGUIDebugger.cxx
  Framework/GUISupport/src/FrameworkGUIState.h
Owners: @AliceO2Group/framework-admins

Start reworking rec event structure
  DataFormats/Detectors/ZDC/CMakeLists.txt
  DataFormats/Detectors/ZDC/include/DataFormatsZDC/BCRecData.h
  DataFormats/Detectors/ZDC/include/DataFormatsZDC/RecEventAux.h
  DataFormats/Detectors/ZDC/include/DataFormatsZDC/TDCData.h
  DataFormats/Detectors/ZDC/src/BCRecData.cxx
  DataFormats/Detectors/ZDC/src/DataFormatsZDCLinkDef.h
  DataFormats/Detectors/ZDC/src/RecEventAux.cxx
  DataFormats/Detectors/ZDC/src/TDCData.cxx
  Detectors/ZDC/reconstruction/include/ZDCReconstruction/DigiReco.h
  Detectors/ZDC/reconstruction/src/DigiReco.cxx
Owners: @coppedis

Fix typos
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
Owners: @shahor02

avoid to store some floats
  DataFormats/Detectors/ZDC/include/DataFormatsZDC/RecEvent.h
  Detectors/ZDC/reconstruction/src/DigiReco.cxx
Owners: @coppedis

PWGHF: Add PID track selector class. (#6043)
  Analysis/Core/include/AnalysisCore/HFSelectorCuts.h
  Analysis/Core/include/AnalysisCore/TrackSelectorPID.h
  Analysis/Tasks/PWGHF/HFD0CandidateSelector.cxx
  Analysis/Tasks/PWGHF/HFDplusToPiKPiCandidateSelector.cxx
  Analysis/Tasks/PWGHF/HFJpsiToEECandidateSelector.cxx
  Analysis/Tasks/PWGHF/HFLcCandidateSelector.cxx
  Analysis/Tasks/PWGHF/HFXicToPKPiCandidateSelector.cxx
Owners: @jgrosseo, @iarsene, @ginnocen, @vkucera

GPU: Clean up OpenCL test script
  GPU/GPUTracking/Standalone/tools/testCL.sh
Owners: @davidrohr

DPL GUI: improve profiler / debugger support (#6087)
  Framework/GUISupport/src/FrameworkGUIDebugger.cxx
  Framework/GUISupport/src/FrameworkGUIDeviceInspector.cxx
Owners: @AliceO2Group/framework-admins

Add ClassDef for TrackTRD and fix AliRoot compilation
  GPU/GPUTracking/DataTypes/GPUTRDInterfaceO2Track.h
  GPU/GPUTracking/DataTypes/GPUTRDTrack.h
Owners: @davidrohr

[QC-579] Fix detecting overlapping inputs in DataSpecUtils::includes and Data Sampling (#6078)
  Framework/Core/src/DataSpecUtils.cxx
  Framework/Core/test/unittest_DataSpecUtils.cxx
  Utilities/DataSampling/test/test_DataSampling.cxx
Owners: @AliceO2Group/framework-admins, @Barthelemy, @knopers8

Multithread version of populateCCDB used at MW2
  Detectors/Calibration/testMacros/populateCCDB.C
Owners: @chiarazampolli, @shahor02

jobutils: Fix propagation of return codes
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

RecoContainer should create sharedClusterMap only if both clusters and tracks are requested
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
Owners: @shahor02

Ctp configuration mostly (#6040)
  DataFormats/Detectors/CTP/CMakeLists.txt
  DataFormats/Detectors/CTP/include/DataFormatsCTP/Configuration.h
  DataFormats/Detectors/CTP/include/DataFormatsCTP/Digits.h
  DataFormats/Detectors/CTP/src/Configuration.cxx
  DataFormats/Detectors/CTP/src/DataFormatsCTPLinkDef.h
  DataFormats/Detectors/CTP/src/Digits.cxx
  Detectors/CTP/simulation/include/CTPSimulation/Digitizer.h
  Detectors/CTP/simulation/src/Digitizer.cxx
  Detectors/CTP/workflow/include/CTPWorkflow/CTPDigitWriterSpec.h
  Detectors/CTP/workflow/src/CTPDigitWriterSpec.cxx
  GPU/Workflow/src/GPUWorkflowSpec.cxx
  Steer/DigitizerWorkflow/src/CTPDigitizerSpec.cxx
Owners: @shahor02, @AliceO2Group/core, @davidrohr, @sawenzel

[MFT] Adds configuration methods to the MFT track fitter (#6053)
  Detectors/ITSMFT/MFT/tracking/include/MFTTracking/TrackFitter.h
  Detectors/ITSMFT/MFT/tracking/src/TrackFitter.cxx
  Detectors/ITSMFT/MFT/tracking/src/Tracker.cxx
Owners: @iouribelikov, @bovulpes, @rpezzi

[MCH] add optional protections against high-occupancy DE and/or event (#6085)
  Detectors/MUON/MCH/PreClustering/include/MCHPreClustering/PreClusterFinder.h
  Detectors/MUON/MCH/PreClustering/src/PreClusterFinder.cxx
  Detectors/MUON/MCH/Workflow/src/PreClusterFinderSpec.cxx
Owners: @aphecetche

DPL GUI: add support for multiple axis (#6100)
  Framework/GUISupport/src/FrameworkGUIDebugger.cxx
Owners: @AliceO2Group/framework-admins

Reducing granularity in PoissonSolver test (#6070)
  Detectors/TPC/spacecharge/test/testO2TPCPoissonSolver.cxx
Owners: @davidrohr, @wiechula, @shahor02

Use createTracks to parse tracks in input for GPU workflow
  GPU/GPUTracking/DataTypes/GPUDataTypes.h
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @davidrohr

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen @vkucera
/Analysis/Tasks/PWGHF  @ginnocen @vkucera

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/CTP                     @shahor02
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/QualityControl    @knopers8 @Barthelemy @chiarazampolli
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Calibration             @chiarazampolli @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
