Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

TableMaker task updated to use configurables for system type, event and track selections (#5206)
  Analysis/PWGDQ/include/PWGDQCore/HistogramsLibrary.h
  Analysis/PWGDQ/include/PWGDQCore/VarManager.h
  Analysis/PWGDQ/src/VarManager.cxx
  Analysis/Tasks/PWGDQ/tableMaker.cxx
Owners: @jgrosseo, @iarsene

[EMCAL-630] Fix assignment of energy and time
  Detectors/EMCAL/workflow/src/RawToCellConverterSpec.cxx
Owners: @mfasDa

Version 0
  Detectors/HMPID/workflow/CMakeLists.txt
  Detectors/HMPID/workflow/include/HMPIDWorkflow/DataDecoderSpec.h
  Detectors/HMPID/workflow/include/HMPIDWorkflow/DumpDigitsSpec.h
  Detectors/HMPID/workflow/include/HMPIDWorkflow/RawFileReaderSpec.h
  Detectors/HMPID/workflow/include/HMPIDWorkflow/RawFileReaderSpec.h_trash
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
  Detectors/HMPID/workflow/src/RawFileReaderSpec.cxx_trash
  Detectors/HMPID/workflow/src/rawfile-to-digits-workflow.cxx_trash
Owners: @gvolpe79

[EMCAL-630] Fix assignment of energy and time
  Detectors/EMCAL/workflow/src/RawToCellConverterSpec.cxx
Owners: @mfasDa

Bugfix: WorkflowHelper.h was not installled
  DataFormats/Detectors/TPC/CMakeLists.txt
Owners: @davidrohr, @wiechula, @shahor02

documentation adjustments
  doc/DetectorSimulation.md
Owners: @AliceO2Group/core

o2sim: correctly prefix final configuration
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/NameConf.h
  macro/o2sim.C
Owners: @AliceO2Group/framework-admins, @AliceO2Group/core

o2sim: correctly prefix final configuration
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/NameConf.h
  macro/o2sim.C
Owners: @AliceO2Group/framework-admins, @AliceO2Group/core

documentation adjustments
  doc/DetectorSimulation.md
Owners: @AliceO2Group/core

Bugfix: WorkflowHelper.h was not installled
  DataFormats/Detectors/TPC/CMakeLists.txt
Owners: @davidrohr, @wiechula, @shahor02

Add tables for the compressed Nsigma values
  Analysis/DataModel/include/AnalysisDataModel/PID/PIDResponse.h
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/spectraTOF_tiny.cxx
  Analysis/Tasks/PWGLF/spectraTPC_tiny.cxx
  Analysis/Tasks/pidTOF_tiny.cxx
  Analysis/Tasks/pidTPC_tiny.cxx
Owners: @jgrosseo, @iarsene

Revert to Run 2 tracklet format in TRAP
  DataFormats/Detectors/TRD/include/DataFormatsTRD/Tracklet64.h
  Detectors/TRD/simulation/src/TrapSimulator.cxx
Owners: @jolopezl, @bazinski, @tdietel

Fix column and offset scaling factor
  Detectors/TRD/simulation/src/TrapSimulator.cxx
Owners: @jolopezl, @bazinski, @tdietel

Fix includes for TRD digit conversion macro
  Detectors/TRD/macros/convertRun2ToRun3Digits.C
Owners: @jolopezl, @bazinski, @tdietel

Add dummy branch for MC labels
  Detectors/TRD/macros/convertRun2ToRun3Digits.C
Owners: @jolopezl, @bazinski, @tdietel

Reset mNHits after each TF and some cosmetics
  Detectors/TRD/simulation/src/TrapSimulator.cxx
Owners: @jolopezl, @bazinski, @tdietel

Fix pad sharing in TRAP workflow
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel

raw-parser logs DataHeader and DataProcessingHeader info
  Framework/Utils/include/DPLUtils/DPLRawParser.h
  Framework/Utils/src/raw-parser.cxx
Owners: @AliceO2Group/framework-admins

refactor TRD digit class
  Detectors/TRD/base/CMakeLists.txt
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/base/include/TRDBase/FeeParam.h
  Detectors/TRD/base/src/Digit.cxx
  Detectors/TRD/base/src/FeeParam.cxx
  Detectors/TRD/base/src/TRDBaseLinkDef.h
  Detectors/TRD/simulation/src/Digitizer.cxx
  Detectors/TRD/workflow/src/TRDTrapSimulatorSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel

Check for selective primary transport also in case of parallel sim
  DataFormats/simulation/include/SimulationDataFormat/Stack.h
  DataFormats/simulation/src/Stack.cxx
Owners: @sawenzel

Add inhibited flag to MCTrack::PropEncoding and reduce hitmask bitfield
  DataFormats/simulation/include/SimulationDataFormat/MCTrack.h
Owners: @sawenzel

Check for selective primary transport also in case of parallel sim
  DataFormats/simulation/include/SimulationDataFormat/Stack.h
  DataFormats/simulation/src/Stack.cxx
Owners: @sawenzel

Add inhibited flag to MCTrack::PropEncoding and reduce hitmask bitfield
  DataFormats/simulation/include/SimulationDataFormat/MCTrack.h
Owners: @sawenzel

start of Derived data for spectraTPC
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/SkimmingTutorials/CMakeLists.txt
  Analysis/Tasks/SkimmingTutorials/DataModel/LFDerived.h
  Analysis/Tasks/SkimmingTutorials/LFDerived.h
  Analysis/Tasks/SkimmingTutorials/spectraTPCAnalyser.cxx
  Analysis/Tasks/SkimmingTutorials/spectraTPCProvider.cxx
  Analysis/Tasks/SkimmingTutorials/spectraTPCReference.cxx
  Common/MathUtils/include/MathUtils/Utils.h
  Common/MathUtils/include/MathUtils/detail/TypeTruncation.h
Owners: @jgrosseo, @iarsene, @shahor02

Make sure benchmark::benchmark stays optional
  Framework/Utils/CMakeLists.txt
  Utilities/Mergers/CMakeLists.txt
  Utilities/rANS/CMakeLists.txt
Owners: @AliceO2Group/framework-admins, @Barthelemy, @knopers8, @shahor02, @MichaelLettrich

Adding flag selection in the hadron tasks
  Analysis/DataModel/include/AnalysisDataModel/HFSecondaryVertex.h
  Analysis/Tasks/PWGHF/HFD0CandidateSelector.cxx
  Analysis/Tasks/PWGHF/HFLcCandidateSelector.cxx
  Analysis/Tasks/PWGHF/taskD0.cxx
  Analysis/Tasks/PWGHF/taskLc.cxx
Owners: @jgrosseo, @iarsene, @ginnocen

Update CMakeLists.txt
  Utilities/rANS/CMakeLists.txt
Owners: @shahor02, @MichaelLettrich

Update CMakeLists.txt
  Utilities/Mergers/CMakeLists.txt
Owners: @Barthelemy, @knopers8

raw-parser logs DataHeader and DataProcessingHeader info
  Framework/Utils/include/DPLUtils/DPLRawParser.h
  Framework/Utils/src/raw-parser.cxx
Owners: @AliceO2Group/framework-admins

PWGHF : further restricitng HF preselection for hyperloop testing
  Analysis/Core/include/AnalysisCore/HFConfigurables.h
Owners: @jgrosseo, @iarsene

Update spectraTPCProvider.cxx
  Analysis/Tasks/SkimmingTutorials/spectraTPCProvider.cxx
Owners: @jgrosseo, @iarsene

Make sure benchmark::benchmark stays optional (O2-1973) (#5231)
  Framework/Utils/CMakeLists.txt
  Utilities/Mergers/CMakeLists.txt
  Utilities/rANS/CMakeLists.txt
Owners: @AliceO2Group/framework-admins, @Barthelemy, @knopers8, @shahor02, @MichaelLettrich

TPC Workflow / Tracking: Remove dead codee
  Detectors/TPC/reconstruction/include/TPCReconstruction/GPUCATracking.h
  Detectors/TPC/reconstruction/src/GPUCATracking.cxx
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceConfiguration.h
  macro/CMakeLists.txt
  macro/runCATrackingClusterNative.C
Owners: @davidrohr, @wiechula, @shahor02, @AliceO2Group/core

Aggregated container + access with global index
  DataFormats/common/CMakeLists.txt
  DataFormats/common/include/CommonDataFormat/AbstractRefAccessor.h
  DataFormats/common/src/AbstractRefAccessor.cxx
  DataFormats/common/src/CommonDataFormatLinkDef.h
  DataFormats/common/test/testAbstractRefAccessor.cxx
Owners: @shahor02

Aggregated track container + global index with more provenance enums
  DataFormats/Reconstruction/CMakeLists.txt
  DataFormats/Reconstruction/include/ReconstructionDataFormats/GlobalTrackAccessor.h
  DataFormats/Reconstruction/include/ReconstructionDataFormats/GlobalTrackID.h
  DataFormats/Reconstruction/src/GlobalTrackID.cxx
  DataFormats/Reconstruction/src/ReconstructionDataFormatsLinkDef.h
  Detectors/AOD/src/AODProducerWorkflowSpec.cxx
  Detectors/AOD/src/StandaloneAODProducer.cxx
Owners: @shahor02, @AliceO2Group/core

Use new aggregated container/global index in vertexing
  DataFormats/Reconstruction/include/ReconstructionDataFormats/VtxTrackIndex.h
  DataFormats/Reconstruction/src/VtxTrackIndex.cxx
  Detectors/GlobalTrackingWorkflow/src/SecondaryVertexingSpec.cxx
  Detectors/Vertexing/include/DetectorsVertexing/SVertexer.h
  Detectors/Vertexing/src/PVertexer.cxx
  Detectors/Vertexing/src/SVertexer.cxx
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
Owners: @shahor02, @AliceO2Group/core

Setting up Skimming Tasks - spectraTPC (#5217)
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/SkimmingTutorials/CMakeLists.txt
  Analysis/Tasks/SkimmingTutorials/DataModel/LFDerived.h
  Analysis/Tasks/SkimmingTutorials/LFDerived.h
  Analysis/Tasks/SkimmingTutorials/spectraTPCAnalyser.cxx
  Analysis/Tasks/SkimmingTutorials/spectraTPCProvider.cxx
  Analysis/Tasks/SkimmingTutorials/spectraTPCReference.cxx
  Common/MathUtils/include/MathUtils/Utils.h
  Common/MathUtils/include/MathUtils/detail/TypeTruncation.h
Owners: @jgrosseo, @iarsene, @shahor02

Add tables for the compressed Nsigma values (#5214)
  Analysis/DataModel/include/AnalysisDataModel/PID/PIDResponse.h
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/spectraTOF_tiny.cxx
  Analysis/Tasks/PWGLF/spectraTPC_tiny.cxx
  Analysis/Tasks/pidTOF_tiny.cxx
  Analysis/Tasks/pidTPC_tiny.cxx
Owners: @jgrosseo, @iarsene

consolidated Variant conversions
  Framework/Core/include/Framework/ConfigParamRegistry.h
  Framework/Core/include/Framework/VariantJSONHelpers.h
  Framework/Core/include/Framework/VariantPropertyTreeHelpers.h
  Framework/Core/include/Framework/VariantStringHelpers.h
  Framework/Core/src/PropertyTreeHelpers.cxx
  Framework/Core/src/RootConfigParamHelpers.cxx
Owners: @AliceO2Group/framework-admins

pileup check: fix type comparison
  macro/analyzeDigitLabels.C
Owners: @AliceO2Group/core
