Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @vkucera, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @rpezzi, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @martenole, @qgp, @marcovanleeuwen, @mconcas, @coppedis, @knopers8, @chiarazampolli, @jmyrcha, @sgorbuno, @ehellbar, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen @vkucera
/Analysis/Tasks/PWGHF  @ginnocen @vkucera

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/CTP                     @shahor02
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/QualityControl    @knopers8 @Barthelemy @chiarazampolli
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Calibration             @chiarazampolli @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

Fix in AODProducerWorkflowSpec: dont include 3d party code to profit from its aliases
  Detectors/AOD/include/AODProducerWorkflow/AODProducerWorkflowSpec.h
  Detectors/AOD/src/AODProducerWorkflowSpec.cxx
Owners: @AliceO2Group/core

SVertexer: use InputHelper, avoid global DataRequest var.
  Detectors/GlobalTrackingWorkflow/include/GlobalTrackingWorkflow/SecondaryVertexingSpec.h
  Detectors/GlobalTrackingWorkflow/src/SecondaryVertexingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/secondary-vertexing-workflow.cxx
Owners: @shahor02

Add missing headers
  Detectors/Vertexing/include/DetectorsVertexing/SVertexer.h
Owners: @AliceO2Group/core

TRD tracking adapt to ioPtr usage for GPU proc.
  DataFormats/Detectors/TRD/include/DataFormatsTRD/CalibratedTracklet.h
  Detectors/TRD/reconstruction/CMakeLists.txt
  Detectors/TRD/reconstruction/include/TRDReconstruction/RecoInputContainer.h
  Detectors/TRD/workflow/include/TRDWorkflow/TRDGlobalTrackingSpec.h
  Detectors/TRD/workflow/include/TRDWorkflow/TRDTrackingWorkflow.h
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
  Detectors/TRD/workflow/src/TRDTrackingWorkflow.cxx
  Detectors/TRD/workflow/src/trd-tracking-workflow.cxx
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPUDataTypes.h
  GPU/GPUTracking/Definitions/GPUSettingsList.h
  GPU/GPUTracking/Global/AliHLTGPUDumpComponent.cxx
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Global/GPUChainTrackingIO.cxx
  GPU/GPUTracking/Global/GPUChainTrackingTRD.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDSpacePoint.h
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
  GPU/GPUTracking/TRDTracking/GPUTRDTrackerComponent.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTrackerDebug.h
  GPU/GPUTracking/TRDTracking/GPUTRDTrackletWord.h
  GPU/GPUTracking/TRDTracking/macros/run_trd_tracker.C
  GPU/GPUTracking/display/GPUDisplay.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

PVertexer: use InputHelper, avoid global DataRequest var.
  Detectors/GlobalTrackingWorkflow/include/GlobalTrackingWorkflow/PrimaryVertexingSpec.h
  Detectors/GlobalTrackingWorkflow/include/GlobalTrackingWorkflow/VertexTrackMatcherSpec.h
  Detectors/GlobalTrackingWorkflow/src/PrimaryVertexingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/VertexTrackMatcherSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/primary-vertexing-workflow.cxx
Owners: @shahor02

Move TRD readers/writers into independent lib
  DataFormats/Detectors/TRD/CMakeLists.txt
  Detectors/TRD/base/CMakeLists.txt
  Detectors/TRD/base/include/TRDBase/MCLabel.h
  Detectors/TRD/base/src/TRDBaseLinkDef.h
  Detectors/TRD/macros/convertRun2ToRun3Digits.C
  Detectors/TRD/simulation/include/TRDSimulation/Digitizer.h
  Detectors/TRD/simulation/include/TRDSimulation/TrapConfigHandler.h
  Detectors/TRD/simulation/src/Digitizer.cxx
  Detectors/TRD/simulation/src/PileupTool.cxx
  Detectors/TRD/workflow/CMakeLists.txt
  Detectors/TRD/workflow/io/CMakeLists.txt
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDCalibratedTrackletWriterSpec.h
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDDigitReaderSpec.h
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDDigitWriterSpec.h
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDTrackletReaderSpec.h
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDTrackletWriterSpec.h
  Detectors/TRD/workflow/io/include/TRDWorkflowIO/TRDTrapRawWriterSpec.h
  Detectors/TRD/workflow/io/src/TRDCalibratedTrackletWriterSpec.cxx
  Detectors/TRD/workflow/io/src/TRDDigitReaderSpec.cxx
  Detectors/TRD/workflow/io/src/TRDDigitWriterSpec.cxx
  Detectors/TRD/workflow/io/src/TRDTrackletReaderSpec.cxx
  Detectors/TRD/workflow/io/src/TRDTrackletWriterSpec.cxx
  Detectors/TRD/workflow/io/src/TRDTrapRawWriterSpec.cxx
  Detectors/TRD/workflow/src/TRDDigitizerSpec.cxx
  Detectors/TRD/workflow/src/TRDTrackingWorkflow.cxx
  Detectors/TRD/workflow/src/TRDTrackletTransformerWorkflow.cxx
  Detectors/TRD/workflow/src/TRDTrapSimulatorWorkFlow.cxx
  Steer/DigitizerWorkflow/CMakeLists.txt
  Steer/DigitizerWorkflow/src/SimpleDigitizerWorkflow.cxx
  macro/analyzeDigitLabels.C
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @sawenzel, @shahor02, @AliceO2Group/core

Add missing header to ROOTMAP
  DataFormats/simulation/CMakeLists.txt
Owners: @sawenzel

GPU: Use a common dummy file for header only libraries
  GPU/Common/CMakeLists.txt
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/Standalone/dummy.cxx
  GPU/GPUTracking/utils/EmptyFile.cxx
  GPU/Utils/CMakeLists.txt
  GPU/Utils/GPUUtils.cxx
Owners: @davidrohr

Get rid of symlinks in GPU standalone folder
  GPU/GPUTracking/Standalone/Base
  GPU/GPUTracking/Standalone/Benchmark
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/Standalone/Common
  GPU/GPUTracking/Standalone/DataCompression
  GPU/GPUTracking/Standalone/DataTypes
  GPU/GPUTracking/Standalone/Debug
  GPU/GPUTracking/Standalone/Definitions
  GPU/GPUTracking/Standalone/GPUUtils
  GPU/GPUTracking/Standalone/Global
  GPU/GPUTracking/Standalone/HLTHeaders
  GPU/GPUTracking/Standalone/ITS
  GPU/GPUTracking/Standalone/Merger
  GPU/GPUTracking/Standalone/Refit
  GPU/GPUTracking/Standalone/SliceTracker
  GPU/GPUTracking/Standalone/TPCClusterFinder
  GPU/GPUTracking/Standalone/TPCConvert
  GPU/GPUTracking/Standalone/TPCFastTransformation
  GPU/GPUTracking/Standalone/TRDTracking
  GPU/GPUTracking/Standalone/dEdx
  GPU/GPUTracking/Standalone/dependencies
  GPU/GPUTracking/Standalone/display
  GPU/GPUTracking/Standalone/qa
  GPU/GPUTracking/Standalone/qconfigoptions.h
  GPU/GPUTracking/Standalone/utils
Owners: @davidrohr

GPU: Work on dumping / loading TRD tracklets for standalone benchmark: Support O2 tracklets, sort tracklets from AliRoot, add dummy trigger record for AliRoot
  GPU/GPUTracking/Base/GPUReconstruction.h
  GPU/GPUTracking/Global/AliHLTGPUDumpComponent.cxx
  GPU/GPUTracking/Global/GPUChainTrackingIO.cxx
  GPU/GPUTracking/Global/GPUChainTrackingTRD.cxx
  GPU/GPUTracking/Interface/GPUO2Interface.cxx
Owners: @davidrohr

cosmic-matcher: use InputHelper, avoid global DataRequest var.
  Detectors/GlobalTrackingWorkflow/src/CosmicsMatchingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/cosmics-match-workflow.cxx
Owners: @shahor02

Rename option in TOF MC QA (#6058)
  Analysis/Tasks/PID/qaTOFMC.cxx
Owners: @jgrosseo, @iarsene

PWGLF: Clean spectra tasks (#6032)
  Analysis/Tasks/PID/CMakeLists.txt
  Analysis/Tasks/PID/pidTOF.cxx
  Analysis/Tasks/PID/pidTOFtiny.cxx
  Analysis/Tasks/PID/pidTPC.cxx
  Analysis/Tasks/PID/pidTPCtiny.cxx
  Analysis/Tasks/PID/qaTOFMC.cxx
  Analysis/Tasks/PWGLF/CMakeLists.txt
  Analysis/Tasks/PWGLF/spectraTOF.cxx
  Analysis/Tasks/PWGLF/spectraTOFtiny.cxx
  Analysis/Tasks/PWGLF/spectraTPC.cxx
  Analysis/Tasks/PWGLF/spectraTPCPiKaPr.cxx
  Analysis/Tasks/PWGLF/spectraTPC_tiny.cxx
  Analysis/Tasks/PWGLF/spectraTPCsplitPiKaPr.cxx
  Analysis/Tasks/PWGLF/spectraTPCtiny.cxx
  Analysis/Tasks/PWGLF/spectraTPCtinyPiKaPr.cxx
Owners: @jgrosseo, @iarsene

GPU: Read TRD tracklets for GPUWorkflow and GPU event display
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RecoInputContainer.h
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
  GPU/GPUTracking/Global/GPUChainTrackingTRD.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/Workflow/CMakeLists.txt
  GPU/Workflow/include/GPUWorkflow/GPUWorkflowSpec.h
  GPU/Workflow/src/GPUWorkflowSpec.cxx
  GPU/Workflow/src/O2GPUDPLDisplay.cxx
  GPU/Workflow/src/gpu-reco-workflow.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @shahor02, @davidrohr, @wiechula

RecoContainer / DataRequest / InputHelper support TRDTracklets
  DataFormats/Detectors/GlobalTracking/CMakeLists.txt
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  DataFormats/Detectors/TPC/include/DataFormatsTPC/WorkflowHelper.h
  Detectors/GlobalTracking/src/MatchCosmics.cxx
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTrackingWorkflow/helpers/CMakeLists.txt
  Detectors/GlobalTrackingWorkflow/helpers/src/InputHelper.cxx
Owners: @shahor02, @davidrohr, @wiechula

Move TRD RecoInputContainer to TRD DataFormats
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RecoInputContainer.h
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
Owners: @shahor02, @jolopezl, @bazinski, @tdietel, @martenole

GPU: Add extra library with GPU external data types
  GPU/GPUTracking/CMakeLists.txt
Owners: @davidrohr

TPC: Move raw encoder to workflow, since it depends on GPU code
  Detectors/TPC/simulation/CMakeLists.txt
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/src/convertDigitsToRawZS.cxx
Owners: @davidrohr, @wiechula, @shahor02

TPC Workflow: Move TPC readers into separate TPCReaderWorkflow library
  Detectors/AOD/src/AODProducerWorkflow.cxx
  Detectors/GlobalTrackingWorkflow/helpers/CMakeLists.txt
  Detectors/GlobalTrackingWorkflow/helpers/src/InputHelper.cxx
  Detectors/GlobalTrackingWorkflow/src/cosmics-match-workflow.cxx
  Detectors/GlobalTrackingWorkflow/src/primary-vertexing-workflow.cxx
  Detectors/GlobalTrackingWorkflow/src/secondary-vertexing-workflow.cxx
  Detectors/GlobalTrackingWorkflow/src/tpcits-match-workflow.cxx
  Detectors/GlobalTrackingWorkflow/tofworkflow/src/tof-matcher-tpc.cxx
  Detectors/GlobalTrackingWorkflow/tpcinterpolationworkflow/src/TrackInterpolationWorkflow.cxx
  Detectors/GlobalTrackingWorkflow/tpcinterpolationworkflow/src/tpc-interpolation-workflow.cxx
  Detectors/TPC/workflow/CMakeLists.txt
  Detectors/TPC/workflow/readers/CMakeLists.txt
  Detectors/TPC/workflow/readers/include/TPCReaderWorkflow/ClusterReaderSpec.h
  Detectors/TPC/workflow/readers/include/TPCReaderWorkflow/PublisherSpec.h
  Detectors/TPC/workflow/readers/include/TPCReaderWorkflow/TPCSectorCompletionPolicy.h
  Detectors/TPC/workflow/readers/include/TPCReaderWorkflow/TrackReaderSpec.h
  Detectors/TPC/workflow/readers/src/ClusterReaderSpec.cxx
  Detectors/TPC/workflow/readers/src/PublisherSpec.cxx
  Detectors/TPC/workflow/readers/src/TrackReaderSpec.cxx
  Detectors/TPC/workflow/src/FileReaderWorkflow.cxx
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
  Detectors/TPC/workflow/src/TrackReaderWorkflow.cxx
  Detectors/TPC/workflow/src/tpc-reco-workflow.cxx
  Detectors/TRD/workflow/src/TRDTrackingWorkflow.cxx
  GPU/Workflow/CMakeLists.txt
  GPU/Workflow/src/gpu-reco-workflow.cxx
  doc/data/2021-01-o2_prs.json
Owners: @AliceO2Group/core, @shahor02, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @martenole

export C locale in full_system_test.sh
  prodtests/full_system_test.sh
Owners: @AliceO2Group/core

Add pt dependent mass hisograms for mc task (#6041)
  Analysis/Tasks/PWGHF/taskJpsi.cxx
Owners: @ginnocen, @vkucera

TRD tracklets can have MC labels
  Detectors/TRD/workflow/io/src/TRDTrackletReaderSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole

new coordinate transformation functions in PadPlane with CMake tests
  Detectors/TRD/base/CMakeLists.txt
  Detectors/TRD/base/include/TRDBase/PadPlane.h
  Detectors/TRD/base/include/TRDBase/TrackletTransformer.h
  Detectors/TRD/base/src/PadPlane.cxx
  Detectors/TRD/base/src/TrackletTransformer.cxx
  Detectors/TRD/base/test/testCoordinateTransforms.cxx
  Detectors/TRD/simulation/src/Digitizer.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole

Split HistogramRegistry headers + AxisConfigurables in Correlations (#6063)
  Analysis/Core/include/AnalysisCore/CorrelationContainer.h
  Analysis/Core/src/CorrelationContainer.cxx
  Analysis/Tasks/PWGCF/correlations.cxx
  Analysis/Tasks/PWGCF/correlationsFiltered.cxx
  Analysis/Tasks/PWGCF/correlationsMixed.cxx
  Framework/Core/include/Framework/HistogramRegistry.h
  Framework/Core/include/Framework/HistogramSpec.h
  Framework/Core/include/Framework/StepTHn.h
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

AliECS dump: parametrize session id (#6071)
  Framework/Core/src/O2ControlHelpers.cxx
  Framework/Core/test/test_FrameworkDataFlowToO2Control.cxx
Owners: @AliceO2Group/framework-admins

DPL: add a DataTakingContext to be filled with run related constants (#6062)
  Framework/Core/include/Framework/CommonServices.h
  Framework/Core/include/Framework/DataTakingContext.h
  Framework/Core/src/CommonServices.cxx
  Framework/TestWorkflows/src/o2DiamondWorkflow.cxx
Owners: @AliceO2Group/framework-admins

[MCH] adapted page reader output spec to three-letters standard (#6060)
  Detectors/MUON/MCH/Workflow/src/cru-page-reader-workflow.cxx
  Detectors/MUON/MCH/Workflow/src/cru-page-to-digits-workflow.cxx
Owners: @aphecetche

Improve P-vertex seeding, add debris reduction, optional debug output
  Detectors/GlobalTrackingWorkflow/src/PrimaryVertexingSpec.cxx
  Detectors/Vertexing/include/DetectorsVertexing/PVertexer.h
  Detectors/Vertexing/include/DetectorsVertexing/PVertexerHelpers.h
  Detectors/Vertexing/include/DetectorsVertexing/PVertexerParams.h
  Detectors/Vertexing/src/DetectorsVertexingLinkDef.h
  Detectors/Vertexing/src/PVertexer.cxx
  Detectors/Vertexing/src/PVertexerHelpers.cxx
Owners: @shahor02, @AliceO2Group/core

TRD track readers + requested changes from PR6057
  Detectors/TRD/workflow/CMakeLists.txt
  Detectors/TRD/workflow/include/TRDWorkflow/TRDTrackReaderSpec.h
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
  Detectors/TRD/workflow/src/TRDTrackReaderSpec.cxx
  Detectors/TRD/workflow/src/trd-track-reader-workflow.cxx
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/DataTypes/GPUTRDInterfaceO2Track.h
  GPU/GPUTracking/TRDTracking/GPUTRDInterfaces.h
  GPU/GPUTracking/TRDTracking/GPUTRDTrack.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

Multiple fixes for FlatHisto classes
  DataFormats/common/include/CommonDataFormat/FlatHisto1D.h
  DataFormats/common/include/CommonDataFormat/FlatHisto2D.h
  DataFormats/common/src/FlatHisto1D.cxx
  DataFormats/common/src/FlatHisto2D.cxx
  DataFormats/common/test/testFlatHisto.cxx
Owners: @shahor02

Merging same and mixed event correlation analysis (#6073)
  Analysis/Tasks/PWGCF/CMakeLists.txt
  Analysis/Tasks/PWGCF/correlations.cxx
  Analysis/Tasks/PWGCF/correlationsMixed.cxx
Owners: @jgrosseo, @iarsene

FT0,FDD Fix copy-paste errors in ini files
  Detectors/FIT/FDD/workflow/src/fdd-reco-workflow.cxx
  Detectors/FIT/FT0/workflow/src/ft0-reco-workflow.cxx
Owners: @AllaMaevskaya, @jotwinow, @mslupeck

DPL: drop unneeded header. (#6068)
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
Owners: @AliceO2Group/framework-admins

TOF Geometry: Add possibility to initialize it manually
  Detectors/TOF/base/include/TOFBase/Geo.h
  Detectors/TOF/base/src/Geo.cxx
Owners: @noferini

Minor modifications such that ITS geometry does not break GPU Standalone compilation when headers are included
  Detectors/Base/include/DetectorsBase/GeometryManager.h
  Detectors/ITSMFT/ITS/base/include/ITSBase/GeometryTGeo.h
  Detectors/ITSMFT/ITS/base/src/GeometryTGeo.cxx
Owners: @sawenzel, @shahor02, @iouribelikov, @bovulpes, @rpezzi

GPU DPL Display: Bugfix: Was not parsing configKeyValues
  GPU/Workflow/src/O2GPUDPLDisplay.cxx
Owners: @davidrohr

GPU Workflow: Add helper class to fill GPUIOPtr from RecoContainer (ITS Clusters / Tracks, TOF Clusters / Matches)
  DataFormats/Reconstruction/include/ReconstructionDataFormats/GlobalTrackID.h
  DataFormats/Reconstruction/src/GlobalTrackID.cxx
  GPU/GPUTracking/DataTypes/GPUDataTypes.h
  GPU/Workflow/CMakeLists.txt
  GPU/Workflow/helper/CMakeLists.txt
  GPU/Workflow/helper/include/GPUWorkflowHelper/GPUWorkflowHelper.h
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @shahor02, @davidrohr

TOF Cluster: Add const getters for R / Phi
  DataFormats/Detectors/TOF/include/DataFormatsTOF/Cluster.h
Owners: @noferini

Remove unused include
  Detectors/TOF/base/include/TOFBase/Geo.h
  Detectors/TOF/calibration/include/TOFCalibration/TOFFEElightConfig.h
  Detectors/TOF/calibration/include/TOFCalibration/TOFFEElightReader.h
  Detectors/TOF/workflow/include/TOFWorkflowUtils/TOFDigitWriterSplitterSpec.h
Owners: @noferini

GPU Display: Show ITS and TOF Clusters
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/Definitions/GPUSettingsList.h
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/GPUTracking/display/GPUDisplay.h
  GPU/GPUTracking/display/GPUDisplayKeys.cxx
  GPU/Workflow/CMakeLists.txt
  GPU/Workflow/include/GPUWorkflow/O2GPUDPLDisplay.h
  GPU/Workflow/src/O2GPUDPLDisplay.cxx
Owners: @davidrohr
