Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

Add FV0 and FDD raw generation to full system test
  prodtests/full_system_test.sh
Owners: @AliceO2Group/core

New output skema
  Detectors/HMPID/workflow/include/HMPIDWorkflow/DataDecoderSpec.h
  Detectors/HMPID/workflow/include/HMPIDWorkflow/DumpDigitsSpec.h
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

only size ..
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

CPV geometry fix, run3 raw format. fix O2-1991
  Detectors/CPV/base/include/CPVBase/CPVSimParams.h
  Detectors/CPV/base/include/CPVBase/Geometry.h
  Detectors/CPV/base/src/Geometry.cxx
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVGainCalibDevice.cxx
  Detectors/CPV/calib/CPVCalibWorkflow/src/CPVPedestalCalibDevice.cxx
  Detectors/CPV/reconstruction/src/RawDecoder.cxx
  Detectors/CPV/simulation/include/CPVSimulation/Detector.h
  Detectors/CPV/simulation/include/CPVSimulation/RawWriter.h
  Detectors/CPV/simulation/src/Detector.cxx
  Detectors/CPV/simulation/src/Digitizer.cxx
  Detectors/CPV/simulation/src/GeometryParams.cxx
  Detectors/CPV/simulation/src/RawWriter.cxx
  Detectors/CPV/workflow/src/RawToDigitConverterSpec.cxx
Owners: @peressounko, @kharlov

Adds Variant JSON helpers
  Framework/Core/include/Framework/Array2D.h
  Framework/Core/include/Framework/ConfigParamsHelper.h
  Framework/Core/include/Framework/Variant.h
  Framework/Core/include/Framework/VariantJSONHelpers.h
  Framework/Core/src/BoostOptionsRetriever.cxx
  Framework/Core/src/ConfigParamsHelper.cxx
  Framework/Core/src/PropertyTreeHelpers.cxx
  Framework/Core/src/RootConfigParamHelpers.cxx
  Framework/Core/src/Variant.cxx
  Framework/Core/src/WorkflowSerializationHelpers.cxx
  Framework/Core/test/test_Variants.cxx
Owners: @AliceO2Group/framework-admins

DPL: introduce a WebSocketHandler
  Framework/Core/CMakeLists.txt
  Framework/Core/src/Base64.cxx
  Framework/Core/src/Base64.h
  Framework/Core/src/HTTPParser.cxx
  Framework/Core/src/HTTPParser.h
  Framework/Core/src/SHA1.cxx
  Framework/Core/src/SHA1.h
  Framework/Core/test/test_HTTPParser.cxx
Owners: @AliceO2Group/framework-admins

GPU: Fix kernel call counters with OpenMP
  GPU/GPUTracking/Base/GPUReconstructionCPU.cxx
Owners: @davidrohr

DPL: use pid_t to refer to pids
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

DPL: use pid_t to refer to pids
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

try
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

Hide stderr output of lsof in jobutils
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

W1
  Detectors/HMPID/workflow/include/HMPIDWorkflow/DataDecoderSpec.h
  Detectors/HMPID/workflow/include/HMPIDWorkflow/DumpDigitsSpec.h
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

fix
  Detectors/HMPID/workflow/src/DataDecoderSpec.cxx
Owners: @gvolpe79

Update selection on Dplus flag
  Analysis/Tasks/PWGHF/taskDPlus.cxx
Owners: @ginnocen

correct publication time stamp to ms
  Detectors/TPC/workflow/include/TPCWorkflow/TPCCalibPedestalSpec.h
Owners: @davidrohr, @wiechula, @shahor02

add drawing of pad calibration data from CCDB
  Detectors/TPC/calibration/macro/drawNoiseAndPedestal.C
Owners: @davidrohr, @wiechula, @shahor02

fix
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
Owners: @gvolpe79

Reduce default taskwrapper sleep cycle to 1s
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

Add JOBUTILS_JOB_SKIPCREATEDONE option, and do not wipe ctf_dictionary in full system test if recreation task is not running
  Utilities/Tools/jobutils.sh
  prodtests/full_system_test.sh
Owners: @AliceO2Group/framework-admins, @AliceO2Group/core

Add JOBUTILS_JOB_SKIPCREATEDONE option, and do not wipe ctf_dictionary in full system test if recreation task is not running
  Utilities/Tools/jobutils.sh
  prodtests/full_system_test.sh
Owners: @AliceO2Group/framework-admins, @AliceO2Group/core

Reduce default taskwrapper sleep cycle to 1s
  Utilities/Tools/jobutils.sh
Owners: @AliceO2Group/framework-admins

removing TPerfStats
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
Owners: @AliceO2Group/framework-admins

TPCClusterFinder: Improve performance of noisy pad filter on CPU.
  Detectors/TPC/base/include/TPCBase/CalArray.h
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/Global/GPUChainTrackingClusterizer.cxx
  GPU/GPUTracking/TPCClusterFinder/Array2D.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFCheckPadBaseline.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFCheckPadBaseline.h
  GPU/GPUTracking/TPCClusterFinder/PackedCharge.h
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr, @wiechula, @shahor02

DPL: introduce a WebSocketHandler (#5283)
  Framework/Core/CMakeLists.txt
  Framework/Core/src/Base64.cxx
  Framework/Core/src/Base64.h
  Framework/Core/src/HTTPParser.cxx
  Framework/Core/src/HTTPParser.h
  Framework/Core/src/SHA1.cxx
  Framework/Core/src/SHA1.h
  Framework/Core/test/test_HTTPParser.cxx
Owners: @AliceO2Group/framework-admins

first
  Detectors/HMPID/base/include/HMPIDBase/Digit.h
  Detectors/HMPID/base/src/Digit.cxx
  Detectors/HMPID/simulation/include/HMPIDSimulation/HmpidCoder.h
  Detectors/HMPID/simulation/src/HmpidCoder.cxx
  Detectors/HMPID/workflow/include/HMPIDWorkflow/WriteRawFromDigitsSpec.h
  Detectors/HMPID/workflow/src/WriteRawFromDigitsSpec.cxx
  Detectors/HMPID/workflow/src/write-raw-from-digits-workflow.cxx
Owners: @gvolpe79

fix cmakes
  Detectors/HMPID/simulation/CMakeLists.txt
  Detectors/HMPID/workflow/CMakeLists.txt
Owners: @gvolpe79

fix
  Detectors/HMPID/simulation/src/HMPIDSimulationLinkDef.h
Owners: @gvolpe79

fix
  Detectors/HMPID/workflow/CMakeLists.txt
Owners: @gvolpe79

fix
  Detectors/HMPID/workflow/CMakeLists.txt
Owners: @gvolpe79

fix
  Detectors/HMPID/base/include/HMPIDBase/Digit.h
Owners: @gvolpe79

TPCClusterFinder: Improve performance of noisy pad filter on CPU.
  Detectors/TPC/base/include/TPCBase/CalArray.h
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/Global/GPUChainTrackingClusterizer.cxx
  GPU/GPUTracking/TPCClusterFinder/Array2D.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFCheckPadBaseline.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFCheckPadBaseline.h
  GPU/GPUTracking/TPCClusterFinder/PackedCharge.h
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr, @wiechula, @shahor02

change order of ctor arguments
  Framework/Core/include/Framework/HistogramRegistry.h
  Framework/Core/include/Framework/StepTHn.h
  Framework/Core/src/StepTHn.cxx
  Framework/Core/test/test_HistogramRegistry.cxx
Owners: @AliceO2Group/framework-admins

DPL: improve WebSockets support
  Framework/Core/src/HTTPParser.cxx
  Framework/Core/src/HTTPParser.h
  Framework/Core/test/test_HTTPParser.cxx
Owners: @AliceO2Group/framework-admins

removing TPerfStats (#5299)
  Framework/AnalysisSupport/src/AODJAlienReaderHelpers.cxx
Owners: @AliceO2Group/framework-admins

Adds Variant JSON helpers (#5293)
  Framework/Core/include/Framework/Array2D.h
  Framework/Core/include/Framework/ConfigParamsHelper.h
  Framework/Core/include/Framework/Variant.h
  Framework/Core/include/Framework/VariantJSONHelpers.h
  Framework/Core/src/BoostOptionsRetriever.cxx
  Framework/Core/src/ConfigParamsHelper.cxx
  Framework/Core/src/PropertyTreeHelpers.cxx
  Framework/Core/src/RootConfigParamHelpers.cxx
  Framework/Core/src/Variant.cxx
  Framework/Core/src/WorkflowSerializationHelpers.cxx
  Framework/Core/test/test_Variants.cxx
Owners: @AliceO2Group/framework-admins

GPU: Allow independent thread counts for different cluster finder kernels
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/TPCClusterFinder/CfUtils.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFClusterizer.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDeconvolution.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDeconvolution.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFNoiseSuppression.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFPeakFinder.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFPeakFinder.h
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr

GPU: Optimize clusterizer thread counts for NVIDIA Ampere
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
Owners: @davidrohr

DPL: improve WebSockets support (#5301)
  Framework/Core/src/HTTPParser.cxx
  Framework/Core/src/HTTPParser.h
  Framework/Core/test/test_HTTPParser.cxx
Owners: @AliceO2Group/framework-admins

Build Ok
  Detectors/HMPID/simulation/src/HmpidCoder.cxx
  Detectors/HMPID/workflow/include/HMPIDWorkflow/WriteRawFromDigitsSpec.h
Owners: @gvolpe79

Remove std::memcpy while processing data in compressor task
  Detectors/TOF/compression/include/TOFCompression/CompressorTask.h
  Detectors/TOF/compression/src/CompressorTask.cxx
  Detectors/TOF/compression/src/tof-compressor.cxx
Owners: @noferini
