Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @vkucera, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @rpezzi, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @martenole, @qgp, @marcovanleeuwen, @mconcas, @coppedis, @knopers8, @chiarazampolli, @jmyrcha, @sgorbuno, @ehellbar, @MichaelLettrich

Use a template argument for the lambda to allow passing in different track types
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainerCreateTracksVariadic.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
  Detectors/GlobalTracking/src/MatchCosmics.cxx
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTrackingWorkflow/src/PrimaryVertexingSpec.cxx
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
Owners: @shahor02, @AliceO2Group/core

TRD Bugfix: TPC track id is overwritten during loading
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole

Add some isXXXTrack template aliases to RecoContainerCreateTracksVariadic
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainerCreateTracksVariadic.h
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @shahor02, @davidrohr

DPL Analysis: improved ratelimiting metrics
  Framework/Core/src/ArrowSupport.cxx
  Framework/Core/src/DataProcessingDevice.cxx
Owners: @AliceO2Group/framework-admins

Please consider the following formatting changes (#84)
  Framework/Core/include/Framework/ComputingQuotaEvaluator.h
Owners: @AliceO2Group/framework-admins

Fix for HMPID raw to digits stream converter, now works with entropy encoder (#6069)
  Detectors/HMPID/workflow/CMakeLists.txt
  Detectors/HMPID/workflow/include/HMPIDWorkflow/DataDecoderSpec2.h
  Detectors/HMPID/workflow/src/DataDecoderSpec2.cxx
  Detectors/HMPID/workflow/src/DumpDigitsSpec.cxx
  Detectors/HMPID/workflow/src/WriteRawFileSpec.cxx
  Detectors/HMPID/workflow/src/raw-to-digits-stream-workflow.cxx
Owners: @gvolpe79

GPU Display: Show TOF hits with larger point size
  GPU/GPUTracking/display/GPUDisplay.cxx
Owners: @davidrohr

DPL: Print out Device name of missing input [O2-2317] (#6106)
  Framework/Core/src/WorkflowHelpers.cxx
Owners: @AliceO2Group/framework-admins

Add PrimaryVertex + related data to RecoContainer
  DataFormats/Detectors/GlobalTracking/include/DataFormatsGlobalTracking/RecoContainer.h
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
Owners: @shahor02

Reduce number of analysis compile jobs, since the CI runs out of memory
  CMakeLists.txt
Owners: @AliceO2Group/core

Add PrimaryVertexReader to InputHelper
  Detectors/GlobalTrackingWorkflow/helpers/include/GlobalTrackingWorkflowHelpers/InputHelper.h
  Detectors/GlobalTrackingWorkflow/helpers/src/InputHelper.cxx
Owners: @shahor02

DPL: Introduce resource management in DPL
  Framework/Core/CMakeLists.txt
  Framework/Core/include/Framework/ComputingQuotaEvaluator.h
  Framework/Core/include/Framework/ComputingQuotaOffer.h
  Framework/Core/include/Framework/DataProcessingDevice.h
  Framework/Core/include/Framework/DeviceSpec.h
  Framework/Core/include/Framework/DriverInfo.h
  Framework/Core/include/Framework/ResourcePolicy.h
  Framework/Core/include/Framework/ResourcePolicyHelpers.h
  Framework/Core/include/Framework/runDataProcessing.h
  Framework/Core/src/ComputingQuotaEvaluator.cxx
  Framework/Core/src/DataProcessingDevice.cxx
  Framework/Core/src/DeviceSpecHelpers.cxx
  Framework/Core/src/DeviceSpecHelpers.h
  Framework/Core/src/ResourcePolicy.cxx
  Framework/Core/src/ResourcePolicyHelpers.cxx
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

Use PVertex via RecoContainer in the workflows
  Detectors/GlobalTrackingWorkflow/readers/include/GlobalTrackingWorkflowReaders/PrimaryVertexReaderSpec.h
  Detectors/GlobalTrackingWorkflow/readers/src/PrimaryVertexReaderSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/SecondaryVertexingSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/VertexTrackMatcherSpec.cxx
  Detectors/GlobalTrackingWorkflow/src/secondary-vertexing-workflow.cxx
  Detectors/Vertexing/include/DetectorsVertexing/SVertexer.h
  Detectors/Vertexing/include/DetectorsVertexing/VertexTrackMatcher.h
  Detectors/Vertexing/src/SVertexer.cxx
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
Owners: @shahor02, @AliceO2Group/core

Use createTracksVariadic instead of createTracksWithMatchingTimeInfo
  Detectors/GlobalTracking/include/GlobalTracking/MatchTPCITS.h
  Detectors/GlobalTracking/src/MatchCosmics.cxx
  Detectors/GlobalTracking/src/MatchTPCITS.cxx
  Detectors/GlobalTrackingWorkflow/src/PrimaryVertexingSpec.cxx
  Detectors/Vertexing/include/DetectorsVertexing/PVertexer.h
  Detectors/Vertexing/src/VertexTrackMatcher.cxx
Owners: @shahor02, @AliceO2Group/core

GPU Display: Fix several crashes when only partial input is configured
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
  GPU/Workflow/src/O2GPUDPLDisplay.cxx
Owners: @davidrohr

GPU Display: Draw TOF Tracks
  GPU/GPUTracking/display/GPUDisplay.cxx
Owners: @davidrohr

boost::filesystem -> std::filesystem
  CCDB/src/CcdbApi.cxx
  CCDB/test/testCcdbApi.cxx
  Common/SimConfig/CMakeLists.txt
  Common/Utils/CMakeLists.txt
  Common/Utils/src/ConfigurableParam.cxx
  Common/Utils/src/StringUtils.cxx
  Common/Utils/test/testCompStream.cxx
  Common/Utils/test/testMemFileHelper.cxx
  Detectors/TPC/simulation/src/GEMAmplification.cxx
  Framework/Core/CMakeLists.txt
  Framework/Core/src/ChannelSpecHelpers.cxx
  Framework/Core/src/O2ControlHelpers.cxx
  Framework/Utils/test/test_RootTreeWriterWorkflow.cxx
  GPU/Workflow/src/GPUWorkflowSpec.cxx
  Steer/DigitizerWorkflow/src/GRPUpdaterSpec.cxx
  Utilities/DataCompression/CMakeLists.txt
  Utilities/DataCompression/test/test_HuffmanCodec.cxx
  Utilities/DataSampling/test/dataSamplingBenchmark.cxx
Owners: @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @davidrohr, @wiechula, @shahor02, @knopers8

GPU Display: Can shift ITS, TRD, and TOF in timeframes corresponding to the TPC track time
  GPU/GPUTracking/display/GPUDisplay.cxx
Owners: @davidrohr

Alternative to boost::fs::unique_path() absent in std::filesystem
  Common/Utils/include/CommonUtils/StringUtils.h
  Common/Utils/src/StringUtils.cxx
Owners: @sawenzel

GPU Display: Draw ITS standalone tracks
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/GPUTracking/display/GPUDisplay.h
Owners: @davidrohr

GPU Display can prolong TPCITS tracks from TPC into ITS
  GPU/GPUTracking/Standalone/CMakeLists.txt
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/GPUTracking/display/GPUDisplay.h
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
  GPU/Workflow/src/O2GPUDPLDisplay.cxx
Owners: @davidrohr

GPU Display: Show TRD tracklets with thicker line
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/Workflow/src/GPUWorkflowSpec.cxx
Owners: @davidrohr

GPU DPL Display: Can now also propagate tracks
  GPU/GPUTracking/display/GPUDisplay.cxx
Owners: @davidrohr

Fix copy&paste error
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
Owners: @shahor02

GPU DPL Display: Enable drawing of all cluster / track types by default
  GPU/Workflow/src/O2GPUDPLDisplay.cxx
Owners: @davidrohr

GPU: Fix zOffset to tOffset conversion
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/display/GPUDisplay.cxx
Owners: @davidrohr

Split container-creation and ioptr-setting during o2::trd::getRecoInputContainer in 2 parts to be used individually
  DataFormats/Detectors/TRD/include/DataFormatsTRD/RecoInputContainer.h
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
  GPU/Workflow/src/O2GPUDPLDisplay.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

GPU: Improve handling of O2 MC tracks in GPU QA and GPU Display
  GPU/GPUTracking/Base/GPUReconstructionTimeframe.cxx
  GPU/GPUTracking/Benchmark/standalone.cxx
  GPU/GPUTracking/DataTypes/GPUDataTypes.h
  GPU/GPUTracking/Global/AliHLTGPUDumpComponent.cxx
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
  GPU/GPUTracking/Global/GPUChainTrackingIO.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCMCInfo.h
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/GPUTracking/qa/GPUQA.cxx
  GPU/GPUTracking/qa/GPUQA.h
  GPU/GPUTracking/qa/genEvents.cxx
Owners: @davidrohr

GPU Display: Minor bugfix in case of TOF match but no TRD match
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/Workflow/helper/src/GPUWorkflowHelper.cxx
Owners: @davidrohr

Full system test: Add HMPID to CTF
  prodtests/full-system-test/dpl-workflow.sh
Owners: @AliceO2Group/core

GPU Display: Can show MC tracks from Run 3 input
  GPU/GPUTracking/Benchmark/standalone.cxx
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceDisplay.cxx
  GPU/GPUTracking/Interface/GPUO2InterfaceDisplay.h
  GPU/GPUTracking/display/GPUDisplay.cxx
  GPU/GPUTracking/display/GPUDisplay.h
  GPU/GPUTracking/display/GPUDisplayKeys.cxx
  GPU/GPUTracking/qa/GPUQA.cxx
  GPU/GPUTracking/qa/GPUQA.h
  GPU/Workflow/src/O2GPUDPLDisplay.cxx
Owners: @davidrohr

gSystem->AccesPathName -> !std::filesystem::exists
  Detectors/Base/src/CTFCoderBase.cxx
  Detectors/CPV/simulation/src/RawCreator.cxx
  Detectors/CTF/workflow/src/CTFWriterSpec.cxx
  Detectors/EMCAL/simulation/src/RawCreator.cxx
  Detectors/FIT/FDD/simulation/src/digit2raw.cxx
  Detectors/FIT/FT0/reconstruction/src/test-raw-conversion.cxx
  Detectors/FIT/FT0/simulation/src/digi2raw.cxx
  Detectors/FIT/FV0/simulation/src/digit2raw.cxx
  Detectors/HMPID/workflow/src/DigitsToRawSpec.cxx
  Detectors/ITSMFT/ITS/simulation/src/digi2raw.cxx
  Detectors/ITSMFT/MFT/simulation/src/digi2raw.cxx
  Detectors/MUON/MCH/Raw/Encoder/Digit/digit2raw.cxx
  Detectors/MUON/MID/Workflow/src/RawWriterSpec.cxx
  Detectors/PHOS/simulation/src/RawCreator.cxx
  Detectors/Raw/src/rawfileSplit.cxx
  Detectors/TOF/workflow/src/TOFRawWriterSpec.cxx
  Detectors/TPC/reconstruction/src/RawReaderCRU.cxx
  Detectors/TPC/workflow/src/convertDigitsToRawZS.cxx
  Detectors/TRD/simulation/src/trap2raw.cxx
  Detectors/ZDC/simulation/src/digi2raw.cxx
  Steer/DigitizerWorkflow/src/TPCDigitizerSpec.cxx
Owners: @sawenzel, @shahor02, @peressounko, @kharlov, @AliceO2Group/core, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @rpezzi, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @martenole, @coppedis

Cleanup TRD track type and tracker
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
  GPU/GPUTracking/DataTypes/GPUTRDTrack.cxx
  GPU/GPUTracking/DataTypes/GPUTRDTrack.h
  GPU/GPUTracking/Global/GPUChainTrackingDebugAndProfiling.cxx
  GPU/GPUTracking/Global/GPUChainTrackingTRD.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
  GPU/GPUTracking/TRDTracking/GPUTRDTrackerComponent.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTrackerDebug.h
  GPU/GPUTracking/display/GPUDisplay.cxx
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

Added missing event selection criteria (#6010)
  Analysis/Core/include/AnalysisCore/TriggerAliases.h
  Analysis/DataModel/include/AnalysisDataModel/EventSelection.h
  Analysis/Tasks/eventSelection.cxx
  Analysis/Tasks/eventSelectionQa.cxx
  Framework/Core/include/Framework/AnalysisDataModel.h
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

Add --loop and --delay options to o2-ctf-reader-workflow
  Detectors/CTF/workflow/include/CTFWorkflow/CTFReaderSpec.h
  Detectors/CTF/workflow/src/CTFReaderSpec.cxx
  Detectors/CTF/workflow/src/ctf-reader-workflow.cxx
Owners: @AliceO2Group/core

Fix another copy&paste error in RecoContainer
  DataFormats/Detectors/GlobalTracking/src/RecoContainer.cxx
Owners: @shahor02

Add protection for AliRoot
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
Owners: @davidrohr, @martenole

fixes for random tmp directory names
  CCDB/test/testCcdbApi.cxx
  Common/Utils/CMakeLists.txt
  Common/Utils/test/testCompStream.cxx
  Utilities/DataCompression/test/test_HuffmanCodec.cxx
Owners: @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins

Rework of some tutorials (#6096)
  Analysis/Tutorials/CMakeLists.txt
  Analysis/Tutorials/src/associatedExample.cxx
  Analysis/Tutorials/src/ccdbaccess.cxx
  Analysis/Tutorials/src/collisionTracksIteration.cxx
  Analysis/Tutorials/src/compatibleBCs.cxx
  Analysis/Tutorials/src/eventMixing.cxx
  Analysis/Tutorials/src/extendedTables.cxx
  Analysis/Tutorials/src/filters.cxx
  Analysis/Tutorials/src/histogramRegistry.cxx
  Analysis/Tutorials/src/histograms.cxx
  Analysis/Tutorials/src/mcHistograms.cxx
  Analysis/Tutorials/src/newCollections.cxx
  Analysis/Tutorials/src/partitions.cxx
  Analysis/Tutorials/src/tableIOin.cxx
  Analysis/Tutorials/src/tableIOout.cxx
  Analysis/Tutorials/src/trackIteration.cxx
Owners: @jgrosseo, @iarsene

Filter TRD tracks without attached tracklets
  Detectors/TRD/workflow/src/TRDGlobalTrackingSpec.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.cxx
  GPU/GPUTracking/TRDTracking/GPUTRDTracker.h
Owners: @jolopezl, @bazinski, @tdietel, @martenole, @davidrohr

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen @vkucera
/Analysis/Tasks/PWGHF  @ginnocen @vkucera

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/CTP                     @shahor02
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/QualityControl    @knopers8 @Barthelemy @chiarazampolli
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Calibration             @chiarazampolli @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes @rpezzi
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel @martenole
/Detectors/Upgrades                @qgp @marcovanleeuwen @mconcas
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich
