Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @iarsene, @ginnocen, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @peressounko, @kharlov, @mfasDa, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @davidrohr, @wiechula, @jolopezl, @bazinski, @tdietel, @qgp, @marcovanleeuwen, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar, @knopers8, @MichaelLettrich

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo @iarsene
/Analysis/Tasks/ALICE3  @ginnocen
/Analysis/Tasks/PWGHF  @ginnocen

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
/Common/Utils        @sawenzel
#/Common/maps

/DataFormats                                   @AliceO2Group/framework-admins
/DataFormats/Detectors/CPV                     @peressounko @kharlov
/DataFormats/Detectors/EMCAL                   @mfasDa
/DataFormats/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/DataFormats/Detectors/GlobalTracking          @shahor02
/DataFormats/Detectors/GlobalTrackingWorkflow  @shahor02
/DataFormats/Detectors/HMPID                   @gvolpe79
/DataFormats/Detectors/ITSMFT                  @iouribelikov @bovulpes
/DataFormats/Detectors/MUON                    @aphecetche
/DataFormats/Detectors/PHOS                    @peressounko @kharlov
/DataFormats/Detectors/Passive                 @sawenzel
/DataFormats/Detectors/TOF                     @noferini 
/DataFormats/Detectors/TPC                     @davidrohr @wiechula @shahor02
/DataFormats/Detectors/TRD                     @jolopezl @bazinski @tdietel
/DataFormats/Detectors/Upgrades                @qgp @marcovanleeuwen
/DataFormats/Detectors/ZDC                     @coppedis

#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @sawenzel @shahor02
/Detectors/Geometry                @sawenzel @shahor02
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/Upgrades                @qgp @marcovanleeuwen
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
/Utilities/Mergers @Barthelemy @knopers8
/Utilities/DataSampling @Barthelemy @knopers8
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
/Utilities/rANS               @shahor02 @MichaelLettrich

GPU: Optimize clusterizer thread counts for NVIDIA Ampere
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
Owners: @davidrohr

GPU: Allow independent thread counts for different cluster finder kernels
  GPU/GPUTracking/Definitions/GPUDefGPUParameters.h
  GPU/GPUTracking/TPCClusterFinder/CfUtils.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFClusterizer.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDeconvolution.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDeconvolution.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFNoiseSuppression.h
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFPeakFinder.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFPeakFinder.h
  GPU/GPUTracking/TPCClusterFinder/clusterFinderDefs.h
Owners: @davidrohr

Fix typo in full system test script
  prodtests/full-system-test/dpl-workflow.sh
Owners: @AliceO2Group/core

Fix typo in full system test script
  prodtests/full-system-test/dpl-workflow.sh
Owners: @AliceO2Group/core

GPU: Apparently one must not do find_package(ROCM)
  dependencies/FindO2GPU.cmake
Owners: @AliceO2Group/core

Fix typo again
  prodtests/full-system-test/dpl-workflow.sh
Owners: @AliceO2Group/core

Fix typo again
  prodtests/full-system-test/dpl-workflow.sh
Owners: @AliceO2Group/core

remove unnecessary clone
  Framework/Core/include/Framework/StepTHn.h
  Framework/Core/src/StepTHn.cxx
Owners: @AliceO2Group/framework-admins

corrected cdrum geometry, added heat strips
  Detectors/TPC/simulation/src/Detector.cxx
Owners: @davidrohr, @wiechula, @shahor02

Drop obsolete analysis example
  Framework/TestWorkflows/CMakeLists.txt
  Framework/TestWorkflows/src/o2AODDummy.cxx
Owners: @AliceO2Group/framework-admins

Allow copy elision when returning object
  Detectors/Vertexing/include/DetectorsVertexing/DCAFitterN.h
Owners: @AliceO2Group/core

DPL: include what you use
  Framework/Core/test/test_ProcessorOptions.cxx
  Framework/Core/test/test_RegionInfoCallbackService.cxx
  Framework/Core/test/test_SimpleWildcard.cxx
  Framework/Core/test/test_SimpleWildcard02.cxx
  Framework/Core/test/test_Task.cxx
  Framework/TestWorkflows/src/test_CCDBFetchToTimeframe.cxx
Owners: @AliceO2Group/framework-admins

Introduce LabeledArray as an option for Variant
  Analysis/Tutorials/src/configurableObjects.cxx
  Framework/Core/include/Framework/Array2D.h
  Framework/Core/include/Framework/ConfigParamRegistry.h
  Framework/Core/include/Framework/ConfigParamSpec.h
  Framework/Core/include/Framework/Configurable.h
  Framework/Core/include/Framework/Variant.h
  Framework/Core/include/Framework/VariantJSONHelpers.h
  Framework/Core/include/Framework/VariantPropertyTreeHelpers.h
  Framework/Core/src/BoostOptionsRetriever.cxx
  Framework/Core/src/ConfigParamsHelper.cxx
  Framework/Core/src/DataProcessingDevice.cxx
  Framework/Core/src/DeviceSpecHelpers.cxx
  Framework/Core/src/PropertyTreeHelpers.cxx
  Framework/Core/src/Variant.cxx
  Framework/Core/src/WorkflowSerializationHelpers.cxx
  Framework/Core/test/test_Variants.cxx
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

DPL: add DriverClient::flushPending method
  Framework/Core/include/Framework/DriverClient.h
  Framework/Core/src/DataProcessingDevice.cxx
  Framework/Core/src/TextDriverClient.cxx
  Framework/Core/src/TextDriverClient.h
Owners: @AliceO2Group/framework-admins

DPL: add WebSocket based DriverClient
  Framework/Core/CMakeLists.txt
  Framework/Core/src/DPLWebSocket.cxx
  Framework/Core/src/DPLWebSocket.h
  Framework/Core/src/WSDriverClient.cxx
  Framework/Core/src/WSDriverClient.h
Owners: @AliceO2Group/framework-admins

DPL: add DPL specific monitoring backend
  Framework/Core/CMakeLists.txt
  Framework/Core/src/DPLMonitoringBackend.cxx
  Framework/Core/src/DPLMonitoringBackend.h
Owners: @AliceO2Group/framework-admins

DPL: allow in place manipulation of websocket body data
  Framework/Core/src/HTTPParser.cxx
  Framework/Core/src/HTTPParser.h
  Framework/Core/test/test_HTTPParser.cxx
Owners: @AliceO2Group/framework-admins

DPL GUI: fix Inputs panel
  Framework/GUISupport/src/FrameworkGUIDeviceInspector.cxx
Owners: @AliceO2Group/framework-admins

Fix double parameters in datadistribution script of full system test
  prodtests/full-system-test/datadistribution.sh
Owners: @AliceO2Group/core

Fix detection of loaded alienv environment in full system test
  prodtests/full-system-test/datadistribution.sh
  prodtests/full-system-test/dpl-workflow.sh
  prodtests/full-system-test/raw-reader.sh
Owners: @AliceO2Group/core

GPU: Fix include paths for OpenCL compilation test
  GPU/GPUTracking/Standalone/tools/testCL.sh
Owners: @davidrohr

GPU: Apparently one must not do find_package(ROCM)
  dependencies/FindO2GPU.cmake
Owners: @AliceO2Group/core

GPU: Fix include paths for OpenCL compilation test
  GPU/GPUTracking/Standalone/tools/testCL.sh
Owners: @davidrohr

Fix double parameters in datadistribution script of full system test
  prodtests/full-system-test/datadistribution.sh
Owners: @AliceO2Group/core

Fix detection of loaded alienv environment in full system test
  prodtests/full-system-test/datadistribution.sh
  prodtests/full-system-test/dpl-workflow.sh
  prodtests/full-system-test/raw-reader.sh
Owners: @AliceO2Group/core

DPL: include what you use (#5312)
  Framework/Core/test/test_ProcessorOptions.cxx
  Framework/Core/test/test_RegionInfoCallbackService.cxx
  Framework/Core/test/test_SimpleWildcard.cxx
  Framework/Core/test/test_SimpleWildcard02.cxx
  Framework/Core/test/test_Task.cxx
  Framework/TestWorkflows/src/test_CCDBFetchToTimeframe.cxx
Owners: @AliceO2Group/framework-admins

add <cassert> include
  Framework/Core/include/Framework/Array2D.h
Owners: @AliceO2Group/framework-admins

Drop obsolete analysis example (#5310)
  Framework/TestWorkflows/CMakeLists.txt
  Framework/TestWorkflows/src/o2AODDummy.cxx
Owners: @AliceO2Group/framework-admins

DPL: improve exception handling
  Framework/Core/include/Framework/runDataProcessing.h
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

DPL: introduce a MERGE_CONFIG phase
  Framework/Core/include/Framework/DriverInfo.h
  Framework/Core/src/runDataProcessing.cxx
Owners: @AliceO2Group/framework-admins

DPL Analysis: make HistogramRegistry support StepTHn (#5266)
  Analysis/Tutorials/src/histogramRegistry.cxx
  Framework/Core/include/Framework/HistogramRegistry.h
  Framework/Core/include/Framework/StepTHn.h
  Framework/Core/src/HistogramRegistry.cxx
  Framework/Core/src/StepTHn.cxx
  Framework/Core/test/test_HistogramRegistry.cxx
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

Remove std::memcpy while processing data in compressor task
  Detectors/TOF/compression/include/TOFCompression/CompressorTask.h
  Detectors/TOF/compression/src/CompressorTask.cxx
  Detectors/TOF/compression/src/tof-compressor.cxx
Owners: @noferini

fixing calculation of z-slice for hits with z<0
  Detectors/TPC/spacecharge/macro/createSCHistosFromHits.C
Owners: @davidrohr, @wiechula, @shahor02

DPL / DPL Analysis: Introduce LabeledArray as an option for Variant (#5313)
  Analysis/Tutorials/src/configurableObjects.cxx
  Framework/Core/include/Framework/Array2D.h
  Framework/Core/include/Framework/ConfigParamRegistry.h
  Framework/Core/include/Framework/ConfigParamSpec.h
  Framework/Core/include/Framework/Configurable.h
  Framework/Core/include/Framework/Variant.h
  Framework/Core/include/Framework/VariantJSONHelpers.h
  Framework/Core/include/Framework/VariantPropertyTreeHelpers.h
  Framework/Core/src/BoostOptionsRetriever.cxx
  Framework/Core/src/ConfigParamsHelper.cxx
  Framework/Core/src/DataProcessingDevice.cxx
  Framework/Core/src/DeviceSpecHelpers.cxx
  Framework/Core/src/PropertyTreeHelpers.cxx
  Framework/Core/src/Variant.cxx
  Framework/Core/src/WorkflowSerializationHelpers.cxx
  Framework/Core/test/test_Variants.cxx
Owners: @jgrosseo, @iarsene, @AliceO2Group/framework-admins

Fix TRD digit constructor w/o channel ID
  Detectors/TRD/base/include/TRDBase/Digit.h
  Detectors/TRD/base/src/Digit.cxx
Owners: @jolopezl, @bazinski, @tdietel

Implementation of simulation inhibit-pause-trigger-continue features
  DataFormats/simulation/include/SimulationDataFormat/MCTrack.h
  DataFormats/simulation/include/SimulationDataFormat/Stack.h
  DataFormats/simulation/src/Stack.cxx
  Generators/CMakeLists.txt
  Generators/include/Generators/GeneratorFromFile.h
  Generators/include/Generators/GeneratorFromO2KineParam.h
  Generators/src/Generator.cxx
  Generators/src/GeneratorFromFile.cxx
  Generators/src/GeneratorFromO2KineParam.cxx
  Generators/src/GeneratorsLinkDef.h
  Generators/src/PrimaryGenerator.cxx
Owners: @sawenzel
