Repository AliceO2Group/AliceO2, changes with the owners that CODEOWNERS names for each.
All owners: @AliceO2Group/core, @matthiasrichter, @jgrosseo, @costing, @Barthelemy, @sawenzel, @AliceO2Group/framework-admins, @shahor02, @davidrohr, @mfasDa, @peressounko, @kharlov, @AllaMaevskaya, @jotwinow, @mslupeck, @gvolpe79, @iouribelikov, @bovulpes, @aphecetche, @noferini, @wiechula, @jolopezl, @bazinski, @tdietel, @coppedis, @jmyrcha, @martenole, @sgorbuno, @ehellbar

WIP: Move to DCAFitterN (#3281)
  Analysis/DataModel/include/Analysis/SecondaryVertex.h
  Analysis/Tasks/CMakeLists.txt
  Analysis/Tasks/vertexerhf.cxx
Owners: @jgrosseo

Making the CA tracker work with compact clusters
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ClusterPattern.h
  DataFormats/Detectors/ITSMFT/common/src/ClusterPattern.cxx
  Detectors/ITSMFT/ITS/tracking/include/ITStracking/IOUtils.h
  Detectors/ITSMFT/ITS/tracking/src/IOUtils.cxx
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/TrackerSpec.h
  Detectors/ITSMFT/ITS/workflow/src/TrackerSpec.cxx
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

Update hijing settings and fix macro
  Generators/share/external/hijing.C
Owners: @sawenzel

add summary report option
  Detectors/TPC/calibration/macro/drawNoiseAndPedestal.C
  Detectors/TPC/calibration/macro/drawPulser.C
Owners: @davidrohr, @wiechula, @shahor02

GPU: Improve Z offset before slice track refit
  GPU/GPUTracking/Merger/GPUTPCGMMerger.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL Analysis: calculate branch name (#3293)
  Analysis/DataModel/include/Analysis/Jet.h
  Analysis/DataModel/include/Analysis/SecondaryVertex.h
  Analysis/DataModel/include/Analysis/TrackSelectionTables.h
  Analysis/Tasks/correlationsCollection.cxx
  Analysis/Tasks/eventSelection.cxx
  Analysis/Tutorials/src/aodreader.cxx
  Analysis/Tutorials/src/aodwriter.cxx
  Analysis/Tutorials/src/associatedExample.cxx
  Analysis/Tutorials/src/dynamicColumns.cxx
  Analysis/Tutorials/src/filters.cxx
  Analysis/Tutorials/src/newCollections.cxx
  Framework/Core/include/Framework/ASoA.h
  Framework/Core/include/Framework/AnalysisDataModel.h
  Framework/Core/test/benchmark_ASoA.cxx
  Framework/Core/test/benchmark_ASoAHelpers.cxx
  Framework/Core/test/benchmark_TableBuilder.cxx
  Framework/Core/test/benchmark_TableToTree.cxx
  Framework/Core/test/benchmark_TreeToTable.cxx
  Framework/Core/test/test_ASoA.cxx
  Framework/Core/test/test_ASoAHelpers.cxx
  Framework/Core/test/test_AnalysisTask.cxx
  Framework/Core/test/test_GroupSlicer.cxx
  Framework/Core/test/test_Root2ArrowTable.cxx
  Framework/Core/test/test_TableBuilder.cxx
  Framework/TestWorkflows/src/o2SimpleTracksAnalysis.cxx
Owners: @jgrosseo, @AliceO2Group/framework-admins

More flexible data handling in the TPCDigitizerSpec and reworking TPCDigitRootWriterSpec
  Steer/DigitizerWorkflow/src/TPCDigitRootWriterSpec.cxx
  Steer/DigitizerWorkflow/src/TPCDigitRootWriterSpec.h
  Steer/DigitizerWorkflow/src/TPCDigitizerSpec.cxx
  Steer/DigitizerWorkflow/src/TPCDigitizerSpec.h
Owners: @sawenzel, @shahor02, @AliceO2Group/framework-admins

Building the topology dictionary out of compact clusters and cluster patterns
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/Cluster.h
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/ClusterTopology.h
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/CompCluster.h
  DataFormats/Detectors/ITSMFT/common/include/DataFormatsITSMFT/TopologyDictionary.h
  DataFormats/Detectors/ITSMFT/common/src/TopologyDictionary.cxx
  Detectors/ITSMFT/ITS/macros/test/CheckCOG.C
  Detectors/ITSMFT/ITS/macros/test/run_buildTopoDict_its.C
  Detectors/ITSMFT/ITS/reconstruction/src/ClustererTask.cxx
  Detectors/ITSMFT/ITS/workflow/include/ITSWorkflow/ClustererSpec.h
  Detectors/ITSMFT/ITS/workflow/src/ClustererSpec.cxx
  Detectors/ITSMFT/common/reconstruction/src/Clusterer.cxx
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

GPU: Forward track following covariance to next step
  GPU/GPUTracking/SliceTracker/GPUTPCBaseTrackParam.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackParam.cxx
  GPU/GPUTracking/SliceTracker/GPUTPCTrackParam.h
  GPU/GPUTracking/SliceTracker/GPUTPCTrackletConstructor.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

allow users to set a callback (move to public)
  Detectors/TPC/reconstruction/include/TPCReconstruction/RawReaderCRU.h
Owners: @davidrohr, @wiechula, @shahor02

Simulation example with embedding
  run/SimExamples/Jet_Embedding_Pythia8/pythia8_hard.cfg
  run/SimExamples/Jet_Embedding_Pythia8/pythia8_userhooks_jets.macro
  run/SimExamples/Jet_Embedding_Pythia8/run.sh
Owners: @AliceO2Group/core

A macro to display compact clusters
  Detectors/ITSMFT/ITS/macros/EVE/CMakeLists.txt
  Detectors/ITSMFT/ITS/macros/EVE/DisplayEventsComp.C
Owners: @iouribelikov, @bovulpes

GPU: Force inlining of cluster finder implementation functions
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDeconvolution.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFNoiseSuppression.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFPeakFinder.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFStreamCompaction.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Use LINK_WHAT_YOU_USE where needed (on Linux only)
  run/CMakeLists.txt
Owners: @AliceO2Group/core

GPU Standalone: Print a warning when LC_NUMERIC is set since it messes with fits in ROOT
  GPU/GPUTracking/Standalone/standalone.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

TPC: Add zero-suppressed raw input to tpc-reco-workflow
  Detectors/TPC/workflow/include/TPCWorkflow/CATrackerSpec.h
  Detectors/TPC/workflow/include/TPCWorkflow/RecoWorkflow.h
  Detectors/TPC/workflow/src/CATrackerSpec.cxx
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
  Detectors/TPC/workflow/src/tpc-reco-workflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

Add functionality for summary report creation
  Detectors/TPC/base/include/TPCBase/Painter.h
  Detectors/TPC/base/src/Painter.cxx
  Detectors/TPC/base/src/TPCBaseLinkDef.h
Owners: @davidrohr, @wiechula, @shahor02

GPU: Make sure some stuff is zero-initialized
  GPU/GPUTracking/Global/GPUChainTracking.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

Fix geometry file name usage acc. to new NameConf convention
  DataFormats/Detectors/Common/include/DetectorsCommonDataFormats/NameConf.h
  DataFormats/Detectors/Common/src/NameConf.cxx
  Detectors/Base/include/DetectorsBase/GeometryManager.h
  Detectors/Base/src/GeometryManager.cxx
  Detectors/GlobalTrackingWorkflow/src/TPCITSMatchingSpec.cxx
  Detectors/GlobalTrackingWorkflow/tofworkflow/src/RecoWorkflowSpec.cxx
  Detectors/ITSMFT/ITS/macros/EVE/DisplayEvents.C
  Detectors/ITSMFT/ITS/macros/EVE/DisplayEventsComp.C
  Detectors/ITSMFT/ITS/macros/test/CheckCOG.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusterShape.C
  Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
  Detectors/ITSMFT/ITS/macros/test/CheckDigits.C
  Detectors/ITSMFT/ITS/macros/test/CheckTopologies.C
  Detectors/ITSMFT/ITS/macros/test/CheckTracks.C
  Detectors/ITSMFT/ITS/macros/test/DisplayTrack.C
  Detectors/ITSMFT/MFT/macros/mapping/extractMFTMapping.C
  Detectors/TOF/simulation/include/TOFSimulation/Digitizer.h
  Detectors/TOF/simulation/src/Digitizer.cxx
  Detectors/TRD/macros/CheckDigits.C
  Detectors/TRD/macros/CheckHits.C
  EventVisualisation/Detectors/src/DataInterpreterITS.cxx
  GPU/GPUTracking/TRDTracking/macros/run_trd_tracker.C
  macro/CMakeLists.txt
  macro/CheckClusters_mft.C
  macro/initSimGeomAndField.C
  macro/run_match_TPCITS.C
  macro/run_match_tof.C
  macro/run_primary_vertexer_ITS.C
  macro/run_trac_ca_its.C
  macro/run_trac_its.C
Owners: @AliceO2Group/framework-admins, @shahor02, @iouribelikov, @bovulpes, @noferini, @jolopezl, @bazinski, @tdietel, @jmyrcha, @davidrohr, @martenole, @AliceO2Group/core

Stability fix in pileup check script
  prodtests/check_embedding_pileup.sh
Owners: @AliceO2Group/core

GPU: Remove UINT4 __constant__ backend after fix in AMD compiler
  GPU/GPUTracking/Base/GPUConstantMem.h
  GPU/GPUTracking/Base/hip/GPUReconstructionHIP.hip.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

DPL Analysis: rework invokeProcess to accept more than two arguments (#3246)
  Framework/Core/include/Framework/ASoA.h
  Framework/Core/include/Framework/AnalysisTask.h
  Framework/Core/test/test_AnalysisTask.cxx
Owners: @AliceO2Group/framework-admins

Implement missing updateCRU function call
  Detectors/TPC/calibration/include/TPCCalibration/CalibRawBase.h
Owners: @davidrohr, @wiechula, @shahor02

GPU: Use copyable GPUConstantMemory on CUDA to avoid reinterpret cast
  GPU/GPUTracking/Base/cuda/GPUReconstructionCUDA.cu
Owners: @davidrohr, @AliceO2Group/framework-admins

Different options for dumping data to file
  Detectors/TPC/calibration/include/TPCCalibration/CalibPedestal.h
  Detectors/TPC/calibration/include/TPCCalibration/CalibPulser.h
  Detectors/TPC/calibration/include/TPCCalibration/CalibRawBase.h
  Detectors/TPC/calibration/src/CalibPedestal.cxx
  Detectors/TPC/calibration/src/CalibPulser.cxx
Owners: @davidrohr, @wiechula, @shahor02

Fix and extend raw to digits workflow
  Detectors/TPC/workflow/include/TPCWorkflow/RawToDigitsSpec.h
  Detectors/TPC/workflow/src/RawToDigitsSpec.cxx
  Detectors/TPC/workflow/src/tpc-raw-to-digits-workflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

add more robust fit procedure
  DataFormats/Detectors/TPC/include/DataFormatsTPC/Defs.h
  Detectors/TPC/calibration/src/CalibPedestal.cxx
Owners: @davidrohr, @wiechula, @shahor02

add option to store debub histograms
  Detectors/TPC/calibration/macro/runPedestal.C
  Detectors/TPC/calibration/macro/runPedestal.sh
Owners: @davidrohr, @wiechula, @shahor02

Adapt with new common utils
  Detectors/TPC/calibration/macro/drawNoiseAndPedestal.C
  Detectors/TPC/calibration/macro/drawPulser.C
Owners: @davidrohr, @wiechula, @shahor02

GPU: Fix AliRoot Compilation
  GPU/GPUTracking/Global/GPUChainTracking.cxx
  GPU/GPUTracking/Global/GPUChainTracking.h
Owners: @davidrohr, @AliceO2Group/framework-admins

Improved seed parameter for MFT fitter
  Detectors/ITSMFT/MFT/tracking/src/TrackFitter.cxx
Owners: @iouribelikov, @bovulpes

GPU: Inline some functions, needed as workaround for AMD compiler bug
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFClusterizer.cxx
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFStreamCompaction.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

TPC: Rename raw to clustershardware in workflow
  Detectors/TPC/workflow/include/TPCWorkflow/RecoWorkflow.h
  Detectors/TPC/workflow/src/RecoWorkflow.cxx
  Detectors/TPC/workflow/src/tpc-reco-workflow.cxx
Owners: @davidrohr, @wiechula, @shahor02

Hotfix: loading default geometry fails
  Detectors/Base/src/GeometryManager.cxx
Owners: @AliceO2Group/framework-admins

Dump laser tracks to tree, get span of tracks from a bundle
  DataFormats/Detectors/TPC/include/DataFormatsTPC/LaserTrack.h
  DataFormats/Detectors/TPC/src/LaserTrack.cxx
Owners: @davidrohr

DPL: adding DataAllocator method to check if a certain output is allowed
  Framework/Core/include/Framework/DataAllocator.h
  Framework/Core/src/DataAllocator.cxx
  Framework/Core/test/test_DataAllocator.cxx
Owners: @AliceO2Group/framework-admins

DPL Analysis: allow only dangling outputs to be saved (#3261)
  Framework/Core/src/WorkflowHelpers.cxx
Owners: @AliceO2Group/framework-admins

MFT Fitter: Added MCLabels, getters, using gsl::span
  DataFormats/Detectors/ITSMFT/MFT/include/DataFormatsMFT/TrackMFT.h
  DataFormats/Detectors/ITSMFT/MFT/src/TrackMFT.cxx
  Detectors/ITSMFT/MFT/tracking/include/MFTTracking/FitterTrackMFT.h
  Detectors/ITSMFT/MFT/tracking/include/MFTTracking/TrackCA.h
  Detectors/ITSMFT/MFT/tracking/src/FitterTrackMFT.cxx
  Detectors/ITSMFT/MFT/tracking/src/TrackFitter.cxx
  Detectors/ITSMFT/MFT/tracking/src/TrackParamMFT.cxx
  Detectors/ITSMFT/MFT/workflow/src/TrackFitterSpec.cxx
Owners: @AliceO2Group/framework-admins, @iouribelikov, @bovulpes

GPU: Improve GPU Track fit speed (avoid divergence on GPU, reorder checks)
  GPU/Common/GPUDefGPUParameters.h
  GPU/GPUTracking/Merger/GPUTPCGMTrackParam.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

GPU: Add GPURawData utility header to wrap required RDH functionality for GPU
  GPU/GPUTracking/Base/GPURawData.h
  GPU/GPUTracking/Base/GPUReconstructionConvert.cxx
  GPU/GPUTracking/CMakeLists.txt
  GPU/GPUTracking/TPCClusterFinder/GPUTPCCFDecodeZS.cxx
Owners: @davidrohr, @AliceO2Group/framework-admins

CODEOWNERS:

# Codeowners for ALICE O2.
#
# Map top directories only for now.
# Add the lower lever directories where appropriate.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# **DO NOT USE** @AliceO2Group/core for anything else. 
* @AliceO2Group/core

/Algorithm  @matthiasrichter

/Analysis   @jgrosseo

/CCDB  @costing @Barthelemy @sawenzel @AliceO2Group/framework-admins

/Common              @AliceO2Group/framework-admins
/Common/Constants    @shahor02
/Common/Field        @shahor02
/Common/MathUtils    @shahor02
/Common/SimConfig    @sawenzel
#/Common/Topologies
#/Common/Types
#/Common/Utils
#/Common/maps

/DataFormats                   @AliceO2Group/framework-admins
#/DataFormats/Detectors
/DataFormats/Detectors/TPC     @davidrohr
/DataFormats/Detectors/EMCAL   @mfasDa
#/DataFormats/Headers
#/DataFormats/Legacy
#/DataFormats/MemoryResources
/DataFormats/Parameters        @shahor02
/DataFormats/Reconstruction    @shahor02
#/DataFormats/TimeFrame
/DataFormats/common            @shahor02
/DataFormats/simulation        @sawenzel

/Detectors/Base                    @AliceO2Group/framework-admins
/Detectors/Geometry                @AliceO2Group/framework-admins
/Detectors/CPV                     @peressounko @kharlov
/Detectors/EMCAL                   @mfasDa
/Detectors/FIT                     @AllaMaevskaya @jotwinow @mslupeck
/Detectors/GlobalTracking          @shahor02
/Detectors/GlobalTrackingWorkflow  @shahor02
/Detectors/HMPID                   @gvolpe79
/Detectors/ITSMFT                  @iouribelikov @bovulpes
/Detectors/MUON                    @aphecetche
/Detectors/PHOS                    @peressounko @kharlov
/Detectors/Passive                 @sawenzel
/Detectors/TOF                     @noferini 
/Detectors/TPC                     @davidrohr @wiechula @shahor02
/Detectors/TRD                     @jolopezl @bazinski @tdietel
/Detectors/ZDC                     @coppedis

/EventVisualisation  @jmyrcha @AliceO2Group/framework-admins
#/EventVisualisation/Base
#/EventVisualisation/DataConverter
#/EventVisualisation/Detectors
#/EventVisualisation/View
#/EventVisualisation/o2eve_config

/Examples 
#/Examples/Ex1
#/Examples/Ex2
#/Examples/Ex3
#/Examples/Ex4
#/Examples/Ex5
#/Examples/flp2epn
#/Examples/flp2epn-distributed

/Framework  @AliceO2Group/framework-admins
#/Framework/AnalysisTutorial
#/Framework/ArrowTests
#/Framework/CMakeLists.txt
#/Framework/Core
#/Framework/DebugGUI
#/Framework/Foundation
#/Framework/Logger
#/Framework/README.md
#/Framework/TestWorkflows
#/Framework/Utils

/GPU                          @davidrohr @AliceO2Group/framework-admins
#/GPU/Common
#/GPU/GPUTracking
/GPU/GPUTracking/TRDTracking  @davidrohr @martenole
/GPU/TPCFastTransformation    @davidrohr @sgorbuno
/GPU/TPCSpaceChargeBase       @davidrohr @ehellbar

/Generators  @sawenzel

/Steer @sawenzel @shahor02 @AliceO2Group/framework-admins

/Testing

/Utilities  @AliceO2Group/framework-admins
#/Utilities/DataCompression
#/Utilities/DataFlow
#/Utilities/MCStepLogger
#/Utilities/Mergers
#/Utilities/O2Device
#/Utilities/O2MessageMonitor
#/Utilities/PCG
#/Utilities/Publishers
#/Utilities/Tools
#/Utilities/aliceHLTwrapper
#/Utilities/hough
